<script>
import get from 'lodash/get'
import CardContrainer from '../../CardContrainer.vue';
export default {
    components: { CardContrainer },
    props: {
        
        title: {
            type: String,
            default: '',
        },
        is_loading: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Array,
            default: () => []
        }
    },

    data() {
        return {
            options: {
                chart: {
                    type: 'pie',
                    height: '277px',
                },
                title: {
                    text: null,
                },

                accessibility: {
                    announceNewData: {
                        enabled: true
                    },
                    point: {
                        valueSuffix: '%'
                    }
                },

                plotOptions: {
                    series: {
                        dataLabels: [
                            {
                                enabled: true,
                                distance: '-30%',
                                filter: {
                                    property: 'percentage',
                                    operator: '>',
                                    value: 5
                                },
                                format: '{point.y:.1f}%',
                                style: {
                                    fontSize: '1.2em',
                                    textOutline: 'none'
                                }
                            }]
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                        },
                        showInLegend: true, 
                    }
                },

                legend: {
                    itemStyle: {
                        fontSize: "1.2em",
                        fontWeight: 'semibold',

                    }, // Đặt vị trí chú thích là bên trái
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}; font-size: 1.2rem">{point.name}</span>: <b style="font-size: 1.2rem">{point.y:.2f}%</b><br/>'
                },

                series: [
                    {
                        name: 'Nhân viên',
                        colorByPoint: true,
                        data: []
                    }
                ],

                noData: {
                    style: {
                        fontSize: '1.2rem',
                        color: 'red',
                    },
                    useHTML: true,
                }
            }
        }
    },

    watch: {

        is_loading: {
            deep: true,
            handler(newValue) {
                if (newValue) {
                    this.render_chart(this.options).showLoading();
                }
                else {
                    this.render_chart(this.options).hideLoading();
                }
            },
        },
        data: {
            deep: true,
            handler(newValue) {
                this.options.series[0].data = newValue.map(item => {
                    return {
                        ...item,
                        y: item.revenueShare
                    }
                })
                this.render_chart(this.options)
            }
        },

    },

    methods: {
        _get(obj, path, defaultValue = {}) {
            return get(obj, path, defaultValue);
        },

        render_chart(options) {
            // Create the chart
            Highcharts.setOptions({
                lang: {
                    noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('idSaleRevenuePecent', options);
        }
    }
}
</script>

<template>
    <card-contrainer>
        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span class=" progress-description">
                        {{ title }}
                    </span>
                </b>
            </h5>
        </template>
        <template #card-body>
            <div id="idSaleRevenuePecent"></div>
        </template>
    </card-contrainer>
</template>

