<script>
    import _get from "lodash/get";

    export default {
        props: {
            isActive: {
                type: Boolean,
                default: false,
            },
            isHtml: {
                type: Boolean,
                default: false,
            },
            isObjectContent: {
                type: Boolean,
                default: false,
            },
            isArrayContent: {
                type: Boolean,
                default: false,
            },
            item: {
                type: Object,
                require: true,
            },
        },
        methods: {
            get(item, ref, _default) {
                return _get(item, ref, _default);
            },
        },
    };
</script>

<template>
    <div 
        class="custom-timeline-item" 
        @click="() => $emit('toggleActive', item)"
    >
        <div :class="['custom-timeline-line', isActive ? 'active' : '']">
            <div class="custom-timeline-item-title">
                <slot name="timeline-item-title">
                    {{ get(item, "title", "--") }}
                </slot>
            </div>
        </div>
        <template v-if="isActive">
            <div class="custom-timeline-item-content">
                <template v-if="isHtml">
                    <div 
                        style="border: 0; border-left: #3c8dbc 3px; border-style: dashed; padding-left: 8px;"
                        v-html="get(item, 'content', '')"
                    ></div>
                </template>
                <template v-else-if="isObjectContent">
                    <ul 
                        class="custom-timeline-item-content-list"
                        style="border: 0; border-left: #3c8dbc 3px; border-style: dashed; padding-left: 8px;"
                    >
                        <li
                            v-for="(value, key) in get(item, 'content', {})"
                            :key="`timeline-item-content-${key}`"
                            class="custom-timeline-item-content-list-item"
                        >
                            <slot name="timeline-item-content">
                                {{ value }}
                            </slot>
                        </li>
                    </ul>
                </template>
                <template v-else-if="isArrayContent">
                    <ul 
                        class="custom-timeline-item-content-list"
                        style="border: 0; border-left: #3c8dbc 3px; border-style: dashed; padding-left: 8px;"
                    >
                        <li
                            v-for="(value, key) in get(item, 'content', {})"
                            :key="`timeline-item-content-${key}`"
                            class="custom-timeline-item-content-list-item"
                        >
                            <slot name="timeline-item-content">
                                {{ value }}
                            </slot>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    <p style="border: 0; border-left: #3c8dbc 3px; border-style: dashed; padding-left: 8px;">
                        {{ get(item, 'content', '') }}
                    </p>
                </template>
            </div>
        </template>
    </div>
</template>
