@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0}
.clear{clear:both; line-height:0; height:0; font-size:0}
.clear10{clear:both; line-height:0; height:10px; font-size:0}
.container{margin:0 auto; box-shadow:0 0 3px #aaa}
h2 {
    border-top: 1px solid #0072bc;
    color: #0072bc;
	font-weight:bold;
	margin:0;
	padding:10px 0 0 0 ;
}
h4{background:#0072bc; color:#fff; margin-bottom:0; padding:5px; margin:0 -15px}
.head{ background:#d2e6f3; font-weight:600; margin:0 -15px;}
.result .row:nth-child(even){background:#f2f2ff;}
.row table td {padding:3px;border-bottom: 1px dotted #ddd;}
.organic, .direct, .referral, .social{float:left; width:50%}
.col-lg-2 .organic {
    width: 100%;
}
.organic::before {
    background: #F7464A none repeat scroll 0 0;
    content: "";
    float: left;
    height: 10px;
    margin: 5px 5px 0 0;
    width: 10px;
}
.direct::before {
    background: #46BFBD none repeat scroll 0 0;
    content: "";
    float: left;
    height: 10px;
    margin: 5px 5px 0 0;
    width: 10px;
}
.referral::before {
    background: #FDB45C none repeat scroll 0 0;
    content: "";
    float: left;
    height: 10px;
    margin: 5px 5px 0 0;
    width: 10px;
}
.social::before {
    background: #949FB1 none repeat scroll 0 0;
    content: "";
    float: left;
    height: 10px;
    margin: 5px 5px 0 0;
    width: 10px;
}
.totalvisit::before {
    background: #dcdcdc none repeat scroll 0 0;
    content: "";
    float: left;
    height: 10px;
    margin: 5px 5px 0 0;
    width: 10px;
}
.ordinal,.issue,.status, .deadline, .note{float:left; padding:3px}
.ordinal {width:5%; text-align:center}
.issue{width:35%}
.status, .deadline{width:10%; text-align:center}
.note{width:35%}
.success .row:nth-child(odd){background:#f2f2ff}


@media screen and (max-width:640px){
	

.col-md-pull-3 {
    display: none;
}
h2 {
    font-size: 2em;
}
.col-lg-1 {
    float: left;
    width: 9%;
}
.col-lg-2 {
    float: left;
    width: 20%;
}
.col-lg-3 {
    float: left;
    width: 16%;
}
.dotnut .col-lg-8 {
    float: left;
    margin: 0 !important;
    width: 50%;
	
}
.dotnut .col-lg-12 {
    float: left;
    margin: 0 !important;
    width: 40%;
	padding:70px 0 0 10%
}
.organic, .direct, .referral, .social{float:left; width:100%}
	}