<template>
    <div class="form-group">
        <label v-if="active==false" @click="setActive(true)" v-html="currency_numberformat(this.localValue)" class="col-sm-12 control-label"></label>
        <input v-else :type="type" :name="name" v-on:blur="clear()" v-on:keydown.enter="submit" v-model="dataChange" :id="extendId" :class="extendClass"></input>
    </div>
</template>
<script>
export default {
    name: "v-input-edit-inline",
    props: {
        type : { type : String, default : "number"},
        name : { type : String},
        value : { type : Number},
        extendClass : { type : String},
        extendId : { type : String},
    },

    data (){
        return {
            active: false,
            dataChange: null,
        }
    },

    created () {
        this.dataChange = this.localValue
    },

    watch: {
        localValue () {
            this.dataChange = this.localValue
        }
    },

    computed: {
        localValue: {
            get() {return this.value},
            set(localValue) { this.$emit('input', localValue)}
        }  
    },

    methods: {

        submit () {
            this.$emit('input', this.dataChange)
            this.setActive(false)
        },

        clear () {
            this.dataChange = this.localValue
            this.setActive(false)
        },

        setActive(value) { 
            this.active = value
        },

        currency_numberformat (value){
            return Number(_.round(value)).toLocaleString('de-DE')
        }
    }
}
</script>
