<script>
export default {
    name: "v-select2",
    props: ['type','name','label','value','help','attrs','options','remote_url','isSelect2'],
    data: function(){
        return {
            guid : _.uniqueId('v-select2-'),
            dataChange: null,
        };
    },

    computed : {
        localValue: {
            get() { return this.value },
            set(localValue) {

                this.$emit('on_changed', this.dataChange)
            }
        }
    },
}
</script>
<template>
    <div class="form-group">
        {{ value }}
        <label :for="'input-'+guid" class="col-sm-2 control-label" v-html="label"></label>
        <div class="form-group col-md-10">
            <div class="input-group col-sm-12">

                <select :name="name" :id="'select-' + guid" class="form-control" v-model="localValue">
                    <template v-if="typeof options != 'undefined' && options.length > 0">
                        <option v-for="opt in options" :value="opt.key" v-text="opt.value"></option>
                    </template>
                </select>

                <p v-if="help" class="help-block" v-text="help"></p>
            </div>
        </div>
    </div>
</template>