<template>
    <div class="box box-widget">
        <div class="box-body">
            <div
                v-if="is_allow_start || is_allow_stop"
                class="d-flex"
                style="margin-bottom: 16px"
            >
                <button
                    v-if="is_allow_start"
                    class="btn btn-warning"
                    :disabled="isLoading"
                    @click="startService"
                >
                    <i class="fa fa-fw fa-play"></i> Kích hoạt dịch vụ
                </button>
                <button
                    v-if="is_allow_stop"
                    class="btn btn-danger"
                    :disabled="isLoading"
                    @click="stopService"
                >
                    <i class="fa fa-fw fa-stop"></i> Kết thúc dịch vụ
                </button>
            </div>

            <!-- Begin contract -->
            <div class="box box-warning">
                <div class="box-header">
                    <p class="box-title">Thông tin hợp đồng</p>
                </div>
                <div class="box-body">
                    <table
                        border="1"
                        cellpadding="2"
                        cellspacing="1"
                        class="
                            table table-responsive table-bordered table-hover
                            datatable
                        "
                    >
                        <tbody>
                            <tr>
                                <td width="40%">Mã hợp đồng</td>
                                <td width="60%">
                                    {{ contract.contract_code }}
                                </td>
                            </tr>
                            <tr>
                                <td width="40%">Thời gian bắt đầu</td>
                                <td width="60%">
                                    {{ contract.contract_begin }}
                                </td>
                            </tr>
                            <tr>
                                <td width="40%">Thời gian kết thúc</td>
                                <td width="60%">{{ contract.contract_end }}</td>
                            </tr>
                            <tr>
                                <td width="40%">Kinh doanh phụ trách</td>
                                <td width="60%">
                                    {{ contract.staff_business }}
                                </td>
                            </tr>
                            <tr>
                                <td width="40%">Thời gian kích hoạt</td>
                                <td width="60%">
                                    {{ contract.contract_start_service }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End contract -->

            <!-- Begin customer -->
            <div class="box box-primary">
                <div class="box-header">
                    <p class="box-title">Thông tin học viên</p>
                </div>
                <div class="box-body">
                    <table
                        border="1"
                        cellpadding="2"
                        cellspacing="1"
                        class="
                            table table-responsive table-bordered table-hover
                            datatable
                        "
                    >
                        <thead>
                            <tr>
                                <th width="40%">Họ tên</th>
                                <th width="30%">Số điện thoại</th>
                                <th width="30%">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(customer, index) in customers"
                                :key="`courseads-detail-customer-${uuid}-${index}`"
                            >
                                <td>
                                    <p>{{ customer.name }}</p>
                                    <small>{{ customer.job_title }}</small>
                                </td>
                                <td>
                                    <p>{{ customer.phone }}</p>
                                </td>
                                <td>
                                    <p>{{ customer.email }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End customer -->

            <!-- Begin courses -->
            <div class="box box-danger">
                <div class="box-header">
                    <p class="box-title">Thông tin khoá học</p>
                </div>
                <div class="box-body">
                    <table
                        border="1"
                        cellpadding="2"
                        cellspacing="1"
                        class="
                            table table-responsive table-bordered table-hover
                            datatable
                        "
                    >
                        <thead>
                            <tr>
                                <th width="50%">Tên khoá học</th>
                                <th width="25%">Ngày bắt đầu</th>
                                <th width="25%">Ngày kết thúc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(course, index) in courseads"
                                :key="`courseads-detail-courses-${uuid}-${index}`"
                            >
                                <td>
                                    <p>{{ course.title }}</p>
                                    <small>
                                        {{ course.total_course_time }} buổi
                                    </small>
                                </td>
                                <td>
                                    <p>{{ course.start_date }}</p>
                                </td>
                                <td>
                                    <p>{{ course.end_date }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End courses -->
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import VuejsDatepicker from "vuejs-datepicker";
    import Multiselect from "vue-multiselect";

    import { courseadsService } from "@/_services/courseads.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                default: 0,
            },
        },
        components: {
            VuejsDatepicker,
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            contract: {},
            customers: [],
            courseads: [],

            is_allow_start: false,
            is_allow_stop: false,
        }),
        computed: {},
        watch: {},
        async mounted() {
            this.isLoading = true;

            await this.getDetail();

            this.isLoading = false;
        },
        methods: {
            get(item, ref) {
                return _.get(item, ref);
            },
            async getDetail() {
                let { data } = await courseadsService.getDetail(this.id);
                if (_.isEmpty(data)) {
                    this.contract = {};
                    this.customers = [];
                    this.courseads = [];

                    return;
                }

                this.contract = _.get(data, "contract");
                this.is_allow_start = _.get(data, "contract.is_allow_start");
                this.is_allow_stop = _.get(data, "contract.is_allow_stop");

                this.customers = _.get(data, "customers");
                this.courseads = _.get(data, "courseads");
            },
            async startService() {
                this.isLoading = true;

                try {
                    let response = await courseadsService.startService(this.id);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        this.is_allow_start = false;
                        this.is_allow_stop = true;

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async stopService() {
                this.isLoading = true;

                try {
                    let response = await courseadsService.stopService(this.id);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        this.$emit("updated");

                        this.is_allow_start = false;
                        this.is_allow_stop = false;

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
        },
    };
</script>
