<script>
import { courseadsService } from "@/_services/courseads.service.js";

export default {
    props: {
        contractId: {
            type: [String, Number],
            required: true
        }
    },
    data: () => ({
        isLoading: false,
        
        input: {
            gg: '',
            fb: '',
            gg_advance: '',
            fb_advance: '',
            relearn: '',
        },
        input_enums: {
            gg: "Google",
            fb: "Facebook",
            gg_advance: "Google chuyên sâu",
            fb_advance: "Facebook chuyên sâu",
            relearn: "Đăng ký lại",
        }
    }),
    methods: {
        save(){
            this.isLoading = true;

            courseadsService
            .updateCourseadCode(this.contractId, this.input)
            .then((response) => {
                if (200 == _.get(response, "code")) {
                    $.notify(_.get(response, "message"), "success");

                    return response;
                }
                const _messages = _.isString(
                    _.get(response, "message")
                )
                    ? [_.get(response, "message")]
                    : _.values(_.get(response, "message"));
                if (403 == _.get(response, "code"))
                    throw new Error(_.first(_messages));
                throw new Error(_.first(_messages));
            })
            .catch((error) => {
                $.notify(error, "error");
                return error;
            })
            .finally(() => {
                this.isLoading = false;
            });
        },
        getInput(){
            this.isLoading = true;

            courseadsService
            .getCourseadCode(this.contractId)
            .then((response) => {
                if (200 == _.get(response, "code")) {
                    let input = _.get(response, "data", {
                        gg: '',
                        fb: '',
                        gg_advance: '',
                        fb_advance: '',
                        relearn: ''
                    });
                    this.input = input;

                    return response;
                }
                const _messages = _.isString(
                    _.get(response, "message")
                )
                    ? [_.get(response, "message")]
                    : _.values(_.get(response, "message"));
                if (403 == _.get(response, "code"))
                    throw new Error(_.first(_messages));
                throw new Error(_.first(_messages));
            })
            .catch((error) => {
                $.notify(error, "error");
                return error;
            })
            .finally(() => {
                this.isLoading = false;
            });
        }
    },
    mounted(){
        this.getInput();
    }
}
</script>

<template>
    <div class="box box-widget">
        <div class="box-body">
            <div v-for="(courseads, key, index) in input" :key="`courseads-${index}`" class="form-group">
                <label :for="`courseads-${key}`" class="control-label">
                    Mã khoá học {{ input_enums[key] }}
                </label>
                <input v-model="input[key]" type="text" :id="`courseads-${key}`" class="form-control">
            </div>
            <button type="button" class="btn btn-success pull-right" @click="save">
                Lưu
            </button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>