<template>
    <div class="box box-widget">
        <!-- Begin Box body -->
        <div class="box-body">
            <h4>Thông tin khoá học</h4>

            <!-- Begin Course selected -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('course_selected'),
                }"
            >
                <label :for="`input-course-code-${uuid}`" class="control-label">
                    Mã khoá học
                </label>
                <Multiselect
                    :id="`input-course-code-${uuid}`"
                    :show-labels="false"
                    track-by="name"
                    value="name"
                    label="title"
                    v-validate="`required`"
                    name="course_selected"
                    data-vv-as="Khoá học"
                    placeholder="Khoá học"
                    v-model="course_selected"
                    :options="courses_list"
                    :disabled="true"
                >
                </Multiselect>
                <span class="text-danger">{{
                    errors.first("course_selected")
                }}</span>
            </div>
            <!-- End Course selected -->

            <!-- Begin Course type -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('course_type'),
                }"
            >
                <label :for="`input-course-type-${uuid}`" class="control-label">
                    Loại khoá học
                </label>
                <div class="d-flex">
                    <div
                        v-for="(value, key) in _get(configs, 'course_type')"
                        :key="`input-course-type-${key}-${uuid}`"
                        style="margin-right: 16px"
                    >
                        <div class="radio">
                            <label :for="`input-course-type-${key}-${uuid}`">
                                <input
                                    :id="`input-course-type-${key}-${uuid}`"
                                    type="radio"
                                    :value="key"
                                    v-validate="`required`"
                                    name="course_type"
                                    data-vv-as="Loại khoá học"
                                    v-model="course_type"
                                />
                                {{ value }}
                            </label>
                        </div>
                    </div>
                </div>
                <span class="text-danger">{{
                    errors.first("course_type")
                }}</span>
            </div>
            <!-- End Gender -->

            <!-- Begin Teacher -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('teacher'),
                }"
            >
                <label :for="`input-teacher-${uuid}`" class="control-label">
                    Giảng viên
                </label>
                <Multiselect
                    :id="`input-teacher-${uuid}`"
                    :show-labels="false"
                    track-by="user_id"
                    value="user_id"
                    label="Giảng viên"
                    v-validate="`required`"
                    name="teacher"
                    data-vv-as="Giảng viên phục trách"
                    placeholder="Giảng viên phục trách"
                    :custom-label="teacherLabel"
                    :options="teachers"
                    v-model="teacher"
                >
                </Multiselect>
                <span class="text-danger">{{ errors.first("teacher") }}</span>
            </div>
            <!-- End teacher -->

            <!-- Begin Student quantity -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('student_qty'),
                }"
            >
                <label :for="`input-user-phone-${uuid}`" class="control-label">
                    Số lượng học viên
                </label>
                <input
                    :id="`input-user-phone-${uuid}`"
                    class="form-control"
                    type="number"
                    name="student_qty"
                    placeholder="Số lượng học viên"
                    v-validate="`required|numeric|min_value:1`"
                    data-vv-as="Số lượng học viên"
                    v-model="student_qty"
                />
                <span class="text-danger">{{
                    errors.first("student_qty")
                }}</span>
            </div>
            <!-- End Student quantity -->

            <!-- Begin Course value -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('course_value'),
                }"
            >
                <label
                    :for="`input-course-value-${uuid}`"
                    class="control-label"
                >
                    Giá trị khóa học
                </label>
                <input
                    :id="`input-course-value-${uuid}`"
                    class="form-control"
                    type="number"
                    name="course_value"
                    placeholder="Giá trị khóa học"
                    v-validate="`required|numeric|min_value:1`"
                    data-vv-as="Giá trị khóa học"
                    v-model="course_value"
                />
                <span class="text-danger">{{
                    errors.first("course_value")
                }}</span>
            </div>
            <!-- End Course value -->

            <!-- Begin Course time -->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div
                        :class="{
                            'form-group': true,
                            'has-error': errors.first('course_time_begin'),
                        }"
                    >
                        <label
                            :for="`input-course-time-${uuid}`"
                            class="control-label"
                        >
                            Thời gian bắt đầu khóa học
                        </label>
                        <VuejsDatepicker
                            :id="`input-course-time-start-${uuid}`"
                            wrapper-class="input-group col-sm-12"
                            input-class="form-control valid"
                            :format="'dd/MM/yyyy'"
                            name="course_time_begin"
                            placeholder="Thời gian bắt đầu khóa học"
                            v-validate="`required|date_format:dd/MM/yyyy`"
                            data-vv-as="Thời gian bắt đầu khóa học"
                            v-model="course_time_begin"
                        ></VuejsDatepicker>
                        <span class="text-danger">{{
                            errors.first("course_time_begin")
                        }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div
                        :class="{
                            'form-group': true,
                            'has-error': errors.first('course_time_end'),
                        }"
                    >
                        <label
                            :for="`input-course-time-${uuid}`"
                            class="control-label"
                        >
                            Thời gian kết thúc khóa học
                        </label>
                        <VuejsDatepicker
                            :id="`input-course-time-end-${uuid}`"
                            wrapper-class="input-group col-sm-12"
                            input-class="form-control valid"
                            :format="'dd/MM/yyyy'"
                            name="course_time_end"
                            placeholder="Thời gian kết thúc khóa học"
                            v-validate="`required|date_format:dd/MM/yyyy`"
                            data-vv-as="Thời gian kết thúc khóa học"
                            v-model="course_time_end"
                        ></VuejsDatepicker>
                        <span class="text-danger">{{
                            errors.first("course_time_end")
                        }}</span>
                    </div>
                </div>
            </div>
            <!-- End Course time -->

            <!-- Begin Total course time -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('total_course_time'),
                }"
            >
                <label
                    :for="`input-course-value-${uuid}`"
                    class="control-label"
                >
                    Số buổi học
                </label>
                <input
                    :id="`input-course-value-${uuid}`"
                    class="form-control"
                    type="number"
                    name="total_course_time"
                    placeholder="Số buổi học"
                    v-validate="`required|numeric|min_value:1`"
                    data-vv-as="Số buổi học"
                    v-model="total_course_time"
                />
                <span class="text-danger">{{
                    errors.first("total_course_time")
                }}</span>
            </div>
            <!-- End Total course time -->

            <hr />
            <h4>Thông tin mã giảm giá</h4>

            <!-- Begin Voucher time -->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div
                        :class="{
                            'form-group': true,
                            'has-error': errors.first('voucher_time_begin'),
                        }"
                    >
                        <label
                            :for="`input-voucher-time-begin-${uuid}`"
                            class="control-label"
                        >
                            Thời gian bắt đầu giảm giá
                        </label>
                        <VuejsDatepicker
                            :id="`input-voucher-time-begin-${uuid}`"
                            wrapper-class="input-group col-sm-12"
                            input-class="form-control valid"
                            :format="'dd/MM/yyyy'"
                            name="voucher_time_begin"
                            v-validate="'date_format:dd/MM/yyyy'"
                            data-vv-as="Thời gian bắt đầu giảm giá"
                            placeholder="Thời gian bắt đầu giảm giá"
                            v-model="voucher_time_begin"
                        ></VuejsDatepicker>
                        <span class="text-danger">{{
                            errors.first("voucher_time_begin")
                        }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div
                        :class="{
                            'form-group': true,
                            'has-error': errors.first('voucher_time_end'),
                        }"
                    >
                        <label
                            :for="`input-voucher-time-end-${uuid}`"
                            class="control-label"
                        >
                            Thời gian kết thúc giảm giá
                        </label>
                        <VuejsDatepicker
                            :id="`input-voucher-time-end-${uuid}`"
                            wrapper-class="input-group col-sm-12"
                            input-class="form-control valid"
                            :format="'dd/MM/yyyy'"
                            name="voucher_time_end"
                            v-validate="'date_format:dd/MM/yyyy'"
                            data-vv-as="Thời gian kết thúc giảm giá"
                            placeholder="Thời gian kết thúc giảm giá"
                            v-model="voucher_time_end"
                        ></VuejsDatepicker>
                        <span class="text-danger">{{
                            errors.first("voucher_time_end")
                        }}</span>
                    </div>
                </div>
            </div>
            <!-- End Voucher time -->

            <!-- Begin Voucher value -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('voucher_value'),
                }"
            >
                <label
                    :for="`input-voucher-value-${uuid}`"
                    class="control-label"
                >
                    Giá trị giảm giá
                </label>
                <input
                    :id="`input-voucher-value-${uuid}`"
                    class="form-control"
                    type="number"
                    name="voucher_value"
                    placeholder="Giá trị giảm giá"
                    v-validate="`numeric|min_value:1`"
                    data-vv-as="Giá trị giảm giá"
                    v-model="voucher_value"
                />
                <span class="text-danger">{{
                    errors.first("voucher_value")
                }}</span>
            </div>
            <!-- End Voucher value -->

            <!-- Begin Voucher quantity -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('voucher_qty'),
                }"
            >
                <label :for="`input-voucher-qty-${uuid}`" class="control-label">
                    Số lượng giảm giá
                </label>
                <input
                    :id="`input-voucher-qty-${uuid}`"
                    class="form-control"
                    type="number"
                    name="voucher_qty"
                    placeholder="Số lượng giảm giá"
                    v-validate="`numeric|min_value:1`"
                    data-vv-as="Số lượng giảm giá"
                    v-model="voucher_qty"
                />
                <span class="text-danger">{{
                    errors.first("voucher_qty")
                }}</span>
            </div>
            <!-- End Voucher quantity -->
        </div>
        <!-- End Box body -->

        <!-- Begin Box footer -->
        <div class="box-footer">
            <button
                type="button"
                class="btn btn-warning pull-right"
                @click="submit"
            >
                Cập nhật
            </button>
            <button
                type="button"
                class="btn btn-link pull-right text-red"
                style="margin-right: 10px"
                data-dismiss="modal"
                aria-label="Close"
            >
                Hủy bỏ
            </button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <!-- End Box footer -->
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import VuejsDatepicker from "vuejs-datepicker";
    import Multiselect from "vue-multiselect";

    import { courseService } from "@/_services/courseads.course.service";

    export default {
        props: {
            id: {
                type: [String, Number],
                required: true,
            },
        },
        components: {
            VuejsDatepicker,
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            course_type: null,
            teacher: null,
            student_qty: null,
            course_value: null,
            course_time_begin: null,
            course_time_end: null,
            total_course_time: null,
            voucher_time_begin: null,
            voucher_time_end: null,
            voucher_value: null,
            voucher_qty: null,

            courses_list: [],
            course_selected: null,

            teachers: [],

            configs: {},
        }),
        async mounted() {
            this.isLoading = true;

            await this.getConfig();
            await this.getTeachers();

            await this.getCourse();

            this.isLoading = false;
        },
        methods: {
            _get(item, ref) {
                return _.get(item, ref);
            },
            teacherLabel({ display_name, user_email }) {
                return `${display_name} - ${user_email}`;
            },
            async getTeachers() {
                let { data } = await courseService.getTeachers();
                if (_.isEmpty(data)) {
                    return;
                }

                this.teachers = data;
            },
            async getConfig() {
                let { data } = await courseService.getConfig();
                if (_.isEmpty(data)) {
                    return;
                }

                this.configs = data;
                this.courses_list = _.get(data, "courses_list");
            },
            async getCourse() {
                let { data } = await courseService.getCourse(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                this.course_type = _.get(data, "course_type");
                this.student_qty = _.get(data, "student_qty");
                this.course_value = _.get(data, "course_value");
                this.total_course_time = _.get(data, "total_course_time");
                this.course_time_begin = moment
                    .unix(_.get(data, "course_time_begin"))
                    .toDate();
                this.course_time_end = moment
                    .unix(_.get(data, "course_time_end"))
                    .toDate();

                let course_selected = _.find(
                    this.courses_list,
                    (item) => _.get(item, "name") == _.get(data, "course_code")
                );
                if (!_.isEmpty(course_selected)) {
                    this.course_selected = course_selected;
                }

                let teacher = _.find(
                    this.teachers,
                    (item) => _.get(item, "user_id") == _.get(data, "teacher")
                );
                if (!_.isEmpty(teacher)) {
                    this.teacher = teacher;
                }

                this.voucher_value = _.get(data, "voucher_value") || null;
                this.voucher_qty = _.get(data, "voucher_qty") || null;
                this.voucher_time_begin =
                    _.get(data, "voucher_time_begin") > 0
                        ? moment
                              .unix(_.get(data, "voucher_time_begin"))
                              .toDate()
                        : null;
                this.voucher_time_end =
                    _.get(data, "voucher_time_end") > 0
                        ? moment.unix(_.get(data, "voucher_time_end")).toDate()
                        : null;
            },
            genRequestData() {
                let requestData = {
                    course_type: this.course_type,
                    teacher: _.get(this.teacher, "user_id"),
                    student_qty: this.student_qty,
                    course_value: this.course_value,
                    course_time_begin: moment(this.course_time_begin).unix(),
                    course_time_end: moment(this.course_time_end).unix(),
                    total_course_time: this.total_course_time,
                    voucher_time_begin: this.voucher_time_begin
                        ? moment(this.voucher_time_begin).unix()
                        : null,
                    voucher_time_end: this.voucher_time_end
                        ? moment(this.voucher_time_end).unix()
                        : null,
                    voucher_value: this.voucher_value,
                    voucher_qty: this.voucher_qty,
                };

                return requestData;
            },
            submit() {
                this.$validator.validate().then((result) => {
                    if (!result) return result;

                    this.isLoading = true;

                    let requestData = this.genRequestData();
                    courseService
                        .putUpdate(this.id, requestData)
                        .then((response) => {
                            if (200 == _.get(response, "code")) {
                                $.notify(_.get(response, "message"), "success");

                                this.$emit("updated");

                                return response;
                            }

                            const _messages = _.isString(
                                _.get(response, "message")
                            )
                                ? [_.get(response, "message")]
                                : _.values(_.get(response, "message"));
                            if (403 == _.get(response, "code"))
                                throw new Error(_.first(_messages));
                            throw new Error(_.first(_messages));
                        })
                        .catch((error) => {
                            $.notify(error, "error");

                            return error;
                        })
                        .finally(() => {
                            this.isLoading = false;
                        });
                });
            },
        },
    };
</script>
