<template>
    <div class="box box-widget">
        <!-- Begin Box body -->
        <div class="box-body">
            <!-- Begin Display name -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('display_name'),
                }"
            >
                <label
                    :for="`input-display-name-${uuid}`"
                    class="control-label"
                >
                    Họ tên
                </label>
                <input
                    :id="`input-display-name-${uuid}`"
                    class="form-control"
                    type="text"
                    placeholder="Họ tên"
                    name="display_name"
                    v-validate="`required`"
                    data-vv-as="Họ tên"
                    v-model="display_name"
                />
                <span class="text-danger">{{
                    errors.first("display_name")
                }}</span>
            </div>
            <!-- End Display name -->

            <!-- Begin Email -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_email'),
                }"
            >
                <label :for="`input-email-${uuid}`" class="control-label">
                    E-mail
                </label>
                <input
                    :id="`input-email-${uuid}`"
                    class="form-control"
                    type="text"
                    placeholder="E-mail"
                    name="user_email"
                    v-validate="`required`"
                    data-vv-as="E-mail"
                    :value="user_email"
                    disabled="true"
                />
                <span class="text-danger">{{
                    errors.first("user_email")
                }}</span>
            </div>
            <!-- End Email -->

            <!-- Begin Gender -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('gender'),
                }"
            >
                <label :for="`input-gender-${uuid}`" class="control-label">
                    Giới tính
                </label>
                <div class="d-flex">
                    <div
                        v-for="(value, key) in get(configs, 'gender')"
                        :key="`input-gender-${key}-${uuid}`"
                        style="margin-right: 16px"
                    >
                        <div class="radio">
                            <label :for="`input-gender-${key}-${uuid}`">
                                <input
                                    :id="`input-gender-${key}-${uuid}`"
                                    type="radio"
                                    :value="key"
                                    v-model="gender"
                                />
                                {{ value }}
                            </label>
                        </div>
                    </div>
                </div>
                <span class="text-danger">{{ errors.first("gender") }}</span>
            </div>
            <!-- End Gender -->

            <!-- Begin User phone private -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_phone_private'),
                }"
            >
                <label
                    :for="`input-user-phone-private-${uuid}`"
                    class="control-label"
                >
                    Số di động
                </label>
                <input
                    :id="`input-user-phone-private-${uuid}`"
                    class="form-control"
                    type="number"
                    name="user_phone_private"
                    placeholder="Số di động"
                    v-validate="{
                        regex: /^(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})$/,
                    }"
                    data-vv-as="Số di động"
                    v-model="user_phone_private"
                />
                <span class="text-danger">{{
                    errors.first("user_phone_private")
                }}</span>
            </div>
            <!-- End User phone private -->

            <!-- Begin User phone -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_phone'),
                }"
            >
                <label :for="`input-user-phone-${uuid}`" class="control-label">
                    Số công việc
                </label>
                <input
                    :id="`input-user-phone-${uuid}`"
                    class="form-control"
                    type="number"
                    name="user_phone"
                    placeholder="Số công việc"
                    v-validate="{
                        regex: /^(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})$/,
                    }"
                    data-vv-as="Số công việc"
                    v-model="user_phone"
                />
                <span class="text-danger">{{
                    errors.first("user_phone")
                }}</span>
            </div>
            <!-- End User phone -->

            <!-- Begin Phone EXT -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('phone_ext'),
                }"
            >
                <label :for="`input-phone-ext-${uuid}`" class="control-label">
                    Số điện thoại EXT
                </label>
                <input
                    :id="`input-phone-ext-${uuid}`"
                    class="form-control"
                    type="number"
                    name="phone_ext"
                    placeholder="Số điện thoại EXT"
                    v-validate="{
                        regex: /^([0-9]{4})$/,
                    }"
                    data-vv-as="Số điện thoại EXT"
                    v-model="phone_ext"
                />
                <span class="text-danger">{{ errors.first("phone_ext") }}</span>
            </div>
            <!-- End Phone EXT -->

            <!-- Begin User working day -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_working_day'),
                }"
            >
                <label
                    :for="`input-user-working-day-${uuid}`"
                    class="control-label"
                >
                    Ngày nhận việc
                </label>
                <VuejsDatepicker
                    :id="`input-user-working-day-${uuid}`"
                    wrapper-class="input-group col-sm-12"
                    input-class="form-control valid"
                    :format="'dd/MM/yyyy'"
                    name="user_working_day"
                    v-validate="`required`"
                    data-vv-as="Ngày nhận việc"
                    v-model="user_working_day"
                ></VuejsDatepicker>
                <span class="text-danger">{{
                    errors.first("user_working_day")
                }}</span>
            </div>
            <!-- End User working day -->

            <!-- Begin Departments -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('department'),
                }"
            >
                <label :for="`input-departments-${uuid}`" class="control-label">
                    Phòng ban
                </label>
                <Multiselect
                    :id="`input-departments-${uuid}`"
                    :show-labels="false"
                    label="term_name"
                    track-by="term_id"
                    value="term_id"
                    placeholder="Phòng ban"
                    :options="departments"
                    v-model="department"
                >
                </Multiselect>
                <span class="text-danger">{{
                    errors.first("department")
                }}</span>
            </div>
            <!-- End Departments -->

            <!-- Begin User groups -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_group'),
                }"
            >
                <label :for="`input-user-groups-${uuid}`" class="control-label">
                    Nhóm
                </label>
                <Multiselect
                    :id="`input-user-groups-${uuid}`"
                    :show-labels="false"
                    label="term_name"
                    track-by="term_name"
                    placeholder="Nhóm"
                    :options="userGroups"
                    v-model="user_group"
                >
                </Multiselect>
                <span class="text-danger">{{
                    errors.first("user_group")
                }}</span>
            </div>
            <!-- End User groups -->

            <!-- Begin Role -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('role_id'),
                }"
            >
                <label :for="`input-role-${uuid}`" class="control-label">
                    Vai trò
                </label>
                <Multiselect
                    :id="`input-role-${uuid}`"
                    select-label="Gán vai trò"
                    label="role_name"
                    track-by="role_name"
                    placeholder="Vai trò"
                    :options="roles"
                    :allowEmpty="false"
                    :show-labels="false"
                    name="role"
                    v-model="role"
                    v-validate="`required`"
                    data-vv-as="Vai trò"
                >
                </Multiselect>
                <span class="text-danger">{{ errors.first("role") }}</span>
            </div>
            <!-- End Role -->

            <!-- Begin Zone -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_zone'),
                }"
            >
                <label :for="`input-zone-${uuid}`" class="control-label">
                    Khu vực
                </label>
                <div class="d-flex">
                    <div
                        v-for="(value, key) in get(configs, 'zone')"
                        :key="`input-zone-${key}-${uuid}`"
                        style="margin-right: 16px"
                    >
                        <div class="radio">
                            <label :for="`input-zone-${key}-${uuid}`">
                                <input
                                    :id="`input-zone-${key}-${uuid}`"
                                    type="radio"
                                    :value="key"
                                    v-model="user_zone"
                                />
                                {{ value }}
                            </label>
                        </div>
                    </div>
                </div>
                <span class="text-danger">{{ errors.first("user_zone") }}</span>
            </div>
            <!-- End Zone -->

            <!-- Begin User status -->
            <div
                :class="{
                    'form-group': true,
                    'has-error': errors.first('user_status'),
                }"
            >
                <label :for="`input-user-status-${uuid}`" class="control-label">
                    Trạng thái
                </label>
                <div class="d-flex">
                    <div
                        v-for="(value, key) in get(configs, 'userStatus')"
                        :key="`input-user-status-${key}-${uuid}`"
                        style="margin-right: 16px"
                    >
                        <div class="radio">
                            <label :for="`input-user-status-${key}-${uuid}`">
                                <input
                                    :id="`input-user-status-${key}-${uuid}`"
                                    type="radio"
                                    :value="key"
                                    v-model="user_status"
                                />
                                {{ value }}
                            </label>
                        </div>
                    </div>
                </div>
                <span class="text-danger">{{
                    errors.first("user_status")
                }}</span>
            </div>
            <!-- End User status -->
        </div>
        <!-- End Box body -->

        <!-- Begin Box footer -->
        <div class="box-footer">
            <button
                type="button"
                class="btn btn-success pull-right"
                @click="submit"
                :disabled="numOfChanged < 1"
            >
                CẬP NHẬT
                <span v-if="numOfChanged > 0">
                    (<b>{{ numOfChanged }}</b> trường)
                </span>
            </button>
            <button
                type="button"
                class="btn btn-link pull-right text-red"
                style="margin-right: 10px"
                data-dismiss="modal"
                aria-label="Close"
            >
                Hủy bỏ
            </button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <!-- End Box footer -->
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import VuejsDatepicker from "vuejs-datepicker";
    import Multiselect from "vue-multiselect";

    import { courseadsService } from "@/_services/courseads.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                default: 0,
            },
        },
        components: {
            VuejsDatepicker,
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            display_name: null,
            gender: null,
            phone_ext: null,
            user_avatar: null,
            user_email: null,
            user_id: null,
            user_phone: null,
            user_phone_private: null,
            user_status: null,
            user_working_day: null,
            user_zone: null,
            department: null,
            user_group: null,
            role: null,
            domains_hotline: [],

            courseads: {},

            departments: [],
            userGroups: [],
            roles: [],

            configs: {},
            userGroupsConfig: [],
        }),
        computed: {
            numOfChanged() {
                let countChanged = _.reduce(
                    this.courseads,
                    (result, value, key) => {
                        if (this[key] == value) {
                            return result;
                        }

                        if (key == "user_working_day") {
                            let time = moment(this.user_working_day).format(
                                "X"
                            );
                            if (time == parseInt(value, 10)) {
                                return result;
                            }
                        }

                        if (key == "department") {
                            let term_id = _.get(this.department, "term_id");
                            if (term_id == value) {
                                return result;
                            }
                        }

                        if (key == "user_group") {
                            let term_id = _.get(this.user_group, "term_id");
                            if (term_id == value) {
                                return result;
                            }
                        }

                        if (key == "role_id") {
                            let role_id = _.get(this.role, "role_id");
                            if (role_id == value) {
                                return result;
                            }
                        }

                        console.log(key, value);

                        result += 1;

                        return result;
                    },
                    0
                );

                return countChanged;
            },
        },
        watch: {
            department(value) {
                let userGroups = _.filter(this.userGroupsConfig, (item) => {
                    return (
                        _.get(item, "term_parent") == _.get(value, "term_id")
                    );
                });

                this.userGroups = userGroups;
                let itemFinded = _.find(userGroups, (item) => {
                    return (
                        _.get(item, "term_id") ==
                        _.get(this.user_group, "term_id")
                    );
                });
                if (_.isEmpty(itemFinded)) {
                    this.user_group = null;
                }
            },
        },
        async mounted() {
            this.isLoading = true;

            // await this.getConfig();
            // await this.getDepartment();
            // await this.getUserGroup();
            // await this.getRole();

            await this.getCourseads();

            this.isLoading = false;
        },
        methods: {
            get(item, ref) {
                return _.get(item, ref);
            },
            async getCourseads() {
                let { data } = await courseadsService.getById(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                console.log(data);

                this.courseads = data;

                this.display_name = _.get(data, "display_name");
                this.gender = _.get(data, "gender");
                this.phone_ext = _.get(data, "phone_ext");
                this.user_avatar = _.get(data, "user_avatar");
                this.user_email = _.get(data, "user_email");
                this.user_id = _.get(data, "user_id");
                this.user_phone = _.get(data, "user_phone");
                this.user_phone_private = _.get(data, "user_phone_private");
                this.user_status = _.get(data, "user_status");
                this.user_zone = _.get(data, "user_zone");

                let user_working_day = _.get(data, "user_working_day");
                if (_.isEmpty(user_working_day)) {
                    this.user_working_day = "";
                } else {
                    this.user_working_day = moment
                        .unix(_.get(data, "user_working_day"))
                        .toDate();
                }

                let role_id = _.get(data, "role_id");
                if (_.isEmpty(role_id)) this.role = {};
                else
                    this.role = _.find(
                        this.roles,
                        (item) => item.role_id == role_id
                    );

                let department_id = _.get(data, "department");
                if (_.isEmpty(department_id)) this.department = null;
                else
                    this.department = _.find(
                        this.departments,
                        (item) => item.term_id == department_id
                    );

                let user_group_id = _.get(data, "user_group");
                if (_.isEmpty(user_group_id)) this.user_group = null;
                else
                    this.user_group = _.find(
                        this.userGroupsConfig,
                        (item) => item.term_id == user_group_id
                    );
            },
            async getDepartment() {
                let { data } = await courseadsService.getDepartment(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                this.departments = data;
            },
            async getUserGroup() {
                let { data } = await courseadsService.getUserGroup(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                this.userGroupsConfig = data;
            },
            async getRole() {
                let { data } = await courseadsService.getRole(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                this.roles = data;
            },
            async getConfig() {
                let { data } = await courseadsService.getConfig(this.id);
                if (_.isEmpty(data)) {
                    return;
                }

                this.configs = data;
            },
            genRequestData() {
                let requestData = {
                    user_id: this.user_id,
                    display_name: this.display_name,
                    user_email: this.user_email,
                    user_status: this.user_status,
                    user_avatar: this.user_avatar,
                    gender: this.gender,
                    user_phone: this.user_phone,
                    user_phone_private: this.user_phone_private,
                    phone_ext: this.phone_ext,
                    user_zone: this.user_zone,
                    user_working_day: moment(this.user_working_day).format("X"),
                    role_id: _.get(this.role, "role_id"),
                    user_group: _.get(this.user_group, "term_id") || "",
                    department: _.get(this.department, "term_id") | "",
                };

                return requestData;
            },
            submit() {
                this.$validator.validate().then((result) => {
                    if (!result) return result;

                    this.isLoading = true;

                    let requestData = this.genRequestData();
                    courseadsService
                        .updateStaff(this.id, requestData)
                        .then((response) => {
                            if (200 == _.get(response, "code")) {
                                $.notify(_.get(response, "message"), "success");

                                this.$emit("updated");

                                return response;
                            }

                            const _messages = _.isString(
                                _.get(response, "message")
                            )
                                ? [_.get(response, "message")]
                                : _.values(_.get(response, "message"));
                            if (403 == _.get(response, "code"))
                                throw new Error(_.first(_messages));
                            throw new Error(_.first(_messages));
                        })
                        .catch((error) => {
                            $.notify(error, "error");

                            return error;
                        })
                        .finally(() => {
                            this.isLoading = false;
                        });
                });
            },
        },
    };
</script>
