<template>
    <div>
        <div class="typo">
            <div class="typo__body">
                <!-- <p>{{ contract }}</p> -->
                <div class="typo__section">
                    <p class="typo__label--lg">Mã hợp đồng</p>
                    <a
                        class="typo__text--strong typo__text--lg"
                        :href="`javascript:void(${contract.term_id})`"
                    >
                        {{ get(contract, "contract_code") || "--" }}
                    </a>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="typo__section">
                            <p class="typo__label--lg">Ngày bắt đầu</p>
                            <p class="typo__text--strong typo__text">
                                {{ get(contract, "contract_begin") || "--" }}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="typo__section">
                            <p class="typo__label--lg">Ngày kết thúc</p>
                            <p class="typo__text--strong typo__text">
                                {{ get(contract, "contract_end") || "--" }}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="typo__section">
                            <p class="typo__label--lg">Ngày kích hoạt</p>
                            <p class="typo__text--strong typo__text">
                                {{ get(contract, "start_server_time") || "--" }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="typo__section">
                    <p class="typo__label--lg">Giá trị hợp đồng</p>
                    <p class="typo__text--strong typo__text--lg text-primary">
                        {{
                            get(contract, "contract_value").toLocaleString(
                                "de-DE"
                            )
                        }}
                        đ
                    </p>
                </div>
                <div class="typo__section">
                    <p class="typo__label--lg">Người đại diện</p>
                    <p class="typo__text--strong typo__text">
                        {{
                            get(contract, "representative_gender") == 0
                                ? "Bà"
                                : "Ông"
                        }}
                        {{ get(contract, "representative_name") }}
                    </p>
                </div>
                <div class="typo__section">
                    <p class="typo__label--lg">Email người đại diện</p>
                    <p class="typo__text--strong typo__text">
                        {{ get(contract, "representative_email") }}
                    </p>
                </div>
                <div class="typo__section">
                    <p class="typo__label--lg">Số điện thoại người đại diện</p>
                    <p class="typo__text--strong typo__text">
                        {{ get(contract, "representative_phone") }}
                    </p>
                </div>
            </div>
        </div>

        <hr />

        <div class="typo">
            <div class="typo__header">Kinh doanh phụ trách</div>
            <div
                v-if="isEmpty(get(contract, 'staff_business_id'))"
                class="typo__body"
            >
                <code class="typo__label">Chưa cấu hình kinh doanh</code>
            </div>
            <div v-else class="typo__body">
                <a
                    class="d-flex"
                    :href="`javascript:void(${get(
                        contract,
                        'staff_business_id'
                    )})`"
                >
                    <img
                        class="img__avatar--sm img__avatar--circle"
                        style="margin-right: 8px"
                        :src="get(contract, 'staff_business_avatar')"
                    />
                    <div class="typo__section">
                        <p class="typo__text">
                            <b> {{ get(contract, "staff_business_name") }} </b>
                        </p>
                        <p class="typo__label--strong">
                            {{ get(contract, "staff_business_email") }}
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <hr />

        <div class="typo">
            <div class="typo__header">Kỹ thuật thực hiện</div>
            <div
                v-if="isEmpty(get(contract, 'technical_staffs'))"
                class="typo__body"
            >
                <code class="typo__label">Chưa cấu hình kỹ thuật</code>
            </div>
            <div v-else class="typo__body">
                <div
                    v-for="(technical_staff, index) in get(
                        contract,
                        'technical_staffs'
                    )"
                    :key="`typo-contract-info-${index}`"
                >
                    <a
                        class="d-flex"
                        :href="`javascript:void(${technical_staff.id})`"
                    >
                        <img
                            class="img__avatar--sm img__avatar--circle"
                            style="margin-right: 8px"
                            :src="technical_staff.avatar"
                        />
                        <div class="typo__section">
                            <p class="typo__text">
                                <b> {{ technical_staff.name }} </b> -
                                {{ technical_staff.type }}
                            </p>
                            <p class="typo__label--strong">
                                {{ technical_staff.email }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";

    import { onewebService } from "@/_services/oneweb.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                default: 0,
                required: true,
            },
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            contract: {
                contract_value: 0,
                technical_staffs: [],
            },
        }),
        watch: {
            id() {
                this.getContract();
            },
        },
        mounted() {
            this.getContract();
        },
        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },

            get(item, ref) {
                return _.get(item, ref);
            },

            async getContract() {
                this.isLoading = true;

                let { data } = await onewebService.getContract(this.id);
                if (_.isEmpty(data)) {
                    this.contract = {};

                    this.isLoading = false;

                    return;
                }

                this.contract = data;

                this.isLoading = false;
            },
        },
    };
</script>
