<template>
    <div>
        <div class="box box-primary">
            <div class="box-body">
                <table
                    border="1"
                    cellpadding="2"
                    cellspacing="1"
                    class="
                        table table-responsive table-bordered table-hover
                        datatable
                    "
                >
                    <thead>
                        <tr>
                            <th width="45%">Kỹ thuật thực hiện</th>
                            <th width="35%">Phụ trách</th>
                            <th
                                align="center"
                                class="datatable__cell--middle"
                                style="width: 10rem"
                            >
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(staff, index) in staffPerform"
                            :key="`staff-${index}-${uuid}`"
                        >
                            <td>
                                <p style="margin: 0">
                                    {{ staff.display_name }}
                                </p>
                                <small>{{ staff.user_email }}</small>
                            </td>
                            <td>
                                {{ staff.kpi_type }}
                            </td>
                            <td align="center" class="datatable__cell--middle">
                                <a
                                    :href="`javascript:void(${index})`"
                                    class="btn btn-danger btn-flat btn-xs"
                                    :disabled="isLoading || is_locked"
                                    @click="() => removeKpi(staff.kpi_id)"
                                >
                                    Xóa
                                </a>
                            </td>
                        </tr>
                        <tr v-if="!is_locked">
                            <td>
                                <div
                                    :class="{
                                        'form-group': true,
                                        'has-error': errors.first('staff'),
                                    }"
                                    style="margin: 0"
                                >
                                    <Multiselect
                                        :id="`input-staff-${uuid}`"
                                        select-label="Gán nhân viên kỹ thuật"
                                        label="display_name"
                                        track-by="user_id"
                                        placeholder="Kỹ thuật thực hiện"
                                        :options="staffs"
                                        :allowEmpty="false"
                                        :show-labels="false"
                                        :custom-label="
                                            ({ display_name, user_email }) =>
                                                `${display_name} - ${user_email}`
                                        "
                                        :disabled="isLoading"
                                        name="staff"
                                        v-model="staff"
                                        v-validate="`required`"
                                        data-vv-as="Kỹ thuật thực hiện"
                                    >
                                    </Multiselect>
                                    <span class="text-danger">
                                        {{ errors.first("staff") }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div
                                    :class="{
                                        'form-group': true,
                                        'has-error': errors.first('kpi_type'),
                                    }"
                                    style="margin: 0"
                                >
                                    <Multiselect
                                        :id="`input-kpi-type-${uuid}`"
                                        select-label="Chọn phục trách"
                                        label="label"
                                        track-by="name"
                                        placeholder="Phụ trách"
                                        :options="configKpiType"
                                        :allowEmpty="false"
                                        :show-labels="false"
                                        :disabled="isLoading"
                                        name="kpi_type"
                                        v-model="kpiType"
                                        v-validate="`required`"
                                        data-vv-as="Phụ trách"
                                    >
                                    </Multiselect>
                                    <span class="text-danger">
                                        {{ errors.first("kpi_type") }}
                                    </span>
                                </div>
                            </td>
                            <td align="center" class="datatable__cell--middle">
                                <button
                                    class="btn btn-success btn-flat btn-xs"
                                    :disabled="isLoading"
                                    @click="addKpi"
                                >
                                    Thêm
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="isLoading" class="overlay">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import Multiselect from "vue-multiselect";

    import { onewebService } from "@/_services/oneweb.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                required: true,
            },
            is_locked: {
                type: [String, Boolean],
                required: true,
            },
        },
        components: {
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            staffPerform: [],
            staffs: [],
            configKpiType: [],

            staff: null,
            kpiType: null,
        }),
        async mounted() {
            this.isLoading = true;

            await this.getConfig();
            await this.getStaffPerform();
            await this.getStaffs();

            this.isLoading = false;
        },
        methods: {
            async getConfig() {
                let { data } = await onewebService.getConfig();
                if (_.isEmpty(data)) {
                    this.configKpiType = [];

                    return;
                }

                this.configKpiType = _.get(data, "kpi_type");
            },
            async getStaffPerform() {
                let { data } = await onewebService.getStaffPerform(this.id);
                if (_.isEmpty(data)) {
                    this.staffPerform = [];

                    return;
                }

                this.staffPerform = data;
            },
            async getStaffs() {
                let { data } = await onewebService.getStaffs();
                if (_.isEmpty(data)) {
                    this.staffs = [];

                    return;
                }

                this.staffs = data;
            },
            genRequestData() {
                let data = {
                    staff_id: _.get(this.staff, "user_id"),
                    kpi_type: _.get(this.kpiType, "name"),
                };

                return data;
            },
            async addKpi() {
                let result = await this.$validator.validate();
                if (!result) return result;

                this.isLoading = true;

                let requestData = this.genRequestData();
                try {
                    let response = await onewebService.addKpi(
                        this.id,
                        requestData
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getStaffPerform();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async removeKpi(kpiId) {
                if (this.is_locked) {
                    return;
                }

                this.isLoading = true;

                try {
                    let response = await onewebService.removeKpi(
                        this.id,
                        kpiId
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getStaffPerform();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
        },
    };
</script>
