<script>
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { converNumber } from '../../../_helpers/utils.helpers';

import CardContrainer from '../../CardContrainer.vue';
import Placeholder from '../../Placeholder.vue';

export default {
    components: {
        CardContrainer,
        Placeholder
    },

    props: {
        is_loading: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Array,
            default: () => ([])
        }
    },


    data() {
        return {
            options: {
                accessibility: {
                  enabled: false,  
                },
                exporting: {
                    menuItemStyle: {
                        color: 'red', // Màu chữ
                        fontSize: '14px' // Kích cỡ chữ
                    }
                },
                chart: {
                    type: 'areaspline',
                    zooming: {
                        key: 'ctrl',
                        type: 'x',
                    }
                },

                loading: {
                    hideDuration: 200,
                    showDuration: 200,
                    title: 'Đang lấy dữ liệu'
                },

                legend: {
                    layout: 'horizontal', // Đặt chú thích là dạng dọc
                    verticalAlign: 'top', // Đặt vị trí chú thích là trên cùng
                    align: 'left',
                    itemStyle: {
                        fontSize: "1.2em",
                        fontWeight: 'semibold',
                        margin: '0px 10px',
                    }, // Đặt vị trí chú thích là bên trái
                },


                position: {
                    align: 'center',
                    verticalAlign: 'middle',
                    x: 0,
                    y: 0,
                },

                xAxis: {
                    labels: {
                        style: {
                            fontSize: '1em',
                            color: '#333538',
                            fontWeight: '500'
                        },
                        overflow: 'justify'
                    },
                    categories: [],
                    allowDecimals: false,
                    accessibility: {
                        rangeDescription: 'Range: 1940 to 2017.'
                    }
                },
                yAxis: [
                    {
                        labels: {
                            style: {
                                fontSize: '1em',
                                color: '#333538',
                                fontWeight: '500'
                            },
                            overflow: 'justify'
                        },
                        title: {
                            text: 'KPI / Doanh thu',
                            style: {
                                fontSize: '1.1em',
                            }
                        },
                    },
                    {
                        labels: {
                            style: {
                                fontSize: '1em',
                                color: '#333538',
                                fontWeight: '500'
                            },
                            overflow: 'justify'
                        },
                        title: {
                            text: 'Hợp đồng',
                            style: {
                                fontSize: '1.1em',
                            }
                        },
                        opposite: true,
                    },
                    {
                        labels: {
                            style: {
                                fontSize: '1em',
                                color: '#333538',
                                fontWeight: '500'
                            },
                            overflow: 'justify'
                        },
                        title: {
                            text: 'Hoa hồng',
                            style: {
                                fontSize: '1.1em',
                            }
                        },
                    },
                ],
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:,.0f} vnđ</b><br/>',
                    style: {
                        fontSize: '1.2em'
                    },
                    animation: false,
                },
                title: {
                    text: null
                },
                plotOptions: {

                    area: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            },
                        }
                    }
                },
                series: [{
                    name: 'Hoa hồng',
                    data: [],
                    yAxis: 2,
                }, {
                    name: 'Doanh thu',
                    data: [],
                    yAxis: 0,
                },
                {
                    name: 'Hợp đồng ký mới',
                    data: [],
                    yAxis: 1,
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y:,.0f}</b><br/>',
                    }
                },
                {
                    name: 'Kpi',
                    data: [],
                    type: 'spline',
                    yAxis: 0,
                },
                {
                    name: 'Hợp đồng tái ký',
                    data: [],
                    yAxis: 1,
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y:,.0f}</b><br/>',
                    }
                },
                ],

                noData: {
                    style: {
                        fontSize: '1.2rem',
                        color: '#DE4B39',
                    },
                    useHTML: true,
                }
            },

        }
    },

    watch: {
        data: {
            deep: true,
            handler(newValue) {
                this.options['xAxis']['categories'] = newValue.map(item => item.date)
                this.options['series'][0].data = newValue.map(item => item.commission)
                this.options['series'][1].data = newValue.map(item => item.revenue)
                this.options['series'][2].data = newValue.map(item => item.newContracts)
                this.options['series'][3].data = newValue.map(item => item.kpi)
                this.options['series'][4].data = newValue.map(item => item.renewalContracts)
                this.render_chart(this.options)
            }
        },

        is_loading: {
            deep: true,
            handler(newValue) {
                if (newValue) {
                    this.render_chart(this.options).showLoading();
                }
                else {
                    this.render_chart(this.options).hideLoading();
                }
            }
        }
    },


    methods: {
        render_chart(options) {
            Highcharts.setOptions({
                lang: {
                    noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('idChartAggregate', options)
        },

        rednerE(){
            var chartDom = document.getElementById('main1');
            var myChart = echarts.init(chartDom);
            return myChart

        },

        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },
        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _converNumber(number) {
            return converNumber(number);
        },

        _getIncreaseOrDecrease(number) {
            if (isNaN(number)) return 'Giảm'
            return Number(number) > 0 ? 'Tăng' : 'Giảm'
        },
    }
}
</script>

<template>
    <CardContrainer>
        <template #card-header>
            <div :style="{
                display: 'flex',
                alignItems: 'center',
                justifyContent: 'space-between',
            }">
                <h5 class="text-uppercase">
                    <b :style="{
                        display: 'flex',
                        alignItems: 'baseline',
                        gap: '8px',
                    }">
                        <i class="glyphicon glyphicon-stats"></i>
                        Báo cáo chung
                    </b>
                </h5>
            </div>
        </template>
        <template #card-body>
            <div id="idChartAggregate"></div>
            <div id="chart"></div>
            <div id="main1"></div>
        </template>
    </CardContrainer>
</template>


