.progress-group .progress-number { font-size: 0.8em; }
section.content div.row div.box div.box-body {overflow-x: scroll;}
section.content div.row div.box div.box-body table tr td .text-muted { font-size: 0.8em; font-style: italic; }
.pagging {float:right;}
.tooltip-inner {max-width: none;white-space: nowrap;}