
.list-container::-webkit-scrollbar {
    width: 6px; /* Độ rộng của thanh scroll-bar ngang */
    height: 6px; /* Độ cao của thanh scroll-bar dọc */
    display: none;
}

.list-container:hover::-webkit-scrollbar {
    display: block;
}

.list-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ddd; /* Màu của thanh scroll-bar */
}

.list-container::-webkit-scrollbar-thumb:hover {
    background-color: #ccc; /* Màu của thanh scroll-bar khi hover */
}

.list-container::-webkit-scrollbar-track {
    background: transparent; /* Màu nền của thanh scroll-bar */
}

.list-container::-webkit-scrollbar-track:hover {
    background: #f0f0f0; /* Màu nền của thanh scroll-bar khi hover */
}
