<script>
import CardContrainer from '../../CardContrainer.vue'

import get from 'lodash/get'
import isEmpty from 'lodash/isEmpty';
import { converNumber } from '../../../_helpers/utils.helpers';

export default {
    components: { CardContrainer },
    props: {
        title: {
            type: String,
            default: '',
        },
        is_loading: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Array,
            default: () => ([])
        },

        view_type: {
            type: String,
            default: 'overview', // overview | detail
        }
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _coverNumber(number) {
            return converNumber(number);
        },

        getStyleProgressBar(number) {
            return number < 25 ? 'progress-bar-danger' : number < 50 ? 'progress-bar-warning' : number < 75 ? 'progress-bar-primary' : 'progress-bar-success';
        },

        getPercent(current, target) {
            if(isNaN(current) || isNaN(target)) return 0
            const percent = Math.ceil(Number(current)/Number(target)*100)
            if(isNaN(percent)) return 0
            return percent
        }
    }
}
</script>

<template>
    <card-contrainer>
        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                   {{ title }}
                </b>
            </h5>
        </template>
        <template #card-body>
            <div v-if="is_loading" :style="{
                display: 'flex',
                justifyContent: 'center',
                alignItems: 'center',
                height: '350px',
            }">
                <b> Đang lấy dữ liệu...</b>
            </div>
            <div v-if="!is_loading && !_isEmpty(data)"
                class="list-container"
                :style="{
                    height: '384px',
                    overflow: 'auto'
                }"
            >
                <div v-for="(item, index) in data" :key="index" :style="{
                    display: 'flex',
                    alignItems: 'start',
                    gap: '12px',
                    marginBottom: '4px',
                }">
                    <div :style="{
                        width: '150px',
                    }">
                        <b :style="{ textWrap: 'break-word' }">{{ item.name }}</b>
                    </div>
                    <div class="progress" :style="{
                        flex: 1,
                    }">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                            :class="getStyleProgressBar(getPercent(_get(item, 'currentRevenue', 0), _get(item, 'targetRevenue', 0)))" :style="{
                                width: `${getPercent(_get(item, 'currentRevenue', 0), _get(item, 'targetRevenue', 0))}%`,
                            }">
                        </div>
                    </div>
                    <div v-if="view_type === 'overview'">
                        {{ getPercent(_get(item, 'currentRevenue', 0), _get(item, 'targetRevenue', 0)) }}%
                    </div>
                    <div v-if="view_type === 'detail'"
                        :style="{
                            display: 'flex',
                            gap: '10px',
                            alignItems: 'center',
                            minWidth: '250px',
                            maxWidth: '400px'
                        }"
                    >
                        <span>Đạt:</span>
                        <span><b>{{ _coverNumber(_get(item, 'currentRevenue', 0)) }}</b>/{{ _coverNumber(_get(item, 'targetRevenue', 0)) }}</span>
                        <span>{{ getPercent(_get(item, 'currentRevenue', 0), _get(item, 'targetRevenue', 0)) }}%</span>
                    </div>
                </div>
            </div>
            <div v-if="!is_loading && _isEmpty(data)" class="text-red" :style="{
                display: 'flex',
                flexDirection: 'column',
                justifyContent: 'center',
                alignItems: 'center',
                position: 'relative',
                height: '350px',
            }">
                <img src="/src/assets/image/databuilder-nodata.jpeg" alt="nodata"
                    style="height: 150px"
                >
                <b class="text-red">Không có dữ liệu!</b>
            </div>

        </template>
    </card-contrainer>
</template>