<template>
    <div :id="guid">

        <v-datatable-builder
            :is_filtering="false"
            :is_ordering="true"
            :is_download="true"
            :is_use_store="true"
            :is_striped="true"
            :store_module="'adWarehouse'"
            :per_page="50"
            :filter_position="filter_position"
            :remote_url="APIDataset"
            :general_config_api_url="APIDatasetConfig"
            :custom_datatable_rows="true"
            v-bind:is_load_config="true"
            class="datatable"
        >
            <template slot="tools_extra_right">
                <a class="btn btn-flat btn-sm text-black pull-right" data-toggle="modal" data-target="#modal-create-manager-business">
                    <i class="fa fa-2x fa-plus-circle"></i>
                    <br>Tạo mới
                </a>
            </template>

            <template slot="table_body_rows" slot-scope="{ items, columns, config }">
                <tr v-for="(row, i) in items" :key="`datatable-filter-row-${i}`" style="height: 40px">
                    <template v-for="(column, index) in columns">
                        <td v-bind:key="`cell-data-${index}`" nowrap align="left" class="datatable__cell--middle" :style="{whiteSpace: 'nowrap', textAlign: get(config, `columns.${column}.align`)}">
                            <template v-if="'ad_account_account_id' == column">
                                <div style="width: 22rem; display: flex; justify-content: space-between; align-items: center">
                                    <a :href="`javascript:void(${get(row, 'ad_account_id', 0)})`" @click="() => openAdAccountModal(get(row, 'ad_account_id', 0), index)">
                                        {{ get(row, column, '--') }}
                                    </a>
                                    <button type="button" class="btn btn-primary btn-sm btn-preview" @click="() => openAdAccountModal(get(row, 'ad_account_id', 0), index)">Chi tiết</button>
                                </div>
                            </template>
                            <template v-else-if="'ad_business_manager_business_id' == column">
                                <div style="width: 18rem; display: flex; justify-content: space-between; align-items: center">
                                    <a :href="`javascript:void(${get(row, 'ad_business_manager_id', 0)})`" @click="() => openManagerBusinessModal(get(row, 'ad_business_manager_id', 0), index)">
                                        {{ get(row, column, '--') }}
                                    </a>
                                    <button type="button" class="btn btn-primary btn-sm btn-preview" @click="() => openManagerBusinessModal(get(row, 'ad_business_manager_id', 0), index)">Chi tiết</button>
                                </div>
                            </template>
                            <template v-else>
                                <span v-if="'number' == get(config, `columns.${column}.type`)">{{ parseInt(get(row, column, 0)).toLocaleString('de-DE') }}</span>
                                <span v-else>{{ get(row, column, '--') }}</span>
                            </template>
                        </td>
                    </template>
                </tr>
            </template>
        </v-datatable-builder>

        <!-- Begin modal create Manager Business -->
        <div class="modal right fade" id="modal-create-manager-business" role="dialog" aria-hidden="true">
            <div :class="{'modal-dialog': true, 'expand': is_expand}" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-title">
                            <slot name="manager_business_create_modal_title">
                                <h4>Thêm mới Business Manager</h4>
                            </slot>
                        </div>
                    </div>
                    <div class="modal-body">
                        <slot name="manager_business_create_modal_body">(Component for manager_business_create_modal_body)</slot>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal create Manager Business -->

        <!-- Begin modal Manager Business -->
        <div v-if="ad_business_manager_id" class="modal right fade" id="modal-manager-business" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-title">
                            <slot name="manager_business_modal_title" :ad_business_manager_id="ad_business_manager_id">
                                <h4>Thông tin Business Manager</h4>
                            </slot>
                        </div>
                    </div>
                    <div class="modal-body">
                        <slot name="manager_business_modal_body" :ad_business_manager_id="ad_business_manager_id">(Component for manager_business_modal_body)</slot>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal Manager Business -->

        <!-- Begin modal Ad Account -->
        <div v-if="ad_account_id" class="modal right fade" id="modal-ad-account" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-title">
                            <slot name="ad_account_modal_title" :ad_account_id="ad_account_id">
                                <h4>Thông tin Tài khoản</h4>
                            </slot>
                        </div>
                    </div>
                    <div class="modal-body">
                        <slot name="ad_account_modal_body" :ad_account_id="ad_account_id">(Component for ad_account_modal_body)</slot>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal Ad Account -->
    </div>
</template>

<script>
import { ApiEndpoints } from "@/_config/api.endpoints.js";
import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

export default {
    props: [
        'view',
        'api'
    ],
    name: 'v-viewer-component',
    data (){
        return {

            APIDataset: _.get(this.view, 'remote_url', ApiEndpoints.valueOf("adWarehouse")),
            APIDatasetConfig: _.get(this.view, 'general_config_api_url', ApiEndpoints.valueOf("adWarehouse") + "config"),
            filter_position: 1,
            guid: _.uniqueId(),
            logs : [], 
            enabled: false,

            ad_account_id: null,
            ad_business_manager_id: null,
        }
    },

    computed: {
        is_expand(){
            return this.$store.state.layout.is_expand_dialog;
        }
    },

    methods: {

        get(object, path, _default = '')
        {
            return _.get(object, path) || _default;
        },
        
        has(object, key)
        {
            return _.has(object, key);
        },

        typeOfValue(value) {
            return typeof value
        },

        openAdAccountModal(ad_account_id) {
            this.ad_account_id = ad_account_id;
            this.$store.dispatch("adWarehouse/find_ad_account", ad_account_id)

            setTimeout(() => {
                $('#modal-ad-account').modal('toggle');
            }, 100);
        },

        openManagerBusinessModal(ad_business_manager_id){
            this.ad_business_manager_id = ad_business_manager_id
            this.$store.dispatch("adWarehouse/find_ad_business_manager", ad_business_manager_id)

            setTimeout(() => {
                $('#modal-manager-business').modal('toggle');
            }, 100);
        }
    },

    components: {
        vDatatableBuilder,
    },
}
</script>