<script>
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { converNumber } from '../../../_helpers/utils.helpers';

import CardContrainer from '../../CardContrainer.vue';
export default {
    components: {
        CardContrainer,
    },
    props: {
        is_loading: {
            type: Boolean,
            default: false
        },
        data: {
            type: Object,
            default: () => ({})
        }
    },

    data() {
        return {
            option: {
                chart: {
                    type: 'column'
                },
                title: {
                    text: null,
                },
                xAxis: {
                    categories: [],
                    labels: {
                        style: {
                            fontSize: '1.2rem',
                            color: '#333538',
                            fontWeight: '500'
                        },
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Doanh thu tính thưởng',
                        style: {
                            fontSize: '1.2rem'
                        }
                    },
                    stackLabels: {
                        enabled: false
                    },
                },
                legend: {
                    layout: 'horizontal', // Đặt chú thích là dạng dọc
                    verticalAlign: 'top', // Đặt vị trí chú thích là trên cùng
                    align: 'left',
                    itemStyle: {
                        fontSize: "1.2em",
                        fontWeight: 'semibold',
                        margin: '0px 10px 0 50px',
                    }, // Đặt vị trí chú thích là bên trái
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    // pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}',
                    style: {
                        fontSize: '1.2rem'
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            style: {
                                fontSize: '1.2rem'
                            }
                        },

                    }
                },
                series: []
            }
        }
    },

    watch: {
        data: {
            deep: true,
            handler(newValue) {
                for (const key in newValue) {
                    if('name' === key) continue
                    this.option.series.push({ name: key, data: newValue[key] })
                }
                this.option.xAxis.categories = newValue.name
            },
        },

        is_loading: {
            deep: true,
            handler(newValue) {
                if (newValue) {
                    this.render_chart(this.option).showLoading();
                }
                else {
                    this.render_chart(this.option).hideLoading();
                }
            }
        }
    },

    mounted() {
        this.render_chart(this.option)
    },

    methods: {
        render_chart(options) {
            Highcharts.setOptions({
                lang: {
                    noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('idChartSaleServiceStack', options)
        },

        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _converNumber(number) {
            return converNumber(number);
        },
    }
}
</script>

<template>
    <CardContrainer>
        <template #card-header>
            <div :style="{
                display: 'flex',
                alignItems: 'center',
                justifyContent: 'space-between',
            }">
                <h5 class="text-uppercase">
                    <b :style="{
                        display: 'flex',
                        alignItems: 'baseline',
                        gap: '8px',
                    }">
                        <i class="glyphicon glyphicon-stats"></i>
                        tỷ lệ phân bổ dịch vụ của từng thành viên
                    </b>
                </h5>
            </div>
        </template>
        <template #card-body>
            <div id="idChartSaleServiceStack"></div>
        </template>
    </CardContrainer>
</template>