<script>
import { contractFacebookadsService } from '@/_services/contract.facebookads.service.js'
import vuejsDatepicker from 'vuejs-datepicker';

export default {
    name: 'facebookads-contract-manipulation-lock-box',
    props: ['term_id'],
    components: {
        vuejsDatepicker
    },

    data (){
        return {
            admin_url: admin_url,
            guid: _.uniqueId(),
            isLoading : true,
            contract : null,
            is_manipulation_locked: false,
            
            manipulation_locked_at: 0,
            manipulation_locked_by_name: null,

            manipulation_unlocked_by_name: null,
            manipulation_unlocked_at: 0,
            
            lates_activity_manipulation_lock: {},

            input: {
                lock_date: null,
            }
        }
    },

    created () {
        this.loadContract()
    },

    methods: {
        moment (unix, format) {
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'HH:mm, [ngày] DD-MM-YYYY'
            return moment.unix(unix).format(format);
        },
        isEmpty(value) { return _.isEmpty(value) },
        get(item, ref) { return _.get(item, ref) },

        loadContract () {
            this.isLoading = true
            contractFacebookadsService.get(this.term_id).then( response => {
                this.is_manipulation_locked = _.get(response, 'data.manipulation_locked.is_manipulation_locked');
                
                this.manipulation_locked_at = _.get(response, 'data.manipulation_locked.manipulation_locked_at');
                this.manipulation_locked_by_name = _.get(response, 'data.manipulation_locked.manipulation_locked_by_name');

                this.manipulation_unlocked_at = _.get(response, 'data.manipulation_locked.manipulation_unlocked_at');
                this.manipulation_unlocked_by_name = _.get(response, 'data.manipulation_locked.manipulation_unlocked_by_name');

                let lock_date = moment.unix(this.manipulation_unlocked_at).toString();
                _.set(this.input, 'lock_date', lock_date);
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        toggle_lock_manipulation(){

            this.isLoading = true
            this.$validator.validate().then((result) => {
                if( ! result) return result;

                return contractFacebookadsService.toggleLockManipulation(this.term_id)
                .then(result => {
                    if(200 == result.code )
                    {
                        $.notify(_.get(result, 'message', 'Hành động đã được ghi nhận') , 'success')
                        setTimeout( () => { window.location.reload() }, 1500)
                        return result
                    }

                    throw result
                })
                .catch(error => {
                    $.notify(_.get(error, 'message'), 'error')
                })

            })
            .finally(() => {
                this.isLoading = false
            })
        },
    },
}
</script>
<template>
    <div :id="'container-' + guid" class="col-md-2">
        <button v-if="is_manipulation_locked" :disabled="isLoading" :id="'btn-unlock-' + guid" type="button" class="btn btn-default" data-toggle="modal" :data-target="'#modal-unlock-' + guid">
            <i class="fa fa-eye"></i> Mở khóa thao tác
        </button>
        <button v-else :id="'btn-lock-' + guid" :disabled="isLoading" type="button" class="btn btn-default" data-toggle="modal" :data-target="'#modal-' + guid">
            <i class="fa fa-eye-slash"></i> Khóa thao tác
        </button>

        <div v-if="is_manipulation_locked" class="modal fade" :id="'modal-unlock-' + guid" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" :disabled="isLoading">&times;</button>
                        <h4 class="modal-title">Mở khoá thao tác</h4>
                    </div>
                    <div class="modal-body">
                        <p>Hợp đồng khóa khoá lúc: {{ manipulation_locked_at ? moment(manipulation_locked_at) : '--' }}</p>
                        <p>Người khóa: {{ manipulation_locked_by_name || '--'}}</p>
                        <br>
                        <p>Sau khi khoá thao tác, các hành động sau đây sẽ được thực hiện:</p>
                        <ol>
                            <li>Các thao tác thay đổi thuộc tính của hợp đồng có ngày cấp số trước ngày khoá thao tác (% VAT, % Phí dịch vụ, Loại hình dịch vụ, ...)</li>
                            <li>Thêm mới phiếu thanh toán có ngày thanh toán ở quá khứ</li>
                            <li>Cập nhật phiếu thanh toán có ngày thanh toán ở quá khứ</li>
                            <li>Cấu hình thêm mới phân đoạn quảng cáo có chứa ngày bắt đầu/ngày kết thúc ở quá khứ</li>
                            <li>Cấu hình xoá phân đoạn quảng cáo có chứa ngày bắt đầu/ngày kết thúc ở quá khứ</li>
                            <li>Cấu hình thay đổi phân đoạn có chứa ngày bắt đầu/ngày kết thúc ở quá khứ</li>
                            <li>Cấu hình tỉ giá</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button :disabled="isLoading" type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                        <button :disabled="isLoading" type="button" class="btn btn-primary" name="manipulation_locked" @click="toggle_lock_manipulation">Mở khoá thao tác</button>
                    </div>
                    <div v-if="isLoading" class="overlay">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!is_manipulation_locked" class="modal fade" :id="'modal-' + guid" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" :disabled="isLoading">&times;</button>
                        <h4 class="modal-title">Khoá thao tác</h4>
                    </div>
                    <div class="modal-body">
                        <p>Sau khi khoá thao tác, các hành động sau đây sẽ không được thực hiện:</p>
                        <ol>
                            <li>Các thao tác thay đổi thuộc tính của hợp đồng có ngày cấp số trước ngày khoá thao tác (% VAT, % Phí dịch vụ, Loại hình dịch vụ, ...)</li>
                            <li>Thêm mới phiếu thanh toán có ngày thanh toán trước ngày khoá thao tác</li>
                            <li>Cập nhật phiếu thanh toán có ngày thanh toán trước ngày khoá thao tác</li>
                            <li>Cấu hình thêm mới phân đoạn quảng cáo có chứa ngày bắt đầu/ngày kết thúc trước ngày khoá thao tác</li>
                            <li>Cấu hình xoá phân đoạn quảng cáo có chứa ngày bắt đầu/ngày kết thúc trước ngày khoá thao tác</li>
                            <li>Cấu hình thay đổi phân đoạn có chứa ngày bắt đầu/ngày kết thúc trước ngày khoá thao tác</li>
                            <li>Cấu hình tỉ giá</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" :disabled="isLoading">Thoát</button>
                        <button type="button" class="btn btn-primary" name="manipulation_locked" @click="toggle_lock_manipulation" :disabled="isLoading">Khoá thao tác</button>
                    </div>
                    <div v-if="isLoading" class="overlay">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>