<script>
    import _get from "lodash/get";
    import _map from "lodash/map";
    import vTimeline from "@/components/Utils/Timeline.vue";
    import { facebookadsService } from "@/_services/facebookads.service.js"

    export default {
        components: {
            vTimeline,
        },
        props: {
            contract_id: {
                type: Number,
                require: true
            }
        },
        data: () => ({
            isLoading: true,
            contractChainsData: [],
        }),
        mounted(){
            this.fetchData()
        },
        computed: {
            contractChains(){
                return _map(this.contractChainsData, (item) => {
                    let actual_budget = parseInt(_get(item, 'actual_budget')).toLocaleString('de-DE');
                    let spend = parseInt(_get(item, 'spend')).toLocaleString('de-DE');
                    let manual_spend = parseInt(_get(item, 'manual_spend')).toLocaleString('de-DE');
                    let join_spend_to = parseInt(_get(item, 'join_spend_to')).toLocaleString('de-DE');
                    let join_spend_from = parseInt(_get(item, 'join_spend_from')).toLocaleString('de-DE');

                    let renderData = {
                        title: _get(item, 'contract_code'),
                        content: `
                            <table class="table">
                                <tr>
                                    <th>Ngân sách:</th>
                                    <td style="text-align: right">${actual_budget}</td>
                                </tr>
                                <tr>
                                    <th>Chi tiêu tài khoản:</th>
                                    <td style="text-align: right">${spend}</td>
                                </tr>
                                <tr>
                                    <th>Ngân sách:</th>
                                    <td style="text-align: right">${actual_budget}</td>
                                </tr>
                                <tr>
                                    <th>Cân bằng thủ công:</th>
                                    <td style="text-align: right">${manual_spend}</td>
                                </tr>
                                <tr>
                                    <th>Số nhận:</th>
                                    <td style="text-align: right">${join_spend_from}</td>
                                </tr>
                                <tr>
                                    <th>Số chuyển:</th>
                                    <td style="text-align: right">${join_spend_to}</td>
                                </tr>
                            </table>
                        `
                    }

                    return renderData;
                });
            }
        },
        methods: {
            async fetchData(){
                this.isLoading = true;

                let response = await facebookadsService.getContractChainsV2(this.contract_id);
                let status = _get(response, 'status');
                if('success' != status)
                {
                    $.notify(_get(response, 'message'), 'error');

                    this.isLoading = false;
                    return;
                }

                this.contractChainsData = _get(response, 'data');
                
                this.isLoading = false;
            }
        }
    };
</script>

<template>
    <div v-if="contractChains.length > 1" class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Danh sách hợp đồng nối</h3>
        </div>

        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <div v-else class="box-body">
            <vTimeline
                :listItem="contractChains"
                contentType="html"
            ></vTimeline>
        </div>
    </div>
</template>
