<template>
    <div>
        <!-- :is_download="true" -->
        <v-datatable-builder
            v-if="APIDataset.length > 0"
            class="datatable"
            :is_filtering="true"
            :is_ordering="true"
            :custom_datatable_header="true"
            :custom_datatable_rows="true"
            :filter_position="filter_position"
            :per_page="50"
            :remote_url="APIDataset"
            :is_load_config="false"
            :default_query_params="APIDefaultParams"
            @datasource_changed="datasourceChanged"
        >
            <template slot="prepend_thead_filtering_partial">
                <th align="center" valign="middle"></th>
            </template>

            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th>
                        <div class="checkbox icheck-belizehole">
                            <input
                                type="checkbox"
                                id="termIdAllChk"
                                v-model="checkAll"
                            />
                            <label for="termIdAllChk"></label>
                        </div>
                    </th>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td>
                        <div class="checkbox icheck-belizehole">
                            <input
                                v-model="termIdsSelected"
                                class="termIdCheckbox"
                                type="checkbox"
                                name="carots[]"
                                :id="`termIdChk-${row.term_id}`"
                                :value="row.term_id"
                            />
                            <label :for="`termIdChk-${row.term_id}`"></label>
                        </div>
                    </td>
                    <td align="left">
                        <a
                            v-if="row.contract_code"
                            target="_blank"
                            :href="`${admin_url}/facebookads/overview/${row.term_id}`"
                        >
                            <b>{{ row.contract_code }}</b>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        align="right"
                        v-text="row.result_updated_on || '--'"
                    ></td>
                    <td
                        align="right"
                        v-text="row.time_next_api_check || '--'"
                    ></td>
                </tr>
            </template>
        </v-datatable-builder>

        <!-- Begin action -->
        <div class="d-flex">
            <button
                class="btn btn-warning btn-flat"
                style="margin-right: 1rem"
                data-toggle="modal"
                type="button"
                :data-target="`#${batchSyncId}`"
                :disabled="!isEnableSyncService"
                @click="openBatchSyncService"
            >
                <i class="fa fa-fw fa-refresh"></i> Đồng bộ ngay
                <span v-if="isEnableSyncService">
                    (có <b>{{ countSyncService }}</b> hợp đồng)
                </span>
            </button>
        </div>
        <!-- End action -->

        <!-- Begin Model sync spend -->
        <div class="modal fade" :id="batchSyncId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a
                            type="button"
                            :id="`${batchSyncId}-btn`"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">Danh sách Hợp đồng đồng bộ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table
                                border="1"
                                cellpadding="2"
                                cellspacing="1"
                                class="table table-bordered table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">
                                            Trạng thái
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Hợp đồng
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Ngày đồng bộ
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Ngày đồng bộ tiếp theo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="isEmpty(selectedContract)">
                                        <td colspan="6" align="center">
                                            Không có hợp đồng cần đồng bộ
                                        </td>
                                    </tr>
                                    <template v-for="item in selectedContract">
                                        <tr
                                            v-bind:key="`SyncServiceSelected-${item.term_id}`"
                                        >
                                            <td align="center">
                                                <span
                                                    v-if="
                                                        'pending' == item.status
                                                    "
                                                    class="text-muted"
                                                >
                                                    Chưa xử lý</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'running' == item.status
                                                    "
                                                    class="text-yellow"
                                                >
                                                    Đang gửi</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'publish' == item.status
                                                    "
                                                    class="text-green"
                                                >
                                                    Hoàn tất</span
                                                >
                                                <span v-else class="text-red">
                                                    Error</span
                                                >
                                            </td>
                                            <td
                                                align="left"
                                                v-text="item.contract_code"
                                            ></td>
                                            <td
                                                align="left"
                                                v-text="
                                                    item.result_updated_on ||
                                                    '--'
                                                "
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="
                                                    item.time_next_api_check ||
                                                    '--'
                                                "
                                            ></td>
                                        </tr>
                                        <tr
                                            v-if="
                                                'error' == item.status &&
                                                item.description
                                            "
                                            v-bind:key="`syncServiceSelected-errors-${item.term_id}`"
                                        >
                                            <td colspan="6" align="right">
                                                <span
                                                    class="label-danger"
                                                    style="
                                                        padding: 2px 10px 2px
                                                            10px;
                                                        border-radius: 8px;
                                                    "
                                                >
                                                    <i
                                                        class="icon fa fa-info"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    ></i>
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-default pull-left"
                            data-dismiss="modal"
                        >
                            Hủy bỏ
                        </button>
                        <button
                            type="button"
                            class="btn btn-warning"
                            :disabled="
                                isBatchingSync || isEmpty(selectedContract)
                            "
                            @click="batchSync"
                        >
                            Tiến hành Đồng bộ spend
                            <i style="margin-left: 8px" class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Model sync spend -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import { contractFacebookadsService } from "@/_services/contract.facebookads.service.js";

    export default {
        components: {
            vDatatableBuilder,
        },
        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIDataset: ApiEndpoints.valueOf("facebookads") + "/DatasetSync",
            APIDefaultParams: [],

            facebookadsContracts: [],

            checkAll: false,
            termIdsSelected: [],

            countSyncService: 0,
            isEnableSyncService: false,

            selectedContract: [],
            isBatchingSync: false,
            batchSyncId: _.uniqueId("vSpendSyncDatatable-BatchSyncId-Modal"),
            isBatchingStop: false,
            batchStopId: _.uniqueId("vSpendSyncDatatable-BatchStopId-Modal"),
        }),
        watch: {
            checkAll(value) {
                if (!value) {
                    this.termIdsSelected = [];
                    return false;
                }

                let tags = document.getElementsByClassName("termIdCheckbox");
                const termIds = _.map(tags, (o) => o.value);
                this.termIdsSelected = termIds;
            },
            isBatchingSync(value) {
                if (!value) this.updated();
            },
            termIdsSelected(value) {
                if (_.isEmpty(value)) {
                    this.isEnableSyncService = false;
                    this.countSyncService = 0;
                } else {
                    this.isEnableSyncService = true;
                    this.countSyncService = value.length;
                }
            },
        },
        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },

            datasourceChanged(items) {
                this.facebookadsContracts = items;
            },

            closeUpdateBox() {
                this.termIdSelected = 0;
            },

            updated() {
                let _tmp = this.APIDataset;
                this.APIDataset = "";

                setTimeout(() => {
                    this.APIDataset = _tmp;
                }, 1000);
            },

            openBatchSyncService() {
                this.selectedContract = [];
                let facebookadsContracts = _.cloneDeep(
                    this.facebookadsContracts
                );
                let _contract = _.filter(facebookadsContracts, (item) => {
                    return _.includes(this.termIdsSelected, item.term_id);
                });

                this.selectedContract = _.map(_contract, (item) => {
                    return {
                        term_id: item.term_id,
                        contract_code: item.contract_code,
                        result_updated_on: item.result_updated_on,
                        time_next_api_check: item.time_next_api_check,
                        status: "pending",
                        description: null,
                    };
                });
            },

            async batchSync() {
                this.isBatchingSync = true;

                for (let contract of this.selectedContract) {
                    contract.status = "running";

                    try {
                        let response =
                            await contractFacebookadsService.computeMetrics(
                                contract.term_id
                            );

                        if (200 == _.get(response, "code")) {
                            contract.status = "publish";

                            continue;
                        }

                        contract.status = "error";
                        contract.description = _.get(response, "message");
                    } catch (err) {
                        contract.status = "error";
                        contract.description = err;
                    }
                }

                this.isBatchingSync = false;
            },
        },
    };
</script>
