<script>

import vDatatableBuilder from '@/components/vDatatableBuilder.vue'
import vUserList from '@/components/Utils/vUserList.vue'
import DateRangePicker from 'vue2-daterange-picker'
import _get from 'lodash/get'
import _isEmpty from 'lodash/isEmpty'
import { ApiEndpoints } from '@/_config/api.endpoints.js'

export default {

    components: {
        vDatatableBuilder,
        vUserList,
        DateRangePicker
    },

    name: 'vSpendReportContainer',
    data (){

        let dateRanges = {};
        let today = new Date()
        today.setHours(0, 0, 0, 0)
        dateRanges['Hôm nay'] = [today, today]

        let yesterday = new Date()
        yesterday.setDate(today.getDate() - 1)
        yesterday.setHours(0, 0, 0, 0);
        dateRanges['Hôm qua'] = [yesterday, yesterday]

        let y = today.getFullYear()
        let m = today.getMonth()

        let thisMonthStart 	= new Date(y, m, 1)
        let thisMonthEnd 	= new Date(y, m + 1, 0)
        dateRanges['Tháng này'] = [thisMonthStart, thisMonthEnd]

        let i = 1
        while( i < 4)
        {
            let _start 	= new Date(y, (m-i), 1)
            let _end 	= new Date(y, (m-i) + 1, 0)
            dateRanges[`Tháng ${_start.getMonth()+1}`] = [_start, _end]
            i++
        }
        
        return {
            admin_url: admin_url,
            base_url: base_url,

            APIDataset: ApiEndpoints.valueOf('facebookads') + '/dataset',
            APISpendDefaultParams: [],
            APISpend: null,
            APISpendByMonth: ApiEndpoints.valueOf('facebookads') + '/DataReport/monthly',
            APISpendByDateRange: ApiEndpoints.valueOf('facebookads') + '/DataReport/ranges',

            filter_position: 1,

            dateRange: {
                startDate: thisMonthStart,
                endDate: thisMonthEnd,
            },

            dateRanges : dateRanges
        }
    },

    created () {
        this.switchAPISpend()
    },

    methods: {

        switchAPISpend () {

            this.APISpend = null
            this.APISpendDefaultParams = []
            let _type = this.getAPITypeByDateRanges()

            if('MONTHLY' == _type)
            {
                let _m = this.dateRange.startDate.getMonth() + 1
                let _y = this.dateRange.endDate.getFullYear()

                this.APISpend 				= this.APISpendByMonth
                this.APISpendDefaultParams 	= [ { month: _m, year: _y } ]
                return true
            }

            let _start = parseInt(this.dateRange.startDate.getTime()/1000)
            let _end = parseInt(this.dateRange.endDate.getTime()/1000)
            this.APISpend = `${this.APISpendByDateRange}/${_start}/${_end}`
            return true
        },

        getAPITypeByDateRanges () {

            let start = this.dateRange.startDate
            let end = this.dateRange.endDate

            /** Lấy theo từng ngày */
            if(start.toDateString() == end.toDateString()) return "DATERANGE"

            let _isSameMonth = start.getMonth() == end.getMonth()
            let _isSameYear = start.getFullYear() == end.getFullYear()

            /** Lấy theo khoảng thời gian */
            if(!_isSameMonth || !_isSameYear) return "DATERANGE"

            /** Trường hợp ngày bắt đầu và kết là cùng tháng và cùng năm */
            if(_isSameMonth && _isSameYear)
            {
                let thisMonthStart 	= new Date(start.getFullYear(), start.getMonth(), 1)
                let thisMonthEnd 	= new Date(start.getFullYear(), start.getMonth() + 1, 0)
                let isStartOfMonthDay = start.getDate() == thisMonthStart.getDate()
                let isEndOfMonthDay = end.getDate() == thisMonthEnd.getDate()

                /** Trường hợp lấy cả tháng */
                if(isStartOfMonthDay && isEndOfMonthDay) return 'MONTHLY'
            }

            /** Trường hợp còn lại sẽ được lấy theo khoảng thời gian */
            return 'DATERANGE'
        },
        
        DatesSelected () {
            this.switchAPISpend()
        },

        moment (unix, format) {
            
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        get(item, ref){
            return _get(item, ref);
        },

        isEmpty(item){
            return _isEmpty(item);
        }
    }
}
</script>
<template>
    <v-datatable-builder
        :is_filtering="false"
        :is_ordering="true"
        :is_download="true"
        :custom_datatable_rows="true"
        :custom_datatable_header="true"
        :per_page="50"
        :filter_position="filter_position"
        :remote_url="APISpend"
        :default_query_params="APISpendDefaultParams"
        :is_load_config="false"
        class="datatable"
    >
        <template slot="table_body_header" slot-scope="{ items }">
            <tr>
                <th
                    v-for="(heading, key, i) in items"
                    v-bind:key="`datatable-headings-${i}`"
                    nowrap="nowrap"
                    style="vertical-align: top"
                    :class="{
                        'datatable__header--min-width-15':                    
                            key == 'start_date' ||
                            key == 'end_date' ||
                            key == 'term_status' ||
                            key == 'account_currency' ||
                            key == 'remain_budget' ||
                            key == 'exchange_rate' ||
                            key == 'spend' ||
                            key == 'service_fee' ||
                            key == 'discount_amount' ||
                            key == 'service_fee_rate' ||
                            key == 'service_fee_rate_actual' ||
                            key == 'actual_budget',
                        'datatable__header--min-width-20':
                            key == 'customer_code' ||
                            key == 'customer_name' ||
                            key == 'adaccount_id' ||
                            key == 'Service' ||
                            key == 'typeOfService' ||
                            key == 'contract_value',
                        'datatable__header--min-width-25':
                            key == 'tech' ||
                            key == 'staff_business',
                    }"
                    v-html="heading"
                ></th>
            </tr>
        </template>
        <template slot="table_body_rows" slot-scope="{ items }">
            <tr v-for="(row, i) in items" :key="`datatable-filter-row-${i}`">
                <td 
                    nowrap 
                    class="datatable__cell--middle" 
                    style="
                        max-width: 50rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    "
                >
                    <a :href="`${admin_url}/facebookads/overview/${row.term_id}`" target="_blank"> <i style="margin-right: 5px" class="fa fw fa-external-link-square"></i> <b>{{ row.contract_code }}</b></a>
                </td>
                <td nowrap class="datatable__cell--middle">
                    <a :href="`${admin_url}/customer/edit/${row.customer_id}`" target="_blank">{{ row.customer_code }}</a>
                </td>
                <td nowrap class="datatable__cell--middle" v-text="row.customer_name"></td>

                <td nowrap class="datatable__cell--middle" v-text="row.Service"></td>
                <td nowrap class="datatable__cell--middle" v-text="row.payment_type"></td>
                <td nowrap class="datatable__cell--middle" v-text="row.typeOfService"></td>
                <td nowrap class="datatable__cell--middle" v-text="row.adaccount_id"></td>
                <td nowrap class="datatable__cell--middle" v-text="row.adaccount_name"></td>
                <td nowrap class="datatable__cell--middle">
                    <vUserList :users="row.tech"></vUserList>
                </td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.contract_daterange"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.contract_value ? parseInt(row.contract_value).toLocaleString('de-DE') : '--'"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.start_date"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.end_date"></td>
                <td nowrap class="datatable__cell--middle" v-text="row.term_status"></td>
                <td nowrap class="datatable__cell--middle">
                    <span v-if="isEmpty(row.staff_business)">--</span>
                    <a v-else :href="`javascript:void(${get(row, 'staff_business.user_id')})`">
                        <div class="d-flex">
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="`${get(row, 'staff_business.user_avatar')}`"
                            />
                            <div>
                                <span><b> {{ get(row, 'staff_business.display_name') }} </b></span>
                            </div>
                        </div>
                    </a>
                </td>
                <td nowrap class="datatable__cell--middle" v-text="row.department"></td>
                <td nowrap class="datatable__cell--middle" align="center" v-text="row.account_currency"></td>

                <td nowrap class="datatable__cell--middle" align="right" v-text="row.remain_budget ? parseInt(row.remain_budget).toLocaleString('de-DE') : '--'"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.exchange_rate ? parseInt(row.exchange_rate).toLocaleString('de-DE') : '--'"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="parseInt(row.spend).toLocaleString('de-DE')"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="parseInt(row.service_fee).toLocaleString('de-DE')"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="row.discount_amount ? parseInt(row.discount_amount).toLocaleString('de-DE') : '--'"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="(row.service_fee_rate.toFixed(2)).toLocaleString('de-DE') + ' %'"></td>
                <td nowrap class="datatable__cell--middle" align="right" v-text="(row.service_fee_rate_actual.toFixed(2)).toLocaleString('de-DE') + ' %'"></td>
            </tr> 
        </template>   
        <template slot="tools_extra_right">
            <div class="pull-right">
                <date-range-picker
                    @update="DatesSelected()"
                    v-model="dateRange"
                    :ranges="dateRanges"
                    opens="left"
                >
                </date-range-picker>
            </div>
        </template>
        
    </v-datatable-builder> 
</template>