<script>
import vViewerComponent from '@/components/viewers/vViewerComponent.vue'
import vAdAccount from '@/components/AdWarehouse/vAdAccount.vue'
import vBussinessManager from '@/components/AdWarehouse/vBussinessManager.vue'
import vCreateBusinessManager from '@/components/AdWarehouse/vCreateBusinessManager.vue'
import { ApiEndpoints } from "@/_config/api.endpoints.js";

export default {

    data () {
        return {
            activeTab: window.location.hash.slice(1) ? window.location.hash.slice(1) : "tab-1",
            views : [
                {
                    id: 1,
                    name: 'adWarehouses',
                    label: 'Thống kê - kho tài khoản',
                    
                    remote_url: ApiEndpoints.valueOf("factWarehouseSummary"),
                    general_config_api_url: ApiEndpoints.valueOf("factWarehouseSummary") + "config",

                    columns : [
                    ],
                    primary_column: 'fact_warehouse_summary_id',
                    filters: [
                        {	
                            column: 'bm_id',
                            operator: '=',
                            value: '1'
                        },
                        {	
                            column: 'ad_account_name',
                            operator: 'like',
                            value: 'aaa'
                        },
                    ],
                    order_by: {
                        column: 'ad_account_name', 
                        director : 'asc'
                    }
                },
                {
                    id: 2,
                    name: 'all',
                    label: 'Thống kê xuất - nhập',
                    remote_url: ApiEndpoints.valueOf("adWarehouse"),
                    general_config_api_url: ApiEndpoints.valueOf("adWarehouse") + "/config",
                    columns : [
                        'bm_id', 
                        'ad_warehouse_id',
                        'ad_account_id'
                    ],
                    filters: [
                        {	
                            column: 'bm_id',
                            operator: '=',
                            value: '1'
                        },
                        {	
                            column: 'ad_account_name',
                            operator: 'like',
                            value: 'aaa'
                        },
                    ],
                    order_by: {
                        column: 'ad_account_name', 
                        director : 'asc'
                    }
                }
            ]
        }
    },

    computed: {
        ad_account(){
            return this.$store.state.adWarehouse.ad_account_selected
        },

        ad_account_status(){
            return _.get(this.ad_account, "ad_account_status", "")
        },

        ad_business_manager(){
            return this.$store.state.adWarehouse.ad_business_manager_selected
        },

        ad_business_manager_status(){
            return _.get(this.ad_business_manager, "ad_business_manager_verification_status", "")
        }
    },

    methods: {
        get(item, ref){
            return _.get(item, ref)
        },
        changeTab (tabId) {
            this.activeTab = tabId
            history.pushState({}, null, `#${tabId}`)
        }
    },

    components: {
        vViewerComponent,
        vAdAccount,
        vCreateBusinessManager,
        vBussinessManager,
    },
}
</script>

<template>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li v-for="view in views" :class="[activeTab == 'tab-'+view.id ? 'active' : '']">
                        <a v-on:click="changeTab('tab-' + view.id)" :href="'tab-' + view.id" data-toggle="tab">
                            <i class="fa fa-list-ul"></i> {{ view.label }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div v-for="view in views" :class="['tab-pane', activeTab == 'tab-'+view.id ? 'active' : '']" :id="'tab-'+view.id">
                        <vViewerComponent :view="view">
                            <template slot="manager_business_create_modal_body">
                                <vCreateBusinessManager></vCreateBusinessManager>
                            </template>

                            <template slot="manager_business_modal_title">
                                <h4 style="padding: 4px 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <span class="pull-left-container" style="margin-right: 8px"><small :class="['label', ('verified' == ad_business_manager_status ? 'bg-green' : ('not_verified' == ad_business_manager_status ? 'bg-red' : 'bg-gray-active'))]">{{ ad_business_manager_status.toUpperCase() }}</small></span>
                                    {{ get(ad_business_manager, "ad_business_manager_business_id") }} - {{ get(ad_business_manager, "ad_business_manager_name") || "(Chưa đặt tên)" }}
                                </h4>
                            </template>
                            <template slot="manager_business_modal_body" slot-scope="{ ad_business_manager_id }">
                                <vBussinessManager :ad_business_manager_id="ad_business_manager_id"></vBussinessManager>
                            </template>
                            
                            <template slot="ad_account_modal_title">
                                <h4 style="padding: 4px 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <span class="pull-left-container" style="margin-right: 8px"><small :class="['label', ('ACTIVE' == ad_account_status ? 'bg-green' : ('DISABLED' == ad_account_status ? 'bg-red' : 'bg-gray-active'))]">{{ ad_account_status.toUpperCase() }}</small></span>
                                    {{ get(ad_account, "ad_account_account_id") }} - {{ get(ad_account, "ad_account_name") || "(Chưa đặt tên)" }}
                                </h4>
                            </template>
                            <template slot="ad_account_modal_body" slot-scope="{ ad_account_id }">
                                <vAdAccount :ad_account_id="ad_account_id"></vAdAccount>
                            </template>
                        </vViewerComponent>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>