.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #FFAF5F 29%,
    #FFAF5F 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.line-clamp-1{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.amount_revenue{
    font-size: 32px;
}

.light{
    position: absolute;
    animation: light 4s linear infinite;
    transform: rotate(-45deg);
    background-color: #fff;
    box-shadow: 0 30px 0 0 #fff;
    width: 100px;
    height: 20px;
    z-index: 100;
}

@keyframes light {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: 100%;
        left: 100%;
    }
}

<<<<<<< HEAD
.ball{
    position: absolute;
    animation-name: ball, rotate; /* Danh sách các animation cách nhau bằng dấu phẩy */
    animation-duration: 4s, 1s; /* Thời gian chạy cho từng animation */
    animation-timing-function: linear, ease-in-out; /* Timing function cho từng animation */
    animation-iteration-count: infinite, infinite;
    z-index: 100;
}

@keyframes ball {
    from {
        top: 0;
    }
    to {
        top: 60%;
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
    
}

=======
>>>>>>> staging
@media  (min-width: 768px) {
    .amount_revenue{
        font-size: 28px;
    }
    
}
@media (min-width: 992px) {
    .amount_revenue{
        font-size: 32px;
    }
    
}
@media (min-width: 1200px) {
    .amount_revenue{
        font-size: 36px;
    }
    
}

@media (min-width: 1560px) {
    .amount_revenue{
        font-size: 50px;
    }
}