
<script>

import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';


import { converNumber } from '../../../_helpers/utils.helpers'

import CardContrainer from '../../CardContrainer.vue'
import Placeholder from '../../Placeholder.vue';
import Tooltip from '../../Tooltip.vue';
export default {
    components: { CardContrainer, Placeholder, Tooltip },
    props: {
        isLoading: {
            type: Boolean,
            default: false,
        },
        revenue: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {

        }
    },
 
    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _converNumber(number) {
            return converNumber(number);
        },

        _getIncreaseOrDecrease(number) {
            if (isNaN(number)) return 'Giảm'
            return Number(number) > 0 ? 'Tăng' : 'Giảm'
        },

        _getTypeRank(current, target) {
            if(isNaN(current) || isNaN(target)) return '0'
            const percent = Math.ceil(Number(current) / Number(target) * 100)
            if(percent < 50) return 'copper'
            if(percent < 100) return 'silver'
            return 'gold'
        },

    }
}
</script>

<template>
    <card-contrainer :is_footer="true" 
        :class-name="{
            'bg-gray': !_isEmpty(revenue) &&  _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper',
            'bg-green': !_isEmpty(revenue) && _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold',
            'bg-white': !_isEmpty(revenue) && _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver',
        }"
    >
        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                    doanh thu đạt được
                </b>
            </h5>
        </template>
        <template #card-body>
            <div v-if="!_isEmpty(revenue)" id="animation-container" :style="{
                    display: 'flex',
                    flexDirection: 'column',
                    justifyContent: 'center',
                    gap: '4px',
                    alignItems: 'center',
                    height: '100%',
                    position: 'relative',
                }"
            > 
            <!-- backgroundColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 1)`,
            filter: 'brightness(1.5)', -->
                <div v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold'" :style="{
                    position: 'absolute',
                    width: '90%',
                    height: '100%',
                    left: '50%',
                    transform: 'translateX(-50%)',
                    overflow: 'hidden',
                    zIndex: 100,
                }">
                    <div id="ball" class="ball"
                        v-for="item in 100" :key="item"
                        :style="{
                            width: `10px`,
                            height: `10px`,
                            backgroundColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 1)`,
                            filter: 'brightness(1.5)',
                            left: Math.random() * 615 + '10px',
                            animationDuration:  `${Math.random() * 5 + 1}s,1s`,
                        }"
                    >
                </div>

                </div>
                <h3 :style="{
                    fontWeight: '700',
                    fontSize: '3rem',
                   
                }">
                   {{ _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold' ? 'Bạn là nhất' : 'Tiến độ doanh thu' }}
                </h3>
                <Placeholder :is_loading="isLoading">
                    <div :style="{
                        display: 'flex',
                        flexDirection: 'column',
                        justifyContent: 'center',
                        gap: '4px',
                        alignItems: 'center',
                        position: 'relative',
                    }">
                        
                        <!-- <img src="/src/assets/image/cup.png" class="img-responsive" alt="Responsive image"
                            v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) !== 'gold' "
                            :style="{
                                filter: _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper' ? 'hue-rotate(316deg)' :_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver' ? 'grayscale(100%)' : 'a0e1c7',
                            }"
                        >    -->
                        <div v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold' "
                            :style="{
                                position: 'relative'
                            }"
                        >
                            <div :style="{
                                width: '150px',
                                position: 'absolute',
                                left: '50%',
                                transform: 'translateX(-50%)',
                                height: '150px',
                                borderRadius: '50%',
                                backgroundColor: _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper' ? '#333' :_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver' ? '#333' :'#333',
                                zIndex: '0'
                            }">
                                
                            </div>
                            <!-- <img src="/src/assets/image/codongvien-unscreen.gif" alt=""
                                :style="{

                                    width: '200px' 
                                }"
                            > -->
                            <img src="/src/assets/image/cupvang1.png" alt="cupvang"
                                :style="{
                                    height: '250px',
                                    position: 'relative',
                                    zIndex: '1',
                                    borderBottom: '1px solid #333'
                                }"
                            >
                            <img src="/src/assets/image/logoeom.png" alt="logoeom"
                                :style="{
                                    height: '110px',
                                    position: 'absolute',
                                    zIndex: '1',
                                    left: '50%',
                                    transform: 'translateX(-50%)',
                                    top: '10%'
                                }"
                            >
                        </div>
                        <div v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper' "
                            :style="{
                                position: 'relative'
                            }"
                        >
                            <div :style="{
                                width: '150px',
                                position: 'absolute',
                                left: '50%',
                                transform: 'translateX(-50%)',
                                height: '150px',
                                borderRadius: '50%',
                                backgroundColor: _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper' ? '#333' :_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver' ? '#333' :'#193f00',
                                zIndex: '0'
                            }">
                                
                            </div>
                            <!-- <img src="/src/assets/image/codongvien-unscreen.gif" alt=""
                                :style="{

                                    width: '200px' 
                                }"
                            > -->
                            <img src="/src/assets/image/cupdong.png" alt="cupdong"
                                :style="{
                                    height: '250px',
                                    position: 'relative',
                                    zIndex: '1',
                                    borderBottom: '1px solid #333'
                                }"
                            >
                        </div>
                        <div v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver' "
                            :style="{
                                position: 'relative'
                            }"
                        >
                            <div :style="{
                                width: '150px',
                                position: 'absolute',
                                left: '50%',
                                transform: 'translateX(-50%)',
                                height: '150px',
                                borderRadius: '50%',
                                backgroundColor: _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'copper' ? '#333' :_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'silver' ? '#333' :'#193f00',
                                zIndex: '0'
                            }">
                                
                            </div>
                            <!-- <img src="/src/assets/image/codongvien-unscreen.gif" alt=""
                                :style="{

                                    width: '200px' 
                                }"
                            > -->
                            <img src="/src/assets/image/cupbac.png" alt="cupbac"
                                :style="{
                                    height: '250px',
                                    position: 'relative',
                                    zIndex: '1',
                                    borderBottom: '1px solid #333'
                                }"
                            >
                        </div>
                        <!-- <img src="/src/assets/image/giphy-2--unscreen.gif" alt="" style="width: 100%; height: 250px; object-fit: contain"
                            v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold' "
                        > -->
                    </div>
                </Placeholder>
                <b>
                    <h1 :class="{
                        '':  _getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold'
                    }">
                        <Placeholder :is_loading="isLoading"> 
                            <div class="line-clamp-1 amount_revenue" 
                            :style="{ fontWeight: '700' }"
                            
                            >
                                {{ _converNumber(_get(revenue, 'value', 0)) }}
                            </div>
                        </Placeholder>
                    </h1>
                </b>
                <b style="font-style: italic; font-size: 1.8rem"
                >
                    <Placeholder :is_loading="isLoading">
                        <Tooltip>
                            <template #content>
                                {{ _getIncreaseOrDecrease(_get(revenue, 'samePeriodComparison.changeRatioPercent', 0)) }} {{
                                    _converNumber(Math.abs(_get(revenue, 'samePeriodComparison.changeRatioPercent', 0) * 100)) }}%
                                so với kỳ trước
                            </template>
                            <template #tooltip>
                                <div style='display: flex; gap: 4px; flex-direction: column; align-items: flex-start'>
                                    <b>Kỳ trước:</b>
                                    <div style="white-space: nowrap;">
                                        Doanh thu: {{_converNumber(_get(revenue, 'samePeriodComparison.value', 0))}}
                                    </div>
                                    <div  style="white-space: nowrap;">
                                        Kpi: {{_converNumber(_get(revenue, 'samePeriodComparison.kpi', 0))}}
                                    </div>
                                    <div  style="white-space: nowrap;">
                                        Trạng thái: {{_get(revenue, 'samePeriodComparison.status') == 'complete' ? 'Hoàn thành' : 'Không hoàn thành'}}
                                    </div>
                                </div>
                            </template>
                        </Tooltip>
                       
                    </Placeholder>
                </b>
            </div>
            <div v-else
                :style="{
                    display: 'flex',
                    flexDirection: 'column',
                    justifyContent: 'center',
                    alignItems: 'center',
                    gap: '4px',
                    height: '100%',
                }"
            >
                <img src="/src/assets/image/databuilder-nodata.jpeg" alt=""
                    style="height: 150px;"
                >
                <b class="text-red" style="font-size: 1.2rem">Không có dữ liệu</b>
            </div>
        </template>
        <template #card-footer>
            <div :style="{
                display: 'flex',
                flexDirection: 'column',
                justifyContent: 'center',
                gap: '4px',
                alignItems: 'center',
                fontSize: '1.2em',
                opacity: _isEmpty(revenue) ? 0 : 1
            }">
                <Placeholder :is_loading="isLoading">
                    <div :style="{ textAlign: 'center' }">
                        <b v-if="_getTypeRank(_get(revenue, 'value', 0), _get(revenue, 'kpi', 0)) === 'gold' "
                        >
                            Chúc mừng bạn đã đạt đủ doanh số KPI được đề ra là {{ _converNumber(_get(revenue, 'kpi')) }} đ
                        </b>
                        <b v-else>
                            Còn {{ _converNumber(Number(_get(revenue, 'kpi')) - Number(_get(revenue, 'value', 0))) }} đ để hoàn thành KPI, Cố lên!
                        </b>
                    </div>
                </Placeholder>        
            </div>
        </template>
    </card-contrainer>
</template>