table caption {
	font-size: 19px;
	color: black;
	padding: 0px 0 8px 0;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 500;
}

.skin-blue table caption, .skin-blue-light table caption{
    box-shadow: 0px -2px 0px 0px #3c8dbc inset;
}
.skin-green table caption, .skin-green-light table caption {
    box-shadow: 0px -2px 0px 0px #00a65a inset;
}
.skin-purple table caption, .skin-purple-light table caption {
    box-shadow: 0px -2px 0px 0px #605ca8 inset;
}
.skin-red table caption, .skin-red-light table caption {
    box-shadow: 0px -2px 0px 0px #dd4b39 inset;
}
.skin-yellow table caption, .skin-yellow-light table caption {
    box-shadow: 0px -2px 0px 0px #f39c12 inset;
}

.box-body>.table 
{
	    margin-bottom: 20px;
}


.skin-blue .box.box-theme, .skin-blue-light .box.box-theme{
    border-top-color: #3c8dbc;
}
.skin-green .box.box-theme, .skin-green-light .box.box-theme {
    border-top-color: #00a65a;
}
.skin-purple .box.box-theme, .skin-purple-light .box.box-theme {
    border-top-color: #605ca8;
}
.skin-red .box.box-theme, .skin-red-light .box.box-theme {
    border-top-color: #dd4b39;
}
.skin-yellow .box.box-theme, .skin-yellow-light .box.box-theme {
    border-top-color: #f39c12;
}

.pull-center {
    position: absolute;
    left: 50%;
}
.img-circle:hover{
	transform: scale(3);
}
.img-circle{
	transition: transform .5s;
	border-radius: 50%;
	transform: scale(1);
}
.bwizard-steps {
	display: inline-block;
	margin: 0; padding: 0;
	background: #fff }
	.bwizard-steps .active {
		color: #fff;
		background: #007ACC }
	.bwizard-steps .active:after {
		border-left-color: #007ACC }
	.bwizard-steps .active a {
		color: #fff;
		cursor: default }
	.bwizard-steps .label {
		position: relative;
		top: -1px;
		margin: 0 5px 0 0; padding: 1px 5px 2px }
	.bwizard-steps .active .label {
		background-color: #333;}
	.bwizard-steps li {
		display: inline-block; position: relative;
		margin-right: 5px;
		padding: 12px 17px 10px 30px;
		*display: inline;
		*padding-left: 17px;
		background: #efefef;
		line-height: 18px;
		list-style: none;
		zoom: 1; }
	.bwizard-steps li:first-child {
		padding-left: 12px;
		-moz-border-radius: 4px 0 0 4px;
		-webkit-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px; }
	.bwizard-steps li:first-child:before {
		border: none }
	.bwizard-steps li:last-child {
		margin-right: 0;
		-moz-border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0; }
	.bwizard-steps li:last-child:after {
		border: none }
	.bwizard-steps li:before {
		position: absolute;
		left: 0; top: 0;
		height: 0; width: 0;
		border-bottom: 20px inset transparent;
		border-left: 20px solid #fff;
		border-top: 20px inset transparent;
		content: "" }
	.bwizard-steps li:after {
		position: absolute;
		right: -20px; top: 0;
		height: 0; width: 0;
		border-bottom: 20px inset transparent;
		border-left: 20px solid #efefef;
		border-top: 20px inset transparent;
		content: "";
		z-index: 2; }
	.bwizard-steps a {
		color: #333 }
	.bwizard-steps a:hover {
		text-decoration: none }
.bwizard-steps.clickable li:not(.active) {
	cursor: pointer }
.bwizard-steps.clickable li:hover:not(.active) {
	background: #ccc }
.bwizard-steps.clickable li:hover:not(.active):after {
	border-left-color: #ccc }
.bwizard-steps.clickable li:hover:not(.active) a {
	color: #08c }
@media (max-width: 480px) {
	/* badges only on small screens */
	.bwizard-steps li:after,
	.bwizard-steps li:before {
		border: none }
	.bwizard-steps li,
	.bwizard-steps li.active,
	.bwizard-steps li:first-child,
	.bwizard-steps li:last-child {
		margin-right: 0;
		padding: 0;
		background-color: transparent }
}

body.login-page.pace-done {
    background: url(../img/background-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: #E5E9EC; */
}

.button-simulate{
	border: none;
    background-color: transparent;
    width: 100%;
    text-align: left
}

.input-group-addon .btn-group-xs>.btn,.input-group-addon .btn-xs
{
    padding: 0px 5px;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: solid 1px #0088cc;
}

.td-primary-search{
	width: 50px;
}

label.error{
	color: #dd4b39;
}

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    min-height: 100%;
    overflow: hidden;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

.load-4 .ring-1 {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-5 .ball-holder {animation: loadingE 1.3s linear infinite;}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}

.load-7 .square {animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.load-9 .spinner {animation: loadingI 2s linear infinite;}
.load-9 .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.load-9 .bubble-2 {animation-delay: -1.0s;}

.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingE {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}

input.no-border-but-bottom
{
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom-color: #3c8dbc;
  font-weight: bold;
  padding-left: 10px;
}

#facebookads-container .progress-group .progress-number { font-size: 0.8em !important; }
.floatThead-container {z-index:2 !important;}

.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.table-bordered {
    border: 1px solid #e2e3e3;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e2e3e3;
}

table.table-main-dataset thead tr > th {
  position: sticky !important;
  padding:.5rem;
  z-index:2;
  top: 0;
  /*left:0;*/
}

table.table-main-dataset thead tr th {
  background:white !important;
}
  
table.table-main-dataset thead tr > :first-child {
  z-index:3;
  left:0;
  /* box-shadow: inset -1px 0px 2px 0px #d2d2d2; */
  /*top:0;*/
}
  
table.table-main-dataset tbody tr > :first-child {
  position: sticky;
  z-index:1;
  left:0;
  /* box-shadow: inset -1px 0px 2px 0px #d2d2d2; */
}

table.table-main-dataset > tbody > tr > td{
  background-color:white;
}

table.table-main-dataset > tbody > tr:hover > td{
    background-color: #f5f5f5;
}

table.table-main-dataset.table-striped > tbody > tr:nth-of-type(odd) > td{
    background-color: #f9f9f9;
}

html {
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

div.main-datatable {
  height: 70vh;
  overflow: scroll;
}

.fa-xs {
  font-size : 10px;
}

div.daterangepicker.ltr.show-calendar.show-ranges.opensleft.linked {
  min-width: 700px !important
}

div.daterangepicker.ltr.show-calendar.show-ranges.opensleft.linked > div.calendars > div.ranges {
  margin:0 !important
}

body {
  zoom: 90% !important;
}

.vdp-datepicker input.form-control {
  z-index: 0 !important;
}

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 500px;
        max-width: 100vw;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

    .modal.left .modal-dialog.w-600,
    .modal.right .modal-dialog.w-600{
        width: 600px;
    }

    .modal.left .modal-dialog.w-700,
    .modal.right .modal-dialog.w-700{
        width: 700px;
    }

    .modal.left .modal-dialog.w-800,
    .modal.right .modal-dialog.w-800{
        width: 800px;
    }

    .modal.left .modal-dialog.w-900,
    .modal.right .modal-dialog.w-900{
        width: 900px;
    }

    .modal.left .modal-dialog.w-1000,
    .modal.right .modal-dialog.w-1000,
    .modal.left .modal-dialog.expand,
	.modal.right .modal-dialog.expand {
        width: 1000px;
    }

	.modal.left .modal-content,
	.modal.right .modal-content {
        height: 100%;
		overflow-y: auto;
        display: flex;
        flex-direction: column;
	}

    .modal.left .modal-header,
	.modal.right .modal-header {
		flex-shrink: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        background-color: #fff;
	}

    .modal.left .modal-body,
	.modal.right .modal-body {
		padding: 80px 15px 0px;
        flex: 1;
        display: flex;
        flex-direction: column;
	}

    .modal.left .modal-body > div,
	.modal.right .modal-body > div{
		flex: 1;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -500px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
        -webkit-transition: width 0.1s linear;
		   -moz-transition: width 0.1s linear;
		     -o-transition: width 0.1s linear;
		        transition: width 0.1s linear;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -500px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
        -webkit-transition: width 0.1s linear;
		   -moz-transition: width 0.1s linear;
		     -o-transition: width 0.1s linear;
		        transition: width 0.1s linear;
	}

.img__avatar--sm{
    max-width: calc(8px * 4);
    max-height: calc(8px * 4);
    width: 100%;
    height: 100%;
}

.img__avatar--md{
    max-width: calc(8px * 6);
    max-height: calc(8px * 6);
    width: 100%;
    height: 100%;
}

.img__avatar--circle{
    border-radius: 50%;
}

.datatable .datatable__cell--middle{
    vertical-align: middle;
}

.datatable .datatable__header--min-width-5{
    min-width: 5rem !important;
}

.datatable .datatable__header--min-width-6{
    min-width: 6rem !important;
}

.datatable .datatable__header--min-width-7{
    min-width: 7rem !important;
}

.datatable .datatable__header--min-width-8{
    min-width: 8rem !important;
}

.datatable .datatable__header--min-width-9{
    min-width: 9rem !important;
}

.datatable .datatable__header--min-width-10{
    min-width: 10rem !important;
}

.datatable .datatable__header--min-width-15{
    min-width: 15rem !important;
}

.datatable .datatable__header--min-width-20{
    min-width: 20rem !important;
}

.datatable .datatable__header--min-width-25{
    min-width: 25rem !important;
}

.datatable .datatable__header--min-width-30{
    min-width: 30rem !important;
}

.datatable .datatable__header--min-width-50{
    min-width: 50rem !important;
}

.datatable .datatable__header--min-width-100{
    min-width: 100rem !important;
}
/* Datatable */

.d-flex{
    display: flex;
    align-items: center;
}

/* Typo */
.typo * {
    margin: 0;
    padding: 0;
}

.typo .typo__header {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.typo .typo__body {
    margin-bottom: 16px;
}

.typo .typo__section {
    margin-bottom: 8px;
}

.typo .typo__body .typo__section .typo__label, .typo .typo__body .typo__section .typo__label--md{
    font-size: 1.2rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__label--sm{
    font-size: 1rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__label--lg{
    font-size: 1.3rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__text, .typo .typo__body .typo__section .typo__text--md{
    font-size: 1.6rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__text--sm{
    font-size: 1.2rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__text--lg{
    font-size: 2rem;
    word-break: break-all;
}

.typo .typo__body .typo__section .typo__text--strong{
    font-weight: bold;
}

.typo .typo__body .typo__account{
    display: flex;
    align-items: center;
}
/* Typo */

/* Popover */
.popover__wrapper{
    margin-right: 8px;
    position: relative;
}

.popover__wrapper .popover__content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 10px);
    background-color: #edecec;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    min-width: 60px;
}

.popover__wrapper .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: -8px;
    left: 6px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #edecec transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content{
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 8px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__wrapper .popover__content .popover__content--title{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
/* Popover */

/* Avatar list */
.avatar__list{
    display: flex;
}

.avatar__list .avatar__list--item:nth-child(n+2){
    margin-left: -6px;
}

.avatar__list--item .avatar__list--content{
    width: 32px;
    height: 32px;
    background-color: rgb(170, 168, 168);
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}

.avatar__list .popover__content{
    transform: translate(0, 40px) !important;
}
/* Avatar list */

/* Customer alert */
.custom-alert{
    display: flex;
    align-items: self-start;
}

.custom-alert--outline{
    border: 2px solid;
}

.custom-alert--error,
.custom-alert--error *{
    color: #dd4b39;
    border-color: #dd4b39; 
}

.custom-alert--warning,
.custom-alert--warning *{
    color: #f39c12;
    border-color: #f39c12; 
}

.custom-alert--success,
.custom-alert--success *{
    color: #00a65a;
    border-color: #00a65a; 
}

.custom-alert--info,
.custom-alert--info *{
    color: #3c8dbc;
    border-color: #3c8dbc;
}

.custom-alert--md .custom-alert__icon, 
.custom-alert__icon {
    margin: 10px 8px 10px 8px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.custom-alert--sm .custom-alert__icon{
    min-width: 36px;
    min-height: 36px;
    font-size: 2.5rem;
}

.custom-alert--lg .custom-alert__icon{
    min-width: 64px;
    min-height: 64px;
    font-size: 4.5rem;
}

.custom-alert__icon--error{
    background-color: #dd4b3938;
}

.custom-alert__icon--warning{
    background-color: #f39c1238;
}

.custom-alert__icon--success{
    background-color: #00a65a38;
}

.custom-alert__icon--info{
    background-color: #00c0ef38;
}

.custom-alert--md .custom-alert__title, 
.custom-alert__title{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 2.5rem;
}

.custom-alert--sm .custom-alert__title{
    font-size: 2rem;
}

.custom-alert--lg .custom-alert__title{
    font-size: 3rem;
}

.custom-alert__message{
    margin-top: 10px;
    align-self: center;
    justify-self: center;
    padding-bottom: 1rem;
}

/* Box */
.box-flat{
    border: 0;
    box-shadow: none;
    margin-bottom: 16px;
}

.box-flat > .box-header, 
.box-flat > .box-body, 
.box-flat > .box-footer{
    padding: 0;
}

.box-flat > .box-footer{
    padding-top: 16px;
}

.box--flex{
    display: flex;
    flex-direction: column;
}

.box--flex > .box-body{
    flex: 1;
    padding-bottom: 40px;
}

.box--flex > .box-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 16px;
}

.box--flex > .box-footer.box-footer--space-between{
    justify-content: space-between;
}

.box--flex > .box-footer.box-footer--left{
    justify-content: start;
}

.box--flex > .box-footer.box-footer--right{
    justify-content: end;
}

.box--flex > .box-footer::before,
.box--flex > .box-footer::after{
    content: none;
}
/* ./Box */

/* Data table hover */
.table-hover > tbody > tr .btn-preview{
    display: none;
    padding: 2px 4px;
}
.table-hover > tbody > tr:hover .btn-preview{
    display: inline-block;
}
/* ./Data table hover */

/* Wizard */
.wizard .wizard-step {
    display: flex;
    flex-direction: row;
}

.wizard .wizard-step .wizard-step__icon {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    background-color: #d2d6de;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
}

.wizard .wizard-step .wizard-step__content {
    flex: 1;
}

.wizard .wizard-step.last-step .wizard-step__icon {
    margin-bottom: 0px;
}

.wizard .wizard-step.active .wizard-step__icon {
    background-color: #3c8dbc !important;
}

.wizard .wizard-step.active .wizard-step__content .box {
    border-top-color: #3c8dbc !important;
}
/* ./Wizard */

.editableform .editable-input .select2-container {
    min-width: 12em;
}
  
/* List tool */
.list_tool
{
    display: flex;
    align-items: center;
}

.list_tool--item 
{
    display: flex; 
    flex-direction: column;
    text-align: center; 
    margin: 0 8px;
    padding: 8px;
    width: 80px;
    height: 80px;
    align-content: center;
    justify-content: center;
}

.list_tool--item.active
{
    font-size: 18px;
    width: 100px;
    height: 100px;
    transition: width linear, height linear, font-size, linear;
}

.list_tool--item p
{
    margin: 0;
}

.list_tool--item:first-child
{
    margin-left: 0;
}

.list_tool--item:last-child
{
    margin-right: 0;
}
/* ./List tool */

.custom-timeline {
    width: 100%;
}

.custom-timeline .custom-timeline-content {
    top: calc(36px/2);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.custom-timeline .custom-timeline-content .custom-timeline-item {
    position: relative;
    min-height: 50px;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-line::before {
    content: "<<";
    margin-left: -8px;
    font-weight: bold;
    color: #a5cce3;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 4px;
    z-index: 1;
}

.custom-timeline .custom-timeline-content .custom-timeline-item:first-child .custom-timeline-line::before {
    content: "";
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-line.active::before {
    content: "<<";
    margin-left: -8px;
    color: #3c8dbc;
    font-weight: bold;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 4px;
    z-index: 1;
}

.custom-timeline .custom-timeline-content .custom-timeline-item:first-child .custom-timeline-line.active::before {
    content: "";
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-line {
    height: 28px;
    width: 100%;
    background-color: #eee;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-line .custom-timeline-item-title {
    flex-shrink: 0;
    max-width: 300px;
    min-width: 250px;
    padding: 0 32px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3c8dbc;
    font-weight: bold;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-line .custom-timeline-item-title:hover {
    cursor: pointer;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-item-content {
    padding: 0 32px;
    font-size: 1em;
    text-align: justify;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-item-content .custom-timeline-item-content-list {
    padding: 0;
    list-style: none;
}

.custom-timeline .custom-timeline-content .custom-timeline-item .custom-timeline-item-content .custom-timeline-item-content-list .custom-timeline-item-content-list-item {
    z-index: 0;
    margin-top: 4px;
    border-left: solid 4px #3c8dbc;
    padding-left: 22px;
    transform: translateX(-26px);
}

.text-strikethrough{
    text-decoration: line-through;
}