<script>
    import { v4 as uuidv4 } from "uuid";
    import Multiselect from "vue-multiselect";
    import _get from "lodash/get";

    import { zaloadsService } from "@/_services/zaloads.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                required: true,
            },
        },
        components: {
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,
            is_disabled: false,

            kpis: [],
            staffs: [],

            staff: null,
        }),
        watch:{
            id(){
                this.getData();
            }
        },
        methods: {
            async getKpis() {
                let response = await zaloadsService.getKpis(this.id);

                let code = _get(response, "code");
                if(200 != code){
                    $.notify(_get(response, 'message'), 'error');

                    this.is_disabled = true;

                    return;
                }
                
                this.kpis = _get(response, 'data.kpi');
            },
            async getStaffs() {
                let response = await zaloadsService.getStaffs();
                
                let code = _get(response, "code");
                if(200 != code){
                    $.notify(_get(response, 'message'), 'error');

                    this.is_disabled = true;

                    return;
                }
                
                this.staffs = _get(response, 'data');
            },
            genRequestData() {
                let data = {
                    staffId: _.get(this.staff, "user_id"),
                };

                return data;
            },
            async addKpi() {
                let result = await this.$validator.validate();
                if (!result) return result;

                this.isLoading = true;

                let requestData = this.genRequestData();
                try {
                    let response = await zaloadsService.addKpi(this.id, requestData);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getKpis();
                        this.$emit('reload');

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async removeKpi(kpiId) {
                this.isLoading = true;

                try {
                    let response = await zaloadsService.removeKpi(this.id, kpiId);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getKpis();
                        this.$emit('reload');

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async getData(){
                this.isLoading = true;

                await this.getStaffs();
                await this.getKpis();

                this.isLoading = false;
            }
        },
        mounted() {
            this.getData();
        },
    };
</script>

<template>
    <div class="box box-widget" style="box-shadow: none">
        <div class="box-body" style="padding: 0">
            <table
                border="1"
                cellpadding="2"
                cellspacing="1"
                class="
                    table table-responsive table-bordered table-hover
                    datatable
                "
            >
                <thead>
                    <tr>
                        <th>Kỹ thuật thực hiện</th>
                        <th
                            align="center"
                            class="datatable__cell--middle"
                            style="width: 10rem"
                        >
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(staff, index) in kpis"
                        :key="`staff-${index}-${uuid}`"
                    >
                        <td>
                            {{ staff.display_name }} -
                            {{ staff.user_email }}
                        </td>
                        <td align="center" class="datatable__cell--middle">
                            <a
                                :href="`javascript:void(${index})`"
                                class="btn btn-danger btn-flat btn-xs"
                                :disabled="isLoading"
                                @click="() => removeKpi(staff.kpi_id)"
                            >
                                Xóa
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div
                                :class="{
                                    'form-group': true,
                                    'has-error': errors.first('staff'),
                                }"
                                style="margin: 0"
                            >
                                <Multiselect
                                    :id="`input-staff-${uuid}`"
                                    select-label="Gán nhân viên kỹ thuật"
                                    label="display_name"
                                    track-by="user_id"
                                    placeholder="Nhân viên kỹ thuật"
                                    :options="staffs"
                                    :allowEmpty="false"
                                    :show-labels="false"
                                    :custom-label="
                                        ({ display_name, user_email }) =>
                                            `${display_name} - ${user_email}`
                                    "
                                    :disabled="isLoading || is_disabled"
                                    name="staff"
                                    v-model="staff"
                                    v-validate="`required`"
                                    data-vv-as="Nhân viên kỹ thuật"
                                >
                                </Multiselect>
                                <span class="text-danger">
                                    {{ errors.first("staff") }}
                                </span>
                            </div>
                        </td>
                        <td align="center" class="datatable__cell--middle">
                            <button
                                class="btn btn-success btn-flat btn-xs"
                                :disabled="isLoading || is_disabled"
                                @click="addKpi"
                            >
                                Thêm
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>