<script>
import DateRangePicker from "vue2-daterange-picker";
import vDatatableBuilder from '@/components/vDatatableBuilder.vue'
import vFacebookadsAccountsReloadButton from '@/components/vFacebookadsAccountsReloadButton.vue'
import { contractFacebookadsService } from "@/_services/contract.facebookads.service.js";

export default {

    components: {
        vDatatableBuilder,
        vFacebookadsAccountsReloadButton,
        DateRangePicker,
    },

    props: {
        id: [Number],

        segments: {
            type: Array,
            default: () => []
        }
    },

    name: 'v-fb-ad-account-container',
    data (){
        let dateRanges = {};

        dateRanges["Tất cả"] = [null, null];

        let today = new Date();
        today.setHours(0, 0, 0, 0);
        dateRanges["Hôm nay"] = [today, today];

        let yesterday = new Date();
        yesterday.setDate(today.getDate() - 1);
        yesterday.setHours(0, 0, 0, 0);
        dateRanges["Hôm qua"] = [yesterday, yesterday];

        let y = today.getFullYear();
        let m = today.getMonth();

        let thisMonthStart = new Date(y, m, 1);
        let thisMonthEnd = new Date(y, m + 1, 0);
        dateRanges["Tháng này"] = [thisMonthStart, thisMonthEnd];

        let i = 1;
        while (i < 4) {
            let _start = new Date(y, m - i, 1);
            let _end = new Date(y, m - i + 1, 0);
            dateRanges[`Tháng ${_start.getMonth() + 1}`] = [_start, _end];
            i++;
        }

        return {
            guid: _.uniqueId('v-fb-ad-account-container-'),
            isLoading : true,
            filter_position: 1,
            APIISegmentsEndpoint: `${base_url}api-v2/facebookads/DatasetAdAccount`,
            APIDefaultParams: [
                {
                    'where[contractId]': this.id
                }
            ],
            updatePostId: 0,
            updatePostType: "",
            updateObject: null,

            deletePostId: 0,
            deletePostType: "",
            deletePost: null,
            isDeleteLoading: false,

            hoverIndex: null,

            isComputeMetricsLoading: false,

            dateRange: {
                startDate: null,
                endDate: null,
            },

            dateRanges: dateRanges,
        }
    },

    methods: {
        reloadDatatable () {
            const _swap = _.cloneDeep(this.APIISegmentsEndpoint)
            this.APIISegmentsEndpoint = ""
            setTimeout(() => {
                this.APIISegmentsEndpoint = _swap    
            }, 100);
        },

        moment (unix, format) {
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        computeMetrics() {
            this.isComputeMetricsLoading = true;
            contractFacebookadsService
                .computeMetrics(this.id)
                .then((response) => {
                    $.notify(response.message, response.status);
                    this.$emit('refresh')
                })
                .catch((error) => {
                    $.notify(error, "error");
                })
                .finally(() => {
                    this.isComputeMetricsLoading = false;
                });
        },

        datesSelected() {
            let startDate = moment(this.dateRange.startDate).format('DD-MM-YYYY');
            let endDate = moment(this.dateRange.endDate).format('DD-MM-YYYY');

            let APIDefaultParams = _.cloneDeep(this.APIDefaultParams);
            APIDefaultParams[0]['where[dateRange]'] = `${startDate} - ${endDate}`;

            this.APIDefaultParams = APIDefaultParams;
            
            this.reloadDatatable();
        },
    }
}
</script>
<template>
    <div :id="guid" class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Danh sách Phân đoạn</h3>
        </div>
        <div class="box-body">

            <v-datatable-builder v-if="APIISegmentsEndpoint != ''"
                :is_filtering="false"
                :is_ordering="true"
                :is_download="false"
                :custom_datatable_rows="true"
                :filter_position="filter_position"
                :per_page="10"
                :remote_url="APIISegmentsEndpoint"
                :columns_ticky_at="2"
                :is_load_config="false"
                :default_query_params="APIDefaultParams"
                :main_datatable='false'
            >
                <template slot="tools_extra_right">
                    <a class="btn btn-flat btn-sm text-black pull-right" v-on:click="computeMetrics">
                        <i v-if="isComputeMetricsLoading" class="fa fa-2x fa-spinner fa-pulse text-orange"></i>
                        <i v-else class="fa fa-2x fa-soundcloud text-orange"></i>
                        <br>
                        Đồng bộ số
                    </a>
                    <div class="pull-right">
                        <DateRangePicker
                            @update="() => datesSelected()"
                            v-model="dateRange"
                            :ranges="dateRanges"
                            opens="left"
                        >
                            <template v-slot:input="picker" style="min-width: 350px;">
                                <div>
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span>{{ picker.startDate ? `${moment(Math.floor(picker.startDate.getTime() / 1000))} - ${moment(Math.floor(picker.endDate.getTime() / 1000))}` : 'Toàn bộ' }}</span>
                                    <b class="caret"></b>
                                </div>
                            </template>
                        </DateRangePicker>
                    </div>
                </template>

                <template slot="table_body_rows" slot-scope="{ items }">
                    <tr v-for="(row, i) in items" v-bind:key="`datatable-filter-row-${i}`">
                        <td nowrap="nowrap">
                            <span
                                v-if="'balance_spend' == row.segmentType"
                                style="font-weight: bold; font-style: italic"
                            >
                                {{ row.adAccountId || '--' }}
                            </span>
                            <span v-else style="font-style: italic">
                                {{ row.adAccountId || '--' }}
                            </span>
                        </td>

                        <td style="max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span
                                v-if="'balance_spend' == row.segmentType"
                                style="font-weight: bold; font-style: italic"
                            >
                                {{ row.adAccountName || '--' }}
                            </span>
                            <span v-else style="font-style: italic">
                                {{ row.adAccountName || '--' }}
                            </span>
                        </td>

                        <td nowrap="nowrap" align="center">
                            <span v-if="'balance_spend' == row.segmentType">--</span>
                            <span v-else-if="'unlinked' == row.adAccountStatus" @mouseleave="hoverIndex = null" @mouseover="hoverIndex = i;">
                                <vFacebookadsAccountsReloadButton v-if="hoverIndex == i">
                                    <template slot="display_content">
                                        <span class="text-blue"><i class="fa fa-link"></i>&nbsp; Kết nối lại</span>
                                    </template>
                                </vFacebookadsAccountsReloadButton>
                                <span v-else><i class="text-red fa fa-circle-o"></i>&nbsp; Mất kết nối</span>
                            </span>
                            <span v-else-if="'active' == row.adAccountStatus"><i class="text-green fa fa-check-circle-o"></i>&nbsp; Đang hoạt động</span>
                            <span v-else-if="'unauthorized' == row.adAccountStatus"><i class="text-green fa fa-lock"></i>&nbsp; Đã xác thực (I)</span>
                            <span v-else v-text="row.adAccountStatus"></span>
                        </td>
                        <td nowrap="nowrap" align="center">
                            <span v-if="row.adAccountSource == 'linked'">Ủy Quyền</span>
                            <span v-else-if="row.adAccountSource == 'direct'">Tạo Trực Tiếp</span>
                            <span v-else>--</span>
                        </td>
                        <td nowrap="nowrap" align="center" v-text="moment(row.segmentStartDate)"></td>
                        <td nowrap="nowrap" align="center" v-text="moment(row.segmentEndDate) || 'hiện tại'"></td>
                        <td nowrap="nowrap" align="left" v-text="row.segment_technician || '--'"></td>
                        <td nowrap="nowrap" align="right" v-text="row.segment_technician_rate ? `${row.segment_technician_rate}%` : '--'"></td>
                        
                        <td nowrap="nowrap" align="center">
                            <span v-if="'balance_spend' == row.segmentType">VND</span>
                            <span v-else>{{ row.account_currency || '--' }}</span>
                        </td>
                        <td nowrap="nowrap" align="right" v-text="row.spend ? parseInt(row.spend).toLocaleString('de-DE') : '--'"></td>
                        <td nowrap="nowrap" align="right" v-text="row.clicks ? parseInt(row.clicks).toLocaleString('de-DE') : '--'"></td>
                        <td nowrap="nowrap" align="right" v-text="row.impressions ? parseInt(row.impressions).toLocaleString('de-DE') : '--'"></td>
                        <td nowrap="nowrap" align="right" v-text="row.reach ? parseInt(row.reach).toLocaleString('de-DE') : '--'"></td>
                    </tr> 
                </template>   
            </v-datatable-builder>
        </div>
    </div>
</template>