<template>
    <div class="box box-widget">
        <div class="box-body">
            <div class="form-group">
                <label :for="`${guid}-ref_object_type`" class="control-label"
                    >Dữ liệu ảnh hưởng</label
                >
                <div class="radio">
                    <label
                        v-for="item in refObjectTypeOptions"
                        v-bind:key="`refObjectTypeOptions-${item.value}`"
                        :for="`${guid}-ref_object_type-${item.value}`"
                    >
                        <input
                            ref="inputTypeRadio"
                            :id="`${guid}-ref_object_type-${item.value}`"
                            type="radio"
                            name="inputTypeRadio"
                            :value="item.value"
                            v-model="input.ref_object_type"
                            :disabled="item.disabled"
                        />
                        {{ item.text }}
                        &nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            </div>

            <div
                v-bind:class="{
                    'form-group': true,
                    'has-error': errors.first('input.segmentId'),
                }"
            >
                <label :for="`${guid}-ref_object_type`" class="control-label">
                    <i
                        v-if="errors.first('input.segmentId')"
                        class="fa fa-times-circle-o"
                    ></i>
                    Phân Đoạn - Tài khoản QC
                </label>
                <template v-if="segments.length > 0">
                    <div
                        class="radio"
                        v-for="item in segments"
                        v-bind:key="`segmentsOptions-${item.post_id}`"
                    >
                        <label :for="`${guid}-input-segment-${item.post_id}`">
                            <input
                                :disabled="'adaccount' != input.ref_object_type"
                                :id="`${guid}-input-segment-${item.post_id}`"
                                type="radio"
                                name="input.segmentId"
                                :value="item.post_id"
                                v-model="input.segmentId"
                                v-validate="
                                    `required_if:inputTypeRadio,adaccount`
                                "
                                data-vv-as="Phân Đoạn - Tài khoản QC"
                            />
                            {{ item.adaccount.customer_id }} -
                            {{ item.adaccount.account_name }} <br />

                            <small
                                ><i
                                    >({{ moment(item.start_date) }} -
                                    {{
                                        item.end_date
                                            ? moment(item.end_date)
                                            : "hiện tại"
                                    }})</i
                                ></small
                            >
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <span class="text-danger">{{
                        errors.first("input.segmentId")
                    }}</span>
                </template>
                <div v-else class="radio">
                    <i
                        >không tìm thấy bất kỳ tài khoản QC tạo thủ công nào để
                        chọn lựa</i
                    >
                </div>
            </div>

            <div class="form-group">
                <label :for="`${guid}-endDate`" class="control-label">
                    <i
                        v-if="errors.first('input.end_date')"
                        class="fa fa-times-circle-o"
                    ></i>
                    Ngày áp dụng
                </label>
                <vuejsDatepicker
                    data-vv-as="Ngày áp dụng"
                    v-validate="`required`"
                    wrapper-class="input-group col-sm-12"
                    input-class="form-control valid"
                    :format="'dd/MM/yyyy'"
                    v-model="input.end_date"
                    name="inputEndDate"
                ></vuejsDatepicker>
            </div>

            <div
                v-bind:class="{
                    'form-group': true,
                    'has-error': errors.first('input.amount'),
                }"
            >
                <label :for="`${guid}-amount`" class="control-label">
                    <i
                        v-if="errors.first('input.amount')"
                        class="fa fa-times-circle-o"
                    ></i>
                    Số tiền
                </label>
                <vue-numeric
                    :id="`${guid}-amount`"
                    class="form-control"
                    separator=","
                    v-model="input.amount"
                    v-validate="`required|integer|regex:[^0]+`"
                    data-vv-as="Tổng số tiền thanh toán"
                    name="input.amount"
                    v-bind:minus="true"
                ></vue-numeric>
                <span class="text-danger">{{
                    errors.first("input.amount")
                }}</span>
            </div>

            <div class="form-group">
                <label :for="`${guid}-note`" class="control-label"
                    >Ghi chú</label
                >
                <textarea
                    :id="`${guid}-note`"
                    class="form-control"
                    placeholder="Nhập ghi chú / ...."
                    rows="5"
                    v-model="input.note"
                ></textarea>
            </div>
        </div>
        <div class="box-footer">
            <button
                v-on:click="submit('create_n_more')"
                type="button"
                class="btn btn-success pull-right"
            >
                Lưu và tạo thêm
            </button>
            <button
                v-on:click="submit('create_n_close')"
                type="button"
                class="btn btn-primary pull-right"
                style="margin-right: 10px"
            >
                Lưu và đóng
            </button>
            <button
                style="display: none"
                type="button"
                :id="`modal-close-${guid}`"
                class="btn btn-link pull-right text-primary"
                data-dismiss="modal"
            >
                close modal
            </button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import { contractService } from "@/_services/contract.service.js";
    import { insightSegmentsGoogleadsService } from "@/_services/insight.segments.googleads.service.js";
    import vuejsDatepicker from "vuejs-datepicker";
    import VueNumeric from "vue-numeric";

    export default {
        name: "vGgSpendRecordCreate",

        props: {
            segments: {
                type: Array,
                default: () => [],
            },

            contract_id: {
                type: Number,
                default: 0,
            },
        },

        components: {
            Multiselect,
            vuejsDatepicker,
            VueNumeric,
        },

        computed: {
            computeAmountNotVAT() {
                if (!_.gt(this.contractSelected.vat, 0))
                    return this.input.amount;
                return _.divide(
                    this.input.amount,
                    _.add(1, this.contractSelected.vat)
                );
            },

            computedBudget() {
                if (_.eq("service_fee", this.input.formula_input)) {
                    return _.divide(
                        _.subtract(
                            this.computeAmountNotVAT,
                            this.input.service_fee
                        ),
                        1 + _.divide(1, 19)
                    );
                }

                return _.divide(
                    this.computeAmountNotVAT,
                    _.add(1, this.contractSelected.service_fee_rate_actual) +
                        _.divide(1, 19)
                );
            },

            computedServiceFee() {
                if (_.eq("service_fee", this.input.formula_input))
                    return this.input.service_fee;
                return _.multiply(
                    this.computedBudget,
                    this.contractSelected.service_fee_rate_actual
                );
            },

            computedFct() {
                return (
                    this.computeAmountNotVAT -
                    this.computedBudget -
                    this.computedServiceFee
                );
            },

            canCreateManualSegmentInsignt() {
                return _.isEmpty(this.segments);
            },

            refObjectTypeOptions() {
                return [
                    {
                        value: "contract",
                        text: "Cân bằng thủ công - cho hợp đồng",
                        disabled: false,
                    },
                    {
                        value: "adaccount",
                        text: "Nhập spend thủ công - cho tài khoản",
                        disabled: _.isEmpty(this.segments),
                    },
                ];
            },
        },

        watch: {
            "input.post_type"(newVal, oldVal) {
                if (!_.eq("receipt_payment", newVal)) {
                    this.input.input_method = "default";
                    this.input.service_fee = 0;
                }
            },
        },

        data() {
            return {
                guid: _.uniqueId("vGgSpendRecordCreate-"),
                admin_url: admin_url,
                base_url: base_url,
                isLoading: false,
                input: this.getDefaultInput(),
                contracts: [],
                contractSelected: null,
            };
        },

        methods: {
            submit(command) {
                this.$validator.validate().then((result) => {
                    if (!result) return result;

                    this.isLoading = true;

                    const _payload = {
                        contractId: this.contract_id,
                        spend: this.input.amount,
                        time: moment(this.input.end_date).format("X"),
                        note: this.input.note,
                    };

                    let resource = _.eq("contract", this.input.ref_object_type)
                        ? contractService.insertBalanceSpend(_payload)
                        : insightSegmentsGoogleadsService.create(
                              this.input.segmentId,
                              _payload
                          );
                    resource
                        .then((response) => {
                            if (200 == _.get(response, "code")) {
                                $.notify(_.get(response, "message"), "success");
                                this.$emit("completed");
                                return response;
                            }

                            if (403 == _.get(response, "code"))
                                throw new Error(_.get(response, "message"));
                            throw new Error(_.get(response, "message"));
                        })
                        .then((response) => {
                            if (_.eq("create_n_close", command)) {
                                document
                                    .getElementById(`modal-close-${this.guid}`)
                                    .click();
                            }
                            this.input = this.getDefaultInput();
                            this.contractSelected = null;
                            return response;
                        })
                        .catch((error) => {
                            $.notify(_.get(error, "message"), "error");
                            return error;
                        })
                        .finally(() => {
                            this.isLoading = false;
                        });
                });
            },

            moment(unix, format) {
                if (!_.gt(unix, 0)) return "";
                if (_.isEmpty(format)) format = "DD/MM/YYYY";
                return moment.unix(unix).format(format);
            },

            getDefaultInput() {
                return {
                    ref_object_type: _.isEmpty(this.segments)
                        ? "contract"
                        : "adaccount",
                    amount: 0,
                    end_date: moment().toDate(),
                    segmentId: null,
                    contractId: this.contract_id,
                    note: "",
                };
            },
        },
    };
</script>
