<template>
    <div class="box box-widget">
        <div class="box-body">
            <div class="form-group">

                <label :for="`${guid}-ref_object_type`" class="control-label">Dữ liệu ảnh hưởng</label>
                <div class="radio">
                    <i v-if="'contract' == ref_object_type">
                        Cân bằng thủ công - cho hợp đồng
                    </i>
                    <i v-else>
                        Nhập spend thủ công - cho tài khoản
                    </i>
                </div>
            </div>

            <div v-bind:class="{ 'form-group' : true, 'has-error': errors.first('input.segmentId') }">
                <label :for="`${guid}-ref_object_type`" class="control-label">
                    <i v-if="errors.first('input.segmentId')" class="fa fa-times-circle-o"></i>
                    Phân Đoạn - Tài khoản QC
                </label>
                <template v-if="segments.length > 0 && 'adaccount' == ref_object_type">
                    <div class="radio" v-for="item in segments" v-bind:key="`segmentsOptions-${item.post_id}`">
                        <label :for="`${guid}-input-segment-${item.post_id}`">
                            <input
                                :disabled="'adaccount' != input.ref_object_type"
                                :id="`${guid}-input-segment-${item.post_id}`"
                                type="radio"
                                name="inputAdAccountRadio"
                                :value="item.post_id"
                                v-model="input.segmentId"
                                v-validate="`required`"
                                data-vv-as="Phân Đoạn - Tài khoản QC"
                            />
                            {{ item.adaccount.customer_id }} - {{ item.adaccount.account_name }} <br/>
                            
                            <small><i>({{ moment(item.start_date) }} - {{ item.end_date ? moment(item.end_date) : 'hiện tại' }})</i></small>
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <span class="text-danger">{{ errors.first('input.segmentId') }}</span>
                </template>
                <div v-else class="radio">
                    <i>không tìm thấy bất kỳ tài khoản QC tạo thủ công nào để chọn lựa</i>
                </div>
            </div>

            <div class="form-group">
                <label :for="`${guid}-endDate`" class="control-label">Ngày áp dụng</label>
                <vuejsDatepicker
                    data-vv-as="Ngày áp dụng"
                    v-validate="`required`"
                    wrapper-class="input-group col-sm-12"
                    input-class="form-control valid"
                    :format="'dd/MM/yyyy'"
                    v-model="input.end_date"
                    name="input.end_date"
                ></vuejsDatepicker>
            </div>            

            <div v-bind:class="{ 'form-group' : true, 'has-error': errors.first('input.amount') }">    
                <label :for="`${guid}-amount`" class="control-label">
                    <i v-if="errors.first('input.amount')" class="fa fa-times-circle-o"></i>
                    Số tiền
                </label>
                <vue-numeric
                    :id="`${guid}-amount`"
                    class="form-control"
                    separator=","
                    v-model="input.amount"
                    v-validate="`required|integer|regex:[^0]+`"
                    data-vv-as="Tổng số tiền thanh toán"
                    name="input.amount"
                    v-bind:minus="true"
                ></vue-numeric>
                <span class="text-danger">{{ errors.first('input.amount') }}</span>
            </div> 

            <div class="form-group">
                <label :for="`${guid}-note`" class="control-label">Ghi chú</label>
                <textarea :id="`${guid}-note`" class="form-control" placeholder="Nhập ghi chú / ...." rows="5" v-model="input.note"></textarea>
            </div>
        </div>
        <div class="box-footer">
            <button v-on:click="submit()" type="button" class="btn btn-success pull-right">CẬP NHẬT</button>
            <button type="button" v-on:click="reset()" class="btn btn-link pull-right text-primary" style="margin-right:10px">RESET</button>
            <button type="button" v-on:click="close()" class="btn btn-link pull-right text-red" style="margin-right:10px">Hủy bỏ</button>
            <button style="display:none" type="button" :id="`modal-close-${guid}`" class="btn btn-link pull-right text-primary" data-dismiss="modal">close modal</button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import { contractService } from '@/_services/contract.service.js'
import { insightSegmentsTiktokadsService } from '@/_services/insight.segments.tiktokads.service.js'
import vuejsDatepicker from 'vuejs-datepicker'
import VueNumeric from 'vue-numeric'

export default {

	name: 'vTtSpendRecordUpdate',

    props: {
        segments: {
            type: Array,
            default: () => []
        },

        contract_id: {
            type: Number,
            default: 0
        },

        id: {
            type: Number,
            default: 0
        },

        type: {
            type: String,
            default: ""
        },

        object: {
            type: Object,
            default: null
        }
    },

    components: {
        Multiselect,
        vuejsDatepicker,
        VueNumeric
    },

    computed: {

        computeAmountNotVAT () {
            if( !_.gt(this.contractSelected.vat, 0)) return this.input.amount
            return _.divide(this.input.amount, _.add(1, this.contractSelected.vat))
        },

        computedBudget () {

            if( _.eq('service_fee', this.input.formula_input)) 
            {
                return _.divide(_.subtract(this.computeAmountNotVAT, this.input.service_fee), 1 + _.divide(1, 19)) 
            }

            return _.divide(this.computeAmountNotVAT, _.add(1, this.contractSelected.service_fee_rate_actual) + _.divide(1, 19))
        },
        
        computedServiceFee () {
            if( _.eq('service_fee', this.input.formula_input)) return this.input.service_fee
            return _.multiply(this.computedBudget, this.contractSelected.service_fee_rate_actual)
        },

        computedFct(){
            return this.computeAmountNotVAT - this.computedBudget - this.computedServiceFee
        },

        canCreateManualSegmentInsignt () {
            return _.isEmpty(this.segments)
        },

        payload () {
            return {
                'contractId': this.contract_id,
                'spend': this.input.amount,
                'time': moment(this.input.end_date).format("X"),
                'note': this.input.note 
            }
        },

        ref_object_type(){
            return this.object.segmentType == 'balance_spend' ? 'contract' : 'adaccount';
        }
    },

    watch: {
        'input.post_type' (newVal, oldVal) {
            if( ! _.eq('receipt_payment', newVal)) 
            {
                this.input.input_method = 'default'
                this.input.service_fee = 0
            }
        }
    },

    data (){

        return {

            guid: _.uniqueId('vFbSpendRecordUpdate-'),
            admin_url: admin_url,
            base_url: base_url,
            isLoading: false,
            input: this.getDefaultInput(),

            refObjectTypeOptions: [
                {
                    value: "contract",
                    text: "Cân bằng thủ công - cho hợp đồng", 'disabled': false
                },
                {
                    value: "adaccount",
                    text: "Nhập spend thủ công - cho tài khoản",
                    'disabled': _.isEmpty(this.segments)}
            ],

            contracts: [],
            contractSelected: null,
        }
    },

    methods: {
        
        submit() {

            this.$validator.validate().then((result) => {

                if( ! result) return result

                this.isLoading = true

                let resource = _.eq('adaccount', this.ref_object_type) ? insightSegmentsTiktokadsService.update(_.get(this.input, 'segmentId'), this.id, this.payload) : contractService.updateBalanceSpend(this.id, this.payload)

                resource.then(response => {

                    if( 200 == _.get(response, 'code'))
                    {
                        $.notify(_.get(response, 'message'), 'success');
                        this.$emit('completed')
                        this.close()
                        return response
                    }

                    const _messages = _.isString(_.get(response, 'message')) ? [_.get(response, 'message')] : _.values(_.get(response, 'message'))
                    if( 403 == _.get(response, 'code')) throw new Error(_.first(_messages))
                    throw new Error(_.first(_messages))
                })
                .catch( error => {
                    $.notify(error, 'error')
                    return error
                })
                .finally(() => {
                    this.isLoading = false
                })
            })
        },

        reset(){
            this.getDefaultInput()
        },

        close(){
            document.getElementById(`modal-close-${this.guid}`).click()
            this.$emit('closed')
        },

        moment (unix, format) {
            
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        getDefaultInput () {

            return {
                amount: _.get(this.object, 'spend'),
                end_date: moment.unix(_.get(this.object, 'insightStartDate')).toDate(),
                segmentId: _.get(this.object, 'segmentId'),
                contractId: this.contract_id,
                note: _.get(this.object, 'note')
            }
        }
    }
}
</script>