<script>
import vConvertGa4 from "@/components/googleads/Utilities/vConvertGa4.vue";
import vAdwordEditorConvertToolV2 from "@/components/googleads/Utilities/AdwordEditorConvertToolV2.vue";

export default {
    components: {
        vConvertGa4,
        vAdwordEditorConvertToolV2
    },

    data() {
        return {
            selected_tool: 'convert_json',
            tools: {
                convert_json: {
                    components: 'vConvertGa4',
                    label: 'Tool GTM',
                    icon: 'fa-magic',
                    background_class: 'bg-primary',
                },
                adword_editor_convert: {
                    components: 'vAdwordEditorConvertToolV2',
                    label: 'Adword Editor V2',
                    icon: 'fa-buysellads',
                    background_class: 'bg-green',
                },
            }
        }
    },

    methods: {
        open(tool){
            this.selected_tool = tool;
        }
    }
}
</script>

<template>
    <div>
        <div class="list_tool" style="margin-bottom: 16px">
            <a 
                v-for="(tool, name) in tools" :key="name"
                :class="['list_tool--item', tool.background_class, selected_tool == name ? 'active' : '']"  
                :href="`#${name}`"
                @click="open(name)" 
            >
                <div>
                    <i :class="`fa ${tool.icon}`"></i>
                </div>
                <p>{{tool.label}}</p>
            </a>
        </div>

        <component v-if="null != selected_tool" :is="tools[selected_tool].components"/>
    </div>
</template>