<template>
    <div style="margin-left: 8px; margin-right: 8px; padding-bottom: 8px">
        <!-- :is_download="true" -->
        <v-datatable-builder
            v-if="APIDataset.length > 0"
            class="datatable"
            :is_filtering="true"
            :is_ordering="true"
            :custom_datatable_rows="true"
            :custom_datatable_header="true"
            :filter_position="filter_position"
            :per_page="50"
            :remote_url="APIDataset"
            :is_load_config="false"
            :default_query_params="APIDefaultParams"
            :columns_ticky_at="2"
        >
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__header--min-width-15':
                                key == 'event' ||
                                key == 'auditable_field' ||
                                key == 'new_values' ||
                                key == 'old_values' ||
                                key == 'created_at',
                            'datatable__header--min-width-20':
                                key == 'display_name',

                            'datatable__header--min-width-25':
                                key == 'contract_code',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td
                        nowrap
                        align="left"
                        style="
                            width: 25rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        "
                        class="datatable__cell--middle"
                    >
                        <a
                            :href="`${admin_url}/contract/edit/${row.contract_id}`"
                            target="_blank"
                            v-if="row.contract_code"
                        >
                            <b>{{ row.contract_code }}</b>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <!-- v-text="row.user_id" -->
                        <div class="d-flex">
                            <a :href="`javascript:void(${row.user_id})`">
                                <img
                                    class="img__avatar--sm img__avatar--circle"
                                    alt="User Image"
                                    style="margin-right: 8px"
                                    :src="row.user_avatar"
                                />
                            </a>
                            <a :href="`javascript:void(${row.user_id})`">
                                <p style="margin: 0" v-if="row.display_name">
                                    <b>{{ row.display_name }}</b>
                                </p>
                                <small>{{ row.user_id }}</small>
                            </a>
                        </div>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <i
                            :class="{
                                fa: true,
                                'fa-check': row.event == 'Tạo mới',
                                'text-green': row.event == 'Tạo mới',
                                'fa-pencil': row.event == 'Cập nhật',
                                'text-yellow': row.event == 'Cập nhật',
                                'fa-refresh': row.event == 'Đồng bộ spend',
                                'text-info': row.event == 'Đồng bộ spend',
                            }"
                        ></i>
                        {{ row.event }}
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        v-html="row.auditable_field || '--'"
                    ></td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle text-green"
                    >
                        <b>{{ row.new_values || "--" }}</b>
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        v-html="row.old_values || '--'"
                    ></td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        v-html="row.created_at || '--'"
                    ></td>
                </tr>
            </template>
        </v-datatable-builder>
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import { ApiEndpoints } from "@/_config/api.endpoints.js";

    export default {
        components: {
            vDatatableBuilder,
        },
        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIDataset: ApiEndpoints.valueOf("googleadsV2") + "/DatasetHistory",
            APIDefaultParams: [],
        }),
    };
</script>
