<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import { ApiEndpoints } from "@/_config/api.endpoints.js";

    export default {
        name: 'vSegmentHistory',

        components: {
            vDatatableBuilder,
        },

        props:{
            term_id: {
                type: [String, Number],
                required: true,
            }
        },

        data(){
            return {
                admin_url: admin_url,
                base_url: base_url,
                filter_position: 1,
                loading: false,
                APIDataset: ApiEndpoints.valueOf("googleadsV2") + `resource/segment_history/${this.term_id}`,
                APIDefaultParams: [],
                row_data: [],
                technicians: [],

                event_enums: {
                    created: 'Thêm mới',
                    updated: 'Cập nhật',
                    deleted: 'Xoá',
                },

                field: {

                }
            }
        },

        computed: {
            _row_data(){

                return _.map(this.row_data, (item) => {
                    let mapped_item = {
                        display_name: item.display_name,
                        event: this.event_enums[item.event] || null,
                        field: item.auditable_field || '--',
                        old_values: item.old_values,
                        new_values: item.new_values,
                        created_at: item.created_at,
                    }

                    return mapped_item;
                });
            }
        },

        methods: {
            handleRowData(data)
            {
                this.row_data = data;
            }
        }
    };
</script>

<template>
    <div>
        <v-datatable-builder
            v-if="APIDataset.length > 0"
            class="datatable"
            :is_filtering="false"
            :is_ordering="false"
            :custom_datatable_rows="true"
            :filter_position="filter_position"
            :per_page="50"
            :remote_url="APIDataset"
            :is_load_config="false"
            :default_query_params="APIDefaultParams"
            :columns_ticky_at="2"
            @datasource_changed="handleRowData"
        >
            <template slot="table_body_rows">
                <tr v-for="(row, i) in _row_data" v-bind:key="`datatable-filter-row-${i}`">
                    <td nowrap="nowrap" v-text="row.display_name"></td>
                    <td nowrap="nowrap" v-text="row.event"></td>
                    <td nowrap="nowrap" v-text="row.field"></td>
                    <td nowrap="nowrap" v-text="row.new_values"></td>
                    <td nowrap="nowrap" v-text="row.old_values"></td>
                    <td nowrap="nowrap" v-text="row.created_at"></td>
                </tr> 
            </template>
        </v-datatable-builder>
    </div>
</template>