<script>
    export default {
        props: {
            is_header: {
                default: true,
                type: Boolean,
            },
            is_footer: {
                default: false,
                type: Boolean,
            },
            card_style: {
                default: () => ({}),
                type: Object,
            },
            header_style: {
                default: () => ({}),
                type: Object,
            },
            footer_style: {
                default: () => ({}),
                type: Object,
            },
            body_style: {
                default: () => ({}),
                type: Object,
            },
            className: {
                type: Object,
                default: () => ({}),
            }
        }
    }
</script>

<template>
    <div :style="{
        boxShadow: '0 2px 4px 0 rgba(0, 0, 0, 0.2)',
        borderRadius: '5px',
        backgroundColor: '#fff',
        display: 'flex',
        flexDirection: 'column',
        height: '100%',
        ...card_style,
    }"
        :class="{
            ...className,
        }"
    >
        <div 
            v-if="is_header"
            :style="{
                padding: '10px',
                borderBottom: '1px solid #ddd',
                ...header_style,
            }"
        >
            <slot name="card-header">
            
            </slot>
        </div>
        <div :style="{
            padding: '10px',
            flex: '1 1 auto',
            ...body_style,
        }">
            <slot name="card-body">
    
            </slot>
        </div>
        <div  v-if="is_footer"
            :style="{
                padding: '10px',
                borderTop: '1px solid #ddd',
                ...footer_style,
            }"
        >
            <slot name="card-footer">
                
            </slot>
        </div>
    </div>
</template>