
<script>
    export default {
        props: {
            is_loading: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<template>
    <div :style="{
        width: '100%',
        borderRadius: '5px',
        backgroundColor: is_loading ? '#ddd': 'transparent'
    }">
        <div :style="{ opacity: is_loading ? 0 : 1 }">
            <slot></slot>
        </div>
    </div>
</template>