<script>
    export default {
        data(){
            return {
                hover: false,
            }
        }
    }
</script>

<template>
    <div :style="{ position: 'relative', zIndex: 99, }"
        @mouseenter="hover = true"
        @mouseleave="hover = false"
    >
        <slot name="content"></slot>
        <div v-if="hover" :style="{
            position: 'absolute',
            left: '50%',
            bottom: '100%',
            transform: 'translateX(-50%)',
            backgroundColor: '#000',
            padding: '8px',
            color: '#fff',
            borderRadius: '4px',
        }">
            <slot name="tooltip"></slot>
            <div :style="{
                position: 'absolute',
                border: '5px solid',
                borderColor: '#000 transparent transparent transparent',
                left: '50%',
                transform: 'translateX(-50%)',
                top: '100%',
            }">
                
            </div>
        </div>
    </div>
</template>