<script>
import { contractCourseadsService } from '@/_services/contract.courseads.service.js'
import { contractContentService } from '@/_services/contract.content.service.js'
import { contractService } from '@/_services/contract.service.js'

export default {
    props: ['isHidden', 'term_id'],
    props: ['name','label','value','url', 'adaccount_source', 'external_bmid', 'external_adaccount_id', 'external_adaccount_spent'],
    name: 'v-adaccounts-select2',
    data (){

        return {
            guid: _.uniqueId('v-contract-printable-navtop-'),
            navContainerId: _.uniqueId('v-contract-printable-navtop-container'),
            printStyleContainerId: _.uniqueId('v-contract-printable-navtop-printable-style-container'),
            scopedStyleCssClass: _.uniqueId('v-contract-printable-navtop-scoped-style'),
            isLoading : true,
            readOnly : false,
            contract : null,
            contentId: null,
            writableSections: [],
            isWritableLocked: false
        }
    },

    watch :{
        isWritableLocked () {
            this.bindWritableState();
        },

        hasChanged () {

            if( ! this.hasChanged)
            {
                if( $(`#${this.printStyleContainerId}`).length > 0) $(`#${this.printStyleContainerId}`).remove();
                return
            }

            if( $(`#${this.printStyleContainerId}`).length <= 0) $('body').append(`<style type="text/css" media="print" class="${this.scopedStyleCssClass}" id="${this.printStyleContainerId}"> body { display:none;}</style>`)            
        }
    },

    computed : {

        hasChanged () {
            const foundIndex = _.findIndex(this.writableSections, 'isChanged')
            return _.gte(foundIndex, 0)
        }
    },

    created : function(){
        this.bindIdToWritableSections()
        this.loadContent()
        this.loadContract(this.term_id)
    },

    mounted ()
    {
        this.bindWritableState()

        $('body').append(`<style type="text/css" media="print" class="${this.scopedStyleCssClass}">
            #${this.navContainerId} { display:none;}
            </style>`)

        $('body').append(`<style type="text/css" class="${this.scopedStyleCssClass}">
            #${this.navContainerId} { overflow: hidden; background-color: #333; }
            #${this.navContainerId} > * { float: right; display: block;color: #f2f2f2; padding: 14px; text-decoration: none; }
            #${this.navContainerId} button { background-color: #333; }
            .content { padding: 16px; }
            .sticky { position: fixed; top: 0; width: 90%; }
            .sticky + .content { padding-top: 60px; }
            </style>`)

        console.log(this.writableSections)
    },

    methods: {

        bindWritableState () {

            const writableSections = document.querySelectorAll('[contenteditable]');

            _.forEach(writableSections, o => {
                o.setAttribute('contenteditable', !this.isWritableLocked)
            })

            if( ! this.isWritableLocked) 
            {
                this.bindNavbarSticky()
            }
            else
            {
                document.getElementById(this.navContainerId).style.display = 'none'
            } 
        },

        bindNavbarSticky(){

            var navbar = document.getElementById(this.navContainerId);
            var sticky = navbar.offsetTop;

            window.onscroll = function() {
                console.log(window)
                if (window.pageYOffset >= sticky) navbar.classList.add("sticky")
                else navbar.classList.remove("sticky")
            };

            

            if (window.matchMedia)
            {
                var mediaQueryList = window.matchMedia('print');

                mediaQueryList.addListener( mql => {
                    
                    if (mql.matches)
                    {
                        // beforePrint();
                    }
                    else {
                        // afterPrint();
                    }
                })
            }
        },

        bindIdToWritableSections () {

            const writableSections = document.querySelectorAll('[contenteditable]');

            _.forEach(writableSections, o => {

                const _id = o.getAttribute('id') || _.uniqueId('writableSectionId-')
                o.setAttribute('id', _id)
                const _node = {
                    id: _id,
                    content: o.outerHTML,
                    isChanged: false
                }

                this.writableSections.push(_node)

                o.addEventListener('input',  () => {

                    const foundIndex = _.findIndex(this.writableSections, i => {
                        return i.id == o.id
                    })

                    const _hasChanged = !_.eq(o.outerHTML, this.writableSections[foundIndex].content)

                    this.writableSections[foundIndex].isChanged = _hasChanged
                    this.writableSections[foundIndex].newContent = o.innerHTML
                })
            })
        },

        save() {

            console.log(this.writableSections)

            const _contents = _.map(_.filter(this.writableSections, [ 'isChanged', true ] ), o => {
                return {
                    id : o.id,
                    content: o.newContent.replace(/\n|\t/g, ' ')
                }
            }) 

            const payload = { content: _contents }

            contractContentService.update(this.term_id, this.contentId, payload).then(response => {

                $.notify("Cập nhật thành công", "success");
                new Promise(resolve => setTimeout(resolve, 1500)).then(r => { window.location.reload()})
            })
        },

        loadContent () {

            this.isLoading = true

            return contractContentService.get(this.term_id).then( response => {

                this.contentId = _.get(response, 'data.post_id') || 0
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        loadContract () {

            this.isLoading = true

            return contractService.get(this.term_id).then( response => {
                this.isWritableLocked = _.get(response, 'data.is_editable_locked')
                console.log(this.isWritableLocked, _.get(response, 'data.is_editable_locked'))
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        }
    }
}
</script>
<template>
    <div id="container">
        <div :id="navContainerId" :style="[ isWritableLocked ? 'display:none' :'',  'overflow: hidden', 'background-color: #333']">
            <button v-if="hasChanged" type="button">Cập nhật thay đổi</button>
            <button type="button">Khôi phục bản gốc</button>
            <button type="button" v-on:click="save()">Lưu thay đổi</button>
        </div>    
    </div>
</template>