<template>
	<div>
        <v-datatable-builder
                :is_filtering="false"
                :is_ordering="true"
                :is_download="true"
                :custom_datatable_rows="true"
                :filter_position="filter_position"
                :per_page="50"
                :remote_url="apiEndpoint"
                v-bind:is_load_config="false"
                v-bind:columns_ticky_at="2"
                v-bind:default_query_params="APIDefaultParams"
        >
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr v-for="(row, i) in items" v-bind:key="`datatable-filter-row-${i}`">
                    <td nowrap="nowrap" v-text="row.adaccount_cid"></td>
                    <td nowrap="nowrap" v-text="row.adaccount_name"></td>
                    <td nowrap="nowrap" v-text="row.adaccount_type"></td>
                    <td nowrap="nowrap">
                        <b><a target="_blank" :href="`${admin_url}contract/edit/${row.contract.term_id}`" v-text="row.contract_code"></a></b>
                    </td>
                    <td nowrap="nowrap" align="center" v-text="row.has_right_join ? 'Có' : 'Không'"></td>
                    <td nowrap="nowrap">
                        <b v-if="!row.has_right_join">--</b>
                        <b v-else><a target="_blank" :href="`${admin_url}contract/edit/${row.right_join_contract_id}`" v-text="row.right_join_contract_code"></a></b>
                    </td>
                    
                    <td nowrap="nowrap" v-text="row.customer_code"></td>
                    <td nowrap="nowrap" v-text="row.customer_name"></td>
                    <td nowrap="nowrap" v-text="moment(row.start_date)"></td>
                    <td nowrap="nowrap" v-text="moment(row.end_date)"></td>
                    <td nowrap="nowrap" align="right" v-text="parseInt(row.spend).toLocaleString('de-DE')"></td>
                    <td nowrap="nowrap" v-text="row.staffs"></td>
                    <td nowrap="nowrap" v-text="row.sale ? row.sale.display_name : '--'"></td>
                </tr> 
            </template>   
        </v-datatable-builder>
	</div>
</template>

<script>

import vDatatableBuilder from '@/components/vDatatableBuilder.vue'
import DateRangePicker from 'vue2-daterange-picker'

export default {
	name: 'vAdStorageIndexContainer',
	data: () => ({

        admin_url: admin_url,
        base_url: base_url,
        filter_position: 1,
		loading: false,
        apiEndpoint: `${base_url}api-v2/contract/DatasetAdStorageCompleted`,
        APIDefaultParams: [],
	}),

    created () {

        let startTime   = moment().startOf('month').format('DD-MM-YYYY')
        let endTime     = moment().endOf('month').format('DD-MM-YYYY')

        if(moment().format('D') < 8)
        {
            startTime   = moment().subtract(1, 'months').startOf('month').format('DD-MM-YYYY')
            endTime     = moment().format('DD-MM-YYYY')
        }

        this.APIDefaultParams = [
            {
                'where[end_date]': `${startTime} - ${endTime}`
            }
        ]
    },

    methods: {

        moment (unix, format) {
            
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },
    },

    components: {
        vDatatableBuilder
    }
}
</script>