<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="3"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__cell--middle': true,
                            'datatable__header--min-width-20':
                                key == 'customer' ||
                                key == 'contract_code' ||
                                key == 'contract_type',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a
                            v-if="row.cid"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.cid }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        style="
                            max-width: 15rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.customer"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.customer }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <!-- End Customer -->
                    <!-- Begin Contract -->
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        style="
                            max-width: 20rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.contract_code"
                            target="_blank"
                            :href="`${base_url}/admin/contract/create_wizard/index/${row.term_id}`"
                        >
                            {{ row.contract_code }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            parseInt(row.contract_value, 10).toLocaleString(
                                'de-DE'
                            )
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            parseInt(row.payment_amount, 10).toLocaleString(
                                'de-DE'
                            )
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            parseInt(
                                row.payment_amount_remaining,
                                10
                            ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            parseInt(row.caution_amount, 10).toLocaleString(
                                'de-DE'
                            )
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.caution_end_time"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.note"
                    ></td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            v-if="!isEmpty(row.staff_business)"
                            :href="`javascript:void(${row.staff_business.user_id})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :alt="`avatar-${row.staff_business.user_id}`"
                                :src="row.staff_business.user_avatar"
                            />
                            <span> {{ row.staff_business.display_name }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.department || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.user_group || '--'"
                    ></td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

    export default {
        name: "vContractReportWarningOverBudget",

        components: {
            vDatatableBuilder,
        },

        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/contract/DatasetReceiptCautionDueSoonReport`,
            APIDefaultParams: [],

            updateStaffId: 0,
            staffIdsSelected: [],
            checkAll: false,

            staffs: [],
            isLoading: false,
        }),

        mounted() {
            $("#modal-update").on("hide.bs.modal", () => {
                this.closeUpdateBox();
            });
        },

        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },
            datasourceChanged(items) {
                this.staffs = items;
            },

            closeUpdateBox() {
                this.updateStaffId = 0;
            },

            openReceiptUpdateBox(receiptId) {
                this.updateStaffId = receiptId;
            },

            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
        },
    };
</script>
