<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="3"
            class="datatable"
        >
            <!-- @datasource_changed="datasourceChanged" -->
            <template slot="tools_extra_right">
                <div class="pull-right">
                    <date-range-picker
                        @update="() => datesSelected()"
                        v-model="dateRange"
                        :date-format="dateFormat"
                        :ranges="dateRanges"
                        opens="left"
                    >
                    </date-range-picker>
                </div>
            </template>
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td nowrap></td>
                    <td
                        nowrap
                        align="center"
                        class="datatable__cell--middle bg-teal"
                        colspan="5"
                    >
                        Số tiền đã thu
                    </td>
                    <td
                        nowrap
                        align="center"
                        class="datatable__cell--middle bg-yellow"
                        colspan="3"
                    >
                        Spent đã chạy
                    </td>
                    <td
                        nowrap
                        align="center"
                        class="datatable__cell--middle bg-aqua"
                        colspan="3"
                    >
                        Đối chiếu spent đã chạy / Đã thu
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        v-html="heading"
                        :class="{
                            'datatable__cell--middle': true,
                            'datatable__header--min-width-10': key == 'cid',
                            'datatable__header--min-width-15':
                                key == 'display_name' ||
                                key == 'contract_budget_payment_type' ||
                                key == 'service_fee_rate_actual' ||
                                key == 'contract_begin' ||
                                key == 'contract_end' ||
                                key == 'advertise_start_time' ||
                                key == 'budget_payment' ||
                                key == 'service_fee_payment' ||
                                key == 'fct_amount_payment' ||
                                key == 'vat_amount_payment' ||
                                key == 'amount_payment' ||
                                key == 'spend' ||
                                key == 'service_fee_actual' ||
                                key == 'check_invoice' ||
                                key == 'budget_payment_order_printed' ||
                                key == 'service_fee_payment_order_printed' ||
                                key == 'amount_payment_order_printed' ||
                                key == 'compare_invoice' ||
                                key == 'process' ||
                                key == 'confirm' ||
                                key == 'budget_remain' ||
                                key == 'service_fee_remain' ||
                                key == 'total_remain' ||
                                key == 'compare_budget_actual' ||
                                key == 'compare_service_fee_actual' ||
                                key == 'compare_summary_actual' ||
                                key == 'contract_code',
                        }"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <!-- Beign Customer -->
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a
                            v-if="row.cid"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.cid }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        style="
                            max-width: 20rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.display_name"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.display_name }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <!-- End Customer -->
                    <!-- Begin Contract -->
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.contract_code"
                            target="_blank"
                            :href="`${base_url}/admin/contract/create_wizard/index/${row.term_id}`"
                        >
                            {{ row.contract_code }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="
                            row.contract_budget_payment_type
                                ? row.contract_budget_payment_type
                                : '--'
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="
                            row.service_fee_payment_type
                                ? row.service_fee_payment_type
                                : '--'
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.service_fee_rate_actual)
                                ? '--'
                                : Number(
                                      row.service_fee_rate_actual
                                  ).toLocaleString(undefined, {
                                      style: 'percent',
                                      minimumFractionDigits: 2,
                                  })
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.contract_begin ? row.contract_begin : '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.contract_end ? row.contract_end : '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            row.advertise_start_time
                                ? row.advertise_start_time
                                : '--'
                        "
                    ></td>
                    <!-- End Contract -->
                    <!-- Begin Receipt payment -->
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.budget_payment)
                                ? '--'
                                : parseInt(
                                      row.budget_payment,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.service_fee_payment)
                                ? '--'
                                : parseInt(
                                      row.service_fee_payment,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.fct_amount_payment)
                                ? '--'
                                : parseInt(
                                      row.fct_amount_payment,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.vat_amount_payment)
                                ? '--'
                                : parseInt(
                                      row.vat_amount_payment,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.amount_payment)
                                ? '--'
                                : parseInt(
                                      row.amount_payment,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <!-- End Receipt payment -->
                    <!-- Begin spent -->
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.spend)
                                ? '--'
                                : parseInt(row.spend, 10).toLocaleString(
                                      'de-DE'
                                  )
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.balance_spend)
                                ? '--'
                                : parseInt(
                                      row.balance_spend,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.service_fee_actual)
                                ? '--'
                                : parseInt(
                                      row.service_fee_actual,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <!-- End spent -->
                    <!-- Begin compare spent/receipt -->
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.budget_remain)
                                ? '--'
                                : parseInt(
                                      row.budget_remain,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.service_fee_remain)
                                ? '--'
                                : parseInt(
                                      row.service_fee_remain,
                                      10
                                  ).toLocaleString('de-DE')
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            isEmpty(row.total_remain)
                                ? '--'
                                : parseInt(row.total_remain, 10).toLocaleString(
                                      'de-DE'
                                  )
                        "
                    ></td>
                    <!-- End compare spent/receipt -->
                    <!-- Begin compare spent/bonus -->
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            v-if="!isEmpty(row.staff_business)"
                            :href="`javascript:void(${row.staff_business.user_id})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :alt="`avatar-${row.staff_business.user_id}`"
                                :src="row.staff_business.user_avatar"
                            />
                            <span> {{ row.staff_business.display_name }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.department || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.user_group || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.staff_techs || '--'"
                    ></td>
                    <!-- End compare spent/bonus -->
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->
    </div>
</template>

<script>
    import DateRangePicker from "vue2-daterange-picker";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

    export default {
        name: "vContractReportSynthesis",

        components: {
            DateRangePicker,
            vDatatableBuilder,
        },

        // data: () => ({
        //     admin_url: admin_url,
        //     base_url: base_url,
        //     filter_position: 1,
        //     loading: false,
        //     APIEndpoint: `${base_url}api-v2/contract/DatasetSynthesisReport`,
        //     APIDefaultParams: [],

        //     updateStaffId: 0,
        //     staffIdsSelected: [],
        //     checkAll: false,

        //     staffs: [],
        //     isLoading: false,
        // }),

        data() {
            let dateRanges = {};
            let today = new Date();
            today.setHours(0, 0, 0, 0);
            dateRanges["Hôm nay"] = [today, today];

            let yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);
            yesterday.setHours(0, 0, 0, 0);
            dateRanges["Hôm qua"] = [yesterday, yesterday];

            let y = today.getFullYear();
            let m = today.getMonth();

            let thisMonthStart = new Date(y, m, 1);
            let thisMonthEnd = new Date(y, m + 1, 0);
            dateRanges["Tháng này"] = [thisMonthStart, thisMonthEnd];

            let i = 1;
            while (i < 4) {
                let _start = new Date(y, m - i, 1);
                let _end = new Date(y, m - i + 1, 0);
                dateRanges[`Tháng ${_start.getMonth() + 1}`] = [_start, _end];
                i++;
            }

            return {
                admin_url: admin_url,
                base_url: base_url,
                APIEndpoint: `${base_url}api-v2/contract/DatasetTotal`,
                APIDefaultParams: [],

                filter_position: 1,

                dateRange: {
                    startDate: thisMonthStart,
                    endDate: thisMonthEnd,
                },

                dateRanges: dateRanges,
            };
        },

        created() {
            this.switchAPI();
        },

        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },

            dateFormat(classes, date) {
                let _minDate = new Date();
                _minDate.setMonth(_minDate.getMonth() - 3);

                if (!classes.disabled) {
                    classes.disabled = date.getTime() < _minDate;
                }
                return classes;
            },

            reload() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 100);
            },

            datesSelected() {
                this.switchAPI();
            },

            switchAPI() {
                this.APIDefaultParams = [];

                let _start = parseInt(
                    this.dateRange.startDate.getTime() / 1000
                );
                let _end = parseInt(this.dateRange.endDate.getTime() / 1000);
                this.APIDefaultParams = [
                    { start_time: _start, end_time: _end },
                ];

                this.reload();

                return true;
            },
        },
    };
</script>
