<template>
	<div> 
        <v-datatable-builder
                v-if="APIEndpoint.length > 0"
                v-bind:is_filtering="false"
                v-bind:is_ordering="true"
                v-bind:is_download="true"
                v-bind:custom_datatable_rows="true"
                v-bind:filter_position="filter_position"
                v-bind:per_page="50"
                v-bind:remote_url="APIEndpoint"
                v-bind:default_query_params="APIDefaultParams"
                v-bind:is_load_config="false"
                v-bind:columns_ticky_at="2"
                @datasource_changed="datasourceChanged"
        >
            <template slot="tools_extra_right">
                <a class="btn btn-flat btn-sm text-black pull-right" data-toggle="modal" data-target="#modal-default">
                    <i class="fa fa-2x fa-plus-circle"></i>
                    <br>Tạo mới
                </a>
            </template>

            <template slot="prepend_thead_filtering_partial">
                <th align="center" valign="middle"></th>
            </template>

            <template slot="append_thead_filtering_partial">
                <th>
                    <div class="checkbox icheck-belizehole">
                        <input type="checkbox" id="postIdAllChk" v-model="checkAll" />
                        <label for="postIdAllChk"></label>
                    </div>
                </th>
            </template>

            <template slot="table_body_rows" slot-scope="{ items }">
                <tr v-for="(row, i) in items" v-bind:key="`datatable-filter-row-${i}`">
                    <td>
                        <div class="checkbox icheck-belizehole">
                            <input v-model="postIdsSelected" class="postIdCheckbox" type="checkbox" name="carots[]" :id="`postIdChk-${row.post_id}`" :value="row.post_id" />
                            <label :for="`postIdChk-${row.post_id}`"></label>
                        </div>
                    </td>
                    <td class="first-col">
                        <b><a target="_blank" :href="`${admin_url}contract/edit/${row.term_id}`" v-text="row.contract_code"></a></b>
                        <span class="clearfix"></span>
                        <small v-if="row.sale" class="text-muted col-xs-12" data-toggle="tooltip" title="" data-original-title="NVKD / Nhóm / Phòng ban">
                            <i class="fa fa-fw fa-user"></i> 
                                {{ row.sale ? row.sale.display_name : '--' }} / {{ row.sale.user_groups ? row.sale.user_groups.join() : '--' }} / {{ row.sale.departments ? row.sale.departments.join() : '' }}
                        </small>
                        <br>
                        <small v-if="row.customer" class="text-muted col-xs-12" data-toggle="tooltip" title="" data-original-title="Khách hàng">
                            <i class="fa fa-fw fa-user-secret"></i>{{ row.customer.cid }} - {{ row.customer.display_name }}
                        </small>
                    </td>
                    <td v-text="row.contract_status"></td>
                    <td v-text="row.service_fee_payment_type"></td>
                    <td align="right" v-text="moment(row.end_date)"></td>
                    <td align="right" v-text="parseInt(row.amount).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="`${row.vat} %`"></td>
                    <td align="right" v-text="parseInt(row.amount_not_vat).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="parseInt(row.vat_amount).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="row.service_fee_rate ? parseInt(row.service_fee_rate) + '%' : '--'"></td>
                    <td align="right" v-text="parseInt(row.service_fee).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="parseInt(row.service_provider_tax).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="parseInt(row.fct_amount).toLocaleString('de-DE')"></td>
                    <td align="right" v-text="parseInt(row.actual_budget).toLocaleString('de-DE')"></td>
                    <td v-text="row.term_type"></td>
                    <td v-text="row.post_type"></td>
                    <td v-text="row.post_status"></td>
                    <td align="center">
                        <i :class="row.is_order_printed ? ['fa fw fa-check-square-o'] : ['fa fw fa-square-o']" class="fa fw fa-check-square-o"></i>
                    </td>
                    <td align="center" v-text="row.transfer_type"></td>
                    <td align="center">
                        <div class="btn-group" style="no-wrap">
                            <button type="button" @click="openReceiptUpdateBox(row.post_id)" class="btn btn-sm btn-primary btn-flat" data-toggle="modal" data-target="#modal-update"><i class="fa fa-edit"></i></button>
                            <!-- <button type="button" class="btn btn-sm btn-danger btn-flat"><i class="fa fa-trash"></i></button> -->
                        </div>
                    </td>
                </tr> 
            </template>

            <template slot="table_footer_left">
                <div>
                    <button 
                        data-toggle="modal"
                        :data-target="`#${batchEmailId}`"
                        type="button"
                        class="btn btn-primary btn-flat"
                        :disabled="!(postIdsSelected.length > 0)"
                        v-on:click="openBatchMailing"
                    >
                        <i class="fa fa-send"></i>
                        Email khách hàng
                        <span v-if="postIdsSelected.length > 0">
                            (đã chọn <b>{{ postIdsSelected.length }}</b>)
                        </span>
                        
                    </button>
                </div>
            </template>
        </v-datatable-builder>


        <div class="modal fade" :id="batchEmailId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a type="button" :id="`${batchEmailId}-btn`" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">Danh sách gửi E-mail khách hàng</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table border="1" cellpadding="2" cellspacing="1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">Trạng thái</th>
                                        <th nowrap="nowrap" class="text-center">Ngày</th>
                                        <th nowrap="nowrap" class="text-left">Hợp đồng</th>
                                        <th nowrap="nowrap" class="text-center">Số tiền</th>
                                        <th nowrap="nowrap" class="text-center">Mã khách hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-for="item in selectedPayments">
                                        <template>
                                            <tr v-bind:key="`maillingSelectedPayment-${item.post_id}`">
                                                <td align="center">
                                                    <span v-if="'pending' == item.maillingStatus" class="text-muted">Chưa xử lý</span>
                                                    <span v-else-if="'running' == item.maillingStatus" class="text-yellow">Đang gửi</span>
                                                    <span v-else-if="'publish' == item.maillingStatus" class="text-green">Hoàn tất</span>
                                                    <span v-else class="text-red">Error</span>
                                                </td>
                                                <td align="center" v-text="moment(item.end_date)"></td>
                                                <td align="left" v-text="item.contract_code"></td>
                                                <td align="right" v-text="(item.amount).toLocaleString('de-DE')"></td>
                                                <td align="center" v-text="item.customer.cid"></td>
                                            </tr>
                                            <tr v-if="'error' == item.maillingStatus && item.description" v-bind:key="`maillingSelectedPayment-errors-${item.post_id}`">
                                                <td colspan="5" align="right">
                                                    <span class="label-danger" style="padding: 2px 10px 2px 10px;border-radius:8px">
                                                        <i class="icon fa fa-info" style="margin-right:10px"></i>
                                                        {{ item.description }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </template>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hủy bỏ</button>
                        <button :disabled="isLoading" type="button" class="btn btn-primary" v-on:click="batchMailling()">
                            Tiến hành gửi &nbsp;
                            <i class="fa fa-send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tạo mới phiếu thanh toán</h4>
              </div>
              <div class="modal-body">
                    <v-payment-create @reloadData="reloadData()"/>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-update">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cập nhật phiếu thanh toán</h4>
              </div>
              <div class="modal-body" v-if="updateReceiptId > 0">
                  <v-payment-update v-bind:id="updateReceiptId" @closed="closeUpdateBox()" @reloadDatabase="reloadData()"/>
              </div>
            </div>
          </div>
        </div>
    </div>

</template>

<script>

import vDatatableBuilder from '@/components/vDatatableBuilder.vue'
import vPaymentCreate from '@/components/payments/PaymentCreate.vue'
import vPaymentUpdate from '@/components/payments/PaymentUpdate.vue'
import DateRangePicker from 'vue2-daterange-picker'

import { contractService } from '@/_services/contract.service.js'

export default {
	name: 'vContractReceiptsIndexContainer',

    components: {
        vDatatableBuilder,
        vPaymentCreate,
        vPaymentUpdate
    },

	data: () => ({

        admin_url: admin_url,
        base_url: base_url,
        filter_position: 1,
		loading: false,
        APIEndpoint: `${base_url}api-v2/contract/DatasetReceipts`,
        APIDefaultParams: [],

        updateReceiptId: 0,
        postIdsSelected: [],
        checkAll: false, 

        batchEmailId: _.uniqueId('vContractReceiptsIndexContainer-BatchEmailId-Modal'),

        payments: [],
        selectedPayments: [],
        isLoading: false
	}),

    created () {

        let startTime   = moment().startOf('month').format('DD-MM-YYYY')
        let endTime     = moment().endOf('month').format('DD-MM-YYYY')

        if(moment().format('D') < 8)
        {
            startTime   = moment().subtract(1, 'months').startOf('month').format('DD-MM-YYYY')
            endTime     = moment().format('DD-MM-YYYY')
        }

        this.APIDefaultParams = [
            {
                'where[end_date]': `${startTime} - ${endTime}`
            }
        ]
    },

    watch: {
        checkAll () {

            if( ! this.checkAll)
            {
                this.postIdsSelected = []
                return false
            }

            let tags = document.getElementsByClassName('postIdCheckbox')
            const postIds = _.map(tags, o => parseInt(o.value))
            this.postIdsSelected = postIds
        }
    },

    mounted () {

        $("#modal-update").on('hide.bs.modal', () => {
            this.closeUpdateBox()
        })
    },

    methods: {

        batchMailling () {

            this.isLoading = true

            _.map(this.selectedPayments, async (item, index) => {

                this.selectedPayments[index].maillingStatus = 'running'

                await contractService.send_payment_completed(item.post_id).then(response => {
                    if(200 == _.get(response, 'code'))
                    {
                        this.selectedPayments[index].maillingStatus = 'publish'
                        return response
                    }

                    this.selectedPayments[index].maillingStatus = 'error'
                    this.selectedPayments[index].description = _.get(response, 'message')
                })
            })

            this.isLoading = false
        },

        openBatchMailing (){
            
            this.selectedPayments = [];

            let allPayments = _.cloneDeep(this.payments)
            let _payments = _.filter(allPayments, o => _.includes(this.postIdsSelected, o.post_id))

            this.selectedPayments = _.map(_payments, o => {
                return {
                    'post_id' : o.post_id,
                    'customer' : o.customer,
                    'contract_code' : o.contract_code,
                    'end_date' : o.end_date,
                    'amount' : o.amount,
                    'maillingStatus' : 'pending', 
                    'description': null
                }
            })
        },

        datasourceChanged(items) {
            this.payments = items
        },

        closeUpdateBox () {
            this.updateReceiptId = 0
        },

        openReceiptUpdateBox(receiptId) {
            this.updateReceiptId = receiptId
        },

        moment (unix, format) {
            
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        reloadData(){
            let _tmp = this.APIEndpoint;
            this.APIEndpoint = '';
            setTimeout(() => {
                this.APIEndpoint = _tmp;
            }, 100);
        }
    }
}
</script>