<template>
  <div>
    <v-datatable-builder
      v-if="APIEndpoint.length > 0"
      v-bind:is_filtering="false"
      v-bind:is_ordering="true"
      v-bind:is_download="false"
      v-bind:custom_datatable_rows="true"
      v-bind:filter_position="filter_position"
      v-bind:per_page="100"
      v-bind:remote_url="APIEndpoint"
      v-bind:default_query_params="APIDefaultParams"
      v-bind:is_load_config="false"
      v-bind:columns_ticky_at="2"
      @datasource_changed="datasourceChanged"
    >
      <template slot="prepend_thead_filtering_partial">
        <th align="center" valign="middle"></th>
      </template>

      <template slot="append_thead_filtering_partial">
        <th>
          <div class="checkbox icheck-belizehole">
            <input type="checkbox" id="postIdAllChk" v-model="checkAll" />
            <label for="postIdAllChk"></label>
          </div>
        </th>
      </template>

      <template slot="table_body_rows" slot-scope="{ items }">
        <tr v-for="(row, i) in items" v-bind:key="`datatable-filter-row-${i}`">
          <td>
            <div class="checkbox icheck-belizehole">
              <input
                v-model="termIdsSelected"
                class="termIdCheckbox"
                type="checkbox"
                name="carots[]"
                :id="`termIdChk-${get(row, 'term_id')}`"
                :value="get(row, 'term_id')"
              />
              <label :for="`termIdChk-${get(row, 'term_id')}`"></label>
            </div>
          </td>
          <td nowrap>
            <b
              ><a
                target="_blank"
                :href="`${admin_url}contract/edit/${get(row, 'term_id')}`"
                v-text="get(row, 'contract_code')"
              ></a
            ></b>
          </td>
          <td nowrap align="left" v-text="get(row, 'contract_type')"></td>
          <td
            nowrap
            align="center"
            v-text="get(row, 'customer.cid') || '--'"
          ></td>
          <td
            nowrap
            align="left"
            v-text="get(row, 'customer.display_name') || '--'"
          ></td>
          <td
            nowrap
            align="left"
            v-text="get(row, 'sale.display_name') || '--'"
          ></td>
          <td
            nowrap
            align="left"
            v-text="
              get(row, 'sale.user_groups')
                ? join(get(row, 'sale.user_groups'))
                : '--'
            "
          ></td>
          <td
            nowrap
            align="left"
            v-text="
              get(row, 'sale.departments')
                ? join(get(row, 'sale.departments'))
                : '--'
            "
          ></td>
          <td nowrap align="right" v-text="get(row, 'contract_begin')"></td>
          <td nowrap align="right" v-text="get(row, 'contract_end')"></td>
          <td nowrap align="right" v-text="get(row, 'payment_amount')"></td>
          <td nowrap align="right" v-text="`${get(row, 'vat')}%`"></td>
          <td nowrap align="left" v-text="get(row, 'contract_status')"></td>
        </tr>
      </template>

      <template slot="table_footer_left">
        <div>
          <button
            data-toggle="modal"
            :data-target="`#${batchStartId}`"
            type="button"
            class="btn btn-warning btn-flat"
            :disabled="!(termIdsSelected.length > 0)"
            v-on:click="openBatchStartService"
          >
            <i class="fa fa-play"></i>
            Chạy dịch vụ
            <span v-if="termIdsSelected.length > 0">
              (đã chọn <b>{{ termIdsSelected.length }}</b
              >)
            </span>
          </button>
        </div>
      </template>
    </v-datatable-builder>

    <!-- Begin Model start service -->
    <div class="modal fade" :id="batchStartId">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <a
              type="button"
              :id="`${batchStartId}-btn`"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </a>
            <h4 class="modal-title">Danh sách Hợp đồng chạy dịch vụ</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <table
                border="1"
                cellpadding="2"
                cellspacing="1"
                class="table table-bordered table-hover"
              >
                <thead>
                  <tr>
                    <th nowrap="nowrap" class="text-center">Trạng thái</th>
                    <th nowrap="nowrap" class="text-left">Hợp đồng</th>
                    <th nowrap="nowrap" class="text-center">Dịch vụ</th>
                    <th nowrap="nowrap" class="text-center">Số tiền</th>
                    <th nowrap="nowrap" class="text-center">Mã khách hàng</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="item in selectedContract">
                    <tr v-bind:key="`startServiceSelected-${item.term_id}`">
                      <td align="center">
                        <span v-if="'pending' == item.status" class="text-muted"
                          >Chưa xử lý</span
                        >
                        <span
                          v-else-if="'running' == item.status"
                          class="text-yellow"
                          >Đang gửi</span
                        >
                        <span
                          v-else-if="'publish' == item.status"
                          class="text-green"
                          >Hoàn tất</span
                        >
                        <span v-else class="text-red">Error</span>
                      </td>
                      <td align="left" v-text="item.contract_code"></td>
                      <td align="center" v-text="item.contract_status"></td>
                      <td align="right" v-text="item.payment_amount"></td>
                      <td align="center" v-text="item.customer.cid"></td>
                    </tr>
                    <tr
                      v-if="'error' == item.status && item.description"
                      v-bind:key="`startServiceSelected-errors-${item.term_id}`"
                    >
                      <td colspan="5" align="right">
                        <span
                          class="label-danger"
                          style="padding: 2px 10px 2px 10px; border-radius: 8px"
                        >
                          <i
                            class="icon fa fa-info"
                            style="margin-right: 10px"
                          ></i>
                          {{ item.description }}
                        </span>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default pull-left"
              data-dismiss="modal"
            >
              Hủy bỏ
            </button>
            <button
              :disabled="isBatching"
              type="button"
              class="btn btn-primary"
              v-on:click="batchStart()"
            >
              Tiến hành gửi &nbsp;
              <i class="fa fa-send"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Model start service -->
  </div>
</template>

<script>
import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
import vPaymentCreate from "@/components/payments/PaymentCreate.vue";
import vPaymentUpdate from "@/components/payments/PaymentUpdate.vue";
import DateRangePicker from "vue2-daterange-picker";

import { contractService } from "@/_services/contract.service.js";

export default {
  name: "vContractReceiptsIndexStartService",

  components: {
    vDatatableBuilder,
    vPaymentCreate,
    vPaymentUpdate,
  },

  data: () => ({
    admin_url: admin_url,
    base_url: base_url,
    filter_position: 1,
    loading: false,
    APIEndpoint: `${base_url}api-v2/contract/DatasetSuccessPayments`,
    APIDefaultParams: [],

    updateReceiptId: 0,
    termIdsSelected: [],
    checkAll: false,

    batchStartId: _.uniqueId("vContractStartService-BatchStartId-Modal"),

    payments: [],
    selectedContract: [],
    isBatching: false,
  }),

  created() {
    // let startTime = moment().startOf("month").format("DD-MM-YYYY");
    // let endTime = moment().endOf("month").format("DD-MM-YYYY");
    // if (moment().format("D") < 8) {
    //   startTime = moment()
    //     .subtract(1, "months")
    //     .startOf("month")
    //     .format("DD-MM-YYYY");
    //   endTime = moment().format("DD-MM-YYYY");
    // }
    // this.APIDefaultParams = [
    //   {
    //     "where[end_date]": `${startTime} - ${endTime}`,
    //   },
    // ];
  },

  watch: {
    checkAll() {
      if (!this.checkAll) {
        this.termIdsSelected = [];
        return false;
      }

      let tags = document.getElementsByClassName("termIdCheckbox");
      const postIds = _.map(tags, (o) => parseInt(o.value));
      this.termIdsSelected = postIds;
    },
    isBatching(value) {
      if (!value) {
        let publishContract = _.filter(
          this.selectedContract,
          (item) => item.status == "publish"
        );

        if (!_.isEmpty(publishContract)) {
          let _tmp = this.APIEndpoint;
          this.APIEndpoint = "";

          setTimeout(() => {
            this.APIEndpoint = _tmp;
          }, 1000);
        }
      }
    },
  },

  methods: {
    get(item, ref) {
      return _.get(item, ref);
    },
    join(array) {
      return _.join(array);
    },
    async batchStart() {
      this.isBatching = true;

      await Promise.all(
        _.map(this.selectedContract, async (item, index) => {
          this.selectedContract[index].status = "running";

          let response = await contractService.start_service(item.term_id);
          if (200 == _.get(response, "code")) {
            this.selectedContract[index].status = "publish";

            return response;
          }

          this.selectedContract[index].status = "error";
          this.selectedContract[index].description = _.get(response, "message");
        })
      );

      this.isBatching = false;
    },

    openBatchStartService() {
      this.selectedContract = [];

      let allContracts = _.cloneDeep(this.contracts);
      let _contract = _.filter(allContracts, (o) =>
        _.includes(this.termIdsSelected, o.term_id)
      );

      this.selectedContract = _.map(_contract, (o) => {
        return {
          term_id: o.term_id,
          customer: o.customer,
          contract_code: o.contract_code,
          payment_amount: o.payment_amount,
          contract_status: o.contract_status,
          status: "pending",
          description: null,
        };
      });
    },

    datasourceChanged(items) {
      this.contracts = items;
    },

    closeUpdateBox() {
      this.updateReceiptId = 0;
    },

    openReceiptUpdateBox(receiptId) {
      this.updateReceiptId = receiptId;
    },

    moment(unix, format) {
      if (!_.gt(unix, 0)) return "";
      if (_.isEmpty(format)) format = "DD/MM/YYYY";
      return moment.unix(unix).format(format);
    },
  },
};
</script>
