<template>
	<div :id="containerId">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <small class="label pull-right bg-primary">1</small> # Tải lên file Excel (.xlsx) danh sách đợt thu tiền
                        </a>
                        <a role="button" target="_blank" title="Click để tải file mẫu" :href="xlsxSampleUrl">
                            <small style="margin-right:10px" class="label pull-right bg-purple">
                                <i class="fa fa-download"></i>
                                Tải về file (.xlxs) mẫu
                            </small>
                        </a>
                        
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <vue-dropzone
                            ref="myVueDropzone"
                            id="dropzone"
                            :options="dropzoneOptions"
                            v-on:vdropzone-file-added="readAsJson"
                        ></vue-dropzone>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                    <a :id="`${containerId}-a-title`" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <small class="label pull-right bg-green">2</small> # Danh sách đợt thu tiền
                    </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Phân tích/ Báo cáo số liệu</h3>
                            </div>
                            <div class="box-body">
                                <table border="1" name='sticky' cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Tổng tìm thấy</th>
                                            <th class="text-center">Có thể xử lý</th>
                                            <th class="text-center">Thêm mới</th>
                                            <th class="text-center">Cập nhật</th>
                                            <th class="text-center">Không thành công</th>
                                            <th class="text-center">Sai định dạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label>Kết quả</label></td>
                                            <td class="text-center"><label v-text="numOfItems || '--'"></label></td>
                                            <td class="text-center"><label v-text="numOfItemsAvailable || '--'"></label></td>
                                            <td class="text-center"><label v-text="numOfItemsInserted || '--'"></label></td>
                                            <td class="text-center"><label v-text="numOfItemsUpdated || '--'"></label></td>
                                            <td class="text-center"><label v-text="numOfItemsFailed || '--'"></label></td>
                                            <td class="text-center"><label v-text="numOfItemsInvalid || '--'"></label></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td align="right" colspan="7">
                                                <button class="btn btn-primary" @click="createOrUpdate = true;batch()">Thêm mới &#38; cập nhật (nếu tồn tại)</button>
                                                <button class="btn btn-success" @click="createOrUpdate = false;batch()">Thêm mới</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách thanh toán</h3>
                            </div>
                            <div class="box-body">
                                <table border="1" cellspacing="1" class="table table-responsive table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">STT</th>
                                            <th>ID/Nội dung</th>
                                            <th>Số tiền</th>
                                            <th>Hình thức</th>
                                            <th>Tài khoản</th>
                                            <th>Loại</th>
                                            <th>Hình thức nhập</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày</th>
                                            <th>Tiến độ</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="dataImport.length > 0">

                                        <template v-for="(item, i) in dataImport">
                                            <tr v-bind:key="`import-data-row-${i}`">
                                                <td v-text="item.increment"></td>
                                                <td>
                                                    <label><u>{{ item.contract_code }}</u></label><br/>
                                                    <label>{{ item.row_id }}</label><br/>
                                                    {{ item.post_title }}
                                                </td>
                                                <td align="right" v-text="parseInt(item.amount).toLocaleString('de-DE')"></td>
                                                <td v-text="item.transfer_type"></td>
                                                <td v-text="item.transfer_account"></td>
                                                <td v-text="item.post_type"></td>

                                                <td>
                                                    <ul>
                                                        <template v-if="'manual' == valueOfInputFormatLbl(item.input_method)">
                                                            <li class="text-capitalize text-weight-normal" v-text="item.input_method"></li>
                                                            <li class="text-capitalize" v-text="item.formula_input"></li>
                                                            <li class="text-capitalize" v-if="'service_fee' == valueOfFormulaInputLbl(item.formula_input)">
                                                                Phí dịch vụ : <span class="text-green" v-text="(item.service_fee).toLocaleString('de-DE')"></span>
                                                            </li>
                                                        </template>
                                                        <li v-else v-text="item.input_method" class="text-capitalize text-weight-normal"></li>
                                                    </ul>
                                                </td>

                                                <td v-text="item.post_status"></td>
                                                <td v-text="item.end_date ?  item.end_date.format('YYYY-MM-DD') : '--'"></td>
                                                <td>
                                                    <span style="font-weight:bold" class="text-red" v-if="!item.isValid">Không hợp lệ</span>
                                                    <span style="font-weight:bold" class="text-ligh-blue" v-else-if="'pending' == item.status">Chờ xử lý</span>
                                                    <span style="font-weight:bold" class="text-yellow" v-else-if="'running' == item.status">Đang xử lý</span>
                                                    <span style="font-weight:bold" class="text-green" v-else-if="'inserted' == item.status">Đã thêm mới</span>
                                                    <span style="font-weight:bold" class="text-green" v-else-if="'existed' == item.status">Đã tồn tại</span>
                                                    <span style="font-weight:bold" class="text-aqua" v-else-if="'updated' == item.status">Đã cập nhật</span>
                                                    <span style="font-weight:bold" class="text-red" v-else-if="'failed' == item.status">Lỗi</span>
                                                </td>
                                            </tr>
                                            <tr v-if="item.messages" v-bind:key="`import-data-error-row-${i}`">
                                                <td colspan="10" align="right">
                                                    <span :class="[ 'warning' == item.messages.type ? 'label-warning' : 'label-danger' ]" style="padding: 2px 10px 2px 10px;border-radius:8px">
                                                        <i class="icon fa fa-info" style="margin-right:10px"></i>
                                                        {{ item.messages.text }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td style="padding: 15px;" align="center" colspan="9">Chưa có đợt thanh toán nào, bạn hãy Import file thanh toán lên để tiếp tục cập nhật dữ liệu </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>

import vDatatableBuilder from '@/components/vDatatableBuilder.vue'
import XLSX from 'xlsx';
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

import { contractService } from '@/_services/contract.service.js'

export default {
	name: 'vContractReceiptsBatchCreateOrUpdateContainer',
	data: () => ({

        admin_url: admin_url,
        base_url: base_url,
        xlsxSampleUrl: `${base_url}/files/excel_tpl/receipt/create-or-update-import-sample.xlsx`,
        dropzoneOptions: {
            url: 'https://httpbin.org/post',
            thumbnailWidth: 150,
            maxFilesize: 0.5,
            headers: { "My-Awesome-Header": "header value" }
        },
        createOrUpdate: false,
        isLoading: false,
        containerId: _.uniqueId('component-'),
        dataImport: []
	}),

    computed: {

        numOfItems () {
            return _.size(this.dataImport)
        },
        numOfItemsAvailable () {
            return this.numOfItems - this.numOfItemsInvalid
        },
        numOfItemsInserted () {
            return _.size(_.filter(this.dataImport, o => { return _.eq(o.status, 'inserted') }))
        },
        numOfItemsUpdated () {
            return _.size(_.filter(this.dataImport, o => { return _.eq(o.status, 'updated') }))
        },
        numOfItemsFailed () {
            return _.size(_.filter(this.dataImport, o => { return _.eq(o.status, 'failed') || _.eq(o.status, 'existed') }))
        },
        numOfItemsInvalid () {
            return _.size(_.filter(this.dataImport, o => { return _.isEmpty(o.row_id) || !_.gt(o.amount, 0) }))
        },


    },

    methods: {

        valueOfTransferTypeLbl (value){
            const list = {
                'Tiền mặt' : 'cash',
                'Tài khoản' : 'account',
            }

            return _.get(list, value, null)
        },

         

        valueOfReceiptStatusLbl (value){

            const list = {
                'Đã thanh toán' : 'paid',
                'hoàn tất' : 'paid',
                'Đang được bảo lãnh' : 'publish',
                'Hoàn tất bảo lãnh' : 'paid',
                'Đang soạn' : 'draft',
            }

              return _.get(list, value, null)
        },

        valueOfTransferBankAccountLbl (value){

            const list =  {
                'None' : 'none',
                'MBBANK-NGUYEN THI THANH HUYEN' : 'mb-bank',
                'ACB-NGUYEN DAC TRI' : 'acb',
                'BIDV-NGUYEN NHU MAI' : 'bidv-mainn',
                'VCB-NGUYEN ANH TUAN' : 'vcb-tuanna',
                'VCB-NGUYEN ANH TUAN' : 'vcb-tuanna',
                'VCB-NGUYEN ANH TUAN' : 'vcb-tuanna',
                'Vietcombank-Thuy' : 'vcb1',
                'VIB-Suong' : 'vib-2',
                'Techombank-Thuy' : 'tech-1',
                'Techcombank-Cty' : 'tech-2',
                'TPBank-Cty' : 'tpb-1'
            }

            return _.get(list, value, null);
        },

        valueOfPostTypeLbl (value) {
            const list = {
                'Thanh toán' : 'receipt_payment',
                'Bảo lãnh' : 'receipt_caution',
                'Nhận thay mặt thanh toán' : 'receipt_payment_on_behaft'
            }

            return _.get(list, value, null);
        },

        valueOfInputFormatLbl (value) {
            const list = {
                'bóc tách tự động' : 'default',
                'nhập thủ công' : 'manual'
            }

            return _.get(list, value, null);
        },

        valueOfFormulaInputLbl (value) {
            const list = {
                'phí theo từng đợt' : 'service_fee',
                'phí theo ngân sách' : 'budget'
            }

            return _.get(list, value, null);
        },

        batch () {

            this.isLoading = true

            _.map(this.dataImport, async (item, index) => {

                let _payload = _.cloneDeep(item)
                _.set(_payload, 'transfer_account', this.valueOfTransferBankAccountLbl(_payload.transfer_account))
                _.set(_payload, 'transfer_type', this.valueOfTransferTypeLbl(_payload.transfer_type))
                _.set(_payload, 'post_status', this.valueOfReceiptStatusLbl(_payload.post_status))
                _.set(_payload, 'post_type', this.valueOfPostTypeLbl(_payload.post_type))
                _.set(_payload, 'input_method', this.valueOfInputFormatLbl(_payload.input_method))
                _.set(_payload, 'formula_input', this.valueOfFormulaInputLbl(_payload.formula_input))
                _.set(_payload, 'end_date', _payload.end_date ? parseInt( _payload.end_date.format("X")) : null)

                if(_.isNaN(_.get(_payload, 'amount')) || _.isEmpty(_.get(_payload, 'contract_code'))) {
                    this.dataImport[index].status = 'invalid'
                    return item
                }
                
                await contractService.insertReceipt(_payload).then(response => {

                    _.set(this.dataImport[index], 'status', 'running')

                    if( 200 == _.get(response, 'code'))
                    {
                        _.set(this.dataImport[index], 'status', 'inserted')
                        _.set(this.dataImport[index], 'messages', null)
                        return response
                    }

                    if( 403 == _.get(response, 'code'))
                    {
                        _.set(this.dataImport[index], 'status', 'existed')
                        _.set(this.dataImport[index], 'post_id', _.get(response, 'data.foundId'))

                        _.set(this.dataImport[index], 'messages', { type: "warning", text: _.get(response, 'message') })
                        return response
                    }

                    _.set(this.dataImport[index], 'status', 'failed')

                    let errors = _.get(response, 'message')
                    if(_.isArray(errors)) _.set(this.dataImport[index], 'messages', { type: "error", text: _.join(errors, ', ') })
                    else _.set(this.dataImport[index], 'messages', { type: "error", text: errors })

                    return response
                })

                const _updateIfExisted = this.createOrUpdate && _.eq('existed', _.get(this.dataImport[index], 'status')) && _.gt(_.get(this.dataImport[index], 'post_id'), 0)
                if(_updateIfExisted)
                {
                    await contractService.updateReceipt(_.get(this.dataImport[index], 'post_id'), _payload).then(response => {

                        _.set(this.dataImport[index], 'status', 'running')

                        if( 200 == _.get(response, 'code'))
                        {
                            _.set(this.dataImport[index], 'status', 'updated')
                            _.set(this.dataImport[index], 'messages', null)
                            return response
                        }

                        if( 401 == _.get(response, 'code'))
                        {
                            _.set(this.dataImport[index], 'status', 'failed')
                            _.set(this.dataImport[index], 'post_id', _.get(response, 'data.foundId'))

                            _.set(this.dataImport[index], 'messages', { type: "error", text: _.get(response, 'message') })

                            return response
                        }

                        _.set(this.dataImport[index], 'status', 'existed')

                        
                        let errors = _.get(response, 'message')
                        if(_.isArray(errors)) _.set(this.dataImport[index], 'messages', { type: "error", text: _.join(errors, ', ') })
                            else _.set(this.dataImport[index], 'messages', { type: "error", text: errors })


                        return response
                    })
                }
            })

            this.isLoading = false
        },

        readAsJson (file) {

			var reader = new FileReader();

            reader.onload = e => {
				// pre-process data
				var binary = "";
				var bytes = new Uint8Array(e.target.result);
				var length = bytes.byteLength;
				for (var i = 0; i < length; i++) {
					binary += String.fromCharCode(bytes[i]);
				}
                
				/* read workbook */
				var wb = XLSX.read(binary, {type: 'binary', cellDates: true});

				var wsname = wb.SheetNames[0];
				var ws = wb.Sheets[wsname];

				var json = XLSX.utils.sheet_to_json(ws);
                this.dataImport = _.map(json, o => {

                    let _date = moment(o['NGÀY THANH TOÁN']).add(1, 'hours')
                    let _amount = _.parseInt(String(o['SỐ TIỀN'] || "").replace(/[^0-9]+/g,""))
                    let _isValid = !_.isEmpty(o['PHIẾU NHẬP']) && !_.isNaN(_amount)

                    return {
                        'increment': o['STT'],
                        'row_id': o['PHIẾU NHẬP'],
                        'contract_code': o['SHĐ'],
                        'amount': _amount,
                        'transfer_type': o['HÌNH THỨC'],
                        'transfer_account': o['TÀI KHOẢN'],
                        'post_type': o['LOẠI THANH TOÁN'],
                        'post_status': o['TRẠNG THÁI'],
                        'end_date': _date,
                        'post_title': o['GHI CHÚ'],
                        'input_method': o['HÌNH THỨC NHẬP'],
                        'formula_input': o['HÌNH THỨC VỀ PHÍ'],
                        'service_fee': o['PHÍ DỊCH VỤ'],
                        'isValid': _isValid,
                        'messages': null,
                        'status': 'pending'
                    }
                })

                document.getElementById(`${this.containerId}-a-title`).click()
			};

			reader.readAsArrayBuffer(file);
		},

        moment (unix, format) {
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        }
    },

    components: {
        vueDropzone: vue2Dropzone
    }
}
</script>