<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="3"
            class="datatable"
        >
            <template slot="tools_extra_right">
                <div class="pull-right">
                    <date-range-picker
                        @update="() => datesSelected()"
                        v-model="dateRange"
                        :ranges="dateRanges"
                        opens="left"
                    >
                    </date-range-picker>
                </div>
            </template>
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.contract_code"
                            target="_blank"
                            :href="`${base_url}/admin/contract/create_wizard/index/${row.term_id}`"
                        >
                            {{ row.contract_code }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a
                            v-if="row.cid"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.cid }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        style="
                            max-width: 20rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            v-if="row.display_name"
                            target="_blank"
                            :href="`${base_url}/admin/customer/edit/${row.user_id}`"
                        >
                            {{ row.display_name }}
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.start_service_time ? row.start_service_time : '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.end_service_time ? row.end_service_time : '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="
                            parseInt(row.actual_result, 10).toLocaleString(
                                'de-DE'
                            )
                        "
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.staff_techs || '--'"
                    ></td>
                </tr>
            </template>
        </v-datatable-builder>
    </div>
</template>

<script>
    import DateRangePicker from "vue2-daterange-picker";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

    export default {
        name: "vContractReportSynthesis",

        components: {
            DateRangePicker,
            vDatatableBuilder,
        },

        data() {
            let dateRanges = {};
            let today = new Date();
            today.setHours(0, 0, 0, 0);
            dateRanges["Hôm nay"] = [today, today];

            let yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);
            yesterday.setHours(0, 0, 0, 0);
            dateRanges["Hôm qua"] = [yesterday, yesterday];

            let y = today.getFullYear();
            let m = today.getMonth();

            let thisMonthStart = new Date(y, m, 1);
            let thisMonthEnd = new Date(y, m + 1, 0);
            dateRanges["Tháng này"] = [thisMonthStart, thisMonthEnd];

            let i = 1;
            while (i < 4) {
                let _start = new Date(y, m - i, 1);
                let _end = new Date(y, m - i + 1, 0);
                dateRanges[`Tháng ${_start.getMonth() + 1}`] = [_start, _end];
                i++;
            }

            let thisYearStart = new Date(y, 0, 1);
            let thisYearEnd = new Date(y, 12, 0);
            dateRanges[`Năm ${thisYearStart.getFullYear()}`] = [thisYearStart, thisYearEnd];

            let prevYearStart = new Date(y - 1, 0, 1);
            let prevYearEnd = new Date(y - 1, 12, 0);
            dateRanges[`Năm ${prevYearStart.getFullYear()}`] = [prevYearStart, prevYearEnd];

            return {
                admin_url: admin_url,
                base_url: base_url,
                APIEndpoint: `${base_url}api-v2/contract/DatasetStopContractReport`,
                APIDefaultParams: [],

                filter_position: 1,

                dateRange: {
                    startDate: thisYearStart,
                    endDate: thisYearEnd,
                },

                dateRanges: dateRanges,
            };
        },

        created() {
            this.switchAPI();
        },

        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },

            reload() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 100);
            },

            datesSelected() {
                this.switchAPI();
            },

            switchAPI() {
                this.APIDefaultParams = [];

                let _start = parseInt(
                    this.dateRange.startDate.getTime() / 1000
                );
                let _end = parseInt(this.dateRange.endDate.getTime() / 1000);
                this.APIDefaultParams = [
                    { start_time: _start, end_time: _end },
                ];

                this.reload();

                return true;
            },
        },
    };
</script>
