<script>

export default {
    name: 'v-courseads-setting-course-row',
    props: {
        courses: { type: Array, default : []},
        course: { type: Object, default : null },
        show_add_btn : { type : Boolean, default : false, },
        show_delete_btn : { type : Boolean, default : false, }
    },

    data (){

        return {
            course_id: 0,
            course_value: 0,
            course_quantity: 0
        }
    },

    watch:{
        course_id () { this.course_changed() },
        course_value () { this.onChanged() },
        course_quantity () { this.onChanged() },
    },

    computed : {

        total () {
            let total = _.multiply(_.parseInt(this.course.course_value), _.parseInt(this.course.quantity))
            return (new Intl.NumberFormat('vi-VN', { maximumSignificantDigits: 3 }).format(total));
        },

        courseOptions () {

            if( ! _.gt(this.courses.length, 0)) return null;
            return _.map(this.courses, o => { return { key: o.post_id, value: o.post_title } })
        },

        courseOptions: function(){
            
            if(this.courses.length == 0) return [];
            let courses = this.courses;
            return courses.map((item, index, courses) => { return {key: item.post_id, value: item.post_title}; })
        },
    },

    created () {
        this.mappingCourse()
    },

    methods: {

        mappingCourse () {

            if(this.course == null) return;

            this.course_id          = this.course.post_id;
            this.course_value       = this.course.course_value;
            this.course_quantity    = this.course.quantity;
        },

        course_changed () {

            const _course = _.find(this.courses, o => { return _.eq(o.post_id, this.course_id) })
            if(_.isEmpty(_course)) return;

            this.course_id      = _course.post_id
            this.course_value   = _.get(_course, 'course_value', 0)
            this.course_quantity = _.get(_course, 'quantity', 1)
            this.onChanged()
        },

        onChanged () {  
            this.$emit('update_item', {
                guid : this.course.guid,
                course_id : this.course_id,
                course_value : this.course_value,
                course_quantity : this.course_quantity
            });
        },

        isEmpty(value){
            return _.isEmpty(value)
        }
    }
}
</script>
<template>
    <tr> 
        <td>
            <select name="meta[courses][post_id][]" class="form-control" v-model="course_id" :value="course_id">
                <option v-for="opt in courseOptions" :value="opt.key" v-text="opt.value"></option>
            </select>
        </td>
        <td>
            <input type="number" name="meta[courses][course_value][]" v-model.number="course.course_value" class="form-control" placeholder="Giá trị khóa học">
        </td>
        <td>
            <input type="number" name="meta[courses][quantity][]" v-model.number="course.quantity" class="form-control" placeholder="Số lượng">
        </td>
        <td align="right" v-text="this.total"></td>
        <td v-if="this.courses.length > 1">
            <button 
                v-on:click="$emit('remove_row', course.guid)" 
                type="button" 
                class="btn btn-block btn-danger btn-flat">

                <i class="fa fa-close"></i>

            </button>
        </td>
        <td v-if="this.courses.length > 1">
            <button 
                v-on:click="$emit('add_new_row')"
                v-if="show_add_btn == true"
                type="button"
                class="btn btn-block btn-success btn-flat">

                <i class="fa fa-plus"></i>

            </button>
        </td>
    </tr>
</template>