<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="2"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="prepend_thead_filtering_partial">
                <th align="center" valign="middle"></th>
            </template>

            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th>
                        <div class="checkbox icheck-belizehole">
                            <input
                                type="checkbox"
                                id="termIdAllChk"
                                v-model="checkAll"
                            />
                            <label for="termIdAllChk"></label>
                        </div>
                    </th>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__header--min-width-20':
                                key == 'contract_value' || key == 'term_status',
                            'datatable__header--min-width-25':
                                key == 'staff_business' || key == 'customer',
                            'datatable__header--min-width-30':
                                key == 'course_name' || key == 'contract_code',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td class="datatable__cell--middle">
                        <div class="checkbox icheck-belizehole">
                            <input
                                v-model="termIdsSelected"
                                class="termIdCheckbox"
                                type="checkbox"
                                name="carots[]"
                                :id="`termIdChk-${row.term_id}`"
                                :value="row.term_id"
                            />
                            <label :for="`termIdChk-${row.term_id}`"></label>
                        </div>
                    </td>
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle" 
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#modal-courseads-detail"
                            @click="() => openCourseadsBox(row.term_id)"
                        >
                            <b>{{ row.contract_code }}</b>
                        </a>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        v-text="row.customer || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.course_name || '--'"
                    ></td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            v-if="!isEmpty(row.staff_business_id)"
                            :href="`javascript:void(${row.staff_business_id})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="row.staff_business_avt"
                            />
                            <span> {{ row.staff_business_name }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.contract_value || '--'"
                    ></td>
                    <td nowrap class="datatable__cell--middle">
                        <span v-if="row.term_status">
                            <i
                                :class="{
                                    fa: true,
                                    'fa-circle-o-notch':
                                        row.term_status == 'Chưa thanh toán',
                                    'fa-circle':
                                        row.term_status == 'Chờ thanh toán',
                                    'fa-check-circle':
                                        row.term_status == 'Đã thanh toán',
                                    'fa-times-circle':
                                        row.term_status == 'Huỷ bỏ',

                                    'text-red': row.term_status == 'Huỷ bỏ',
                                    'text-yellow':
                                        row.term_status == 'Chưa thanh toán' ||
                                        row.term_status == 'Chờ thanh toán',
                                    'text-green':
                                        row.term_status == 'Đã thanh toán',
                                }"
                            ></i>
                        </span>
                        {{ row.term_status }}
                    </td>
                    <td nowrap class="datatable__cell--middle" align="center">
                        <button
                            type="button"
                            class="btn btn-sm btn-info"
                            style="margin-right: 8px"
                            data-toggle="modal"
                            data-target="#modal-courseads-detail"
                            @click="() => openCourseadsBox(row.term_id)"
                        >
                            <i class="fa fa-info-circle"></i>
                        </button>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->

        <!-- Begin batch button -->
        <div class="d-flex">
            <button
                class="btn btn-warning btn-flat"
                data-toggle="modal"
                type="button"
                style="margin-right: 8px"
                :data-target="`#${batchStartId}`"
                :disabled="!isEnableStartService"
                @click="openBatchStartService"
            >
                <i class="fa fa-fw fa-play"></i> Kích hoạt dịch vụ
                <span v-if="isEnableStartService">
                    (có <b>{{ countStartService }}</b> hợp đồng)
                </span>
            </button>

            <button
                class="btn btn-danger btn-flat"
                data-toggle="modal"
                type="button"
                :data-target="`#${batchStopId}`"
                :disabled="!isEnableStopService"
                @click="openBatchStopService"
            >
                <i class="fa fa-fw fa-stop"></i> Kết thúc dịch vụ
                <span v-if="isEnableStopService">
                    (có <b>{{ countStopService }}</b> hợp đồng)
                </span>
            </button>
        </div>
        <!-- End batch button -->

        <!-- Begin model Courseads detail -->
        <div class="modal right fade" id="modal-courseads-detail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Chi tiết hợp đồng
                            <b>
                                <code>{{ termNameSelected }}</code>
                            </b>
                        </h4>
                    </div>
                    <div class="modal-body" v-if="termIdSelected > 0">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li :class="[ activeTab == 'infomation' ? 'active' : '' ]" >
                                    <a @click="() => changeTab('infomation')" href="#infomation" data-toggle="tab" >
                                        <i class="fa fa-info-circle"></i>
                                        Thông tin dịch vụ
                                    </a>
                                </li>
                                <li :class="[ activeTab == 'course' ? 'active' : '' ]" >
                                    <a @click="() => changeTab('course')" href="#course" data-toggle="tab" >
                                        <i class="fa fa-book"></i>
                                        Thông tin khoá học
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div v-if="'infomation' == activeTab" id="infomation" :class="[ 'tab-pane', activeTab == 'infomation' ? 'active' : '' ]">
                                    <v-courseads-detail :id="termIdSelected" @updated="updated" />
                                </div>
                                <div v-if="'course' == activeTab" id="course" :class="[ 'tab-pane', activeTab == 'course' ? 'active' : '' ]">
                                    <v-courseads-code :contractId="termIdSelected" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End model Courseads detail -->

        <!-- Begin Model start contract -->
        <div class="modal fade" :id="batchStartId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a
                            type="button"
                            :id="`${batchStartId}-btn`"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">
                            Danh sách Hợp đồng chạy dịch vụ
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table
                                border="1"
                                cellpadding="2"
                                cellspacing="1"
                                class="table table-bordered table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">
                                            Trạng thái
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Mã hợp đồng
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Khoá học
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Số tiền
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Khách hàng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="isEmpty(selectedContract)">
                                        <td colspan="6" align="center">
                                            Không có hợp đồng cần kích hoạt
                                        </td>
                                    </tr>
                                    <template v-for="item in selectedContract">
                                        <tr
                                            v-bind:key="`startServiceSelected-${item.term_id}`"
                                        >
                                            <td align="center">
                                                <span
                                                    v-if="
                                                        'pending' == item.status
                                                    "
                                                    class="text-muted"
                                                >
                                                    Chưa xử lý</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'running' == item.status
                                                    "
                                                    class="text-yellow"
                                                >
                                                    Đang gửi</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'publish' == item.status
                                                    "
                                                    class="text-green"
                                                >
                                                    Hoàn tất</span
                                                >
                                                <span v-else class="text-red">
                                                    Error</span
                                                >
                                            </td>
                                            <td
                                                align="left"
                                                v-text="
                                                    item.contract_code || '--'
                                                "
                                            ></td>
                                            <td
                                                align="left"
                                                v-text="
                                                    item.course_name || '--'
                                                "
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="
                                                    item.contract_value || '--'
                                                "
                                            ></td>
                                            <td
                                                align="left"
                                                v-text="item.customer || '--'"
                                            ></td>
                                        </tr>
                                        <tr
                                            v-if="
                                                'error' == item.status &&
                                                item.description
                                            "
                                            v-bind:key="`startServiceSelected-errors-${item.term_id}`"
                                        >
                                            <td colspan="6" align="right">
                                                <span
                                                    class="label-danger"
                                                    style="
                                                        padding: 2px 10px 2px
                                                            10px;
                                                        border-radius: 8px;
                                                    "
                                                >
                                                    <i
                                                        class="icon fa fa-info"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    ></i>
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-default pull-left"
                            data-dismiss="modal"
                        >
                            Hủy bỏ
                        </button>
                        <button
                            type="button"
                            class="btn btn-warning"
                            :disabled="
                                isBatchingStart || isEmpty(selectedContract)
                            "
                            @click="batchStart"
                        >
                            Tiến hành Kích hoạt dịch vụ
                            <i style="margin-left: 8px" class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Model start contract -->

        <!-- Begin Model start contract -->
        <div class="modal fade" :id="batchStopId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a
                            type="button"
                            :id="`${batchStopId}-btn`"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">
                            Danh sách Hợp đồng kết thúc dịch vụ
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table
                                border="1"
                                cellpadding="2"
                                cellspacing="1"
                                class="table table-bordered table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">
                                            Trạng thái
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Mã hợp đồng
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Khoá học
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Số tiền
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Khách hàng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="isEmpty(selectedContract)">
                                        <td colspan="6" align="center">
                                            Không có hợp đồng cần kết thúc
                                        </td>
                                    </tr>
                                    <template v-for="item in selectedContract">
                                        <tr
                                            v-bind:key="`startServiceSelected-${item.term_id}`"
                                        >
                                            <td align="center">
                                                <span
                                                    v-if="
                                                        'pending' == item.status
                                                    "
                                                    class="text-muted"
                                                >
                                                    Chưa xử lý</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'running' == item.status
                                                    "
                                                    class="text-yellow"
                                                >
                                                    Đang gửi</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'publish' == item.status
                                                    "
                                                    class="text-green"
                                                >
                                                    Hoàn tất</span
                                                >
                                                <span v-else class="text-red">
                                                    Error</span
                                                >
                                            </td>
                                            <td
                                                align="left"
                                                v-text="
                                                    item.contract_code || '--'
                                                "
                                            ></td>
                                            <td
                                                align="left"
                                                v-text="
                                                    item.course_name || '--'
                                                "
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="
                                                    item.contract_value || '--'
                                                "
                                            ></td>
                                            <td
                                                align="left"
                                                v-text="item.customer || '--'"
                                            ></td>
                                        </tr>
                                        <tr
                                            v-if="
                                                'error' == item.status &&
                                                item.description
                                            "
                                            v-bind:key="`startServiceSelected-errors-${item.term_id}`"
                                        >
                                            <td colspan="6" align="right">
                                                <span
                                                    class="label-danger"
                                                    style="
                                                        padding: 2px 10px 2px
                                                            10px;
                                                        border-radius: 8px;
                                                    "
                                                >
                                                    <i
                                                        class="icon fa fa-info"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    ></i>
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-default pull-left"
                            data-dismiss="modal"
                        >
                            Hủy bỏ
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            :disabled="
                                isBatchingStop || isEmpty(selectedContract)
                            "
                            @click="batchStop"
                        >
                            Tiến hành Kết thúc dịch vụ
                            <i style="margin-left: 8px" class="fa fa-stop"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Model start contract -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vCourseadsDetail from "@/components/courseads/CourseadsDetail.vue";
    import vCourseadsCode from "@/components/courseads/CourseadsCode.vue";

    import { courseadsService } from "@/_services/courseads.service.js";

    export default {
        name: "vCourseadsDatatable",

        components: {
            vDatatableBuilder,
            vCourseadsDetail,
            vCourseadsCode
        },

        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/courseads/CourseContractDataset`,
            APIDefaultParams: [],

            isLoading: false,
            courseadsContracts: [],

            countStartService: 0,
            isEnableStartService: false,
            countStopService: 0,
            isEnableStopService: false,

            activeTab: "infomation",

            termIdSelected: 0,
            termNameSelected: "",

            checkAll: false,
            termIdsSelected: [],

            selectedContract: [],
            isBatchingStart: false,
            batchStartId: _.uniqueId(
                "vCourseadsContractDatatable-BatchStartId-Modal"
            ),
            isBatchingStop: false,
            batchStopId: _.uniqueId(
                "vCourseadsContractDatatable-BatchStopId-Modal"
            ),
        }),

        mounted() {
            $("#modal-courseads-detail").on("hide.bs.modal", () => {
                this.closeModelBox();
            });
        },

        watch: {
            checkAll(value) {
                if (!value) {
                    this.termIdsSelected = [];
                    return false;
                }

                let tags = document.getElementsByClassName("termIdCheckbox");
                const termIds = _.map(tags, (o) => parseInt(o.value));
                this.termIdsSelected = termIds;
            },
            isBatchingStart(value) {
                if (!value) this.batchUpdated();
            },
            isBatchingStop(value) {
                if (!value) this.batchUpdated();
            },
            termIdsSelected(value) {
                let countStart = _.countBy(this.courseadsContracts, (item) => {
                    let isInclude = _.includes(value, item.term_id);
                    if (!isInclude) return false;

                    return !_.get(item, "is_service_proc");
                });
                this.isEnableStartService = (countStart.true || 0) > 0;
                this.countStartService = countStart.true || 0;

                let countStop = _.countBy(this.courseadsContracts, (item) => {
                    let isInclude = _.includes(value, item.term_id);
                    if (!isInclude) return false;

                    return (
                        _.get(item, "is_service_proc") &&
                        !_.get(item, "is_service_end")
                    );
                });
                this.isEnableStopService = (countStop.true || 0) > 0;
                this.countStopService = countStop.true || 0;
            },
        },

        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },
            datasourceChanged(items) {
                this.courseadsContracts = items;
            },

            closeModelBox() {
                this.termIdSelected = 0;
            },

            openCourseadsBox(courseadsId) {
                let courseadContract = _.find(
                    this.courseadsContracts,
                    (item) => item.term_id == courseadsId
                );

                this.termNameSelected = _.get(
                    courseadContract,
                    "contract_code"
                );
                this.termIdSelected = _.get(courseadContract, "term_id");
            },

            batchUpdated() {
                let publishContract = _.filter(
                    this.selectedContract,
                    (item) => item.status == "publish"
                );

                if (!_.isEmpty(publishContract)) {
                    this.updated();
                }

                this.checkAll = false;
            },

            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },

            openBatchStartService() {
                this.selectedContract = [];
                let courseadsContracts = _.cloneDeep(this.courseadsContracts);
                let _contract = _.filter(courseadsContracts, (item) => {
                    let isInclude = _.includes(
                        this.termIdsSelected,
                        parseInt(item.term_id, 10)
                    );
                    if (!isInclude) return false;

                    return !_.get(item, "is_service_proc");
                });

                this.selectedContract = _.map(_contract, (item) => {
                    return {
                        term_id: item.term_id,
                        contract_code: item.contract_code,
                        course_name: item.course_name,
                        contract_value: item.contract_value,
                        customer: item.customer,
                        status: "pending",
                        description: null,
                    };
                });
            },

            async batchStart() {
                this.isBatchingStart = true;

                for (let contract of this.selectedContract) {
                    contract.status = "running";

                    try {
                        let response = await courseadsService.startService(
                            contract.term_id
                        );

                        if (200 == _.get(response, "code")) {
                            contract.status = "publish";

                            continue;
                        }

                        contract.status = "error";
                        contract.description = _.get(response, "message");
                    } catch (err) {
                        contract.status = "error";
                        contract.description = err;
                    }
                }

                this.isBatchingStart = false;
            },

            openBatchStopService() {
                this.selectedContract = [];
                let courseadsContracts = _.cloneDeep(this.courseadsContracts);
                let _contract = _.filter(courseadsContracts, (item) => {
                    let isInclude = _.includes(
                        this.termIdsSelected,
                        parseInt(item.term_id, 10)
                    );
                    if (!isInclude) return false;

                    return (
                        _.get(item, "is_service_proc") &&
                        !_.get(item, "is_service_end")
                    );
                });

                this.selectedContract = _.map(_contract, (item) => {
                    return {
                        term_id: item.term_id,
                        contract_code: item.contract_code,
                        course_name: item.course_name,
                        contract_value: item.contract_value,
                        customer: item.customer,
                        status: "pending",
                        description: null,
                    };
                });
            },

            async batchStop() {
                this.isBatchingStop = true;

                for (let contract of this.selectedContract) {
                    contract.status = "running";

                    try {
                        let response = await courseadsService.stopService(
                            contract.term_id
                        );

                        if (200 == _.get(response, "code")) {
                            contract.status = "publish";

                            continue;
                        }

                        contract.status = "error";
                        contract.description = _.get(response, "message");
                    } catch (err) {
                        contract.status = "error";
                        contract.description = err;
                    }
                }

                this.isBatchingStop = false;
            },

            changeTab(tab)
            {
                this.activeTab = tab;
            }
        },
    };
</script>
