<script>
import { contractCourseadsService } from '@/_services/contract.courseads.service.js'
import vCourseadsSettingCourseRow from '@/components/vCourseadsSettingCourseRow.vue'
import vInputEditInline from '@/components/input/vInputEditInline.vue'

export default {
    props: ['isHidden','term_id','begin_date'],

    name: 'v-courseads-setting',
    data (){

        return {
            guid: _.uniqueId('v-courseads-setting-'),
            isLoading : true,
            readOnly : false,
            contract : null,
            courses : [],
            contract_courses : [],
            discount_amount : 0,
            vat: 0,
            hubspot_link: null,
        }
    },

    watch :{
    },

    computed : {

        total: {
            get () {
                return _.subtract(this.totalCourses, this.discount_amount)      
            },
            set (value)
            {
                this.discount_amount = _.subtract(this.totalCourses, value);
            }
        },
        
        totalCourses ()
        {
            if(_.isEmpty(this.contract_courses)) return 0

            return _.sum(_.map(this.contract_courses, o => {
                return _.multiply(o.course_value, o.quantity)
            }))
        },

        vatAmount: {

            get () {
                console.log("VAT_AMOUNT : " + _.multiply(this.total, this.vatRate))
                return _.multiply(this.total, this.vatRate)
            },

            set () {
                // code
            }
        },

        vatRate () {
            return _.divide(this.vat, 100)
        },

        totalAmount: {

            get () {
                return _.add(this.total, this.vatAmount)
            },
            set (value) {

                let _amountNotVat       = _.divide(value, _.add(1, this.vatRate))
                this.discount_amount    = _.subtract(this.totalCourses, _amountNotVat)

                console.log(this.discount_amount, this.totalCourses, _amountNotVat, this.vatRate)
            }
        }
    },

    created : function(){

        this.loadCourses()
        .then( result => { return this.loadContract() })
        .then( result => { 
            this.initCoursesDefault()
            return result
        })
    },

    methods: {

        loadCourses () {
            this.isLoading = true

            return contractCourseadsService.getCourses().then( response => {
                this.courses = _.get(response, 'data')
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        loadContract () {

            this.isLoading = true

            return contractCourseadsService.get(this.term_id).then( response => {

                this.contract = _.get(response, 'data')
                this.discount_amount = _.parseInt(_.get(response, 'data.discount_amount'))
                this.vat = _.get(this.contract, 'vat')
                this.contract_courses = _.map(_.get(response, 'data.courses', []), o => {
                    o.guid = _.uniqueId('course-id-')
                    return o
                })
            })
            .finally(() => {
                this.isLoading = false
            })
        },


        initCoursesDefault () {

            if(_.lte(this.contract_courses.length, 0)) this.addRow()
        },

        addRow () {

            let _contract_courses = this.contract_courses;
            
            _contract_courses.push({ 
                post_id : 0,
                quantity : 1,
                course_value : 0,
                guid : _.uniqueId('course-id-') 
            });

            this.contract_courses = _contract_courses;
        },

        removeRow : function(value){

            let _contract_courses = this.contract_courses;

            for (var i = 0; i < _contract_courses.length; i++)
            {
                if(_contract_courses[i].guid != value) continue;
                _contract_courses.splice(i, 1);
            }

            this.contract_courses = [];
            this.contract_courses = _contract_courses;

            if(_contract_courses.length <= 0) this.addRow();

            return true;
        },

        itemChanged : function(item)
        {
            let _contract_courses   = this.contract_courses;
            let _totalCourses        = 0;

            for (var i = 0; i < _contract_courses.length; i++)
            {
                if(_contract_courses[i].guid != item.guid) continue;

                _contract_courses[i].post_id        = item.course_id;
                _contract_courses[i].course_value   = item.course_value;
                _contract_courses[i].quantity       = item.course_quantity;
            }

            this.contract_courses = _contract_courses;
        }
    },

    components: {
        vCourseadsSettingCourseRow,
        vInputEditInline
    }
}
</script>
<template>
    <div class="container-fluid" v-if="!isHidden" :id="'container-' + guid">
        <div class="box box-theme">
            <div class="box-header with-border">
                <h3 class="box-title">Cấu hình hợp đồng</h3>
                <div class="box-tools pull-right">
                    <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-md-2 col-sm-12 control-label">Link Hubspot</label>
                    <div class="form-group col-md-10">
                        <input class="form-control" name="edit[meta][hubspot_link]" v-model="hubspot_link">
                    </div>  
                </div>
            </div>
        </div>

        <table :id="guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
            <caption>Chi tiết đăng ký khóa học</caption>
            <thead>
                <tr> <th>Khóa học</th><th>Đơn giá</th><th>Số lượng</th><th>Thành tiền</th></tr>
            </thead>
            <tbody v-if="courses.length > 0">

                <tr v-for="(item, index) in contract_courses" 
                    v-bind:key="item.post_id"
                    is="v-courseads-setting-course-row"
                    :courses="courses" 
                    :course="item"
                    :show_add_btn="index == (contract_courses.length-1)"
                    :show_delete_btn="true"
                    v-on:update_item="itemChanged"
                    v-on:remove_row="removeRow"
                    v-on:add_new_row="addRow">
                </tr>

                <tr>
                    <td><b>Giá trị giảm giá</b></td>
                    <td><input type="number" step="any" name="meta[discount_amount]" v-model="discount_amount" class="form-control"></td>
                    <td></td>
                    <td align="right" v-html="(new Intl.NumberFormat('vi-VN', { maximumSignificantDigits: 3 }).format(discount_amount))"></td>
                </tr>
                <tr>
                    <td colspan="3" align="right"><b>Tổng (không bao gồm VAT)</b></td>
                    <td align="right">
                        <v-input-edit-inline v-model.number="total" />
                    </td>
                    <!-- <td align="right" v-html="(new Intl.NumberFormat('vi-VN', { maximumSignificantDigits: 3 }).format(total))"></td>-->
                </tr>

                <tr>
                    <td colspan="3" align="right"><b>VAT {{ vat || 0 }} %</b></td>
                    <td align="right">
                        <v-input-edit-inline v-model.number="vatAmount" />
                    </td>
                </tr>

                <tr>
                    <td colspan="3" align="right"><b>Tổng thành tiền</b></td>
                    <td align="right">
                        <v-input-edit-inline v-model.number="totalAmount" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>