<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="3"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="tools_extra_right">
                <a
                    class="btn btn-flat btn-sm text-black pull-right"
                    data-toggle="modal"
                    data-target="#modal-create-course"
                >
                    <i class="fa fa-2x fa-plus-circle"></i>
                    <br />Tạo mới
                </a>
            </template>

            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__header--min-width-10':
                                key == 'post_name',
                            'datatable__header--min-width-15':
                                key == 'course_type' ||
                                key == 'post_status' ||
                                key == 'course_value' ||
                                key == 'start_date' ||
                                key == 'end_date' ||
                                key == 'created_on',
                            'datatable__header--min-width-20':
                                key == 'teacher_name' || key == 'post_author',

                            'datatable__header--min-width-25':
                                key == 'post_title',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#modal-update-course"
                            @click="() => openCourseadsUpdateBox(row.post_id)"
                        >
                            <p style="margin: 0" v-if="row.post_name">
                                <b>{{ row.post_name }}</b>
                            </p>
                            <p style="margin: 0" v-else>
                                <i>(Nhập thông tin)</i>
                            </p>
                        </a>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.post_title || '--'"
                    ></td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            v-if="!isEmpty(row.teacher_id)"
                            :href="`javascript:void(${row.teacher_id})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="row.teacher_avt"
                            />
                            <span> {{ row.teacher_name }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.course_type || '--'"
                    ></td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <span v-if="row.post_status">
                            <i
                                :class="{
                                    fa: true,
                                    'fa-circle': row.post_status == 'Đang soạn',
                                    'fa-check-circle':
                                        row.post_status == 'Chưa khai giảng',
                                    'fa-thumbs-o-up':
                                        row.post_status == 'Đã khai giảng',
                                    'fa-stop': row.post_status == 'Đã kết thúc',
                                    'fa-times-circle':
                                        row.post_status == 'Huỷ bỏ',
                                    'text-red':
                                        row.post_status == 'Huỷ bỏ' ||
                                        row.post_status == 'Đã kết thúc',
                                    'text-yellow':
                                        row.post_status == 'Chưa khai giảng' ||
                                        row.post_status == 'Đang soạn',
                                    'text-green':
                                        row.post_status == 'Đã khai giảng',
                                }"
                            ></i>
                            -
                        </span>
                        {{ row.post_status }}
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.course_value || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.start_date || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.end_date || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.total_course_time || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.student_qty || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.voucher_value || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.voucher_qty || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.post_author || '--'"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.created_on || '--'"
                    ></td>

                    <td class="datatable__cell--middle" align="center">
                        <div class="btn-group" style="no-wrap">
                            <button
                                type="button"
                                class="btn btn-sm btn-primary btn-flat"
                                data-toggle="modal"
                                data-target="#modal-update-course"
                                @click="
                                    () => openCourseadsUpdateBox(row.post_id)
                                "
                            >
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->

        <!-- Begin model create -->
        <div class="modal right fade" id="modal-create-course">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Tạo mới khoá học</h4>
                    </div>
                    <div class="modal-body">
                        <v-course-create></v-course-create>
                    </div>
                </div>
            </div>
        </div>
        <!-- End model create -->

        <!-- Begin model update -->
        <div class="modal right fade" id="modal-update-course">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Cập nhật khoá học</h4>
                    </div>
                    <div class="modal-body">
                        <v-course-update
                            v-if="updateCourseadsId > 0"
                            :id="updateCourseadsId"
                        ></v-course-update>
                    </div>
                </div>
            </div>
        </div>
        <!-- End model update -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vCourseCreate from "@/components/courseads/CourseCreate.vue";
    import vCourseUpdate from "@/components/courseads/CourseUpdate.vue";

    export default {
        name: "vCourseadsDatatable",

        components: {
            vDatatableBuilder,
            vCourseCreate,
            vCourseUpdate,
        },

        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/courseads/CourseDataset`,
            APIDefaultParams: [],

            updateCourseadsId: 0,
            staffIdsSelected: [],
            checkAll: false,

            courseads: [],
            isLoading: false,
        }),

        mounted() {
            $("#modal-update-course").on("hide.bs.modal", () => {
                this.closeUpdateBox();
            });
        },

        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },

            datasourceChanged(items) {
                this.courseads = items;
            },

            closeUpdateBox() {
                this.updateCourseadsId = 0;
            },

            openCourseadsUpdateBox(courseadsId) {
                this.updateCourseadsId = courseadsId;
            },

            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
        },
    };
</script>
