<script>
import Multiselect from 'vue-multiselect'
import { customerService } from '@/_services/customer.service.js'
import vCustomerCreateComponent from '@/components/vCustomerCreateComponent.vue'

export default {
	name: 'vCustomerContractWizardTab',
	props: ['customerid'],
	data: () => ({

		optionSelected: null,
		customers : [],
		updated: 0,

		customerProfileHtml: "",
		
		/**
		 * Customer Object
		 */
		customer: null,

		/**
		 * Loading state, enable for disable update action
		 */
		isLoading: false,

		/**
		 * Filtering Attributes
		 */
		filteringInputs: {
			user_type: 'customer_company',
			display_name: null,
			customer_tax: null,
			customer_phone: null,
			lp: null
		}
	}),
	computed: {

		resultTotal () { return _.size(this.customerOptions) },

		customerOptions () {
			
			if(_.isEmpty(this.customers)) return [];

			let options = _.map(_.filter(this.customers, o => { return this.isShow(o); }), function(o){

				let segments = [];

				segments.push(o.user_type == 'customer_company' ? '[Doanh nghiệp]' : '[Cá nhân]');

				!_.isEmpty(o.display_name) ? segments.push(o.display_name) : '';
				!_.isEmpty(o.user_email) ? segments.push(o.user_email) : '';
				!_.isEmpty(o.user_phone) ? segments.push(o.user_phone) : '';
				!_.isEmpty(o.created_source) ? segments.push( '[' + _.toUpper(o.created_source) + ']') : '';

				o.label = _.join(segments, ' - ');

				return o;
			});

			return options;
		}
	},
	watch: {
		optionSelected () {
			this.updated = 1;

			$.post(module_url + 'render_customer_info/' + this.optionSelected.user_id, {}, result => {
				this.customerProfileHtml = result.content;
			}, "json");
		}
	},
	created () {
		this.fetchCustomer()
		this.search()
	},
	updated (){
		if( !_.isEmpty(this.optionSelected) || !_.gt(this.customerid, 0)) return;		
		this.setCustomerOptionSelected(this.customerid);
	},
	mounted () {

		/* Chặn sự kiện submit form khi click [enter] trong box search */
		this.preventParentFormEnterEventFired()
	},

	methods: {

		/**
		 * Chặn sự kiện submit form khi click [enter] trong box search
		 */
		preventParentFormEnterEventFired() {
			document.getElementById("contract-wizard-customers-setting-stage").onkeypress = function(e) {
				var key = e.charCode || e.keyCode || 0;
				if (key == 13) {
					e.preventDefault();
				}
			}
		},

		setCustomerOptionSelected (id) {
			
			let _customer = _.find(this.customers, o => { return o.user_id == id });
			if(!_.isEmpty(_customer)) 
			{
				this.optionSelected = _customer
				return
			}
		},

		fetchCustomer () {

			if(!_.gt(this.customerid, 0)) return;

			return customerService.get(this.customerid).then(result => { 
				this.customer = result.data
				return result
			});
		},

		isShow (option) {
			return !_.isEmpty(option.display_name) 
				|| !_.isEmpty(option.user_email) 
				|| !_.isEmpty(option.customer_name) 
				|| !_.isEmpty(option.customer_phone);
		},

		doSomethingAfterCreated (insertedId, customer) {

			$.notify('Hồ sơ đã được khởi tạo, tiến trình chuẩn bị dữ liệu đang thực hiện ...', 'info')

			this.isLoading = true

			$.notify('Hồ sơ vừa được tạo đã được đưa vào danh sách hồ sơ được chọn', 'info')
			this.customers.push({
				created_source	: "direct_from_sale",
				customer_phone	: customer.customer_phone,
				display_name	: customer.display_name,
				user_email		: customer.customer_email,
				user_id			: insertedId,
				user_type		: customer.user_type
			})

			this.setCustomerOptionSelected(insertedId)
			$.notify('Hồ sơ vừa được tạo được gắn chọn mặc định ...', 'info')
		},

		search () {
			this.isLoading = true

			customerService.search(this.filteringInputs).then(response => {

				const code = _.get(response, 'code')
				if( 200 != code && 204 != code)
				{
					this.customers = []
					return response
				}

				this.customers = _.get(response, 'data') || []
				return response
			})
			.finally(() => {
				this.isLoading = false
			})
		}
	},
	components: {
		Multiselect,
		vCustomerCreateComponent
	}
}
</script>
<template>
	<div>
		<div class="form-group">
        	<vCustomerCreateComponent v-on:created="doSomethingAfterCreated" />
        </div>
        <div class="clearfix"></div>
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Bộ lọc Tìm kiếm hồ sơ khách hàng</legend>
			<div class="row">

				<div class="col-md-12">
					<div class="col-md-12">
						<div class="form-group">
							<div class="radio">
								<label>
									<input 
										v-on:keyup.enter="search"
										:disabled="isLoading"
										v-model.trim="filteringInputs.user_type"
										type="radio"
										value="customer_company">
									Hồ Sơ Doanh nghiệp
								</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<label>
									<input 
										v-on:keyup.enter="search"
										:disabled="isLoading"
										v-model.trim="filteringInputs.user_type"
										type="radio"
										value="customer_person">
									Hồ Sơ Cá Nhân
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-8 col-sm-8">
						<div class="form-group">
							<label class="control-label" for="edit[display_name]">
								<i class="fa fa-times-circle-o"></i> Tên Doanh Nghiệp/ Họ tên người đại diện
							</label>
	                		<input 
	                			v-on:keyup.enter="search"
	                			:disabled="isLoading"
	                			v-model.trim="filteringInputs.display_name"
	                			data-vv-as="Tên tổ chức"
	                			v-validate="'required'"
	                			placeholder="Nhập tên gọi" type="text" name="edit[display_name]" class="form-control" />
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label class="control-label" for="edit[customer_tax]">
								<i class="fa fa-times-circle-o"></i> Mã số thuế
							</label>
	                		<input
	                			v-on:keyup.enter="search"
	                			:disabled="isLoading"
	                			v-model.trim="filteringInputs.customer_tax"
	                			placeholder="Nhập mã số thuế" data-vv-as="Tên tổ chức" v-validate="'required'" type="text" name="edit[customer_tax]" class="form-control" />
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label class="control-label" for="edit[customer_email]">
								<i class="fa fa-times-circle-o"></i> E-mail
							</label>
	                		<input
	                			v-on:keyup.enter="search"
	                			:disabled="isLoading"
	                			v-model.trim="filteringInputs.customer_email"
	                			placeholder="Nhập E-mail" data-vv-as="Tên tổ chức" v-validate="'required'" type="text" name="edit[customer_email]" class="form-control" />
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label class="control-label" for="edit[customer_phone]">
								<i class="fa fa-times-circle-o"></i> Số điện thoại
							</label>
	                		<input
	                			v-on:keyup.enter="search"
	                			:disabled="isLoading"
	                			v-model.trim="filteringInputs.customer_phone"
	                			placeholder="Nhập Số điện thoại" data-vv-as="Tên tổ chức" v-validate="'required'" type="text" name="edit[customer_phone]" class="form-control" />
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label class="control-label" for="edit[lp]">
								<i class="fa fa-times-circle-o"></i> Tên miền
							</label>
	                		<input
	                			v-on:keyup.enter="search"
	                			:disabled="isLoading"
	                			v-model.trim="filteringInputs.lp"
	                			placeholder="Nhập tên miền" data-vv-as="Tên miền" v-validate="'required'" type="text" name="edit[lp]" class="form-control" />
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<button 
                        v-on:click="search()"
                        type="button"
                        :disabled="isLoading"
                        class="btn btn-primary btn-sm">
                        <span v-if="isLoading"><i class="fa fa-cog fa-spin"></i> Chờ chút bạn nhé ...</span>
                        <span v-else><i class="fa fa-search"></i> Tìm kiếm theo các tiêu chí trên</span>
                    </button>    
				</div>
			</div>
		</fieldset>

		<fieldset class="scheduler-border">
			<legend class="scheduler-border">
				Kết quả hồ sơ khách hàng
				<small class="text-mute"><i>( {{ (resultTotal).toLocaleString('de-DE') }} hồ sơ)</i></small>
			</legend>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Chọn khách hàng</label>
					    <div class="form-group col-md-10">
					        <div class="input-group col-sm-12">
								<Multiselect
									v-model="optionSelected"
									:disabled="isLoading"
									deselect-label="Can't remove this value"
									track-by="user_id"
									label="label"
									placeholder="Chọn Khách hàng"
									:loading="isLoading"
									:options="customerOptions"
									:searchable="true"
									:allow-empty="false">
									<template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.label }}</strong></template>
								</Multiselect>
					        </div>
					    </div>
					    
					    <div class="form-group">
				            <input type="hidden" id="chosen_customer" name="edit[user_id]" :value="optionSelected ? optionSelected.user_id : 0"/>
				            <input type="hidden" name="user_updated" v-model="updated" />
				        </div>
					</div>
				</div>
			</div>
		</fieldset>
		<div id="customer_profile" v-html="customerProfileHtml"></div>
	</div>
</template>