<template>
	<div>
		<div class="form-group">
		    <div class="form-group pull-right control-group">
	            <div class="form-group col-md-10">
	                <div class="btn-group">
	                    <a class="btn btn-primary btn-flat" :href="'#'+modelFormId" data-toggle="modal"><i class="fa fa-fw fa-plus "></i> Tạo hồ sơ khách hàng</a>
	                </div>
	            </div>
	        </div>
		</div>

		<div :id="modelFormId" data-backdrop="static" class="modal">
		    <div class="modal-dialog modal-md">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">×</span></button>
		                <h4 class="modal-title">Thêm mới hồ sơ khách hàng</h4>
		            </div>
		            <form :id="modelFormId+'Tag'" method="post" accept-charset="utf-8">
		                <div class="modal-body">
		                    <div class="row">
		                    	<div class="col-md-12">

		                    		<fieldset class="scheduler-border">
										<legend class="scheduler-border">Loại hồ sơ khách hàng</legend>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<div class="radio">
														<label>
															<input type="radio" v-model.trim="formInputs.user_type" value="customer_company">
															Hồ Sơ Doanh nghiệp
														</label>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<label>
															<input type="radio" v-model.trim="formInputs.user_type" value="customer_person">
															Hồ Sơ Cá Nhân
														</label>
													</div>
												</div>
											</div>
										</div>
									</fieldset>

		                    		<fieldset v-if="'customer_company' == formInputs.user_type" class="scheduler-border">
										<legend class="scheduler-border">Thông tin doanh nghiệp/Tổ Chức</legend>
                                        <div class="row">
                                            <div class="col-md-12">
										    	<div :class="errors.first('meta[customer_tax]') ? 'form-group has-error' : 'form-group'">
										    		<label class="control-label" for="meta[customer_tax]">
										    			<i class="fa fa-times-circle-o"></i> Mã số thuế
										    		</label>
                                                    <input v-model.trim="formInputs.customer_tax" data-vv-as="Mã số thuế" v-validate="'required|validateTin|isUniqueTin'" type="text" name="meta[customer_tax]" class="form-control" :disabled="isVerifingTaxCode"/>
                                                    <span v-if="isVerifingTaxCode" class="help-block">Đang lấy dữ liệu từ Cơ quan thuế...</span>

                                                    <span v-if="!isEmpty(errors.first('meta[customer_tax]'))" class="help-block">{{ errors.first('meta[customer_tax]') }}</span>
	                                    		    <span v-else-if="'boolean' == typeof isTaxCodeVerified && isTaxCodeVerified" class="help-block text-green">
                                                        <i class="fa fa-check" aria-hidden="true"></i> Mã số thuế đã được xác nhận bởi Cơ quan thuế
                                                    </span>
	                                    		    <span v-else-if="'boolean' == typeof isTaxCodeVerified && !isTaxCodeVerified" class="help-block text-red">
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Mã số thuế chưa được cập nhật bởi Cơ quan thuế
                                                    </span>
										    	</div>
										    </div>
                                        </div>
										<div class="row">
											<div class="col-md-12">
												<div :class="errors.first('edit[display_name]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="edit[display_name]">
														<i class="fa fa-times-circle-o"></i> Tên Doanh Nghiệp
													</label>
		                                    		<input v-model.trim="formInputs.display_name" data-vv-as="Tên tổ chức" v-validate="'required'" type="text" name="edit[display_name]" class="form-control" />
		                                    		<span class="help-block">{{ errors.first('edit[display_name]') }}</span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div :class="errors.first('meta[customer_address]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> Địa chỉ/Trụ sở Văn Phòng
													</label>
													<textarea v-model.trim="formInputs.customer_address" data-vv-as="Địa chỉ liên hệ" v-validate="'required'" type="text" name="meta[customer_address]" class="form-control"></textarea>
		                                    		<span class="help-block">{{ errors.first('meta[customer_address]') }}</span>
												</div>
											</div>
										</div>
									</fieldset>

		                    		<fieldset class="scheduler-border">
										<legend class="scheduler-border">Thông tin liên hệ</legend>
										<div class="row">
											<div class="col-md-9">
												<div :class="errors.first('meta[customer_name]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> Họ và tên [0]
													</label>
													<input
														v-model.trim="formInputs.customer_name"
														data-vv-as="Họ & tên [0]"
														v-validate="'required'"
														type="text"
														name="meta[customer_name]"
														class="form-control" />
		                                    		<span class="help-block">{{ errors.first('meta[customer_name]') }}</span>
												</div>
											</div>

											<div class="col-md-3">
												<div :class="errors.first('meta[customer_gender]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> Giới tính
													</label>
													<select v-model.trim="formInputs.customer_gender" name="meta[customer_gender]" class="form-control">
				                                        <option value="1">Ông</option>
				                                        <option value="0">Bà</option>
				                                    </select>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div :class="errors.first('meta[customer_email]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> E-Mail
													</label>
												    <input v-model.trim="formInputs.customer_email" data-vv-as="Địa chỉ Email" v-validate="'required|email|isUniqueEmail'" type="text" name="meta[customer_email]" class="form-control" :disabled="isVerifingEmail">
                                                    <span v-if="isVerifingEmail" class="help-block">Email đang được xác thực, vui lòng chờ trong giây lát ...</span>
    
                                                    <span v-if="!isEmpty(errors.first('meta[customer_email]'))" class="help-block">{{ errors.first('meta[customer_email]') }}</span>
                                                    <span v-else-if="'boolean' == typeof emailVerifiedStatus && emailVerifiedStatus" class="help-block text-green">
                                                        <i class="fa fa-check" aria-hidden="true"></i> Email đã được xác minh có tồn tại
                                                    </span>
                                                    <span v-else-if="!emailVerifiedStatus && !isEmpty(emailVerifiedMessage)" class="help-block text-red">
                                                        <i class="fa fa-times" aria-hidden="true"></i> {{ emailVerifiedMessage }}
                                                    </span>
												</div>
											</div>
											<div class="col-md-6">
												<div :class="errors.first('meta[customer_phone]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> Số điện thoại
													</label>
													<input v-model.trim="formInputs.customer_phone" data-vv-as="số điện thoại" v-validate="'required|validatePhone|isUniquePhone'" type="tel" name="meta[customer_phone]" class="form-control">
		                                    		<span class="help-block">{{ errors.first('meta[customer_phone]') }}</span>
												</div>
											</div>
										</div>

										<div v-if="'customer_person' == formInputs.user_type" class="row">
											<div class="col-md-12">
												<div :class="errors.first('meta[customer_address]') ? 'form-group has-error' : 'form-group'">
													<label class="control-label" for="inputError">
														<i class="fa fa-times-circle-o"></i> Địa chỉ/Trụ sở Văn Phòng
													</label>
													<textarea v-model.trim="formInputs.customer_address" data-vv-as="Địa chỉ liên hệ" v-validate="'required'" type="text" name="meta[customer_address]" class="form-control"></textarea>
		                                    		<span class="help-block">{{ errors.first('meta[customer_address]') }}</span>
												</div>
											</div>
										</div>

									</fieldset>

                                    <label v-if="configs.has_force_update">
                                        <input type="checkbox" v-model.trim="formInputs.is_force_update">
                                        Xác nhận vẫn lưu thông tin
                                    </label>
		                    	</div>
		                    </div>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hủy bỏ</button>
                            <button type="button" class="btn btn-primary" :disabled="loading || isVerifingEmail || isVerifingTaxCode" @click="submit">
                                <span v-if="isVerifingEmail || isVerifingTaxCode">Đang kiểm tra dữ liệu..</span>
                                <span v-else-if="loading">Đang tạo mới...</span>
                                <span v-else>Tạo mới tài khoản</span>
                            </button>
		                </div>
		            </form>
		        </div>
		    </div>
		</div>
	</div>
</template>

<script>

import { customerService } from '@/_services/customer.service.js'
import { Utils } from '@/_helpers/utils.helpers.js'
import Multiselect from 'vue-multiselect'

export default {
	name: 'vCustomerCreateComponent',
    components: {
        Multiselect
    },
	data: () => ({
        tax_codes: [],

        tax_code_selected: null,

		formInputs: {
			user_type: 'customer_company',
			display_name: null,
			customer_name: null,
			customer_gender: 1,
			customer_email: null,
			customer_address: null,
			customer_phone: null,
			customer_tax: null,
            is_force_update: false,
		},
		modelFormId: _.uniqueId('modalFormVCustomerCreateComponentContainer-'),
		loading: false,

        configs: {},

        isVerifingEmail: false,
        isVerifingTaxCode: false,
        
        isTaxCodeVerified: null,
        
        emailVerifiedStatus: null,
        emailVerifiedMessage: null,
	}),

    computed: {
        isEmailVerified(){
            if(null == this.emailVerifiedStatus) return null;

            return this.emailVerifiedStatus;
        },

        is_disabled_submit(){
            if(this.loading) return true;
            if(this.isVerifingEmail) return true;
            if(this.isVerifingTaxCode) return true;

            return false;
        }
    },

	watch: {
		'formInputs.user_type': function(newValue, oldValue) {

			let matcher = {
			    scope: 'form-1',
			    vmId: this.$validator.id
			}

			this.$validator.reset(matcher)
	    },

	    'formInputs.customer_name': function(newValue, oldValue) {
	    	if(this.formInputs.user_type == 'customer_person')
	    	{
	    		this.formInputs.display_name = newValue
	    	}
	    },

        'formInputs.customer_tax': _.debounce(function(taxCode){
            this.$validator.validate('meta[customer_tax]').then(valid => {
                if(valid){
                    this.find_company_by_tax_code(taxCode)
                }
            })
        }, 350),

        'formInputs.customer_email': _.debounce(function(email){
            this.$validator.validate('meta[customer_email]').then(valid => {
                if(valid){
                    this.verifyEmail(email);
                }
            })

        }, 600),
	},

    mounted(){
        this.loading = true;

        customerService.get_config()
        .then(response => {
            this.configs = _.get(response, 'data', {});

            this.extendValidators();
        })
        .finally(() => {
            this.loading = false;
        })
    },

	methods: {
        isEmpty(item){ 
            return _.isEmpty(item)
        },
        find_company_by_tax_code(taxCode){
            if(!_.get(this.configs, "is_active_tin_check", false)) return;

            this.isVerifingTaxCode = true;

            if(_.isEmpty(taxCode)){
                this.formInputs.display_name = null;
			    this.formInputs.customer_name = null;
			    this.formInputs.customer_address = null;
			    this.formInputs.customer_phone = null;
                this.formInputs.customer_gender = 1;

                this.isTaxCodeVerified = null;

                return;
            }

            customerService.find_company_by_tax_code(taxCode).then(response => {
                if(200 != _.get(response, 'code')){
                    this.isTaxCodeVerified = false;
                    return;
                }

                this.formInputs.display_name = _.get(response, 'data.companyName', null);
			    this.formInputs.customer_name = _.get(response, 'data.representationName', null);
			    this.formInputs.customer_address = _.get(response, 'data.address', null);
			    this.formInputs.customer_phone = _.get(response, 'data.representationPhone', null);
			    let gender = _.get(response, 'data.representationGender', 1);
                this.formInputs.customer_gender = 'male' == gender ? 1 : 0;
                
                this.isTaxCodeVerified = true;
            })
            .finally(() => {
                this.isVerifingTaxCode = false;
            })
        },

        verifyEmail(email){
            this.isVerifingEmail = true;
            this.emailVerifiedStatus = null;
            this.emailVerifiedMessage = null;

            customerService.isVerifyEmail(email, this.formInputs.user_type)
            .then(response => {
                if(200 != _.get(response, 'code')){
                    this.emailVerifiedStatus = false;
                    this.emailVerifiedMessage = 'Tiến trình kiểm tra email không thành công. Vui lòng liên hệ phòng Công nghệ để được hỗ trợ';

                    return;
                }

                this.emailVerifiedStatus = _.get(response, 'data');
                this.emailVerifiedMessage = _.get(response, 'message');
            })
            .catch(() => {
                this.emailVerifiedStatus = false;
                this.emailVerifiedMessage = 'Tiến trình kiểm tra email không thành công. Vui lòng liên hệ phòng Công nghệ để được hỗ trợ';
            })
            .finally(() => {
                this.isVerifingEmail = false;
            })
        },

        customLabelTaxCode ({taxCode, companyName}) {
            return `${taxCode} - ${companyName}`;
        },

        debounceFindTaxCode: _.debounce(function(taxCode){
            if(!_.isEmpty(taxCode)){
                this.find_company_by_tax_code(taxCode)
            }
        }, 500),


		extendValidators () {

			this.$validator.extend('validateTin', {
				getMessage: field => 'Mã số thuế không hợp lệ',
				validate: value => {
					return Utils.tinValidator(value)
				}
			})

			this.$validator.extend('isUniqueTin', {
				validate: value => {
					return customerService.isUniqueTin(value).then( response => {
						return {
							valid: _.get(response, 'data', false),
							data: {
								message: "hum...?!!"
							}
						}	
					})
				},
				getMessage: field => 'Mã số thuế đã tồn tại trong hệ thống . Không thể tạo hồ sơ này',
			})

			this.$validator.extend('isUniqueEmail', {
				validate: value => {
					return customerService.isUniqueEmail(value, this.formInputs.user_type).then( response => {
						return {
							valid: _.get(response, 'data', false),
							data: { message: "hum...?!!" }
						}	
					})
				},
				getMessage: field => 'Đã tồn tại khách hàng sử dụng E-Mail này.',
			})

            this.$validator.extend('validatePhone', {
				getMessage: field => 'Số điện thoại không hợp lệ',
				validate: value => {
					return Utils.phoneValidator(value)
				}
			})

			this.$validator.extend('isUniquePhone', {
				validate: value => {
					return customerService.isUniquePhone(value, this.formInputs.user_type).then( response => {
						return {
							valid: _.get(response, 'data', false),
							data: { message: "hum...?!!" }
						}	
					})
				},
				getMessage: field => 'Đã tồn tại khách hàng sử dụng số điện thoại này.',
			})
		},

		submit () {
            this.loading = true;

			this.$validator.validate().then(valid => {

				var _form = $("#"+this.modelFormId + 'Tag');

                if(!valid && !this.is_force_update) return false;

				customerService.create(this.formInputs).then(response => {

					if(200 != _.get(response, 'code'))
					{
						let messages 	= []
						const _msg 		= _.get(response, 'msg')
		                if(_.isString(_msg)) messages.push(_msg)
		                else messages = _msg

		            	_.forEach(messages, o => { $.notify(o, 'error') })
		            	return response
					}

					$.notify('Khách hàng đã được thêm mới', 'success')
					this.$emit('created', _.get(response, 'data'), this.formInputs)
					return response
				})
				.catch( error => { $.notify('Oops ! Server đã bị ngắt kết nối à ?!', 'error') })
			})
            .finally(() => { this.loading = false })
		}
	}
}
</script>