<template>
	<div>
		<vCustomerCreateComponent v-on:created="doSomethingAfterCreated" />
	</div>
</template>

<script>

import vCustomerCreateComponent from '@/components/vCustomerCreateComponent.vue'
import { customerService } from '@/_services/customer.service.js'

export default {
	name: 'vCustomerCrudContainer',
	methods: {
		doSomethingAfterCreated (args) {
			$.notify('Trang sẽ tự khởi tạo lại trong vòng 2 giây nữa', 'info')
			setTimeout( () => { window.location.reload() }, 2000)
		}
	},
	components: {
		vCustomerCreateComponent: vCustomerCreateComponent
	}
}
</script>