<template>
	<div>
		<div class="box">
			<div class="box-body">
				<form v-if="!isEmpty(formInputs)" :id="modelFormId+'Tag'" method="post" accept-charset="utf-8">
	                <div class="modal-body">
                        <vAlert
                            v-if="is_disable_update"
                            type="info"
                            :is_html="true"
                            title="Khách hàng đã <b>khoá cập nhật</b>"
                            message="Tính năng cập nhật thông tin khách hàng đã bị khoá do khách hàng có hợp đồng đã cấp số.<br>Vui lòng liên hệ bộ phận <b>Sale-Admin</b> hoặc <b>Kế toán</b> để được hỗ trợ"
                            size="sm"
                        ></vAlert>
                        
	                    <div class="row" style="margin-top: 2rem">
	                    	<div class="col-md-6">
	                    		<fieldset class="scheduler-border">
									<legend class="scheduler-border">Loại hồ sơ khách hàng</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="radio">
													<label>
														<input type="radio" v-model.trim="formInputs.user_type" value="customer_company" disabled="">
														Hồ Sơ Doanh nghiệp
													</label>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<label>
														<input type="radio" v-model.trim="formInputs.user_type" value="customer_person" disabled="">
														Hồ Sơ Cá Nhân
													</label>
												</div>
											</div>
										</div>
									</div>
								</fieldset>

	                    		<fieldset v-if="'customer_company' == formInputs.user_type" class="scheduler-border">
									<legend class="scheduler-border">Thông tin doanh nghiệp/Tổ Chức</legend>
                                    <div class="row">
                                        <div class="col-md-12">
											<div :class="errors.first('meta[customer_tax]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="meta[customer_tax]">
													<i class="fa fa-times-circle-o"></i> Mã số thuế
												</label>
                                                <input v-model.trim="formInputs.customer_tax" data-vv-as="Mã số thuế" v-validate="'required|validateTin|isUniqueTin'" data-vv-delay="800" type="text" name="meta[customer_tax]" class="form-control" :disabled="isVerifingTaxCode || is_disable_update"/>
                                                <span v-if="isVerifingTaxCode" class="help-block">Đang lấy dữ liệu từ Cơ quan thuế...</span>

                                                <span v-if="!isEmpty(errors.first('meta[customer_tax]'))" class="help-block">{{ errors.first('meta[customer_tax]') }}</span>
	                                    		<span v-else-if="'boolean' == typeof isTaxCodeVerified && isTaxCodeVerified" class="help-block text-green">
                                                    <i class="fa fa-check" aria-hidden="true"></i> Mã số thuế đã được xác nhận bởi Cơ quan thuế
                                                </span>
	                                    		<span v-else-if="'boolean' == typeof isTaxCodeVerified && !isTaxCodeVerified" class="help-block text-red">
                                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Mã số thuế chưa được cập nhật bởi Cơ quan thuế
                                                </span>
											</div>
										</div>
                                    </div>
									<div class="row">
										<div class="col-md-12">
											<div :class="errors.first('edit[display_name]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="edit[display_name]">
													<i class="fa fa-times-circle-o"></i> Tên Doanh Nghiệp
												</label>
	                                    		<input 
                                                    type="text" name="edit[display_name]" class="form-control" 
                                                    v-model.trim="formInputs.display_name" 
                                                    data-vv-as="Tên tổ chức" v-validate="'required'" 
                                                    :disabled="is_disable_update"
                                                />
	                                    		<span class="help-block">{{ errors.first('edit[display_name]') }}</span>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div :class="errors.first('meta[customer_address]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Địa chỉ/Trụ sở Văn Phòng
												</label>
												<textarea 
                                                    type="text" name="meta[customer_address]" class="form-control"
                                                    v-model.trim="formInputs.customer_address" 
                                                    data-vv-as="Địa chỉ liên hệ" v-validate="'required'" 
                                                    :disabled="is_disable_update"
                                                ></textarea>
	                                    		<span class="help-block">{{ errors.first('meta[customer_address]') }}</span>
											</div>
										</div>
									</div>
								</fieldset>

	                    		<fieldset class="scheduler-border">
									<legend class="scheduler-border">Thông tin liên hệ</legend>
									<div class="row">

										<div v-if="'customer_company' == formInputs.user_type" class="col-md-9">
											<div :class="errors.first('meta[customer_name]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Họ và tên [0]
												</label>
												<input
													type="text" name="meta[customer_name]" class="form-control" 
													v-model.trim="formInputs.customer_name"
													data-vv-as="Họ & tên [0]" v-validate="'required'"
                                                    :disabled="is_disable_update"
                                                />
	                                    		<span class="help-block">{{ errors.first('meta[customer_name]') }}</span>
											</div>
										</div>
										<div v-else class="col-md-9">
											<div :class="errors.first('edit[display_name]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Họ và tên [0]
												</label>
												<input
													type="text" name="edit[display_name]" class="form-control" 
													v-model.trim="formInputs.display_name"
													data-vv-as="Họ & tên [0]" v-validate="'required'"
                                                    :disabled="is_disable_update"
                                                />
	                                    		<span class="help-block">{{ errors.first('edit[display_name]') }}</span>
											</div>
										</div>

										<div class="col-md-3">
											<div :class="errors.first('meta[customer_gender]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Giới tính
												</label>
												<select 
                                                    name="meta[customer_gender]" class="form-control"
                                                    v-model.trim="formInputs.customer_gender" 
                                                    :disabled="is_disable_update"
                                                >
			                                        <option value="1">Ông</option>
			                                        <option value="0">Bà</option>
			                                    </select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div :class="errors.first('meta[customer_email]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> E-Mail
												</label>

                                                <input 
                                                    v-model.trim="formInputs.customer_email" 
                                                    data-vv-as="Địa chỉ Email" v-validate="'required|email|isUniqueEmail'" data-vv-delay="800" 
                                                    type="text" name="meta[customer_email]" class="form-control" 
                                                    :disabled="isVerifingEmail || is_disable_update"
                                                >
                                                <span v-if="isVerifingEmail" class="help-block">Email đang được xác thực, vui lòng chờ trong giây lát ...</span>

                                                <span v-if="!isEmpty(errors.first('meta[customer_email]'))" class="help-block">{{ errors.first('meta[customer_email]') }}</span>
                                                <span v-else-if="'boolean' == typeof isEmailVerified && isEmailVerified" class="help-block text-green">
                                                    <i class="fa fa-check" aria-hidden="true"></i> Email đã được xác minh có tồn tại
                                                </span>
                                                <span v-else-if="!emailVerifiedStatus && !isEmpty(emailVerifiedMessage)" class="help-block text-red">
                                                    <i class="fa fa-times" aria-hidden="true"></i> {{ emailVerifiedMessage }}
                                                </span>
											</div>
										</div>
										<div class="col-md-6">
											<div :class="errors.first('meta[customer_phone]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Số điện thoại
												</label>
												<input 
                                                    v-model.trim="formInputs.customer_phone" 
                                                    data-vv-as="Số điện thoại" v-validate="'required|validatePhone|isUniquePhone'" data-vv-delay="800" 
                                                    type="tel" name="meta[customer_phone]" class="form-control"
                                                    :disabled="is_disable_update"
                                                >
	                                    		<span class="help-block">{{ errors.first('meta[customer_phone]') }}</span>
											</div>
										</div>
									</div>

									<div v-if="'customer_person' == formInputs.user_type" class="row">
										<div class="col-md-12">
											<div :class="errors.first('meta[customer_address]') ? 'form-group has-error' : 'form-group'">
												<label class="control-label" for="inputError">
													<i class="fa fa-times-circle-o"></i> Địa chỉ/Trụ sở Văn Phòng
												</label>
												<textarea 
                                                    type="text" name="meta[customer_address]" class="form-control"
                                                    v-model.trim="formInputs.customer_address" 
                                                    data-vv-as="Địa chỉ liên hệ" v-validate="'required'" 
                                                    :disabled="is_disable_update"
                                                ></textarea>
	                                    		<span class="help-block">{{ errors.first('meta[customer_address]') }}</span>
											</div>
										</div>
									</div>
								</fieldset>
                                
                                <label v-if="configs.has_force_update">
                                    <input type="checkbox" v-model.trim="is_force_update" :disabled="is_disable_update">
                                    Xác nhận vẫn lưu thông tin
                                </label>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<fieldset class="scheduler-border">
									<legend class="scheduler-border">Tên miền sở hữu</legend>
									<div class="row">
										<div v-for="(website, index) in websites" v-bind:key="`domain-key-${index}`" class="col-md-12">
											<div :class="errors.first(`webpage[${index}]`) ? 'form-group has-error' : 'form-group'">
													<div class="input-group input-group-md">
										                <span class="input-group-addon"><i class="fa fa-globe text-primary"></i></span>
										                <span class="input-group-addon">
										                	<i v-if="isEmpty(website.term_name)" class="fa fa-minus text-black"></i>
										                	<i v-else-if="errors.first(`webpage[${index}]`)" class="fa fa-close text-red"></i>
										                	<i v-else class="fa fa-check text-green"></i>
														</span>
										                <input
										                	type="text" class="form-control" placeholder="https://example.com"
										                	v-model.trim="website.term_name" 
										                	data-vv-as="WebPage" 
										                	v-validate="`url|isUniqueWebPageClient|isUniqueWebPage:${website.term_id}`"
										                	:name="`webpage[${index}]`"
										                	:disabled="website.is_deleted || (is_disable_update && website.is_disabled_update)"
                                                        />
										                <div class="input-group-btn">

										                	<template>
										                		<button
										                			v-if="!website.is_deleted"
											                  		v-on:click="removeWebsite(website.guid)"
											                  		type="button"
											                  		title="Xóa"
											                  		data-container="body"
											                  		data-toggle="popover"
											                  		data-placement="top"
											                  		data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
											                  		class="btn btn-danger"
                                                                    :disabled="(is_disable_update && website.is_disabled_update)"
                                                                >
											                  		<i class="fa fa-trash-o"></i>
											                  	</button>
											                  	<button
										                			v-else
											                  		v-on:click="website.is_deleted = false"
											                  		type="button"
											                  		title="Không xóa"
											                  		class="btn btn-danger">
											                  		<i class="fa fa-close"></i>
											                  		Bỏ chọn
											                  	</button>
										                	</template>

										                  	<button
										                  		v-if="index == (websites.length - 1)"
										                  		v-on:click="addWebsite()"
										                  		type="button"
										                  		class="btn btn-success">
										                  		<i class="fa fa-plus"></i>
										                  	</button>
										                </div>
													</div>
													<span class="help-block">{{ errors.first(`webpage[${index}]`) }}</span>
											</div>
										</div>
									</div>
								</fieldset>
	                    	</div>
	                    </div>
	                </div>
	                <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-primary" :disabled="is_disabled_submit" @click="submit">
                            <span v-if="isVerifingEmail || isVerifingTaxCode">Đang kiểm tra dữ liệu..</span>
                            <span v-else-if="loading">Đang lưu thay đổi...</span>
                            <span v-else>Lưu thay đổi</span>
                        </button>
	                </div>
	            </form>
                <p v-else>Không tìm thấy dữ liệu yêu cầu</p>
			</div>
		</div>
	</div>
</template>

<script>

import vAlert from '@/components/Utils/vAlert.vue'
import { customerService } from '@/_services/customer.service.js'
import { Utils } from '@/_helpers/utils.helpers.js'

export default {
	name: 'vCustomerUpdateComponent',
    components: {
        vAlert
    },
	props: {
        id: { type: [String, Number], default : []}
    },
	data: () => ({

        defaultInputs: {
			user_type: null,
			display_name: null,
			customer_name: null,
			customer_gender: 1,
			customer_email: null,
			customer_address: null,
			customer_phone: null,
			customer_tax: null,
            is_force_update: false,
		},

		formInputs: {},
		websites: [],
		originalWebsites: [],
		modelFormId: _.uniqueId('modalFormVCustomerUpdateComponentContainer-'),
		loading: false,

        configs: {},

        isVerifingEmail: false,
        isVerifingTaxCode: false,
        
        isTaxCodeVerified: null,
        
        emailVerifiedStatus: null,
        emailVerifiedMessage: null,

        is_force_update: false,
        is_lock: false,
        is_overwrite_permission: false,
	}),

    computed: {
        isEmailVerified(){
            if(this.defaultInputs.customer_email == this.formInputs.customer_email) return null;
            if(null == this.emailVerifiedStatus) return null;

            return this.emailVerifiedStatus;
        },

        is_disabled_submit(){
            if(this.loading) return true;
            if(this.isVerifingEmail) return true;
            if(this.isVerifingTaxCode) return true;

            return false;
        },

        is_disable_update()
        {
            return this.is_lock 
                   && !this.is_overwrite_permission;
        },
    },

	watch: {

		websites () {
			if(this.websites.length == 0)
			{
				this.websites.push({
					'term_name' : null,
					'term_status' : 'pending',
					'term_id' : null,
					'guid' : _.uniqueId('website-'),
					'is_deleted' : false,
				})
			}
		},

        'formInputs.customer_tax': _.debounce(function(taxCode){
            if(taxCode == this.defaultInputs.customer_tax) {
                this.isTaxCodeVerified = null;
                return;
            }

            this.$validator.validate('meta[customer_tax]').then(valid => {
                if(valid){
                    this.find_company_by_tax_code(taxCode)
                }
            })
        }, 350),

        'formInputs.customer_email': _.debounce(function(email){
            if(email == this.defaultInputs.customer_email) {
                this.emailVerifiedStatus = null;
                return;
            }

            this.$validator.validate('meta[customer_email]').then(valid => {
                if(valid){
                    this.verifyEmail(email);
                }
            })

        }, 600),
	},

	mounted () {
        this.loading = true;

        customerService.get_config()
        .then(response => {
            this.configs = _.get(response, 'data', {});

            return this.getContact();
        })
        .then(() => {
            this.extendValidators();
        })
        .finally(() => {
            this.loading = false;
        })
	},

	methods: {
        isEmpty(value) {
			return _.isEmpty(value)
		},

        find_company_by_tax_code(taxCode){
            if(!_.get(this.configs, "is_active_tin_check", false)) return;

            this.isVerifingTaxCode = true;

            if(_.isEmpty(taxCode)){
                this.formInputs.display_name = null;
			    this.formInputs.customer_name = null;
			    this.formInputs.customer_address = null;
			    this.formInputs.customer_phone = null;
                this.formInputs.customer_gender = 1;

                this.isTaxCodeVerified = null;

                return;
            }

            customerService.find_company_by_tax_code(taxCode).then(response => {
                if(200 != _.get(response, 'code')){
                    this.isTaxCodeVerified = false;
                    return;
                }

                this.formInputs.display_name = _.get(response, 'data.companyName', null);
			    this.formInputs.customer_name = _.get(response, 'data.representationName', null);
			    this.formInputs.customer_address = _.get(response, 'data.address', null);
			    this.formInputs.customer_phone = _.get(response, 'data.representationPhone', null);
			    let gender = _.get(response, 'data.representationGender', 1);
                this.formInputs.customer_gender = 'male' == gender ? 1 : 0;
                
                this.isTaxCodeVerified = true;
            })
            .finally(() => {
                this.isVerifingTaxCode = false;
            })
        },

        verifyEmail(email){
            this.isVerifingEmail = true;
            this.emailVerifiedStatus = null;
            this.emailVerifiedMessage = null;

            customerService.isVerifyEmail(email, this.formInputs.user_type)
            .then(response => {
                if(200 != _.get(response, 'code')){
                    this.emailVerifiedStatus = false;
                    this.emailVerifiedMessage = 'Tiến trình kiểm tra email không thành công. Vui lòng liên hệ phòng Công nghệ để được hỗ trợ.';

                    return;
                }

                this.emailVerifiedStatus = _.get(response, 'data');
                this.emailVerifiedMessage = _.get(response, 'message');
            })
            .catch(() => {
                this.emailVerifiedStatus = false;
                this.emailVerifiedMessage = 'Tiến trình kiểm tra email không thành công. Vui lòng liên hệ phòng Công nghệ để được hỗ trợ.';
            })
            .finally(() => {
                this.isVerifingEmail = false;
            })
        },

		getIndex (items, guid) {
            return items.findIndex(i => i.guid == guid)
        },

		removeWebsite (guid) {

			const _index = this.getIndex(this.websites, guid)
			const _website = _.get(this.websites, _index)

			if(_.get(_website, 'term_id') > 0)
			{
				this.websites[_index].is_deleted = true
				return true
			}

			this.websites.splice(this.getIndex(this.websites, guid), 1)
		},
		addWebsite () {
			this.websites.push({
				'guid': _.uniqueId('website-'),
				'term_id' : null,
				'term_status': 'pending',
				'term_name': null,
				'is_deleted': false,
                'is_disabled_update': false,
			})
		},

		getContact (){
			this.loading = true

			customerService.get(this.id)
			.then(response => {
                let _data = {
                    'user_type': _.get(response, 'data.user_type'),
                    'customer_name': _.get(response, 'data.customer_name'),
                    'display_name': _.get(response, 'data.display_name'),
                    'customer_gender': _.get(response, 'data.customer_gender'),
                    'customer_email': _.get(response, 'data.customer_email'),
                    'customer_address': _.get(response, 'data.customer_address'),
                    'customer_phone': _.get(response, 'data.customer_phone'),
                    'customer_tax': _.get(response, 'data.customer_tax'),
                };

				this.defaultInputs = _.cloneDeep(_data);
				this.formInputs = _.cloneDeep(_data);

				const _websites = _.map(_.get(response, 'data.websites'), o => {
					o.guid = _.uniqueId('website-')
					o.is_deleted = false
					return o
				});

				this.websites = _.cloneDeep(_websites)
				this.originalWebsites = _.cloneDeep(_websites)
                this.is_lock = _.get(response, 'data.is_lock', false);
                this.is_overwrite_permission = _.get(response, 'data.is_overwrite_permission', false);
			})
			.catch(error => {
				$.notify(error, 'error')
			})
			.finally(() => {
				this.loading = false
			})
		},

		extendValidators () {

			this.$validator.extend('validateTin', {
				getMessage: field => 'Mã số thuế không hợp lệ',
				validate: value => {
                    return Utils.tinValidator(value)
				}
			})

			this.$validator.extend('isUniqueTin', {
				validate: value => {
					return customerService.isUniqueTin(value, this.id).then( response => {
						return {
							valid: (_.get(response, 'data') || false),
							data: {
								message: "hum...?!!"
							}
						}	
					})
				},
				getMessage: field => 'Mã số thuế đã tồn tại trong hệ thống . Không thể tạo hồ sơ này',
			})

			this.$validator.extend('isUniqueEmail', {
				validate: value => {
					return customerService.isUniqueEmail(value, this.formInputs.user_type, this.id).then( response => {
						return {
							valid: (_.get(response, 'data') || false),
							data: { message: "hum...?!!" }
						}	
					})
				},
				getMessage: field => 'Đã tồn tại khách hàng sử dụng E-Mail này.',
			})

            this.$validator.extend('validatePhone', {
				getMessage: field => 'Số điện thoại không hợp lệ',
				validate: value => {
					return Utils.phoneValidator(value)
				}
			})

			this.$validator.extend('isUniquePhone', {
				validate: value => {
					return customerService.isUniquePhone(value, this.formInputs.user_type, this.id).then( response => {
						return {
							valid: (_.get(response, 'data') || false),
							data: { message: "hum...?!!" }
						}	
					})
				},
				getMessage: field => 'Đã tồn tại khách hàng sử dụng số điện thoại này.',
			})

			this.$validator.extend('isUniqueWebPageClient', {
				validate: value => {

					return {
						valid: !(_.size(_.filter(_.map(this.websites, 'term_name'), o => { return _.eq(o, value) })) > 1),
						data: { message: "hum...?!!" }
					}	
				},
				getMessage: field => 'Tên miền không được phép trùng !',
				
			})

			this.$validator.extend('isUniqueWebPage', {
				validate: (value, another) => {
					const _id = _.first(another)
					return customerService.isUniqueWebPage(value, _id).then( response => {
						return {
							valid: (_.get(response, 'data') || false),
							data: { message: "hum...?!!" }
						}	
					})
				},
				getMessage: field => 'Tên miền đã được đăng ký hoặc đang bị khóa , xin thử lại !',
			})
		},

		submit () {
            this.loading = true;

            this.$validator.validate().then(valid => {
                var _form = $("#"+this.modelFormId + 'Tag');

                if(!valid && !this.is_force_update) return false;

                return this.update()
                .then(response => {	
                    this.batchUpdateWebsites()
                    return response
                })
            })
            .finally(() => {
                this.loading = false;
            })
		},

		batchUpdateWebsites (){	
			_.forEach(this.websites, o => {
                if(_.isEmpty(_.get(o, 'term_name'))) return;
				
				if(true == _.get(o, 'is_deleted'))
				{
					this.deleteWebsite(o)
					return
				}

				/* Create new website */
				if(!_.gt(_.get(o, 'term_id'), 0))
				{
					this.createWebsite(o)
					return;
				}

				/* Update Website */
				const _originalWebsite = _.find(this.originalWebsites, [ 'term_id', _.get(o, 'term_id') ])
				if(_.eq(_.get(_originalWebsite, 'term_name'), _.get(o, 'term_name'))) return;

				this.updateWebsite(o)
			})
		},

		createWebsite (website){

			this.loading = true

			const _payload = {
				customerId: this.id,
			    term_name: _.get(website, 'term_name'),
			    term_status:  _.get(website, 'term_status'),
			}

			return customerService.createWebsite(_payload).then(response => {

				if(200 != _.get(response, 'code'))
				{
					let messages 	= []
					const _msg 		= _.get(response, 'msg')
	                if(_.isString(_msg)) messages.push(_msg)
	                else messages = _msg

	            	_.forEach(messages, o => {
	            		throw Error(o)
	            	})
				}

				const _index = this.getIndex(this.websites, website.guid)
				this.websites[_index].term_id = parseInt(_.get(response, 'data'))

				$.notify( 'Tên miền "' + _.get(website, 'term_name') + '" đã được thêm mới thành công.', 'success')
				return response
			})
			.catch( error => {
				$.notify(error, 'error')
			})
			.finally(() => { this.loading = false })
		},

		updateWebsite (website){

			this.loading = true
			const _websiteId = _.get(website, 'term_id')
			const _payload = {
				customerId: this.id,
			    term_name: _.get(website, 'term_name'),
			    term_status:  _.get(website, 'term_status'),
			}

			return customerService.updateWebsite(_websiteId, _payload).then(response => {

				console.group('customerService.updateWebsite')
				if(200 != _.get(response, 'code'))
				{
					let messages 	= []
					const _msg 		= _.get(response, 'msg')
	                if(_.isString(_msg)) messages.push(_msg)
	                else messages = _msg

	            	_.forEach(messages, o => {
	            		throw Error(o)
	            	})
				}
				
				$.notify( 'Tên miền "' + _.get(website, 'term_name') + '" đã được cập nhật thành công.', 'success')
				return response
			})
			.catch( error => {
				$.notify(error, 'error')
			})
			.finally(() => { this.loading = false })
		},

		deleteWebsite (website){

			this.loading = true
			const websiteId = _.get(website, 'term_id')

			return customerService.deleteWebsite(this.id, websiteId).then(response => {

				if(200 != _.get(response, 'code'))
				{
					let messages 	= []
					const _msg 		= _.get(response, 'msg')
	                if(_.isString(_msg)) messages.push(_msg)
	                else messages = _msg

	            	_.forEach(messages, o => {
	            		throw Error(o)
	            	})
				}

				this.websites.splice(this.getIndex(this.websites, website.guid), 1)

				$.notify( 'Trang "' + _.get(website, 'term_name') + '" được xóa.', 'success')
				return response
			})
			.catch( error => {
				$.notify(error, 'error')
			})
			.finally(() => { this.loading = false })
		},

		update (){
			const _payload = {
				'user_type' : this.formInputs.user_type,
				'display_name' : this.formInputs.display_name,
				'customer_name' : this.formInputs.customer_name,
				'customer_gender' : this.formInputs.customer_gender,
				'customer_email' : this.formInputs.customer_email,
				'customer_address' : this.formInputs.customer_address,
				'customer_phone' : this.formInputs.customer_phone,
				'customer_tax' : this.formInputs.customer_tax,
				'is_force_update' : this.is_force_update
			}

			return customerService.update(this.id, _payload)
            .then(response => {

				if(200 != _.get(response, 'code'))
				{
					let messages 	= []
					const _msg 		= _.get(response, 'msg')
	                if(_.isString(_msg)) messages.push(_msg)
	                else messages = _msg

	            	_.forEach(messages, o => { $.notify(o, 'error') })
	            	return response
				}

				$.notify('Dữ liệu đã được thay đổi.', 'success')
				return response
			})
            .catch( error => { 
                $.notify('Oops ! Server đã bị ngắt kết nối à ?!', 'error')
            })
		},
	}
}
</script>