<script>
import { responseService } from '@/_services/response.service.js'

export default {
    name: 'vDatatableBuilder',
    props: {
        is_filtering: { type: Boolean, default : true },
        is_subheading: { type: Boolean, default : false },
        is_load_config: { type: Boolean, default : true },
        is_ordering: { type: Boolean, default : true },
        is_download: { type: Boolean, default : false },
        is_use_store: { type: Boolean, default : false },
        is_striped: { type: Boolean, default : false },
        store_module: { type : String, default : "" },
        remote_url : { type : String, default : "" },
        cur_page: { type: Number, default : 1 },
        per_page: { type: Number, default : 20 },
        controller : { type : String, default : ""},
        filter_position : { type : [ String, Number], default : ""},
        columns_ticky_at: { type: Number, default : 1 },
        custom_datatable_rows: { type: Boolean, default : false },
        custom_datatable_header: { type: Boolean, default : false },
        default_query_params: { type: Array, default : () => [] },
        default_columns: { type: Array, default : () => [] },
        general_config_api_url: { type : String, default : "" },
        main_datatable: {type: Boolean, default : true},
    },

    data () {
        
        return {
            base_url: base_url,
            columns : [],
            headings : [],
            subheadings : null,
            filters : null,
            actions : null,
            rows_tmp : [],
            pagination  : null,
            recordsPerPage: this.per_page,
            sortable : { name : '', value : '' },
            isLoading : true,
            config : {},
            columnsSelected : [],
            groupColumnsSaved : [],
            groupColumnsSavedNameChecked : false,
            groupColumnsSavedName : '',
            guid: _.uniqueId('vDatatableBuilder-')
        }
    },

    computed : {

        limitOptions () {

            let result = [];
            if( ! this.pagination) return result

            let defaultOpts = [10,20,50,100,200,500]
            let max         = this.pagination.total_rows
            for (var i = 0; i < defaultOpts.length; i++)
            {
                if(max < defaultOpts[i])
                {
                    result.push(defaultOpts[i])
                    break
                }

                result.push(defaultOpts[i])
            }

            return result
        },

        pagingDescription () {
            if( ! this.pagination || this.pagination.max == 0) return ''
            return '<i>' + this.pagination.min + ' - ' + this.pagination.max + ' / '+ this.pagination.total_rows +'</i>'
        },

        rows:{
            get(){
                if(!this.is_use_store) return this.rows_tmp;
    
                return this.$store.state[this.store_module].datatable;
            },
            set(value){
                this.rows_tmp = value;
            }
        }
    },
    watch : {

        remote_url () {
            $("#datatable-form-" + this.guid + " input.cur_page").val(1);
            this.remote_query(false);
        },
        
        recordsPerPage () {
            $("#datatable-form-" + this.guid + " input.cur_page").val(1);
            this.remote_query(false);
        },

        rows () {
            this.$emit("datasource_changed", this.rows)
        }
    },
    created () {
        this.init()
        if(this.is_load_config) this.loadConfig()
    },
    updated () {
        this.bindInlineCssForColumnSticky()
        this.bindSortableEvent()
        this.bindFilterableElements()
        this.bindPaginationAnchorEvent()
        this.bindFormSubmitEvent()
        this.bindSearchDateAction();

        $(".set-datepicker").daterangepicker({format: 'DD-MM-YYYY'});

        // jQuery UI sortable for the todo list
        $('ul.todo-list').sortable({
            placeholder         : 'sort-highlight',
            handle              : '.handle',
            forcePlaceholderSize: true,
            zIndex              : 999999
        });
    },
    mounted () {
        this.onFormSubmitEvent()
    },
    methods : {

        getApiEndPointUrl (overwrite) {

            let url = _.cloneDeep(this.remote_url)
            let defaultParams = []
            if( ! _.isEmpty(this.default_query_params))
            {
                _.each(this.default_query_params, o => {
                    for (const [key, value] of Object.entries(o)) {
                        defaultParams.push({ name: key, value: value })
                    }
                })
            }

            defaultParams.push({ 'name' : 'filter_position', value: this.filter_position})
            defaultParams.push({ 'name' : 'per_page', value: this.recordsPerPage})

            if(!_.lte(url.indexOf('?'), 0)) url = url.substring(0, url.indexOf('?'))

            if(url.indexOf("?") <= 0) url+= '?'

            let params = $(`#datatable-form-${this.guid}`).serializeArray()

            params = _.filter(params, o => {
                return !_.isEmpty(o.value)
            })

            if(this.columnsSelected.length > 0) params.push({ 'name': 'columns', value: this.columnsSelected })

            let priorityFields = _.map(params, o => { return o.name })
            if( ! _.isEmpty(priorityFields))
            {
                _.each(priorityFields, o => {
                    _.remove(defaultParams, o => {
                        return _.includes(priorityFields, o.name)
                    })
                })
            }
            
            const _params = _.xor(params, defaultParams)
            const _query_string = $.param( _params)

            return `${url}&${_query_string}`
        },

        bindInlineCssForColumnSticky () {

            if(this.filter_position == 1)
            {
                document.querySelectorAll(`div#datatable-container-${this.guid} table.table-main-dataset thead tr:nth-child(2) th`).forEach(el => {
                    el.style.position   = 'sticky'
                    el.style.top = `30px`;
                })
            }

            const _columnsTickyAt = _.parseInt(this.columns_ticky_at)
            if(_.lt(_columnsTickyAt, 2)) return

            for (let i = 2; i <= _columnsTickyAt; i++)
            {
                document.querySelectorAll(`div#datatable-container-${this.guid} table.table-main-dataset thead tr > :nth-child(${i})`).forEach(el => {
                    el.style.zIndex     = 'unset'
                    el.style.left       = 'unset'
                })

                document.querySelectorAll(`div#datatable-container-${this.guid} table.table-main-dataset thead tr > :nth-child(${i})`).forEach(el => {
                    el.style.zIndex     = 3
                    el.style.left       = `${el.offsetLeft}px`
                })

                document.querySelectorAll(`div#datatable-container-${this.guid} table.table-main-dataset tbody tr > :nth-child(${i})`).forEach(el => {
                    el.style.position   = 'unset'
                    el.style.zIndex     = 'unset'
                    el.style.left       = 'unset'
                })

                document.querySelectorAll(`div#datatable-container-${this.guid} table.table-main-dataset tbody tr > :nth-child(${i})`).forEach(el => {
                    el.style.position   = 'sticky'
                    el.style.zIndex     = 1
                    el.style.left       = `${el.offsetLeft}px`
                })
            }
        },

        onFormSubmitEvent() {
            document.querySelector(`#datatable-form-${this.guid}`).addEventListener("submit", event => {
                event.preventDefault();
                this.remote_query(false)
            }, false)
        },

        isEmpty (value) { return _.isEmpty(value) },

        modifyColumnsApply () {

            let values = $(".todo-list").sortable( "toArray", {attribute  : "column"});

            if(this.groupColumnsSavedNameChecked && this.groupColumnsSavedName)
            {
                let groupColumnsSaved = JSON.parse(localStorage.getItem("groupColumnsSaved"))
                if(_.isNull(groupColumnsSaved)) groupColumnsSaved = []

                let currentUrl = location.pathname

                let _i = _.findIndex(groupColumnsSaved, { 'url' : currentUrl, 'name' : this.groupColumnsSavedName })
                if(_i >= 0) groupColumnsSaved[_i].columns = values
                else groupColumnsSaved.push({ 'url' : currentUrl, 'name' : this.groupColumnsSavedName, 'columns' : values})

                localStorage.setItem('groupColumnsSaved', JSON.stringify(groupColumnsSaved))
                    
                // Reset input group calomns saved to default
                this.groupColumnsSavedNameChecked = false
                this.groupColumnsSavedName = ''

                this.groupColumnsSaved = []
                this.groupColumnsSaved = groupColumnsSaved
            }

            this.columnsSelected = values
            this.remote_query(true)
        },

        removeColumnSelected (key) {

            let _columnSelected = this.columnsSelected
            _columnSelected     = _.pull(_columnSelected, key)

            this.columnsSelected = []
            this.columnsSelected = _columnSelected
        },

        applyGroupColumnSaved (event, key) {

            event.preventDefault();

            let groupColumnsSaved = JSON.parse( localStorage.getItem("groupColumnsSaved"));
            if(_.isNull(groupColumnsSaved)) return false;

            let currentUrl = location.pathname;
            let i = _.findIndex(groupColumnsSaved, { 'url' : currentUrl, 'name' : key });

            if(i >= 0) 
            {
                this.columnsSelected = [];
                this.columnsSelected = groupColumnsSaved[i].columns;
                this.remote_query(true);
            }

            return false;
        },

        removeGroupColumnSaved (event, key) {

            event.preventDefault();

            let groupColumnsSaved = JSON.parse( localStorage.getItem("groupColumnsSaved"));
            if(_.isNull(groupColumnsSaved)) return false;

            let currentUrl = location.pathname;
            let _i = _.findIndex(groupColumnsSaved, { 'url' : currentUrl, 'name' : key });
            if(_i >= 0) 
            {
                _.pullAt(groupColumnsSaved, _i);

                this.groupColumnsSaved = [];
                this.groupColumnsSaved = groupColumnsSaved

                localStorage.setItem("groupColumnsSaved", JSON.stringify(groupColumnsSaved)); // Save data to browser memory
            }

            return false;
        },

        getColumnByKey (key) {
            if( ! _.has(this.config.columns, key)) return 'Rỗng';
            return this.config.columns[key];
        },

        loadConfig () {

            const _config_url = this.general_config_api_url || admin_url + this.controller + '/rest/contract/config';

            return responseService.fetchRetry(_config_url, {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                headers: { 'Content-Type': 'application/json' }
            }, 1)
            .then(response => {

                this.config = _.get(response, 'data')

                

                if( ! _.isEmpty(this.columnsSelected)) return response
                
                
                
                if( ! _.isEmpty(this.default_columns))
                {
                    this.columnsSelected = this.default_columns
                    return response
                }

                this.columnsSelected = this.config.default_columns
                return response
            })

            this.loadLocalStorage();
        },

        loadLocalStorage () {
            let groupColumnsSaved = JSON.parse(localStorage.getItem("groupColumnsSaved"));
            if(_.isNull(groupColumnsSaved)) return false;

            
            let currentUrl = location.pathname;
            groupColumnsSaved = _.filter(groupColumnsSaved, { 'url' : currentUrl });

            this.groupColumnsSaved = [];
            this.groupColumnsSaved = groupColumnsSaved;
        },

        init () {
            this.remote_query(true);
        },

        /* bind CLICK event to sortable button */
        bindPaginationAnchorEvent () {

            var seft = this;
            $("#datatable-form-" + this.guid + " a.pagination_anchor_navigator").each(function(index,element){
                $(element).off('click').on('click', function(e) {
                    e.preventDefault();
                    if( $(this).data('ci-pagination-page') == '') return true;
                    $("#datatable-form-" + seft.guid + " input.cur_page").val($(this).data('ci-pagination-page'));
                    seft.remote_query(false);
                    return false;
                });
            });
        },

        /* bind CLICK event to sortable button */
        bindSortableEvent () {

            var seft = this;
            $("#datatable-form-" + this.guid + " .btn-sortable").each(function(i,e){
                
                $(e).off('click').on('click', function() {

                    $("#datatable-form-" + seft.guid + " .sort-input").val($(e).val());
                    $("#datatable-form-" + seft.guid + " .sort-input").attr('name',$(e).attr('name'));
                    seft.remote_query(false);
                });
            });
        },

        bindFilterableElements () {
            $("#datatable-form-" + this.guid + ' .input_daterange').daterangepicker({format: 'DD-MM-YYYY' })
            $("#datatable-form-" + this.guid + ' .input_monthpicker').datepicker({format: 'mm-yyyy',minViewMode: 1, viewmode: 'months', minviewmode: 'months'})
            $('#datatable-container-' + this.guid + " .select2").select2()
            $('#datatable-container-' + this.guid + " span.select2").css('width', '100%')
            return true;
        },

        bindSearchDateAction(){
            let _debounce = _.debounce(() => {
                this.remote_query(false);
            }, 300);

            $("#datatable-form-" + this.guid + " .set-datepicker").each((index, element) => {
                $(element).off('change').on('change', _debounce);
            });
        },

        bindFormSubmitEvent () {
            $("form#datatable-form-" + this.guid).off('submit').on('submit', e => e.preventDefault())
        },

        remote_query (init) {
            this.isLoading = true;

            return responseService.fetchRetry(this.getApiEndPointUrl(!init), {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                headers: { 'Content-Type': 'application/json' }
            }, 1)
            .then(response => {
                
                if( 400 == _.get(response, 'code'))
                {
                    this.rows = []
                    this.pagination = null
                    this.recordsPerPage = this.per_page
                    throw Error(_.get(response, 'error'))
                }

                if(init)
                {
                    this.filters = response.filters
                    if(typeof response.actions != 'undefined') this.actions = response.actions
                }

                this.rows = _.get(response, 'rows')
                if( ! _.isEmpty(_.get(response, 'headings'))) this.headings = _.get(response, 'headings')
                if( ! _.isEmpty(_.get(response, 'subheadings'))) this.subheadings = _.get(response, 'subheadings')
                this.pagination = _.get(response, 'pagination')

                if(this.is_use_store){
                    this.$store.commit(`${this.store_module}/set_datatable`, _.get(response, 'rows'));
                    this.rows = this.$store.state[this.store_module].datatable;
                }
            })
            .catch(error => {
                $.notify(error, 'error')
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        get (array, key){
            return _.get(array, key)
        },

        /* build download href */
        getDownloadUrl () {
            return this.getApiEndPointUrl(true) + '&download=1'
        }
    }
};
</script>
<template>
    <div :id="'datatable-container-' + guid">
        <form :id="'datatable-form-' + guid">
            <input type="submit" style="visibility: hidden;" />
            <div v-if="filters != null && filter_position == 2" :id="'filter-panel-' + guid" class="collapse in filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3 col-xs-12">
                            <button v-on:click="remote_query(false)" name="search" class="btn btn-info"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <a v-if="is_download == true" :href="getDownloadUrl()" class="btn btn-success"><i class="fa fa-download"></i> Export</a>
                            <span v-if="actions != null" v-html="actions"></span>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        
                        <div class="box-header">
                            <div>
                                Hiển thị:
                                <select name="per_page" class="custom-select custom-select-sm" v-model="recordsPerPage">
                                    <option v-for="option in limitOptions" v-bind:key="`limit-options-${option}`" :value="option" v-text="option"></option>
                                </select>
                                <span style="margin-left:10px; font-weight: bold;font-style: italic;" v-html="pagingDescription"></span>
                            </div>
                            <div class="box-tools" style="top: -9px;">

                                <a v-on:click="remote_query(false)" :id="`datatable-form-search-${guid}`" class="btn btn-flat btn-sm text-black pull-right">
                                    <i class="fa fa-2x fa-search"></i>
                                    <br/>Tìm kiếm
                                </a>

                                <slot name="tools_extra_next_download"></slot>

                                <a v-if="is_download == true" :href="getDownloadUrl()" class="btn btn-flat btn-sm text-black pull-right">
                                    <i class="fa fa-2x fa-download"></i>
                                    <br>Tải về
                                </a>

                                
                                <template v-if=" ! isEmpty(config.columns)">
                                    <a v-if="isEmpty(groupColumnsSaved)" data-toggle="modal" :data-target="'#modal-' + guid" class="btn btn-flat btn-sm text-black pull-right"><i class="fa fa-2x fa-columns"></i><br>Cột</a>
                                    <template v-else>
                                        <a class="btn btn-flat btn-sm text-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-2x fa-columns"></i><br>CỘT
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="" data-toggle="modal" :data-target="'#modal-' + guid"><i class="fa fw fa-cogs"></i> Tùy chỉnh</a></li>
                                            <li class="divider"></li>
                                            <li class="col-xs-12 disabled"><u><i>Các cột đã lưu</i></u></li>
                                            <li v-for="(gcs, i) in groupColumnsSaved" v-bind:key="`expand-columns-selected-${i}`">

                                                <a href="#" v-on:click="applyGroupColumnSaved($event, gcs.name)" class="col-xs-10" v-text="gcs.name"></a>
                                                <div class="tools col-xs-2" style="padding-right:10px">
                                                    <a href="#" v-on:click="removeGroupColumnSaved($event, gcs.name)"><i class="fa fa-close"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </template>
                                </template>

                                <slot name="tools_extra_right"></slot>
                            </div>
                        </div>
                        
                        <!-- /.box-header -->
                        <div :class="['box-body', 'table-responsive', 'no-padding', main_datatable ? 'main-datatable' : '']">
                            <div class="clearfix"></div>
                            <input type="hidden" class="sort-input"/>
                            <input type="hidden" name="cur_page" class="cur_page"/>
                            <table
                                v-bind:id="guid"
                                border="1"
                                name='sticky'
                                cellpadding="2"
                                cellspacing="1"
                                :class="`table-main-dataset table table-responsive table-bordered table-condensed table-hover sticky ${is_striped ? 'table-striped' : ''}`"
                            >
                                <thead style="background:#ffffff;"> 
                                    <template v-if="headings != 'undefined'">
                                        <slot v-if="custom_datatable_header" name="table_body_header" :items="headings" :columns="columnsSelected" :config="config"></slot>
                                        <tr v-else-if="!isEmpty(columnsSelected)">
                                            <slot name="append_thead_filtering_partial"></slot>
                                            <th
                                                v-for="(key, i) in columnsSelected"
                                                v-bind:key="`heading-item-with-seleted-column-${i}`"
                                                nowrap="nowrap"
                                                style="vertical-align:top;"
                                                v-html="get(headings, key)"
                                            >
                                            </th>
                                        </tr>
                                        <tr v-else>
                                            <slot name="append_thead_filtering_partial"></slot>
                                            <th
                                                v-for="(heading, i) in headings"
                                                v-bind:key="`datatable-headings-${i}`"
                                                nowrap="nowrap"
                                                style="vertical-align:top;"
                                                v-html="heading"
                                            ></th> 
                                        </tr>
                                        <tr v-if="!isEmpty(subheadings)">
                                            <slot name="prepend_thead_filtering_partial"></slot>
                                            <th
                                                v-for="(value, key, i) in headings"
                                                v-bind:key="`datatable-headings-${i}`"
                                                nowrap="nowrap"
                                                style="vertical-align:top;"
                                                class="text-red text-right"
                                                v-html="isEmpty(subheadings[key]) ? '' : parseInt(subheadings[key], 10).toLocaleString('de-DE')"
                                            ></th> 
                                        </tr>

                                        <template v-if="filter_position == 1">
                                            <tr v-if="isEmpty(columnsSelected)">
                                                <slot name="prepend_thead_filtering_partial"></slot>
                                                <template v-for="(heading, key) in headings">
                                                    <th v-if="!isEmpty(get(filters, key))" nowrap="nowrap" style="vertical-align:top;" v-bind:key="`datatable-thead-filter-empty-colunms-row-${key}`" v-html="get(filters, key)"></th>
                                                    <th v-else v-bind:key="`datatable-thead-filter-empty-colunms-row-else-${key}`">
                                                        <input class="form-control" type="text" disabled="true" />
                                                    </th>
                                                </template>
                                            </tr>
                                            <tr v-else>

                                                <slot name="prepend_thead_filtering_partial"></slot>

                                                <template v-for="(key, i) in columnsSelected">
                                                    <th
                                                        v-if="!isEmpty(get(filters, key))"
                                                        nowrap="nowrap"
                                                        style="vertical-align:top;"
                                                        v-bind:key="`datatable-thead-filter-row-${i}`"
                                                        v-html="get(filters, key)"
                                                    ></th>
                                                    <th
                                                        v-else
                                                        v-bind:key="`datatable-thead-filter-row-else-${i}`"
                                                    >
                                                        <input class="form-control" type="text" disabled="true" />
                                                    </th>
                                                </template>
                                            </tr>
                                        </template>

                                    </template>
                                </thead>

                                <tbody>
                                    <template v-if="!isEmpty(rows)">
                                        <slot v-if="custom_datatable_rows" name="table_body_rows" :items="rows" :columns="columnsSelected" :config="config"></slot>
                                        <template v-else-if="!isEmpty(columnsSelected)">
                                            <tr v-for="(row, i) in rows" v-bind:key="`datatable-row-with-columns-selected-${i}`">
                                                <td
                                                    v-for="(key, i) in columnsSelected"
                                                    v-bind:key="`row-item-with-seleted-column-${i}`"
                                                    :style="{whiteSpace: 'nowrap', textAlign: get(get(get(config, 'columns'), key), 'align')}"
                                                >   
                                                    <span v-if="'number' == get(config, `columns.${key}.type`)" v-text="parseInt(get(row, key) || 0).toLocaleString('de-DE')"></span>
                                                    <span v-else v-html="get(row, key) || '-'"></span>
                                                </td>
                                            </tr> 
                                        </template>
                                        <template v-else>
                                            <tr v-for="(row, i) in rows" v-bind:key="`datatable-row-with-columns-default-${i}`">
                                                <td style="white-space:nowrap;" v-for="(item, i) in row" v-bind:key="`row-item-${i}`" v-html="item"></td>
                                            </tr> 
                                        </template>
                                    </template>
                                    <template v-else>
                                        <tr v-if="!isLoading">
                                            <td :colspan=" this.headings ? (Object.keys(this.headings).length /2) : 5" align="center">
                                                <img width="400px" class="img-responsive" :src="`${base_url}template/admin/img/databuilder-nodata.jpeg`"/>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <div class="box-tools">

                                <slot name="table_footer_left"></slot>
                                <div v-if="pagination != null && pagination.html != ''">
                                    <span v-html="pagination.html"></span>
                                </div>
                            </div>
                        </div>

                        <div v-if="isLoading" class="overlay">
                            <i class="fa fa-spinner fa-pulse fa-spin"></i>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="modal" :id="'modal-' + guid">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">SỬA ĐỔI CỘT</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">

                                <div class="col-md-8 border-right">

                                    <div class="col-xs-6" v-for="(column, i) in config.columns" v-bind:key="`axpanded-selected-columns-${i}`">
                                        <div class="form-group"> 
                                            <div class="checkbox">
                                              <label>
                                                <input v-model="columnsSelected" :value="column.name" name="column_selected" type="checkbox">&nbsp;&nbsp;<span v-text="column.label"></span>
                                              </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <h4 class="no-margin">Các cột của bạn</h4>
                                    <p class="text-muted"><i>Kéo và thả để sắp xếp lại</i></p>
                                    <ul class="todo-list" id="my-todo-list">
                                        <li v-for="(column, i) in columnsSelected" :column="column" v-bind:key="`axpanded-selected-columns-${i}`">
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <span class="text" v-text="getColumnByKey(column).label"></span>
                                            </span>
                                            <div class="tools">
                                                <i v-on:click="removeColumnSelected(column)" class="fa fa-close"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="checkbox pull-left">
                                <label>
                                    <input v-model="groupColumnsSavedNameChecked" type="checkbox">&nbsp;&nbsp; Lưu & sử dụng lại 
                                    <input v-if="groupColumnsSavedNameChecked" class="no-border-but-bottom" v-model="groupColumnsSavedName" type="text" placeholder="với tên..."/>
                                </label>
                            </div>

                            <button type="button" v-on:click="modifyColumnsApply" class="btn btn-primary">ÁP DỤNG</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">HỦY</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </form>
    </div> 
</template>