<script>
export default {
	name: 'v-datepicker',
    props: ['type','name','label','value','help','attrs','extraClass'],
    data: function(){
        return {
            input : null,
            guid: 'xxxxxxxx-xxxx-9xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);return v.toString(16);}),
        }
    },
    created () {
        this.input = this.value;
    },
    
    watch : {
        input (){
            this.$emit('input-changed', this.input);
        }
    },

    mounted: function(){
        this.initComponent();
    },
    methods : {
        initComponent : function(){

            $('#input-' + this.guid).datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            })
            .on("changeDate", e => {
                this.input = moment(e.date).format("X")                
            });
            
        }
    },
}
</script>
<template>
    <div class="form-group">
        <label :for="guid" class="col-sm-2 control-label" v-html="label"></label>
        <div class="form-group col-md-10">
            <div class="input-group col-sm-12">
                <input :type="type" :name="name" :value="value" :id="'input-'+guid" :class="'form-control valid ' + extraClass">
                <p v-if="help" class="help-block" v-text="help"></p>
            </div>
        </div>
    </div>
</template>