<template>
    <v-datatable-builder
        :is_filtering="false"
        :is_ordering="true"
        :is_download="true"
        :custom_datatable_rows="true"
        :custom_datatable_header="true"
        :per_page="50"
        :filter_position="filter_position"
        :remote_url="APIDataset"
        :is_load_config="false"
        class="datatable"
    >
        <template slot="table_body_header" slot-scope="{ items }">
            <tr>
                <th
                    v-for="(heading, key, i) in items"
                    v-bind:key="`datatable-headings-${i}`"
                    nowrap="nowrap"
                    style="vertical-align: top"
                    :class="{
                        'datatable__header--min-width-15':                    
                            key == 'customer_code' ||
                            key == 'contract_begin' ||
                            key == 'contract_end' ||
                            key == 'actual_budget',
                        'datatable__header--min-width-20':
                            key == 'staff_business',
                        'datatable__header--min-width-25':
                            key == 'fb_staff_advertise',
                    }"
                    v-html="heading"
                ></th>
            </tr>
        </template>
        <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle"
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a :href="`${admin_url}/facebookads/setting/${row.term_id}`" target="_blank"><b>{{ row.contract_code }}</b></a>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a :href="`${admin_url}/customer/edit/${row.customer_id}`" target="_blank">{{ row.customer_code }}</a>
                    </td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.contract_begin"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.contract_end"></td>
                    <td nowrap align="right" class="datatable__cell--middle text-bold" v-text="parseInt(row.actual_budget).toLocaleString('de-DE')"></td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <span v-if="isEmpty(row.staff_business)">--</span>
                        <a v-else class="d-flex" :href="`javascript:void(${get(row,'staff_business.user_id')})`">
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="`${get(row,'staff_business.user_avatar')}`"
                            />
                            <span class="typo__text"><b> {{ get(row,'staff_business.display_name') }} </b></span>
                        </a>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <vUserList :users="row.fb_staff_advertise"></vUserList>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <i v-if="'Đã kích hoạt' == row.status" class="icon fa fa-play text-green"></i>
                        <i v-else class="icon fa fa-pause text-red"></i>
                        <span v-text="row.status"></span>
                    </td>
                </tr>
            </template>
    </v-datatable-builder>
</template>

<script>
    import _isEmpty from "lodash/isEmpty";
    import _get from "lodash/get";
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vUserList from "@/components/Utils/vUserList.vue";

    export default {
        components: {
            vDatatableBuilder,
            vUserList,
        },
        data() {
            return {
                admin_url: admin_url,
                base_url: base_url,
                filter_position: 1,

                APIDataset: ApiEndpoints.valueOf("facebookads") + "/datasetUnconfigured",
            };
        },

        methods: {
            isEmpty(item){
                return _isEmpty(item)
            },

            get(item, ref){
                return _get(item, ref);
            }
        }
    };
</script>
