<template>
    <div>
        <template v-if="hasDisplaySlot">
          <a :href="'#modal-' + guid" data-toggle="modal" :data-target="'#modal-' + guid" v-on:click="powerOn">
            <slot name="display_content"></slot>
          </a>
        </template>
        <template v-else>
          <b><i>Trong trường hợp tài khoản Facebook của bạn có liên kết với tài khoản bên ngoài này , 
          <a :href="'#modal-' + guid" data-toggle="modal" :data-target="'#modal-' + guid" v-on:click="powerOn">
              Click vào đây
          </a>
          để tiến hành liên kết tài khoản<br/></i></b>
          <i><b>(Khuyến cáo chọn lựa chọn này để giảm thời gian nhập thủ công dữ liệu hằng ngày)</b></i>
        </template>

        <div :id="'modal-' + guid" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tiến trình cấp quyền truy cập tài khoản QC Facebook</h4>
              </div>
              <div class="modal-body" style="font-size: 14px">
                <template v-for="(log, i) in logs">
                  <code v-bind:key="i" v-text="log"></code>
                  <br v-bind:key="i"/>
                </template>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import { contractFacebookadsService } from '@/_services/contract.facebookads.service.js'
import { fbAppConfig } from '@/_config/fbapp.config.js'

export default {
  props: [
    'isHidden',
    'term_id',
    'begin_date'
  ],
	name: 'v-facebookads-accounts-reload-button',
  data (){
      return {
          guid: _.uniqueId(),
          logs : [], 
          enabled: false
      }
  },

  computed: {
      hasDisplaySlot() {
          return !!this.$slots.display_content
      }
  },

  methods: {

    powerOn () {
      this.initFbScript()  
    },

    exchangeLongLiveToken (userId, accessToken) {

      this.logs.push('Đang tiến hành trao đổi token ...')

      const payload = { userID: userId, accessToken: accessToken }
      return contractFacebookadsService
      .exchangeLongLiveToken(payload)
      .then(response => {

        this.logs.push('Đang đọc liệu tài khoản FB...')

        if(200 != _.get(response.code))
        {
          let messages = _.get(response, 'error')
          if(_.isString(messages)) messages = [messages];
          _.forEach(messages, o => {
            $.notify(o, 'error')
          })
        }

        this.logs.push('Đang tiến hành truy xuất tài khoản Quảng cáo...')

        const data = _.get(response, 'data');
        return this.syncAdaccounts(data.user_id)
      })
    },

    syncAdaccounts(fbAccountId){

      return contractFacebookadsService
      .syncAdaccounts(fbAccountId)
      .then(response => {
        return this.errorsHandle(response)
      })
      .then(response => {

        if(200 != _.get(response, 'code'))
        {
          let messages = _.get(response, 'error')
          if(_.isString(messages)) messages = [messages];
          _.forEach(messages, o => {
            this.logs.push(o)
            $.notify(o, 'error')
          })

          throw Error(response.statusText)
        }

        this.logs.push('Tiến trình đồng bộ dữ liệu thành công.')
        this.logs.push('Tìm thấy ' + _.get(response, 'data.total', 0) + ' tài khoản quảng cáo.')

        if(_.size(_.get(response, 'data.adAccounts', [])) > 0)
        {
          this.logs.push('Danh sách tất cả tài khoản mới : ')
          _.forEach(_.get(response, 'data.adAccounts', []), o => {
            this.logs.push('ID: ' + _.get(o, 'id', null))
            this.logs.push('Tên tài khoản: ' + _.get(o, 'name', null))
          })
        }
      })
      .catch(error => {
        this.logs.push(error)
      })
    },

    errorsHandle (response) {

      if(200 != _.get(response, 'code'))
      {
        let messages = _.get(response, 'error')
        if(_.isString(messages)) messages = [messages];
        _.forEach(messages, o => {
          this.logs.push(o)
          $.notify(o, 'error')
        })

        throw Error(response.statusText)
      }

      return response
    },

    initFbScript () {

      $(document).ready(() => {

        this.logs.push('Đang tiến hành tải thư viện FB SDK ... ')
        $.getScript('https://connect.facebook.net/en_US/sdk.js', () => {

          this.logs.push('Tải hoàn tất ...')
          this.logs.push('Đang tiến hành tạo kết nối đến nguồn facebook app ... ')

          FB.init({
            appId: fbAppConfig.valueOf('app_id'),
            cookie: true,
            xfbml: true,
            version: fbAppConfig.valueOf('graph_version')
          })

          this.logs.push('Tạo kết nối hoàn tất ... ')

          FB.getLoginStatus(response => {
            this.statusChangeCallback(response)
          })
        })
      })  
    },

    /* Called with the results from FB.getLoginStatus(). */
    statusChangeCallback (response) { 

      this.logs.push('Đang kiểm tra trạng thái đăng nhập hiện tại ...')

      this.logs.push('Trạng thái đăng nhập đang là ' + response.status)

      if (response.status === 'connected') {   // Logged into your webpage and Facebook.

        this.logs.push('OK ! tiến hành đọc thông tin cá nhân ...')

        FB.api('/me', response => {
          this.logs.push('Đăng nhập thành công đối với người dùng ' + response.name) 
          this.logs.push('Cảm ơn đã đăng nhập , ' + response.name)
        })

        this.logs.push(response.authResponse.userID)

        this.logs.push('Đang chuẩn bị tiến trình trao đổi token ...')

        this.exchangeLongLiveToken(response.authResponse.userID, response.authResponse.accessToken)
      }
      else
      { 
        // Not logged into your webpage or we are unable to tell.
        this.logs.push('Please log into this webpage.');

        this.logs.push('Request scopes : ads_read,business_management,public_profile,email');

        FB.login(response => {
          this.logs.push(response)
          this.statusChangeCallback(response)
        }, {
          // scope: 'ads_read,business_management,pages_read_engagement,pages_manage_ads,public_profile,email',
          scope: 'ads_management,ads_read,business_management,public_profile,email'
        })

        FB.AppEvents.logPageView();
      }
    },
  }
}
</script>

