<template>
    <v-datatable-builder
        v-if="!isEmpty(APIDataset)"
        :is_filtering="false"
        :is_ordering="true"
        :is_download="true"
        :custom_datatable_rows="true"
        :custom_datatable_header="true"
        :per_page="50"
        :filter_position="filter_position"
        :remote_url="APIDataset"
        :default_query_params="APIDefaultParams"
        :is_load_config="false"
        class="datatable"
    >
        <template slot="table_body_header" slot-scope="{ items }">
            <tr>
                <th
                    v-for="(heading, key, i) in items"
                    v-bind:key="`datatable-headings-${i}`"
                    nowrap="nowrap"
                    style="vertical-align: top"
                    :class="{
                        'datatable__header--min-width-15':
                            key == 'contract_begin' ||
                            key == 'contract_end' ||
                            key == 'actual_budget',
                        'datatable__header--min-width-20':
                            key == 'staff_business',
                        'datatable__header--min-width-25':
                            key == 'fb_staff_advertise',
                    }"
                    v-html="heading"
                ></th>
            </tr>
        </template>
        <template slot="table_body_rows" slot-scope="{ items }">
            <tr
                v-for="(row, i) in items"
                v-bind:key="`datatable-filter-row-${i}`"
            >
                <td 
                    nowrap 
                    align="left" 
                    class="datatable__cell--middle"
                    style="
                        max-width: 45rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    "
                >
                    <a :href="`${admin_url}/facebookads/overview/${row.contract_id}`" target="_blank"><b>{{ row.contract_code }}</b></a>
                </td>
                <td nowrap align="left" class="datatable__cell--middle">
                    <a :href="`${admin_url}/customer/edit/${row.customer_id}`" target="_blank">{{ row.customer_code }}</a>
                </td>
                <td nowrap align="left" class="datatable__cell--middle" v-text="row.customer_name"></td>
                <td nowrap align="left" class="datatable__cell--middle" v-text="row.adaccount_id"></td>
                <td nowrap align="left" class="datatable__cell--middle" v-text="row.adaccount_name"></td>
                <td nowrap align="left" class="datatable__cell--middle">
                    <span v-if="isEmpty(row.staff_business)">--</span>
                    <a v-else class="d-flex" :href="`javascript:void(${get(row,'staff_business.user_id')})`">
                        <img
                            class="img__avatar--sm img__avatar--circle"
                            style="margin-right: 8px"
                            :src="`${get(row,'staff_business.user_avatar')}`"
                        />
                        <span class="typo__text"><b> {{ get(row,'staff_business.display_name') }} </b></span>
                    </a>
                </td>
                <td nowrap align="left" class="datatable__cell--middle">
                    <vUserList :users="row.fb_staff_advertise"></vUserList>
                </td>
            </tr>
        </template>
    </v-datatable-builder>
</template>

<script>
    import _isEmpty from "lodash/isEmpty";
    import _get from "lodash/get";
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vUserList from "@/components/Utils/vUserList.vue";

    export default {
        components: {
            vDatatableBuilder,
            vUserList,
        },
        data() {
            return {
                admin_url: admin_url,
                base_url: base_url,
                filter_position: 1,

                APIDataset: ApiEndpoints.valueOf("facebookads") + "/DatasetAccountDisconnect",
                APIDefaultParams: []
            };
        },
        methods: {
            isEmpty(item){
                return _isEmpty(item)
            },

            get(item, ref){
                return _get(item, ref);
            },
        }
    };
</script>
