<script>
import Multiselect from 'vue-multiselect'
import { contractFacebookadsService } from '@/_services/contract.facebookads.service.js'
import { systemService } from '@/_services/system.service.js'
import { contractConfig } from '@/_config/contract.config.js'
import vuejsDatepicker from 'vuejs-datepicker';
import vInputEditInline from '@/components/input/vInputEditInline.vue'
import vFacebookadsConfigurationContractPromotionsBox from '@/components/vFacebookadsConfigurationContractPromotionsBox.vue'

export default {
    props: ['isHidden','term_id','end_date'],
    name: 'v-facebookads-configuration-contract-box',
    data (){
        return {
            admin_url: admin_url,
            guid: _.uniqueId(),

            promotions : [],
            exchange_rates: [
                {
                    label: 'USD',
                    value: 'usd_to_vnd',
                },
                {
                    label: 'AUD',
                    value: 'aud_to_vnd',
                }
            ],
            service_fee_plan : [],

            number_of_payments: 1,
            contract_budget_payment_type: null,
            isAccountForRent: 0,
            contract_budget_customer_payment_type: null,
            service_fee_payment_type: null,
            service_fee: 0,
            contract_budget: null,
            deposit_amount: 0,

            is_display_promotions_discount: false,

            guidJoinContractModal: _.uniqueId('joinContractModal-'),
            isLoading : true,
            end_time : moment().toDate(),
            split_date: moment().toDate(),
            contract : null,
            cid: null,
            isValidStartDate: true,
            conflictContracts: [],
            relatedContracts: [],
            config : {},
            exchange_rate_config: {},
            service_packages : [],
            discount_plans : [],
            service_package : 'normal',
            webdesign_price : 0,
            advanced_functions : [],
            discount_plan : 'normal',
            discount_amount : 0,
            discount : { min : 0, max : 0 },
            formValidate : null,
            readOnly : false,
            isValid: false,
            contractSource: null,
            contractDestination: null,
            source_start_time: null,
            source_end_time:null,
            source_cost: null,
            destination_start_time: null,
            destination_end_time: null,
            destination_cost: 0,
            notification_message: null,
            isModActivation: false,
            balanceBudget: 0,

            costByEndtime: 0
        }
    },

    created () {

        this.getConfig()
        .then( response => this.getExchangeRate())
        .then( response => this.loadContract())
        .then( response => {
            this.initPromotions();
            this.initServiceFeePlan();
        })

    },

    watch: {

        cid () {
            if( ! this.isModActivation) return false
            this.getRelatedContracts()
        },

        contractSource: { handler : function(value, oldValue){}, deep: true },

        contractDestination: { deep: true, handler() {} },

        end_time () { this.loadCostByDateRange() },

        split_date () { this.setNewdateRange() },

        isModActivation () {
            if( ! this.isModActivation) return false
            this.getRelatedContracts()
        },

        contract_budget () {
            this.service_fee = this.computeServiceFee(this.contract_budget, this.service_fee_rate)
        },

        isAccountForRent () {
            this.service_fee = this.computeServiceFee(this.contract_budget, this.service_fee_rate)
        },

        service_fee_plan: {
            deep: true,
            handler(){
                if('range' == this.service_fee_payment_type){
                    let first_service_fee_plan = _.first(this.service_fee_plan);
                    let service_fee_rate = _.divide(_.get(first_service_fee_plan, 'service_fee_rate'), 100);
    
                    this.contract_budget = _.get(first_service_fee_plan, 'from');
                    this.service_fee = this.computeServiceFee(this.contract_budget, service_fee_rate);
                }
            }
        }
    },

    computed: {

        contractBudgetText () {
            if( ! _.gt(this.contract_budget, 0)) return "";

            return "<b>" +this.contract_budget.toLocaleString('de-DE')+ " vnđ </b>"
        },

        depositAmountText () {
            if( ! _.gt(this.deposit_amount, 0)) return "";

            return "<b>" +this.deposit_amount.toLocaleString('de-DE')+ " vnđ </b>"
        },

        discountAmount () {
            return _.sumBy(this.promotions, i =>  {
                return this.computePromotionVal(i.value, i.unit)
            }) || 0
        },

        actualContractValue () {

            const discountAmount = _.sumBy(this.promotions, i =>  {
                return this.computePromotionVal(i.value, i.unit)
            }) || 0

            return this.originalContractValue - this.discountAmount
        },

        originalContractValue () {
            return _.add(this.contract_budget, this.service_fee)
        },

        service_fee_calculated () {
            let _amount = this.contract_budget
        },  

        service_fee_rule () {
            if(_.isEmpty(_.get(this.config, 'service_fee_rule'))) return null;


            const service_fee_rule = _.get(this.config, 'service_fee_rule')

            if(0 == this.isAccountForRent) 
            {
                return _.find(service_fee_rule, o => {
                    return _.gte(this.contract_budget, o.min) && _.lte(this.contract_budget, o.max)
                })
            }

            const _rule_for_rent = _.get(this.config, 'serviceFeeRuleEnums.rent.rule')

            return _.find(_rule_for_rent, o => {
                return _.gte(this.contract_budget, o.min) && _.lte(this.contract_budget, o.max)
            })
        },

        service_fee_rate () {
            // Nếu loại phí dịch vụ là theo mức ngân sách
            // Lấy mức % phí dịch vụ bậc thấp nhất
            if('range' == this.service_fee_payment_type){
                let first_service_fee_plan = _.first(this.service_fee_plan);

                return _.divide(_.get(first_service_fee_plan, 'service_fee_rate'), 100);
            }

            if( ! this.service_fee_rule) return 1;

            let result = this.service_fee_rule.rate;
            if( ! result && _.gt(this.service_fee_rule.amount, 0))
            {
                result = _.divide(this.service_fee_rule.amount, this.contract_budget)
            }

            return result
        },
        
        activatedContracts () {

            if(_.isEmpty(this.relatedContracts)) return [];

            let _filtedContracts = _.filter(this.relatedContracts, o => {
                /* Ignore all contracts has daterange below the contract's range */
                const outOfRange = o.advertise_end_time > 0 && _.gt(this.contract.advertise_start_time, o.advertise_end_time)

                if(outOfRange) return false
                const isvalidStatus = _.includes([ 'publish', 'pending', 'unverified', 'waitingforapprove' ], o.term_status)
                if( ! isvalidStatus) return false

                const _end_time = moment(this.end_time).format("X");
                const isValidTime = _.gte(moment.unix(_end_time).startOf('day').format("X"), moment.unix(o.advertise_start_time).startOf('day').format("X")) || _.isNull(o.advertise_start_time) || ( _.isNumber(o.advertise_start_time) && o.advertise_start_time == 0 )
                if( ! isValidTime) return false

                return true
            })

            const result = _.map(_filtedContracts, o => {
                o.new_start_time = o.advertise_start_time
                o.new_end_time = o.advertise_end_time
                return o
            })

            return result
        },

        isCidHasContractRunning () {
            if(_.isEmpty(this.activatedContracts)) return false
            return true
        },

        contractBudgetPaymentTypeOptions () {

            if(_.isEmpty(_.get(this.config, 'contract_budget_payment_types'))) return []

            return _.map(_.get(this.config, 'contract_budget_payment_types.enums'), (i, k) => {
                return { label: i, value: k }
            })
        },

        contractBudgetCustomerPaymentTypeOptions () {

            if(_.isEmpty(_.get(this.config, 'contract_budget_customer_payment_types'))) return []

            return _.map(_.get(this.config, 'contract_budget_customer_payment_types.enums'), (i, k) => {
                return { 
                    label: i, 
                    value: k,
                    active: !_.eq(k, 'behalf')
                }
            })
        },

        serviceFeePaymentTypeOptions () {

            if(_.isEmpty(_.get(this.config, 'service_fee_payment_type'))) return []

            return _.map(_.get(this.config, 'service_fee_payment_type'), (i, k) => {
                return { label: i, value: k }
            })
        },


        exchangeRateOptions () {

            if(_.isEmpty(this.exchange_rate_config)) return [];

            return _.map(this.exchange_rate_config, (i, k) => {
                return { label: this.parseCurrencyCode(k), value: k }
            });
        }
    },

    methods: {

        computeServiceFee (budget, rate) {
            return  _.multiply(budget, rate)
        },

        loadCostByDateRange () {

            const payload = { start_time: this.source_start_time, end_time: moment(this.end_time).format("X") }
            return contractFacebookadsService.getAccountCost(this.contractSource.term_id, payload)
            .then(response => {
                this.costByEndtime = _.parseInt(_.get(response, 'data'))
                return response
            })
        },

        getConfig () {
            this.isLoading = true
            return contractFacebookadsService.getConfig().then( response => {
                this.config = _.get(response, 'data')
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        getExchangeRate () {
            this.isLoading = true
            return systemService.getExchangeRate().then( response => {
                this.exchange_rate_config = _.get(response, 'data')
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        loadContract () {
            this.isLoading = true
            return contractFacebookadsService.get(this.term_id).then( response => {
                this.contract = _.get(response, 'data')
                this.cid = this.contract.mcm_client_id

                if(_.gt(this.contract.advertise_end_time, 0))
                {
                    const _end_time = moment.unix(this.contract.advertise_end_time).startOf('date');

                    this.contract.advertise_end_time = _end_time.unix()
                    this.end_time = _end_time.toDate()
                }
                else
                {
                    this.contract.advertise_end_time = moment().startOf('day').unix()
                }

                this.promotions = _.get(this.contract, 'promotions') || []
                this.service_fee_plan = _.get(this.contract, 'service_fee_plan') || []

                this.contract_budget_payment_type = _.get(this.contract, 'contract_budget_payment_type') || _.get(this.config, 'contract_budget_payment_types.default')
                this.contract_budget_customer_payment_type = _.get(this.contract, 'contract_budget_customer_payment_type') || _.get(this.config, 'contract_budget_customer_payment_types.default')

                this.service_fee_payment_type = _.get(this.contract, 'service_fee_payment_type') || 'full'
                this.number_of_payments = _.get(this.contract, 'number_of_payments')

                this.service_fee = _.get(this.contract, 'service_fee', 0)
                this.deposit_amount = _.get(this.contract, 'deposit_amount', 0)
                this.contract_budget = _.get(this.contract, 'contract_budget') || 0

                this.source_start_time = this.contract.advertise_start_time
                this.source_end_time = this.contract.advertise_end_time
                this.contractSource = _.get(response, 'data')

                this.costByEndtime = _.get(response, 'data.actual_result')

                let regex = /^exchange_rate_([a-z]{3}_to_[a-z]{3})$/;
                let exchange_rates = _.get(this.contract, 'exchange_rates');
                _.each(exchange_rates, (v, k) => {
                    let key = k.match(regex);
                    key = key[1];

                    this.exchange_rates.push({ "label": this.parseCurrencyCode(key), "value": key } );
                    this.exchange_rate_config[key] = v;
                })

                this.exchange_rate_config = JSON.parse(JSON.stringify(this.exchange_rate_config));

                this.is_display_promotions_discount = _.get(this.contract, 'is_display_promotions_discount') || 0

            })
            .finally(() => {
                this.isLoading = false
            })
        },

        inputChanged (value) {
            if(! _.gt(value, 0)) return false;
            this.end_time = value;
        },

        setNewdateRange ()
        {
            this.source_start_time = _.parseInt(this.contract.advertise_start_time) 
            this.source_end_time = moment(this.split_date).subtract(1, 'day').format('X')

            this.destination_start_time = moment(this.split_date).format('X');
            this.destination_end_time = this.contractDestination.advertise_end_time || moment().format("X")

            const source_payload = {
                start_time: this.source_start_time,
                end_time: this.source_end_time,
                // ignore_cache: true
            };

            contractFacebookadsService.getAccountCost(this.contractSource.term_id, source_payload)
            .then(response => {

                const _cost = _.parseInt(_.get(response, 'data'))

                this.source_cost = _cost
                this.balanceBudget = _.subtract(this.contractSource.actual_budget, _cost)
                return response
            })

            const destination_payload = {
                start_time: this.destination_start_time,
                end_time: this.destination_end_time || moment().format("X") ,
                // ignore_cache: true
            };

            contractFacebookadsService.getAccountCost(this.contractDestination.term_id, destination_payload).then(response => {
                this.destination_cost = _.parseInt(_.get(response, 'data'))
                return response 
            })
        },

        statusOfValue (value) { return contractConfig.valueOf(value) },

        moment (unix, format) {

            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        stop_service_submit: function(){

            this.isLoading = true;

            const payload = {
                end_date: moment(this.end_time).format("X")
            }

            
            contractFacebookadsService.stopService(this.term_id, payload)
            .then(response => {
                
                $.notify(response.msg, {className: (response.status ? 'success' : 'error'), clickToHide: true, autoHideDelay: 15000,});

                this.isLoading = false;

                if(response.status) 
                {
                    this.isHidden = true;
                    $('#modal-'+ this.guid).modal('hide');
                    this.isHidden = true;
                }
            })
        },

        isEmpty(value) { return _.isEmpty(value) },

        currency_numberformat (value){
            return Number(_.round(value)).toLocaleString('de-DE')
        },

        pushAlert(message, type)
        {
            const _type = _.isEmpty(type) ? 'error' : type
            this.notification_type = _.isEmpty(type) ? 'error' : type
            this.notification_message = message
        },

        setActivation (value)
        {
            this.isModActivation = value
        },

        initPromotions()
        {

            if(_.lte(this.promotions.length, 0))
            {
                this.addRow()
            }
        },

        initServiceFeePlan()
        {
            if(_.lte(this.service_fee_plan.length, 0))
            {
                this.addServiceFeePlan();
            }
        },

        addServiceFeePlan(){
            let _service_fee_plan = this.service_fee_plan;

            _service_fee_plan.push({ 
                to : 0,
                from: 0,
                service_fee_rate: 0,
                guid : _.uniqueId('serviceFeePlanId-') 
            });
            
            this.service_fee_plan = _service_fee_plan;
        },

        removeServiceFeePlan(index){
            let _service_fee_plan = this.service_fee_plan;

            _service_fee_plan.splice(index, 1);
            
            this.service_fee_plan = _service_fee_plan;

            if(_service_fee_plan.length <= 0) this.addRow();

            return true;
        },

        addRow () {

            let _promotions = this.promotions;

            _promotions.push({ 
                name : "",
                value: 0,
                unit: 'percentage',
                guid : _.uniqueId('promotionId-') 
            });

            this.promotions = _promotions;
        },

        removeRow (value) {

            let _promotions = this.promotions;

            for (var i = 0; i < _promotions.length; i++)
            {
                if(_promotions[i].guid != value) continue;
                _promotions.splice(i, 1);
            }

            this.promotions = [];
            this.promotions = _promotions;

            if(_promotions.length <= 0) this.addRow();

            return true;
        },

        computePromotionVal (value, unit) {

            if( ! _.gt(value, 0)) return 0
            if(_.eq(unit, 'number')) return value
            if(_.eq(unit, 'percentage')) return _.multiply(this.service_fee, _.divide(value, 100))
            return 0
        },

        getIndex (items, guid) {
            return items.findIndex(i => i.guid == guid)
        },

        parseCurrencyCode(code){
            let regex = /^([a-z]{3})_to_[a-z]{3}$/;
            let currency = code.match(regex);

            return currency[1].toUpperCase()
        }
    },

    components: {
        vInputEditInline,
        vuejsDatepicker,
        Multiselect,
        vFacebookadsConfigurationContractPromotionsBox
    }
}
</script>
<template>
    <div class="container-fluid" v-if="!isHidden" :id="'container-' + guid">
        <div class="col-md-12">
            
            <div class="box box-theme">
                <div class="box-header with-border">
                    <h3 class="box-title">Loại hình chạy quảng cáo</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="clearfix"></div>
                    <div class="form-group">                    
                        <label for="inputServiceType" class="col-md-2 col-sm-12 control-label">
                            Loại hình dịch vụ <br/>
                        </label>
                        <div class="form-group col-md-10">
                            <div class="radio">
                                <label style="margin-right: 10px">
                                    <input
                                        type="radio"
                                        name="edit[meta][isAccountForRent]"
                                        v-model="isAccountForRent"
                                        value="0">
                                        Mặc định <i>(quản lý tài khoản)</i>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input 
                                        type="radio"
                                        name="edit[meta][isAccountForRent]"
                                        v-model="isAccountForRent"
                                        value="1">
                                        Cho thuê tài khoản
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                                               
                        <label for="inputServiceType" class="col-md-2 col-sm-12 control-label">
                            Hình Thức thanh toán <br/>
                            <u>
                                <i>( Ngân sách Quảng Cáo )</i>
                            </u>
                        </label>
                        <div class="form-group col-md-10">
                            <div class="radio" v-for="item in contractBudgetPaymentTypeOptions" v-bind:key="`contractBudgetPaymentTypeOption-${item.value}`">
                                <label>
                                    <input 
                                        type="radio"
                                        name="edit[meta][contract_budget_payment_type]"
                                        v-model="contract_budget_payment_type"
                                        :value="item.value">
                                        {{ item.label }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    
                    <div class="form-group" v-if="'normal' != contract_budget_payment_type">
                        <label for="inputServiceType" class="col-md-2 col-sm-12 control-label">
                            Hình thức tự thanh toán <br/>
                        </label>
                        <div class="form-group col-md-10">
                            <div class="radio" v-for="item in contractBudgetCustomerPaymentTypeOptions" v-bind:key="`contractBudgetCustomerPaymentTypeOption-${item.value}`">
                                <label class="text-muted">
                                    <input 
                                        type="radio"
                                        name="edit[meta][contract_budget_customer_payment_type]"
                                        v-model="contract_budget_customer_payment_type"
                                        :disabled="!item.active" 
                                        :value="item.value">
                                        {{ item.label }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label for="inputServiceType" class="col-md-2 col-sm-12 control-label">
                            Phương thức thanh toán phí dịch vụ <br/>
                        </label>
                        <div class="form-group col-md-10">
                            <div class="radio" v-for="item in serviceFeePaymentTypeOptions" v-bind:key="`serviceFeePaymentTypeOption-${item.value}`">
                                <label>
                                    <input 
                                        type="radio"
                                        name="edit[meta][service_fee_payment_type]"
                                        v-model="service_fee_payment_type"
                                        :value="item.value">
                                        {{ item.label }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div v-if="'range' == service_fee_payment_type" class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Mức phí dịch vụ</label>
                        <div class="form-group col-md-10">
                            <table v-if="!isHidden" :id="'table-' + guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mức ngân sách từ</th>
                                        <th>đến mức ngân sách</th>
                                        <th>% Phí dịch vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in service_fee_plan" v-bind:key="item.guid">
                                        <td>
                                            <input
                                                type="number"
                                                :name="`edit[meta][service_fee_plan][from][${index}]`"
                                                v-model.number="service_fee_plan[getIndex(service_fee_plan, item.guid)].from"
                                                class="form-control"
                                                placeholder="Mức ngân sách từ" />
                                        </td>
                                        <td>
                                            <input
                                                type="number"
                                                :name="`edit[meta][service_fee_plan][to][${index}]`"
                                                v-model.number="service_fee_plan[getIndex(service_fee_plan, item.guid)].to"
                                                class="form-control"
                                                placeholder="đến mức ngân sách" />
                                        </td>
                                        <td>
                                             <input
                                                type="number"
                                                :name="`edit[meta][service_fee_plan][service_fee_rate][${index}]`"
                                                v-model.number="service_fee_plan[getIndex(service_fee_plan, item.guid)].service_fee_rate"
                                                class="form-control"
                                                placeholder="% Phí dịch vụ" />
                                        </td>
                                        <td v-if="service_fee_plan.length > 1">
                                            <button 
                                                v-on:click="() => removeServiceFeePlan(index)" 
                                                type="button" 
                                                class="btn btn-block btn-danger btn-flat">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button 
                                                v-on:click="addServiceFeePlan()"
                                                v-if="0 != (service_fee_plan[getIndex(service_fee_plan, item.guid)].to) && true == (index == (service_fee_plan.length-1))"
                                                type="button"
                                                class="btn btn-block btn-success btn-flat"
                                                >
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr v-if="readOnly">
                                        <td colspan="3" align="right"></td>
                                        <td>
                                            <button 
                                                v-on:click="addRow()"
                                                type="button"
                                                class="btn btn-block btn-primary btn-flat">
                                                <i class="fa fa-save"></i>
                                                Cập nhật thay đổi
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input
                                type="hidden"
                                name="edit[meta][service_fee_plan][length]"
                                :value="service_fee_plan.length"/>
                        </div>
                    </div> 

                    <div v-if="'range' != service_fee_payment_type" class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Ngân sách cam kết</label>
                        <div class="form-group col-md-10">
                            <input 
                                v-model.number="contract_budget"
                                type="number"
                                name="edit[meta][contract_budget]"
                                placeholder="Ngân sách tổng cam kết chi tiết theo hợp đồng" 
                                class="form-control" />
                                <p class="help-block" v-html="contractBudgetText"></p>
                                <p class="help-block">  Ngân sách tổng cam kết chi tiết theo hợp đồng</p>
                        </div>  
                    </div>

                    <div v-if="'range' != service_fee_payment_type" class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">
                            Phí dịch vụ (~{{ service_fee_rate*100 }} % ngân sách cam kết )
                        </label>
                        <div class="form-group col-md-10">

                            <span>{{ (service_fee || 0).toLocaleString('de-DE') }} vnđ</span>

                            <input 
                                v-model.number="service_fee"
                                type="hidden"
                                name="edit[meta][service_fee]"
                                placeholder="Phí dịch vụ để triển khai theo ngân sách cam kết" 
                                class="form-control" />
                                <p class="help-block">Phí dịch vụ để triển khai theo ngân sách cam kết</p>
                        </div>  
                    </div>

                    <div class="form-group" v-if="promotions.length > 0">
                        <label class="col-md-2 col-sm-12 control-label">Giá trị dịch vụ</label>
                        <div class="form-group col-md-10">
                            <b>{{ (originalContractValue || 0).toLocaleString('de-DE') }} vnđ</b>
                        </div>  
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Số tiền khách đặt cọc</label>
                        <div class="form-group col-md-10">
                            <input 
                                v-model.number="deposit_amount"
                                type="number"
                                name="edit[meta][deposit_amount]"
                                placeholder="Ngân sách tổng cam kết chi tiết theo hợp đồng" 
                                class="form-control" />
                                <p class="help-block" v-html="depositAmountText"></p>
                                <p class="help-block">Số tiền khách hàng đã đặt cọc để đảm bảo hợp đồng.</p>
                        </div>  
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Chương trình khuyến mãi/ giảm giá</label>
                        <div class="form-group col-md-10">
                            <table v-if="!isHidden" :id="'table-' + guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên chương trình/Mã Khuyến mãi</th>
                                        <th>Giá trị</th>
                                        <th>Đơn vị</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in promotions" v-bind:key="item.guid">
                                        <td>
                                            <input
                                                type="text"
                                                name="edit[meta][promotions][name][]"
                                                v-model.number="promotions[getIndex(promotions, item.guid)].name"
                                                class="form-control"
                                                placeholder="Tên chương trình" />
                                        </td>
                                        <td>
                                            <input
                                                type="number"
                                                name="edit[meta][promotions][value][]"
                                                v-model.number="promotions[getIndex(promotions, item.guid)].value"
                                                class="form-control"
                                                placeholder="Giá trị khóa học" />
                                        </td>
                                        <td>
                                             <select
                                                name="edit[meta][promotions][unit][]"
                                                class="form-control"
                                                v-model="promotions[getIndex(promotions, item.guid)].unit">
                                                <option value="number">Số tiền</option>
                                                <option value="percentage">%</option>
                                            </select>
                                        </td>
                                        <td
                                            align="right"
                                            v-text="computePromotionVal(promotions[getIndex(promotions, item.guid)].value, promotions[getIndex(promotions, item.guid)].unit).toLocaleString('de-DE')">    
                                        </td>
                                        <td v-if="promotions.length > 1">
                                            <button 
                                                v-on:click="removeRow(promotions[getIndex(promotions, item.guid)].guid)" 
                                                type="button" 
                                                class="btn btn-block btn-danger btn-flat">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button 
                                                v-on:click="submit()"
                                                v-if="(index == (promotions.length-1)) == true"
                                                type="button"
                                                class="btn btn-block btn-success btn-flat">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="right"><u><b><i>Tổng giá trị giảm</i></b></u></td>
                                        <td align="right">{{ discountAmount.toLocaleString('de-DE') }}</td>
                                    </tr>
                                    <tr v-if="readOnly">
                                        <td colspan="3" align="right"></td>
                                        <td>
                                            <button 
                                                v-on:click="addRow()"
                                                type="button"
                                                class="btn btn-block btn-primary btn-flat">
                                                <i class="fa fa-save"></i>
                                                Cập nhật thay đổi
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Phí dịch vụ đã giảm</label>
                        <div class="form-group col-md-10">
                            <span><b>{{ ((service_fee-discountAmount) || 0).toLocaleString('de-DE') }} vnđ</b> </span>
                        </div>  
                    </div>



                    <div class="clearfix"></div>                        
                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Hiển thị/ẩn thông tin CTKM khi In Hợp đồng</label>
                        <div class="form-group col-md-10">
                            <div class="checkbox">
                              <label>
                                <input
                                    name="edit[meta][is_display_promotions_discount]"
                                    v-model="is_display_promotions_discount"
                                    :value="1"
                                    type="checkbox"> 
                                    Đồng ý hiển thị Chương trình Khuyến Mãi tại bản In Hợp đồng (không khuyến khích)
                              </label>
                            </div>
                            <p class="help-block">
                                Chọn nếu CTKM đã được đăng ký với cơ quan thuế. Mặc định sẽ trừ trực tiếp vào phí dịch vụ và không hiển thị chi tiết
                            </p>
                        </div>  
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">Giá trị hợp đồng</label>
                        <div class="form-group col-md-10">
                            <p><b>{{ (actualContractValue || 0).toLocaleString('de-DE') }} vnđ</b> </p>
                            <p v-if="'range' == service_fee_payment_type" class="help-block">
                                Giá trị hợp đồng đang tạm tính là mức ngân sách thấp nhất. Khi khách hàng hoàn tất thanh toán, giá trị hợp đồng mới có số chính xác nhất.
                            </p>
                        </div>
                    </div>
                        
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-12 control-label">
                            Tỉ giá ngoại tệ
                        </label>
                        <div class="form-group col-md-10">
                            <multiselect
                                v-model="exchange_rates"
                                placeholder="Chọn một hoặc nhiều tỉ giá"
                                label="label"
                                track-by="value"
                                :options="exchangeRateOptions"
                                :multiple="true"
                                :close-on-select="false"
                                :taggable="true">
                            </multiselect>

                            <div v-for="(exchange_rate, index) in exchange_rates" :key="index" class="form-group" style="margin-top: 16px">
                                <div class="input-group">
                                    <span class="input-group-addon">Tỷ giá 1 {{parseCurrencyCode(exchange_rate['value'])}}</span>
                                    <input class="form-control" style="z-index: 0" type="number" :name="`edit[meta][exchange_rate_${exchange_rate['value']}]`" :value="exchange_rate_config[exchange_rate['value']]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>