<script>
import Multiselect from 'vue-multiselect'
import { contractFacebookadsService } from '@/_services/contract.facebookads.service.js'
import { contractConfig } from '@/_config/contract.config.js'

export default {
    props: ['term_id','end_date'],
    name: 'v-facebookads-configuration-spent-box',
    data (){
        return {
            admin_url: admin_url,
            guid: _.uniqueId(),
            isLoading : true,
            contract : null,
            spent_segments : [],
            isHidden: false
        }
    },

    created () {
        this.loadContract()
        .then( response => this.initSpentSegments())
    },

    watch: {
    },

    mounted () {
        // this.setActivation(true)
    },

    computed: {
        monthsOptions ()
        {
            if(_.isEmpty(this.contract)) return []

            const _start_time = this.contract.advertise_start_time
            const _end_time = this.contract.advertise_end_time

            let _startDate  = new Date()
            let _endDate    = new Date()

            if(_.gt(this.contract.advertise_start_time, 0))
            {
                _startDate = moment.unix(this.contract.advertise_start_time).startOf('date')
            }

            if(_.gt(this.contract.advertise_end_time, 0))
            {
                _endDate = moment.unix(this.contract.advertise_end_time).endOf('date')
            }

            let _currentDate = _startDate
            let _dates = []

            while(_startDate <= _endDate)
            {
                const _time = _currentDate.startOf('month')

                _dates.push({
                    value: _time.format("X"),
                    text: _time.format("MM/YYYY")
                })

                _currentDate = _currentDate.add(1, 'month')
            }

            console.log(_dates)

            return _dates
        }
    },

    methods: {

        loadContract () {
            this.isLoading = true
            return contractFacebookadsService.get(this.term_id).then( response => {

                this.contract = _.get(response, 'data')
                this.adaccount_id = this.contract.adaccount_id

                if('external' == this.contract.adaccount_source)
                {
                    this.adaccount_id = this.contract.external_adaccount_id;
                    this.spent_segments = _.map(_.get(this.contract, 'spent_segments'), o => {
                        o.guid = _.uniqueId('spent_segmentId-')
                        return o
                    })
                }

                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        isEmpty(value) { return _.isEmpty(value) },

        currency_numberformat (value){
            return Number(_.round(value)).toLocaleString('de-DE')
        },

        pushAlert(message, type)
        {
            const _type = _.isEmpty(type) ? 'error' : type
            this.notification_type = _.isEmpty(type) ? 'error' : type
            this.notification_message = message
        },

        setActivation (value) {
            this.isModActivation = value
        },

        initSpentSegments()
        {
            if(_.gt(this.spent_segments.length, 0)) return true
            this.addRow()
        },

        addRow () {

            let _spent_segments = this.spent_segments

            _spent_segments.push({ 
                mmyyyy : "",
                value: 0,
                guid : _.uniqueId('spent_segmentId-') 
            })

            this.spent_segments = _spent_segments
        },

        removeRow (value) {

            let _spent_segments = this.spent_segments;

            for (var i = 0; i < _spent_segments.length; i++)
            {
                if(_spent_segments[i].guid != value) continue;
                _spent_segments.splice(i, 1);
            }

            this.spent_segments = [];
            this.spent_segments = _spent_segments;

            if(_spent_segments.length <= 0) this.addRow();

            return true;
        },

        getIndex (items, guid) {
            return items.findIndex(i => i.guid == guid)
        }
    }
}
</script>
<template>
    <div v-if="!isHidden" :id="'container-' + guid" class="col-md-12">
        <table :id="'table-' + guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>Tháng</th>
                    <th>Chi tiêu</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in spent_segments" v-bind:key="item.guid">
                    <td>
                        <div class="form-group">
                            <select
                                :name="'edit[meta][spent_segments][' + index + '][mmyyyy]'"
                                v-model="spent_segments[getIndex(spent_segments, item.guid)].mmyyyy"
                                class="form-control"
                                placeholder="Tháng">

                                <option v-for="i in monthsOptions" v-bind:value="i.value">{{ i.text }}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input
                            type="number"
                            :name="'edit[meta][spent_segments][' + index + '][value]'"
                            v-model.number="spent_segments[getIndex(spent_segments, item.guid)].value"
                            class="form-control"
                            placeholder="Chi tiêu" />
                    </td>
                    <td v-if="spent_segments.length > 1">
                        <button 
                            v-on:click="removeRow(spent_segments[getIndex(spent_segments, item.guid)].guid)" 
                            type="button" 
                            class="btn btn-block btn-danger btn-flat">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                    <td>
                        <button 
                            v-on:click="addRow()"
                            v-if="(index == (spent_segments.length-1)) == true"
                            type="button"
                            class="btn btn-block btn-success btn-flat">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>