<template>
    <div>
        <template v-if="!canSubmit && ! promotions.length > 0">
            <div class="col-xs-3">
                <img width="200px" class="rounded float-left" src="https://image.freepik.com/free-vector/robot-icon-bot-sign-design-chatbot-symbol-concept-voice-support-service-bot-online-support-bot-vector-stock-illustration_100456-34.jpg" />
            </div>
            <div class="col-xs-9 align-middle">
                <span class="align-middle">
                <b>
                    Hợp đồng dịch vụ không có chương trình khuyến mãi nào đi kèm, 
                    <br/>
                    Trong trường hợp bạn cần áp dụng chương trình khuyến mãi, cần mở khóa hợp đồng để chỉnh sửa
                </b>
            </span>
            </div>
        </template>

        <template v-else-if="!isHidden">
            <table :id="'table-' + guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr style="height:100px;">
                        <th colspan="4">
                            <div class="form-group">               
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="edit[meta][apply_discount_type]" v-model="apply_discount_type"  value="average">
                                            Giảm đều vào mỗi đợt thanh toán
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="edit[meta][apply_discount_type]" v-model="apply_discount_type"  value="last_invoice">
                                            Chỉ áp dụng giảm giá vào đợt thanh toán cuối cùng
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Tên chương trình/Mã Khuyến mãi</th>
                        <th>Giá trị</th>
                        <th>Đơn vị</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in promotions" v-bind:key="item.guid">
                        <td>
                            <p v-if="readOnly" v-text="promotions[getIndex(promotions, item.guid)].name"></p>
                            <input
                                v-else
                                type="text"
                                name="edit[meta][promotions][name][]"
                                v-model="promotions[getIndex(promotions, item.guid)].name"
                                class="form-control"
                                placeholder="Tên chương trình" />
                        </td>
                        <td>
                            <p v-if="readOnly" v-text="(promotions[getIndex(promotions, item.guid)].value).toLocaleString('de-DE')"></p>
                            <input
                                v-else
                                type="number"
                                name="edit[meta][promotions][value][]"
                                v-model.number="promotions[getIndex(promotions, item.guid)].value"
                                class="form-control"
                                placeholder="Giá trị khóa học" />
                        </td>
                        <td>
                            <p v-if="readOnly" v-text="promotions[getIndex(promotions, item.guid)].unit"></p>
                             <select
                                v-else
                                name="edit[meta][promotions][unit][]"
                                class="form-control"
                                v-model="promotions[getIndex(promotions, item.guid)].unit">
                                <option value="number">Số tiền</option>
                                <option value="percentage">%</option>
                            </select>
                        </td>
                        <td
                            align="right"
                            v-text="computePromotionVal(promotions[getIndex(promotions, item.guid)].value, promotions[getIndex(promotions, item.guid)].unit).toLocaleString('de-DE')">    
                        </td>
                        <td v-if="promotions.length > 1">
                            <button 
                                v-on:click="removeRow(promotions[getIndex(promotions, item.guid)].guid)" 
                                type="button" 
                                class="btn btn-block btn-danger btn-flat">
                                <i class="fa fa-close"></i>
                            </button>
                        </td>
                        <td>
                            <button 
                                v-on:click="addRow()"
                                v-if="(index == (promotions.length-1)) == true"
                                type="button"
                                class="btn btn-block btn-success btn-flat">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right"><u><b><i>Tổng giá trị giảm</i></b></u></td>
                        <td align="right">{{ discountAmount.toLocaleString('de-DE') }}</td>
                    </tr>
                    <tr v-if="!readOnly">
                        <td colspan="5" align="right">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="confirmValue"> Chọn để tiếp tục , nếu bạn đã cấu hình thời gian hoàn tất nhé !
                                </label>
                            </div>
                            <button 
                                v-on:click="submit()"
                                type="button"
                                :disabled="!confirmValue || isLoading"
                                class="btn btn-primary">
                                <span v-if="isLoading"><i class="fa fa-cog fa-spin"></i> Đang xử lý ...</span>
                                <span v-else><i class="fa fa-save"></i> Cập nhật thay đổi</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import { contractFacebookadsService } from '@/_services/contract.facebookads.service.js'
import { contractConfig } from '@/_config/contract.config.js'

export default {
    name: 'v-facebookads-configuration-contract-promotions-box',
    props: {

        term_id: [String, Number],

        isEditable: [String, Number],

        isHidden : {
            type : Boolean,
            default : false
        },

        canSubmit : [String, Boolean]
    },
    data (){
        return {
            guid: _.uniqueId(),
            promotions : [],
            isLoading : true,
            config : {},
            discount_plan : 'normal',
            discount_amount : 0,
            apply_discount_type: null,
            discount : { min : 0, max : 0 },
            formValidate : null,
            isValid: false,
            isModActivation: false,
            confirmValue: false
        }
    },

    created () {
        this.getConfig()
        .then( response => this.loadContract())
        .then( response => {
            if(this.canSubmit) this.initPromotions()
        })
    },

    computed: {

        readOnly () {
            return ! Boolean(this.canSubmit)
        },

        discountAmount () {
            return _.sumBy(this.promotions, i =>  {
                return this.computePromotionVal(i.value, i.unit)
            }) || 0
        },

        service_fee_rate () {

            if( ! this.service_fee_rule) return 1;

            return this.service_fee_rule.rate
        }
    },

    methods: {

        submit () {

            const payload = {
                'promotions' : this.promotions,
                'apply_discount_type' : this.apply_discount_type
            }

            this.isLoading = true

            contractFacebookadsService.update(this.term_id, payload).then(response => {

                if(_.eq(200, _.get(response, 'code')))
                {
                    let messages    = _.get(response, 'messages')
                    messages        = _.isString(messages) ? [ messages ] : messages
                    _.forEach(messages, o => { $.notify(o, 'success') })
                    return response
                }

                if(_.isEmpty(_.get(response, 'error'))) 
                {
                    $.notify("Quá trình xử lý bị gián đoạn ! Xin thử lại .")
                    return response
                }

                let messages    = _.get(response, 'error')
                messages        = _.isString(messages) ? [ messages ] : messages
                _.forEach(messages, o => { $.notify(o, 'error') })

                return response
            })
            .finally( () => { this.isLoading = false })
        },

        computeServiceFee (budget, rate) {
            return  _.multiply(budget, rate)
        },

        getConfig () {
            this.isLoading = true
            return contractFacebookadsService.getConfig().then( response => {
                this.config = _.get(response, 'data')
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        loadContract () {

            this.isLoading = true
            return contractFacebookadsService.get(this.term_id).then( response => {
                this.contract               = _.get(response, 'data')
                this.promotions             = _.get(this.contract, 'promotions') || []
                this.apply_discount_type    = _.get(this.contract, 'apply_discount_type')
                this.service_fee            = _.get(this.contract, 'service_fee', 0)
            })
            .finally(() => { this.isLoading = false })
        },

        statusOfValue (value) { return contractConfig.valueOf(value) },

        moment (unix, format) {

            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        isEmpty(value) { return _.isEmpty(value) },

        currency_numberformat (value){
            return Number(_.round(value)).toLocaleString('de-DE')
        },

        pushAlert(message, type)
        {
            const _type = _.isEmpty(type) ? 'error' : type
            this.notification_type = _.isEmpty(type) ? 'error' : type
            this.notification_message = message
        },

        initPromotions()
        {
            if(_.gt(this.promotions.length, 0)) return true
            this.addRow()
        },

        addRow () {

            let _promotions = this.promotions

            _promotions.push({ 
                name : 'Giảm giá phí dịch vụ',
                value: 0,
                unit: 'number',
                guid : _.uniqueId('promotionId-') 
            })

            this.promotions = _promotions
        },

        removeRow (value) {

            let _promotions = this.promotions;

            for (var i = 0; i < _promotions.length; i++)
            {
                if(_promotions[i].guid != value) continue;
                _promotions.splice(i, 1);
            }

            this.promotions = [];
            this.promotions = _promotions;

            if(_promotions.length <= 0) this.addRow();

            return true;
        },

        computePromotionVal (value, unit) {

            if( ! _.gt(value, 0)) return 0
            if(_.eq(unit, 'number')) return value
            if(_.eq(unit, 'percentage')) return _.multiply(this.service_fee, _.divide(value, 100))
            return 0
        },

        getIndex (items, guid) {
            return items.findIndex(i => i.guid == guid)
        }
    },

    components: {
        Multiselect
    }
}
</script>