<script>
import Multiselect from 'vue-multiselect'
import { contractGoogleadsService } from '@/_services/contract.googleads.service.js'
import { contractConfig } from '@/_config/contract.config.js'

export default {
    name: 'v-googleads-configuration-contract-curators-box',
    props: {

        term_id: [String, Number],

        isEditable: [String, Number],

        isHidden : {
            type : Boolean,
            default : false
        },

        canSubmit : [String, Boolean]
    },
    data (){
        return {
            guid: _.uniqueId(),
            promotions : [],
            isLoading : true,
            config : {},
            discount_plan : 'normal',
            discount_amount : 0,
            discount : { min : 0, max : 0 },
            formValidate : null,
            isValid: false,
            isModActivation: false,
            max_number_curators: 3,
            curators: []
        }
    },

    created () {

        this.getConfig()
        .then( response => this.getOption('max_number_curators'))
        .then( response => this.loadContract())
        .then( response => this.initCurators())
    },

    computed: {

        readOnly () {
            return ! Boolean(this.canSubmit)
        },

        discountAmount () {
            return _.sumBy(this.promotions, i =>  {
                return this.computePromotionVal(i.value, i.unit)
            }) || 0
        },

        service_fee_rate () {

            if( ! this.service_fee_rule) return 1;

            return this.service_fee_rule.rate
        }
    },

    methods: {

        submit () 
        {
            const payload = {
                'curators' : this.curators
            }

            return contractGoogleadsService.update(this.term_id, payload).then(response => {
                return response
            });
        },

        computeServiceFee (budget, rate) {
            return  _.multiply(budget, rate)
        },

        getConfig () {
            this.isLoading = true
            return contractGoogleadsService.getConfig().then( response => {
                this.config = _.get(response, 'data')
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        getOption (key) {
            this.isLoading = true
            return contractGoogleadsService.getOption('key').then( response => {
                this.max_number_curators = _.get(response, 'data')
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        loadContract () {
            this.isLoading = true

            return contractGoogleadsService.get(this.term_id).then( response => {
                this.contract = _.get(response, 'data')
                this.curators = _.get(response, 'data.curators') || []
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        statusOfValue (value) { return contractConfig.valueOf(value) },

        moment (unix, format) {

            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        isEmpty(value) { return _.isEmpty(value) },

        currency_numberformat (value){
            return Number(_.round(value)).toLocaleString('de-DE')
        },

        pushAlert(message, type)
        {
            const _type = _.isEmpty(type) ? 'error' : type
            this.notification_type = _.isEmpty(type) ? 'error' : type
            this.notification_message = message
        },

        initCurators()
        {
            if(_.gt(this.curators.length, 0)) return true
            this.addRow()
        },

        addRow () {

            let _curators = this.curators

            _curators.push({ 
                name : "",
                phone: "",
                email: "",
                guid : _.uniqueId('curatorId-') 
            })

            this.curators = _curators
        },

        removeRow (value) {

            let _curators = this.curators;

            for (var i = 0; i < _curators.length; i++)
            {
                if(_curators[i].guid != value) continue;
                _curators.splice(i, 1);
            }

            this.curators = [];
            this.curators = _curators;

            if(_curators.length <= 0) this.addRow();

            return true;
        },

        getIndex (items, guid) {
            return items.findIndex(i => i.guid == guid)
        }
    },

    components: {
        Multiselect
    }
}
</script>
<template>
    <table v-if="!isHidden" :id="'table-' + guid" border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>Họ tên người nhận</th>
                <th>Số điện thoại</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in curators" v-bind:key="item.guid">
                <td>
                    <p v-if="readOnly" v-text="curators[getIndex(curators, item.guid)].name"></p>
                    <input
                        v-else
                        type="text"
                        name="edit[meta][curators][name][]"
                        v-model="curators[getIndex(curators, item.guid)].name"
                        class="form-control"
                        placeholder="Nhập tên người nhận" />
                </td>
                <td>
                    <p v-if="readOnly" v-text="curators[getIndex(curators, item.guid)].phone"></p>
                    <input
                        v-else
                        type="text"
                        name="edit[meta][curators][phone][]"
                        v-model="curators[getIndex(curators, item.guid)].phone"
                        class="form-control"
                        placeholder="Nhập số nhận báo cáo SMS" />
                </td>
                <td>
                    <p v-if="readOnly" v-text="curators[getIndex(curators, item.guid)].email"></p>
                    <input
                        v-else
                        type="text"
                        name="edit[meta][curators][email][]"
                        v-model="curators[getIndex(curators, item.guid)].email"
                        class="form-control"
                        placeholder="Nhập Email nhận báo cáo tuần" />
                </td>
                <td v-if="curators.length > 1">
                    <button 
                        v-on:click="removeRow(curators[getIndex(curators, item.guid)].guid)" 
                        type="button" 
                        class="btn btn-block btn-danger btn-flat">
                        <i class="fa fa-close"></i>
                    </button>
                </td>
                <td>
                    <button 
                        v-on:click="addRow()"
                        v-if="(index == (curators.length-1)) == true"
                        type="button"
                        class="btn btn-block btn-success btn-flat">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            <tr v-if="!readOnly">
                <td colspan="2" align="right"></td>
                <td colspan="2">
                    <button 
                        v-on:click="submit()"
                        type="button"
                        class="btn btn-block btn-primary btn-flat">
                        <i class="fa fa-save"></i>
                        Cập nhật thay đổi
                    </button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</template>