<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vSetupKpi from "@/components/googleads/SetupKpi.vue";
    import _isEmpty from "lodash/isEmpty";
    import _get from "lodash/get";

    export default {
        name: "v-facebook-configuration-assigned-kpi",
        components: {
            vDatatableBuilder,
            vSetupKpi
        },
        props: {
            is_unassigned: {
                type: Boolean,
                default: false,
            }
        },
        data: () => ({
            activeTab: "kpi_setup",

            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/googleads/DatasetKpi`,
            APIDefaultParams: [],

            termSelectedId: 0,
            termSelectedName: "",
            termSelectedIsLockedKpi: false,

            isLoading: false,
        }),
        methods: {
            isEmpty(item){
                return _isEmpty(item);
            },
            get(item, ref){
                return _get(item, ref);
            },
            openModelBox(contract){
                this.termSelectedId = _get(contract, 'term_id');
                this.termSelectedName = _get(contract, 'contract_code');
            },

            reload() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
        },
        created(){
            this.APIDefaultParams = [{is_unassigned: this.is_unassigned}]
        }
    };
</script>

<template>
    <div>
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_header="true"
            v-bind:custom_datatable_rows="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="2"
            class="datatable"
        >
            <!-- @datasource_changed="datasourceChanged" -->
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__header--min-width-15':
                                key == 'contract_code',
                            'datatable__header--min-width-10':
                                key == 'start_service_time' ||
                                key == 'staff_business',
                            'datatable__header--min-width-20':
                                key == 'tech_staff',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a 
                            :href="`${admin_url}googleads/overview/${get(row, 'term_id')}`"
                            target="_blank"
                        >
                            {{ row.contract_code }} 
                        </a>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="right"> {{ row.start_service_time }} </td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            v-if="!isEmpty(row.staff_business)"
                            :href="`javascript:void(${get(row, 'staff_business.user_id')})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="get(row, 'staff_business.user_avatar')"
                            />
                            <span> {{ get(row, 'staff_business.display_name') }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="left"> {{ row.tech_staff }} </td>
                    <td nowrap class="datatable__cell--middle" align="center">
                        <button
                            type="button"
                            class="btn btn-sm btn-info"
                            style="margin-right: 8px"
                            data-toggle="modal"
                            data-target="#modal-kpi-setup"
                            @click="() => openModelBox(row)"
                        >
                            <i class="fa fa-info-circle"></i>
                        </button>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>

        <div class="modal right fade" id="modal-kpi-setup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Hợp đồng <b><code>{{ termSelectedName }}</code></b>
                        </h4>
                    </div>
                    <div class="modal-body" v-if="termSelectedId > 0">
                        <div class="box box-widget" style="box-shadow: none">
                            <div class="box-body" style="padding: 0">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li :class="[activeTab == 'kpi_setup' ? 'active' : '']">
                                            <a v-on:click="changeTab('kpi_setup')" href="#kpi_setup" data-toggle="tab">
                                                <i class="fa fa-heartbeat"></i> Cấu hình kỹ thuật
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div :class="['tab-pane', activeTab == 'kpi_setup' ? 'active' : '']" id="kpi_setup">
                                            <v-setup-kpi 
                                                v-if="activeTab == 'kpi_setup'"
                                                :id="termSelectedId" 
                                                @reload="reload" 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="isLoading" class="overlay">
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
