<script>
import vDatatableBuilder from './vDatatableBuilder.vue'

export default {
    name: 'vOneWebDatatableBkp',
    props: ['options'],
    data: () => ({
        guid: _.uniqueId('vOneWebDatatable-'),
        publish_remote_url: `${admin_url}oneweb/ajax/dataset?&where%5Bterm_status%5D=publish&order_by%5Bstart_service_time%5D=desc`,
        ending_remote_url: `${admin_url}oneweb/ajax/dataset?&where%5Bterm_status%5D=ending&order_by%5Bstart_service_time%5D=desc`,
        term_id: 0,
        selectedTermId: 0
    }),
    computed : {
        current_page_text () { return `${this.options.current_page}/${this.options.num_page}` },
    },
    methods : {
        dataChanged: function(value)
        {
            var seft = this;
            $('div#container-' + this.guid + ' span.messages-list a.btn-note').off('click').on('click',function(e){
                seft.selectedTermId = $(this).data('term_id')
            });
            $('.payment-alert').click(function(){
                seft.term_id = $(this).attr('term_id');
                $('#paymentAlert').modal('show');
            })
        },
        paymentAlertOk:function(){
            var seft = this;
            $.post(admin_url + 'oneweb/ajax/send_mail_payment_alert/' + seft.term_id,
            function(response){
                if(response.status){
                    return seft.notify(response.msg,"success"); 
                }
                return seft.notify(response.msg,"error");
            })
        },
        notify: function(msg,className){

            $.notify(msg, { className: className, clickToHide: true, autoHideDelay: 15000 });
        },
    },
    components: {
        vDatatableBuilder
    }
}
</script>
<template>
    <div>
        <div class="row" :id="'container-' + guid">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-list-ul"></i> Tất cả dịch vụ</a></li>
                        <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-stop"></i> Đã kết thúc</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                        <v-datatable-builder :is_filtering="false" :is_ordering="true" :per_page="50" :remote_url="publish_remote_url" v-on:data_changed="dataChanged" ></v-datatable-builder> 

                        </div>
                        <div class="tab-pane" id="tab_2">
                        <v-datatable-builder :is_filtering="false" :is_ordering="true" :per_page="50" :remote_url="ending_remote_url" v-on:data_changed="dataChanged" ></v-datatable-builder> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="paymentAlert" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-title">Gửi mail?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="Cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-info" id="OK" :term_id="term_id" v-on:click="paymentAlertOk" data-dismiss="modal">Xác nhận</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>