<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="2"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="prepend_thead_filtering_partial">
                <th align="center" valign="middle"></th>
            </template>
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th>
                        <div class="checkbox icheck-belizehole">
                            <input
                                type="checkbox"
                                id="termIdAllChk"
                                v-model="checkAll"
                            />
                            <label for="termIdAllChk"></label>
                        </div>
                    </th>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td class="datatable__cell--middle">
                        <div class="checkbox icheck-belizehole">
                            <input
                                v-model="termIdsSelected"
                                class="termIdCheckbox"
                                type="checkbox"
                                name="carots[]"
                                :id="`termIdChk-${row.term_id}`"
                                :value="row.term_id"
                            />
                            <label :for="`termIdChk-${row.term_id}`"></label>
                        </div>
                    </td>
                    <td
                        nowrap
                        align="left"
                        class="datatable__cell--middle"
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#modal-contract-detail"
                            @click="() => openUpdateBox(row.term_id)"
                        >
                            <span v-if="row.contract_code">
                                <b>{{ row.contract_code }}</b>
                            </span>
                            <span v-else>
                                <i>(Nhập thông tin)</i>
                            </span>
                        </a>
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.contract_begin"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.contract_end"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        v-html="row.technical_staffs"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        v-text="row.staff_business"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.years"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.service_package_price"
                    ></td>
                    <td nowrap class="datatable__cell--middle">
                        <div class="progress-group">
                            <span class="progress-text" data-toggle="tooltip">
                                {{
                                    row.oneweb_task.tasks_percentage.toFixed(2)
                                }}%
                            </span>
                            <span class="progress-number">
                                <b>
                                    <span
                                        data-toggle="tooltip"
                                        title="Đã thực hiện"
                                    >
                                        {{
                                            row.oneweb_task.count_complete_tasks
                                        }}
                                    </span>
                                </b>
                                /
                                <span data-toggle="tooltip" title="Tổng">
                                    {{ row.oneweb_task.count_tasks }}
                                </span>
                            </span>
                            <div class="progress sm">
                                <div
                                    class="
                                        progress-bar
                                        progress-bar-red
                                        progress-bar-striped
                                    "
                                    :style="{
                                        width: `${row.oneweb_task.tasks_percentage}%`,
                                    }"
                                ></div>
                            </div>
                        </div>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="right">
                        <span
                            :class="{
                                'text-green':
                                    row.payment_progress.payment_percentage >=
                                    90,
                                'text-light-blue':
                                    row.payment_progress.payment_percentage <
                                        90 &&
                                    row.payment_progress.payment_percentage >=
                                        80,
                                'text-yellow':
                                    row.payment_progress.payment_percentage <
                                        80 &&
                                    row.payment_progress.payment_percentage >=
                                        50,
                                'text-red':
                                    row.payment_progress.payment_percentage <
                                    50,
                            }"
                        >
                            <b>
                                {{
                                    row.payment_progress.payment_percentage.toFixed(
                                        2
                                    )
                                }}%
                            </b>
                        </span>
                        <p
                            :class="{
                                'text-green':
                                    row.payment_progress.payment_percentage >=
                                    90,
                                'text-light-blue':
                                    row.payment_progress.payment_percentage <
                                        90 &&
                                    row.payment_progress.payment_percentage >=
                                        80,
                                'text-yellow':
                                    row.payment_progress.payment_percentage <
                                        80 &&
                                    row.payment_progress.payment_percentage >=
                                        50,
                                'text-red':
                                    row.payment_progress.payment_percentage <
                                    50,
                            }"
                            style="margin: 0"
                        >
                            {{
                                parseFloat(
                                    row.payment_progress.payment_amount
                                ).toLocaleString("vi-VN", {
                                    style: "currency",
                                    currency: "VND",
                                })
                            }}
                            /
                            {{
                                parseFloat(
                                    row.payment_progress.invs_amount
                                ).toLocaleString("vi-VN", {
                                    style: "currency",
                                    currency: "VND",
                                })
                            }}
                        </p>
                    </td>

                    <td nowrap class="datatable__cell--middle" align="center">
                        <button
                            type="button"
                            class="btn btn-sm btn-info"
                            style="margin-right: 8px"
                            data-toggle="modal"
                            data-target="#modal-contract-detail"
                            @click="() => openUpdateBox(row.term_id)"
                        >
                            <i class="fa fa-info-circle"></i>
                        </button>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->

        <!-- Begin action -->
        <div class="d-flex">
            <button
                class="btn btn-warning btn-flat"
                style="margin-right: 1rem"
                data-toggle="modal"
                type="button"
                :data-target="`#${batchStartId}`"
                :disabled="!isEnableStartService"
                @click="openBatchStartService"
            >
                <i class="fa fa-fw fa-play"></i> Kích hoạt dịch vụ
                <span v-if="isEnableStartService">
                    (có <b>{{ countStartService }}</b> hợp đồng)
                </span>
            </button>

            <button
                class="btn btn-danger btn-flat"
                data-toggle="modal"
                type="button"
                :data-target="`#${batchStopId}`"
                :disabled="!isEnableStopService"
                @click="openBatchStopService"
            >
                <i class="fa fa-fw fa-stop"></i> Kết thúc dịch vụ
                <span v-if="isEnableStopService">
                    (có <b>{{ countStopService }}</b> hợp đồng)
                </span>
            </button>
        </div>
        <!-- End action -->

        <!-- Begin model contract detail -->
        <div class="modal right fade" id="modal-contract-detail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Hợp đồng
                            <b
                                ><code>{{ termSelectedName }}</code></b
                            >
                        </h4>
                    </div>
                    <div class="modal-body" v-if="termSelectedId > 0">
                        <div class="box box-widget" style="box-shadow: none">
                            <div class="box-body" style="padding: 0">
                                <div
                                    v-if="
                                        termSelectedIsServiceProc ||
                                        termSelectedIsServiceEnd
                                    "
                                >
                                    <h4>Khu vực điều khiển dịch vụ</h4>
                                    <div
                                        class="d-flex"
                                        style="margin-bottom: 16px"
                                    >
                                        <button
                                            v-if="termSelectedIsServiceProc"
                                            class="btn btn-warning"
                                            :disabled="isLoading"
                                            @click="
                                                () =>
                                                    startServiceByTermId(
                                                        termSelectedId
                                                    )
                                            "
                                        >
                                            <i class="fa fa-fw fa-play"></i>
                                            Kích hoạt dịch vụ
                                        </button>
                                        <button
                                            v-if="termSelectedIsServiceEnd"
                                            class="btn btn-danger"
                                            :disabled="isLoading"
                                            @click="
                                                () =>
                                                    stopServiceByTermId(
                                                        termSelectedId
                                                    )
                                            "
                                        >
                                            <i class="fa fa-fw fa-stop"></i> Kết
                                            thúc dịch vụ
                                        </button>
                                    </div>
                                </div>

                                <hr
                                    v-if="
                                        termSelectedIsServiceProc ||
                                        termSelectedIsServiceEnd
                                    "
                                />

                                <h4>Khu vực cấu hình dịch vụ</h4>
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li
                                            :class="[
                                                activeTab == 'infomation'
                                                    ? 'active'
                                                    : '',
                                            ]"
                                        >
                                            <a
                                                v-on:click="
                                                    changeTab('infomation')
                                                "
                                                href="#infomation"
                                                data-toggle="tab"
                                            >
                                                <i
                                                    class="fa fa-info-circle"
                                                ></i>
                                                Thông tin hợp đồng
                                            </a>
                                        </li>
                                        <li
                                            :class="[
                                                activeTab == 'kpi_setup'
                                                    ? 'active'
                                                    : '',
                                            ]"
                                        >
                                            <a
                                                v-on:click="
                                                    changeTab('kpi_setup')
                                                "
                                                href="#kpi_setup"
                                                data-toggle="tab"
                                            >
                                                <i class="fa fa-heartbeat"></i>
                                                Cấu hình kỹ thuật
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div
                                            :class="[
                                                'tab-pane',
                                                activeTab == 'infomation'
                                                    ? 'active'
                                                    : '',
                                            ]"
                                            id="infomation"
                                        >
                                            <v-contract-detail
                                                v-if="activeTab == 'infomation'"
                                                :id="termSelectedId"
                                                @updated="updated"
                                            />
                                        </div>
                                        <div
                                            :class="[
                                                'tab-pane',
                                                activeTab == 'kpi_setup'
                                                    ? 'active'
                                                    : '',
                                            ]"
                                            id="kpi_setup"
                                        >
                                            <v-setup-kpi
                                                v-if="activeTab == 'kpi_setup'"
                                                :id="termSelectedId"
                                                :is_locked="
                                                    termSelectedIsLockedKpi
                                                "
                                                @updated="updated"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="isLoading" class="overlay">
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End model contract detail -->

        <!-- Begin Model start service -->
        <div class="modal fade" :id="batchStartId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a
                            type="button"
                            :id="`${batchStartId}-btn`"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">
                            Danh sách Hợp đồng chạy dịch vụ
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table
                                border="1"
                                cellpadding="2"
                                cellspacing="1"
                                class="table table-bordered table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">
                                            Trạng thái
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Hợp đồng
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Số lượng
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Đơn giá
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            T/G bắt đầu
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            T/G kết thúc
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="isEmpty(selectedContract)">
                                        <td colspan="6" align="center">
                                            Không có hợp đồng cần kích hoạt
                                        </td>
                                    </tr>
                                    <template v-for="item in selectedContract">
                                        <tr
                                            v-bind:key="`startServiceSelected-${item.term_id}`"
                                        >
                                            <td align="center">
                                                <span
                                                    v-if="
                                                        'pending' == item.status
                                                    "
                                                    class="text-muted"
                                                >
                                                    Chưa xử lý</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'running' == item.status
                                                    "
                                                    class="text-yellow"
                                                >
                                                    Đang gửi</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'publish' == item.status
                                                    "
                                                    class="text-green"
                                                >
                                                    Hoàn tất</span
                                                >
                                                <span v-else class="text-red">
                                                    Error</span
                                                >
                                            </td>
                                            <td
                                                align="left"
                                                v-text="item.term_name"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.years"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="
                                                    item.service_package_price
                                                "
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.contract_begin"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.contract_end"
                                            ></td>
                                        </tr>
                                        <tr
                                            v-if="
                                                'error' == item.status &&
                                                item.description
                                            "
                                            v-bind:key="`startServiceSelected-errors-${item.term_id}`"
                                        >
                                            <td colspan="6" align="right">
                                                <span
                                                    class="label-danger"
                                                    style="
                                                        padding: 2px 10px 2px
                                                            10px;
                                                        border-radius: 8px;
                                                    "
                                                >
                                                    <i
                                                        class="icon fa fa-info"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    ></i>
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-default pull-left"
                            data-dismiss="modal"
                        >
                            Hủy bỏ
                        </button>
                        <button
                            type="button"
                            class="btn btn-warning"
                            :disabled="
                                isBatchingStart || isEmpty(selectedContract)
                            "
                            @click="batchStart"
                        >
                            Tiến hành Kích hoạt dịch vụ
                            <i style="margin-left: 8px" class="fa fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Model start service -->

        <!-- Begin Model stop service -->
        <div class="modal fade" :id="batchStopId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <a
                            type="button"
                            :id="`${batchStopId}-btn`"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h4 class="modal-title">
                            Danh sách Hợp đồng kết thúc dịch vụ
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table
                                border="1"
                                cellpadding="2"
                                cellspacing="1"
                                class="table table-bordered table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">
                                            Trạng thái
                                        </th>
                                        <th nowrap="nowrap" class="text-left">
                                            Hợp đồng
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Số lượng
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            Đơn giá
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            T/G bắt đầu
                                        </th>
                                        <th nowrap="nowrap" class="text-right">
                                            T/G kết thúc
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="isEmpty(selectedContract)">
                                        <td colspan="6" align="center">
                                            Không có hợp đồng cần kết thúc
                                        </td>
                                    </tr>
                                    <template v-for="item in selectedContract">
                                        <tr
                                            v-bind:key="`startServiceSelected-${item.term_id}`"
                                        >
                                            <td align="center">
                                                <span
                                                    v-if="
                                                        'pending' == item.status
                                                    "
                                                    class="text-muted"
                                                >
                                                    Chưa xử lý</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'running' == item.status
                                                    "
                                                    class="text-yellow"
                                                >
                                                    Đang gửi</span
                                                >
                                                <span
                                                    v-else-if="
                                                        'publish' == item.status
                                                    "
                                                    class="text-green"
                                                >
                                                    Hoàn tất</span
                                                >
                                                <span v-else class="text-red">
                                                    Error</span
                                                >
                                            </td>
                                            <td
                                                align="left"
                                                v-text="item.term_name"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.years"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="
                                                    item.service_package_price
                                                "
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.contract_begin"
                                            ></td>
                                            <td
                                                align="right"
                                                v-text="item.contract_end"
                                            ></td>
                                        </tr>
                                        <tr
                                            v-if="
                                                'error' == item.status &&
                                                item.description
                                            "
                                            v-bind:key="`startServiceSelected-errors-${item.term_id}`"
                                        >
                                            <td colspan="6" align="right">
                                                <span
                                                    class="label-danger"
                                                    style="
                                                        padding: 2px 10px 2px
                                                            10px;
                                                        border-radius: 8px;
                                                    "
                                                >
                                                    <i
                                                        class="icon fa fa-info"
                                                        style="
                                                            margin-right: 10px;
                                                        "
                                                    ></i>
                                                    {{ item.description }}
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-default pull-left"
                            data-dismiss="modal"
                        >
                            Hủy bỏ
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            :disabled="
                                isBatchingStop || isEmpty(selectedContract)
                            "
                            @click="batchStop"
                        >
                            Tiến hành Kết thúc dịch vụ
                            <i style="margin-left: 8px" class="fa fa-stop"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Model stop service -->
    </div>
</template>

<script>
    import { onewebService } from "@/_services/oneweb.service.js";

    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vContractDetail from "@/components/oneweb/ContractDetail.vue";
    import vSetupKpi from "@/components/oneweb/SetupKpi.vue";

    export default {
        name: "vOnewebDatatable",

        components: {
            vDatatableBuilder,
            vSetupKpi,
            vContractDetail,
        },
        data: () => ({
            activeTab: "infomation",

            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/oneweb/OnewebDataset`,
            APIDefaultParams: [],

            isLoading: false,
            onewebContracts: [],

            countStartService: 0,
            isEnableStartService: false,
            countStopService: 0,
            isEnableStopService: false,

            termSelectedId: 0,
            termSelectedName: "",
            termSelectedIsServiceProc: false,
            termSelectedIsServiceEnd: false,
            termSelectedIsLockedKpi: false,

            checkAll: false,
            termIdsSelected: [],

            selectedContract: [],
            isBatchingStart: false,
            batchStartId: _.uniqueId("vOnewebDatatable-BatchStartId-Modal"),
            isBatchingStop: false,
            batchStopId: _.uniqueId("vOnewebDatatable-BatchStopId-Modal"),
        }),
        mounted() {
            $("#modal-contract-detail").on("hide.bs.modal", () => {
                this.closeUpdateBox();
            });
        },
        watch: {
            checkAll(value) {
                if (!value) {
                    this.termIdsSelected = [];
                    return false;
                }

                let tags = document.getElementsByClassName("termIdCheckbox");
                const termIds = _.map(tags, (o) => parseInt(o.value));
                this.termIdsSelected = termIds;
            },
            isBatchingStart(value) {
                if (!value) this.batchUpdated();
            },
            isBatchingStop(value) {
                if (!value) this.batchUpdated();
            },
            termIdsSelected(value) {
                let countStart = _.countBy(this.onewebContracts, (item) => {
                    let isInclude = _.includes(value, item.term_id);
                    if (!isInclude) return false;

                    return !_.get(item, "is_service_proc");
                });
                this.isEnableStartService = (countStart.true || 0) > 0;
                this.countStartService = countStart.true || 0;

                let countStop = _.countBy(this.onewebContracts, (item) => {
                    let isInclude = _.includes(value, item.term_id);
                    if (!isInclude) return false;

                    return (
                        _.get(item, "is_service_proc") &&
                        !_.get(item, "is_service_end")
                    );
                });
                this.isEnableStopService = (countStop.true || 0) > 0;
                this.countStopService = countStop.true || 0;
            },
        },
        methods: {
            changeTab(tabId) {
                this.activeTab = tabId;
            },
            isEmpty(item) {
                return _.isEmpty(item);
            },
            datasourceChanged(items) {
                this.onewebContracts = items;
            },
            closeUpdateBox() {
                this.termSelectedId = 0;
            },
            openUpdateBox(termId) {
                let onewebContract = _.find(
                    this.onewebContracts,
                    (item) => item.term_id == termId
                );

                this.termSelectedName = _.get(onewebContract, "term_name");
                this.termSelectedId = _.get(onewebContract, "term_id");
                this.termSelectedIsServiceProc = !_.get(
                    onewebContract,
                    "is_service_proc"
                );
                this.termSelectedIsServiceEnd =
                    _.get(onewebContract, "is_service_proc") &&
                    !_.get(onewebContract, "is_service_end");
            },
            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
            batchUpdated() {
                let publishContract = _.filter(
                    this.selectedContract,
                    (item) => item.status == "publish"
                );

                if (!_.isEmpty(publishContract)) {
                    this.updated();
                }

                this.checkAll = false;
            },
            openBatchStartService() {
                this.selectedContract = [];
                let onewebContract = _.cloneDeep(this.onewebContracts);
                let _contract = _.filter(onewebContract, (item) => {
                    let isInclude = _.includes(
                        this.termIdsSelected,
                        parseInt(item.term_id, 10)
                    );
                    if (!isInclude) return false;

                    return !_.get(item, "is_service_proc");
                });

                this.selectedContract = _.map(_contract, (item) => {
                    return {
                        term_id: item.term_id,
                        term_name: item.term_name,
                        years: item.years,
                        service_package_price: item.service_package_price,
                        contract_begin: item.contract_begin,
                        contract_end: item.contract_end,
                        status: "pending",
                        description: null,
                    };
                });
            },
            async batchStart() {
                this.isBatchingStart = true;

                for (let contract of this.selectedContract) {
                    contract.status = "running";

                    try {
                        let response = await onewebService.startService(
                            contract.term_id
                        );

                        if (200 == _.get(response, "code")) {
                            contract.status = "publish";

                            continue;
                        }

                        contract.status = "error";
                        contract.description = _.get(response, "message");
                    } catch (err) {
                        contract.status = "error";
                        contract.description = err;
                    }
                }

                this.isBatchingStart = false;
            },
            openBatchStopService() {
                this.selectedContract = [];
                let onewebContract = _.cloneDeep(this.onewebContracts);
                let _contract = _.filter(onewebContract, (item) => {
                    let isInclude = _.includes(
                        this.termIdsSelected,
                        parseInt(item.term_id, 10)
                    );
                    if (!isInclude) return false;

                    return (
                        _.get(item, "is_service_proc") &&
                        !_.get(item, "is_service_end")
                    );
                });

                this.selectedContract = _.map(_contract, (item) => {
                    return {
                        term_id: item.term_id,
                        term_name: item.term_name,
                        years: item.years,
                        service_package_price: item.service_package_price,
                        contract_begin: item.contract_begin,
                        contract_end: item.contract_end,
                        status: "pending",
                        description: null,
                    };
                });
            },
            async batchStop() {
                this.isBatchingStop = true;

                for (let contract of this.selectedContract) {
                    contract.status = "running";

                    try {
                        let response = await onewebService.stopService(
                            contract.term_id
                        );

                        if (200 == _.get(response, "code")) {
                            contract.status = "publish";

                            continue;
                        }

                        contract.status = "error";
                        contract.description = _.get(response, "message");
                    } catch (err) {
                        contract.status = "error";
                        contract.description = err;
                    }
                }

                this.isBatchingStop = false;
            },

            async startServiceByTermId(termId) {
                if (this.termSelectedId <= 0) {
                    return;
                }

                this.isLoading = true;

                try {
                    let response = await onewebService.startService(termId);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        this.termSelectedIsServiceProc = false;
                        this.termSelectedIsServiceEnd = true;

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },

            async stopServiceByTermId(termId) {
                if (this.termSelectedId <= 0) {
                    return;
                }

                this.isLoading = true;

                try {
                    let response = await onewebService.stopService(termId);

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        this.termSelectedIsServiceProc = false;
                        this.termSelectedIsServiceEnd = false;
                        this.termSelectedIsLockedKpi = true;

                        this.updated();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
        },
    };
</script>
