<template>
    <div class="box box-primary" :id="'container-'+ guid">
        <div class="box-header with-border">
            <h3 class="box-title"><i>Thông tin dịch vụ (Gói & giá trị dịch vụ)</i></h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="id" :value="id"/>
            <table border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Đầu mục/ dịch vụ / chức năng</th>
                        <th align="right" width="10%">Số năm</th>
                        <th align="right" width="30%">Giá trị</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <template v-if="'update' == mode">
                                <select v-model="service_package" name="meta[service_package]" class="form-control">
                                    <option v-for="i in servicePackages" :value="i.name">{{ i.label }}</option>
                                </select>
                            </template>
                            <template v-else>
                                <b><u><i>Gói {{ service_package_label }} ( {{ service_package_price.toLocaleString('de-DE') }} )</i></u></b>
                            </template>
                        </td>
                        
                        <td>
                            <template v-if="'view' != mode">
                                <select name="meta[years]" v-model="years" class="form-control">
                                    <option v-for="n in 10" :value="n">{{ n }} năm</option>
                                </select>
                            </template>
                            <template v-else>
                                <strong>{{ years }} năm</strong>
                            </template>
                        </td>

                        <td align="right">
                            <strong>{{ packagePrice.toLocaleString('de-DE') }} đ</strong>
                            <input type="hidden" name="meta[service_package_price]" v-model="service_package_price"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Chức năng nâng cao</th>
                        <th align="right" width="10%">Số ngày làm việc</th>
                        <th align="right" width="30%">Giá trị</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in advanced_functions">
                        <template v-if="'update' == mode">
                            <td>
                                <input v-model="item.name" type="text" class="form-control valid" :name="'meta[advanced_functions]['+index+'][name]'" placeholder="Tính năng 1"/>
                            </td>
                            <td>
                                <select :name="'meta[advanced_functions]['+index+'][days]'" v-model="item.days" class="form-control">
                                    <option v-for="n in 15" :value="n">{{ n }} ngày</option>
                                </select>
                            </td>
                            <td align="right"><input style="text-align:right" v-model="item.value" type="number" class="form-control valid" :name="'meta[advanced_functions]['+index+'][value]'" placeholder="Báo giá tính năng 1"/></td>
                            <td>
                                <button v-if="index == (advanced_functions.length-1)" v-on:click='addAdvancedFeature' type="button" class="btn btn-flat btn-sm btn-primary">
                                    <i class="fa fa-fw fa-plus"></i> 
                                </button>
                                <button v-if="index != 0" v-on:click='removeAdvancedFeature(index)' type="button" class="btn btn-flat btn-sm btn-danger">
                                    <i class="fa fa-fw fa-trash"></i> 
                                </button>
                            </td>
                        </template>
                        <template v-else-if="item.name != ''">
                            <td><u>Chức năng : </u> {{ item.name }} </td>
                            <td align="right" v-text="item.days"></td>
                            <td align="right" v-text="currencyFormat(item.value)"></td>
                            <td></td>
                        </template>
                        <template v-else>
                            <td colspan="4"><i>Không có</i></td>
                        </template>
                    </tr>
                    <tr>
                        <td colspan="2"><b><u><i>Tổng giá trị thiết kế</i></u></b></td>
                        <td align="right"><b v-text="currencyFormat(_price)"></b></td>
                    </tr>
                    <tr>
                        <td>
                            <b><u><i>Chương trình giảm giá</i></u></b>
                            <div class="form-group">
                                <div class="radio" v-for="item in discount_plans">
                                    <label>
                                        <input v-model="discount_plan" :disabled="'update' != mode" type="radio" name="meta[discount_plan]" :value="item.key" > {{ item.value }}
                                    </label>
                                </div>
                            </div>
                        </td>
                        <template v-if="discount_plan == 'combo'">
                            <td></td>
                            <td align="right">
                                <strong>{{ comboDiscountAmount.toLocaleString('de-DE') }} đ</strong>
                            </td>
                        </template>
                        <template v-else>
                            <td></td>
                            <td align="right">
                                <input v-if="'update' == mode" style="text-align:right" name="meta[discount_amount]" type="number" step="50000" :min="discount.min" :max="discount.max" v-model="discount_amount" class="form-control">

                                <label v-else v-text="'-' + currencyFormat(discount_amount)"></label>
                            </td>
                        </template>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Tổng cộng</b></td>
                        <td align="right"><b v-text="currencyFormat(contractValue)"></b></td>
                    </tr>
                </tbody>
                <tfoot v-if="'update' == mode && 'api' == submit_type">
                    <tr>
                        <td colspan="3">
                            <div class="box-tools pull-right">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="confirmValue"> Chọn để tiếp tục , nếu bạn đã cấu hình thời gian hoàn tất nhé !
                                    </label>
                                </div>

                                <button 
                                    v-on:click="formSubmit()"
                                    type="button"
                                    :disabled="!confirmValue || isLoading"
                                    class="btn btn-primary pull-right">
                                    <span v-if="isLoading"><i class="fa fa-cog fa-spin"></i> Đang xử lý ...</span>
                                    <span v-else><i class="fa fa-save"></i> Cập nhật thay đổi</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>

import { contractOnewebService } from '@/_services/contract.oneweb.service.js'

export default {
    props: {
        id: { type: [ Number, String], default : 0 },
        mode: { type : String, default : 'view' },
        submit_type: { type : String, default : 'default' }
    },
    name: 'v-oneweb-configuration-contract-box',
    data (){
        return {
            admin_url: admin_url,
            guid: _.uniqueId(),

            config : {},
            discount_plans : [],

            service_package : null,
            service_package_price : 0,
            years: null,
            
            advanced_functions : [],
            discount_plan : null,
            discount_amount : 0,
            discount : { min : 0, max : 0 },

            formValidate : null,
            isLoading : false,
            readOnly : false,
            update_mode: false,

            confirmValue: false
        }
    },

    computed: {

        servicePackages () { return _.get(this.config, 'services') || [] },

        servicePackageSelected (){ return _.find(this.servicePackages, [ 'name', this.service_package ]) || null },

        packagePrice () { return this.service_package_price * this.years },

        /* Giá trị hợp đồng chưa áp dụng giảm giá */
        _price () {
            let value = this.packagePrice || 0;
            let advancedFunctionsValue = _.isEmpty(this.advanced_functions) ? 0 : _.sum(_.map(this.advanced_functions, o => { return _.toInteger(o.value) }))
            return value + advancedFunctionsValue
        },

        /* Giá trị hợp đồng sau khi đã giảm giá */
        contractValue () { return this._price - this.discount_amount },

        /**
         * Get Service Package label
         *
         * @return     {string}  Service package Label
         */
        service_package_label () {

            if(_.isEmpty(this.config) || !_.has(this.config, `services.${this.service_package}.label`)) return 'Chưa chọn gói.'
            return _.get(this.config, `services.${this.service_package}.label`)
        },

        /* Discount Combo plan Amount */
        comboDiscountAmount () {

            if(!_.isEqual(this.discount_plan, "combo")) return 0;

            let saleOpt =  _.findLast(_.get(this.config, 'discount.packages.combo.sale'), o => { return o.buy < this.years })
            return _.isEmpty(saleOpt) ? 0 : _.multiply(saleOpt.free, this.service_package_price)
        },
    },

    watch : {
        service_package () {
            this.service_package_price = _.get(this.servicePackageSelected, 'price')
        },

        config : function(){
            if( ! this.config) return [];

            var service_packages = [];
            for(var i in this.config.services)
            {
                service_packages.push({key: this.config.services[i].name, value: this.config.services[i].label});
            }
            this.service_packages = service_packages;

            var discount_plans = [];
            for(var i in this.config.discount.packages)
            {
                discount_plans.push({key: this.config.discount.packages[i].name, value: this.config.discount.packages[i].label});
            }
            this.discount_plans = discount_plans;

            this.calcDiscountData();
        },
    },

    created () {
        this.loadConfig()
        .then(response => { this.loadContractData() })
    },

    mounted : function(){
        this.bindFormValidate();
        this.calcDiscountData();
    },

    methods : {

        loadContractData : function(){
            
            var seft = this;
            let obj = {
                id : this.id,
                meta : ['service_package', 'service_package_price', 'advanced_functions', 'discount_plan', 'discount_amount', 'price', 'years']
            };

            axios.get(admin_url + 'oneweb/api/contract/index?' + $.param(obj))
            .then( response => {

                let result                  = response.data.data
                this.price                  = _.toInteger(_.get(result, "price") || 0)
                this.years                  = _.toInteger(_.get(result, "years") || 1)
                this.service_package        = _.get(result, "service_package") || "normal"

                if(_.gt(_.toInteger(_.get(result, "service_package_price", 0)), 0))
                {
                    this.service_package_price  = _.toInteger(_.get(result, "service_package_price", 0));
                }

                this.advanced_functions = _.get(result, "advanced_functions") || []
                if(_.size(this.advanced_functions) <= 0)
                {
                    this.advanced_functions.push({name: '', value: 0})
                    console.log(this.advanced_functions, _.get(result, "advanced_functions"), result)    
                }
                
                this.discount_plan          = _.get(result, "discount_plan") || "combo"
                this.discount_amount        = _.toInteger(_.get(result, "discount_amount") || 0)
                this.lock_editable          = new Boolean(_.toInteger(_.get(result, "lock_editable") || 0))
                this.readOnly               = new Boolean(_.toInteger(_.get(result, "lock_editable") || 0))
                return response
            })
            .catch(function (error) {})
        },

        boxModeChanged : function(){
            this.update_mode = !this.update_mode;
        },

        resetData : function(){
            this.loadContractData();
            this.boxModeChanged();
            this.formValidate.resetForm();
        },

        service_package_changed : function(value){
            this.service_package = value;
        },

        loadConfig () {

            this.isLoading = true

            return contractOnewebService.getConfig(this.id)
            .then( response => {
                this.config = response.data
                return response   
            })
            .catch( error => {
                $.notify(error, 'error')
            })
            .finally( () => {
                this.isLoading = false
            })
        },

        bindFormValidate : function(){

            var _self = this;
            this.formValidate = $("#form-" + this.guid).validate({
                rules : {
                   'meta[discount_amount]': {
                        digits: true,
                        min : function(){ return _self.discount.min },
                        max : function(){ return _self.discount.max },
                    },
                },
                messages : {
                    'meta[discount_amount]' : {
                        digits: 'Số tiền giảm giá không hợp lệ.',
                        min : 'Số tiền giảm giá không được là kiểu số âm.',
                        max : function() { return 'Vượt mức giảm giá tối đa : ' + _self.discount.max.toLocaleString() + ' đ'},  
                    },
                },
            });
        },
        
        /**
         * Calcualte Discount Data
         */
        calcDiscountData () {

            let total = this.contractValue;

            switch(this.discount_plan)
            {
                case 'combo':
                    return
                    break;

                case 'normal':
                    total-= 10000000;
                    total = total > 0 ? total : 0;
                    break;

                case 'cross-sell':
                    total = 0;
                    break;
            }

            let maxPercentage   = ( !_.isEmpty(this.config.discount) && !_.isEmpty(this.config.discount.packages) && !_.isEmpty(this.config.discount.packages[this.discount_plan])) ? this.config.discount.packages[this.discount_plan].sale.max : 0
            this.discount = {min: 0, max: _.multiply(total, _.divide(maxPercentage, 100))};
        },

        /* Add New Advanced Features row */
        addAdvancedFeature () { this.advanced_functions.push( {name: "", value: ""}) },

        /* Removes specified by Index of Advanced Features row */
        removeAdvancedFeature (index) { this.advanced_functions.splice(index, 1) },

        formSubmit () {

            this.isLoading = true

            const payload = {
                service_package: this.service_package,
                years: this.years,
                service_package_price: this.service_package_price,
                advanced_functions: this.advanced_functions,
                discount_plan: this.discount_plan,
                discount_amount: this.discount_amount
            }

            return contractOnewebService.update(this.id, payload)
            .then(response => {

                if(200 != _.get(response, 'code'))
                {
                    let _messages = _.get(response, 'error')
                    _messages = _.isString(_messages) ? [ _messages ] : _message

                    _.forEach(_messages, o => { $.notify(o, 'error') })

                    return response
                }

                
                let _messages = _.get(response, 'messages')
                _messages = _.isString(_messages) ? [ _messages ] : _messages
                _.forEach(_messages, o => { $.notify(o, 'success') })

                return response
            })
            .catch(error => {
                $.notify(error, 'error')
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        currencyFormat : function(value){
            let val = parseInt(value);
            if( Number.isNaN(val)) return '0 đ';
            return val.toLocaleString() + ' đ';
        }
    }
}
</script>