<template>
    <div class="box box-primary" :id="'container-'+ guid">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i>Thông tin dịch vụ (Gói & giá trị dịch vụ)</i>
            </h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="id" :value="id"/>
            <table border="1" cellpadding="2" cellspacing="1" class="table table-responsive table-bordered table-hover" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Đầu mục/ dịch vụ / chức năng</th>
                        <th align="right" width="20%">Đvt</th>
                        <th align="right" width="20%">Số lượng</th>
                        <th align="right" width="20%">Giá trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <template v-if="'update' == mode">
                                <select v-model="service_package" name="meta[service_package]" class="form-control">
                                    <option v-for="i in servicePackages" :value="i.name">{{ i.label }}</option>
                                </select>
                                <input type="hidden" name="meta[price]" v-model="price" />
                            </template>
                            <template v-else>
                                <b><u><i>Gói {{ service_package_label }} ( {{ price.toLocaleString('de-DE') }} )</i></u></b>
                            </template>
                        </td>
                         <td>
                            <strong v-if="'month' == unit">Tháng</strong>
                            <strong v-else-if="'package' == unit">Gói</strong>
                            <strong v-else>(Không có dữ liệu)</strong>
                        </td>

                        <td>
                            <template v-if="'view' != mode">
                                <input name="meta[quantity]" v-model="quantity" type="number" class="form-control"/>
                                <!-- <select name="meta[quantity]" v-model="quantity" class="form-control">
                                    <option v-for="n in 10" :value="n">{{ n }}</option>
                                </select> -->
                            </template>
                            <template v-else>
                                <strong>{{ quantity }}</strong>
                            </template>
                        </td>

                        <td align="right">
                            <strong>{{ (quantity*price).toLocaleString('de-DE') }} đ</strong>
                        </td>
                    </tr>
                    <input type="hidden" name="meta[discount_amount]" v-model="discount_amount" />
                    <template v-if="discount_amount > 0 && get(servicePackageSelected, 'buy2get1', false)">
                        <tr>
                            <td colspan="3"><b><i>Chương trình khuyến mãi (Mua 2 tặng 1)</i></b></td>
                            <td align="right"><strong>- {{ discount_amount.toLocaleString('de-DE') }} đ</strong></td>
                        </tr>  
                        <tr>
                            <td colspan="3"><b><i>Thành tiền</i></b></td>
                            <td align="right"><strong>{{ ( packagePrice - discount_amount ).toLocaleString('de-DE') }} đ</strong></td>
                        </tr>  
                    </template>
                    <tr>
                        <td colspan="3" align="right" style="vertical-align: middle;"><b>Giảm giá/Khuyến mãi</b></td>
                        <td><input class="form-control" name="meta[discount_amount]" type="number" v-model="discount_amount" placeholder="Giá trị" /></td>
                    </tr>  
                    <tr>
                        <td colspan="3" align="right"><b><i>Thành tiền</i></b></td>
                        <td align="right"><strong>{{ ( packagePrice - discount_amount ).toLocaleString('de-DE') }} đ</strong></td>
                    </tr>
                </tbody>
                <tfoot v-if="'update' == mode && 'api' == submit_type">
                    <tr>
                        <td colspan="4">
                            <div class="box-tools pull-right">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="confirmValue"> Chọn để tiếp tục , nếu bạn đã cấu hình thời gian hoàn tất nhé !
                                    </label>
                                </div>

                                <button 
                                    v-on:click="formSubmit()"
                                    type="button"
                                    :disabled="!confirmValue || isLoading"
                                    class="btn btn-primary pull-right">
                                    <span v-if="isLoading"><i class="fa fa-cog fa-spin"></i> Đang xử lý ...</span>
                                    <span v-else><i class="fa fa-save"></i> Cập nhật thay đổi</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>

import { contractPushdyService } from '@/_services/contract.pushdy.service.js'

export default {
    props: {
        id: { type: [ Number, String], default : 0 },
        mode: { type : String, default : 'view' },
        submit_type: { type : String, default : 'default' }
    },
    name: 'v-pushdy-configuration-contract-box',
    data (){
        return {
            admin_url: admin_url,
            guid: _.uniqueId(),
            config : {},
            service_package : null,
            price : 0,
            quantity: null,
            discount_amount : 0,
            formValidate : null,
            isLoading : false,
            readOnly : false,
            update_mode: false,
            confirmValue: false,
            unit: '',
        }
    },

    computed: {

        servicePackages () { return _.get(this.config, 'services') || [] },

        servicePackageSelected (){ return _.find(this.servicePackages, [ 'name', this.service_package ]) || null },

        packagePrice () {
            return this.price * this.quantity
        },

        /**
         * Get Service Package label
         *
         * @return     {string}  Service package Label
         */
        service_package_label () {
            if(_.isEmpty(this.config) || !_.has(this.config, `services.${this.service_package}.label`)) return 'Chưa chọn gói.'
            return _.get(this.config, `services.${this.service_package}.label`)
        }
    },

    watch : {

        quantity () {
            if(this.quantity < 0){
                this.quantity = 0;
            }

            if(_.get(this.servicePackageSelected, 'buy2get1')) this.discount_amount = _.multiply(this.price, Math.floor(_.divide(this.quantity, 3)))
        },

        service_package () {
            this.price = _.get(this.servicePackageSelected, 'price')
            this.unit = _.get(this.servicePackageSelected, 'unit')
        },
    },

    created () {

        // this.discount_amount = Math.floor(_.divide(this.quantity, 3))
        this.loadConfig()
        .then(response => { this.loadContractData() })
    },

    mounted () {
        this.bindFormValidate()
    },

    methods : {

        loadContractData () {
                
            return contractPushdyService.get(this.id).then(response => {

                this.quantity = _.toInteger(_.get(response, 'data.quantity') || 1)
                this.service_package = _.get(response, 'data.service_package') || _.get(this.config, 'data.default')

                this.price = _.toInteger(_.get(response, 'data.price') || 0)
                if( ! _.gt(this.price, 0))
                {
                    let _package = _.find(_.get(this.config, 'services'), [ 'name', this.service_package ])
                    this.price = _.toInteger(_.get(_package, 'price'))
                }

                this.discount_amount        = _.toInteger(_.get(response, "data.discount_amount") || 0)
                this.lock_editable          = new Boolean(_.toInteger(_.get(response, "data.lock_editable") || 0))
                this.readOnly               = new Boolean(_.toInteger(_.get(response, "data.lock_editable") || 0))

                return response

            }).catch(error => {
                $.notify(error)
            }).finally(() => {
                this.isLoading = false
            })
        },

        boxModeChanged : function(){
            this.update_mode = !this.update_mode;
        },

        resetData : function(){
            this.loadContractData();
            this.boxModeChanged();
            this.formValidate.resetForm();
        },

        service_package_changed : function(value){
            this.service_package = value;
        },

        loadConfig () {

            this.isLoading = true

            return contractPushdyService.getConfig(this.id)
            .then( response => {
                this.config = response.data
                return response   
            })
            .catch( error => {
                $.notify(error, 'error')
            })
            .finally( () => {
                this.isLoading = false
            })
        },

        bindFormValidate : function(){

            var _self = this;
            this.formValidate = $("#form-" + this.guid).validate({
                rules : {
                   'meta[discount_amount]': {
                        digits: true,
                        min : function(){ return _self.discount.min },
                        max : function(){ return _self.discount.max },
                    },
                },
                messages : {
                    'meta[discount_amount]' : {
                        digits: 'Số tiền giảm giá không hợp lệ.',
                        min : 'Số tiền giảm giá không được là kiểu số âm.',
                        max : function() { return 'Vượt mức giảm giá tối đa : ' + _self.discount.max.toLocaleString() + ' đ'},  
                    },
                },
            });
        },

        formSubmit () {

            this.isLoading = true

            const payload = {
                service_package: this.service_package,
                quantity: this.quantity,
                price: this.price,
                discount_amount: this.discount_amount
            }

            return contractPushdyService.update(this.id, payload)
            .then(response => {

                if(200 != _.get(response, 'code'))
                {
                    let _messages = _.get(response, 'error')
                    _messages = _.isString(_messages) ? [ _messages ] : _messages
                    _.forEach(_messages, o => { $.notify(o, 'error') })
                    return response
                }
                
                let _messages = _.get(response, 'messages')
                _messages = _.isString(_messages) ? [ _messages ] : _messages
                _.forEach(_messages, o => { $.notify(o, 'success') })
                setTimeout( () => { window.location.reload() }, 1500)
                return response
            })
            .catch(error => {
                $.notify(error, 'error')
            })
            .finally(() => {
                this.isLoading = false
                
            })
        },

        currencyFormat : function(value){
            let val = parseInt(value);
            if( Number.isNaN(val)) return '0 đ';
            return val.toLocaleString() + ' đ';
        },

        get ( object, properties, _default) {
            return _.get(object, properties, _default)
        }
    }
}
</script>