<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="2"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle" 
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a
                            target="_blank"
                            :href="`${admin_url}/contract/edit/${row.term_id}`"
                        >
                            <span v-if="row.contract_code">
                                <b>{{ row.contract_code }}</b>
                            </span>
                            <span v-else>
                                <i>(Nhập thông tin)</i>
                            </span>
                        </a>
                    </td>
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle" 
                    >
                        {{ row.term_type }}
                    </td>
                    <td 
                        nowrap 
                        align="right" 
                        class="datatable__cell--middle" 
                    >
                        {{ row.contract_begin }}
                    </td>
                    <td 
                        nowrap 
                        align="right" 
                        class="datatable__cell--middle" 
                    >
                        {{ row.contract_end }}
                    </td>
                    <td 
                        nowrap 
                        align="right" 
                        class="datatable__cell--middle" 
                    >
                        <b>{{ row.contract_value }}</b>
                    </td>
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle" 
                    >
                        <a
                            v-if="!isEmpty(row.staff_business_id)"
                            :href="`javascript:void(${row.staff_business_id})`"
                        >
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="row.staff_business_avatar"
                            />
                            <span> {{ row.staff_business }} </span>
                        </a>
                        <span v-else>--</span>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

    export default {
        name: "vServiceDatatable",

        components: {
            vDatatableBuilder,
        },
        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/service_management/ServiceDataset`,
            APIDefaultParams: [],

            isLoading: false,
            contracts: [],

            countStartService: 0,
            isEnableStartService: false,
            countStopService: 0,
            isEnableStopService: false,

            termIdSelected: 0,
            termNameSelected: "",

            checkAll: false,
            termIdsSelected: [],

            selectedContract: [],
            isBatchingStart: false,
            batchStartId: _.uniqueId("vServiceDatatable-BatchStartId-Modal"),
            isBatchingStop: false,
            batchStopId: _.uniqueId("vServiceDatatable-BatchStopId-Modal"),
        }),
        methods: {
            isEmpty(item) {
                return _.isEmpty(item);
            },
            datasourceChanged(items) {
                this.contracts = items;
            },
            closeUpdateBox() {
                this.termIdSelected = 0;
            },
            openUpdateBox(termId) {
                let contract = _.find(
                    this.contracts,
                    (item) => item.term_id == termId
                );

                this.termNameSelected = _.get(contract, "term_name");
                this.termIdSelected = _.get(contract, "term_id");
            },
            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
        },
    };
</script>
