<template>
    <div>
        <!-- Begin Datatable builder -->
        <v-datatable-builder
            v-if="APIEndpoint.length > 0"
            v-bind:is_filtering="false"
            v-bind:is_ordering="true"
            v-bind:is_download="true"
            v-bind:custom_datatable_rows="true"
            v-bind:custom_datatable_header="true"
            v-bind:filter_position="filter_position"
            v-bind:per_page="50"
            v-bind:remote_url="APIEndpoint"
            v-bind:default_query_params="APIDefaultParams"
            v-bind:is_load_config="false"
            v-bind:columns_ticky_at="2"
            @datasource_changed="datasourceChanged"
            class="datatable"
        >
            <template slot="table_body_header" slot-scope="{ items }">
                <tr>
                    <th
                        v-for="(heading, key, i) in items"
                        v-bind:key="`datatable-headings-${i}`"
                        nowrap="nowrap"
                        style="vertical-align: top"
                        :class="{
                            'datatable__header--min-width-10': key == 'gender',
                            'datatable__header--min-width-15':
                                key == 'zone' ||
                                key == 'department' ||
                                key == 'user_group' ||
                                key == 'user_phone' ||
                                key == 'user_status' ||
                                key == 'phone_ext' ||
                                key == 'created_on' ||
                                key == 'user_working_day',
                            'datatable__header--min-width-20': key == 'role',
                            'datatable__header--min-width-25':
                                key == 'display_name' || key == 'user_email',
                        }"
                        v-html="heading"
                    ></th>
                </tr>
            </template>
            <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td nowrap align="left" class="datatable__cell--middle">
                        <!-- v-text="row.user_id" -->
                        <div class="d-flex">
                            <a
                                :href="`javascript:void(${row.user_id})`"
                                data-toggle="modal"
                                data-target="#modal-update"
                                @click="() => openReceiptUpdateBox(row.user_id)"
                            >
                                <img
                                    class="img__avatar--sm img__avatar--circle"
                                    alt="User Image"
                                    style="margin-right: 8px"
                                    :src="row.user_avatar"
                                />
                            </a>
                            <a
                                :href="`javascript:void(${row.user_id})`"
                                data-toggle="modal"
                                data-target="#modal-update"
                                @click="() => openReceiptUpdateBox(row.user_id)"
                            >
                                <p style="margin: 0" v-if="row.display_name">
                                    <b>{{ row.display_name }}</b>
                                </p>
                                <p style="margin: 0" v-else>
                                    <i>(Nhập thông tin)</i>
                                </p>
                                <small>
                                    {{ row.role || "--" }}
                                </small>
                            </a>
                        </div>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <a
                            :href="`mailto:${row.user_email}`"
                            style="color: #333"
                        >
                            {{ row.user_email }}
                        </a>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <span v-if="row.gender != '--'">
                            <i
                                :class="{
                                    fa: true,
                                    'fa-mars': row.gender == 'Nam',
                                    'text-info': row.gender == 'Nam',
                                    'fa-venus': row.gender != 'Nam',
                                    'text-maroon': row.gender != 'Nam',
                                }"
                            ></i>
                            -
                        </span>
                        {{ row.gender }}
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.role"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.zone"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.department"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="left"
                        v-text="row.user_group"
                    ></td>
                    <td nowrap class="datatable__cell--middle" align="right">
                        <a
                            v-if="row.user_phone != '--'"
                            :href="`tel:${row.user_phone}`"
                            style="color: #333"
                        >
                            {{ row.user_phone }}
                        </a>
                        <span v-else>{{ row.user_phone }}</span>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="right">
                        <a
                            v-if="row.phone_ext != '--'"
                            :href="`tel:${row.phone_ext}`"
                            style="color: #333"
                        >
                            {{ row.phone_ext }}
                        </a>
                        <span v-else>{{ row.phone_ext }}</span>
                    </td>
                    <td nowrap class="datatable__cell--middle" align="left">
                        <i
                            :class="{
                                fa: true,
                                'fa-lock': row.user_status == 'Khoá',
                                'text-yellow': row.user_status == 'Khoá',
                                'fa-check': row.user_status == 'Hoạt động',
                                'text-green': row.user_status == 'Hoạt động',
                                'fa-close':
                                    row.user_status == 'Không hoạt động',
                                'text-red':
                                    row.user_status == 'Không hoạt động',
                            }"
                        ></i>
                        - {{ row.user_status }}
                    </td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.user_working_day"
                    ></td>
                    <td
                        nowrap
                        class="datatable__cell--middle"
                        align="right"
                        v-text="row.created_on"
                    ></td>
                    <td class="datatable__cell--middle" align="center">
                        <div class="btn-group" style="no-wrap">
                            <button
                                type="button"
                                class="btn btn-sm btn-primary btn-flat"
                                data-toggle="modal"
                                data-target="#modal-update"
                                @click="() => openReceiptUpdateBox(row.user_id)"
                            >
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </template>
        </v-datatable-builder>
        <!-- End Datatable builder -->

        <!-- Begin model update staff -->
        <div class="modal right fade" id="modal-update">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Cập nhật thông tin nhân sự</h4>
                    </div>
                    <div class="modal-body" v-if="updateStaffId > 0">
                        <v-staff-update
                            v-bind:id="updateStaffId"
                            @updated="updated"
                        />
                    </div>
                </div>
            </div>
        </div>
        <!-- End model update staff -->
    </div>
</template>

<script>
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vStaffUpdate from "@/components/staffs/StaffUpdate.vue";

    export default {
        name: "vStaffListDatatable",

        components: {
            vDatatableBuilder,
            vStaffUpdate,
        },

        data: () => ({
            admin_url: admin_url,
            base_url: base_url,
            filter_position: 1,
            loading: false,
            APIEndpoint: `${base_url}api-v2/staffs/Dataset`,
            APIDefaultParams: [],

            updateStaffId: 0,
            staffIdsSelected: [],
            checkAll: false,

            staffs: [],
            isLoading: false,
        }),

        mounted() {
            $("#modal-update").on("hide.bs.modal", () => {
                this.closeUpdateBox();
            });
        },

        methods: {
            datasourceChanged(items) {
                this.staffs = items;
            },

            closeUpdateBox() {
                this.updateStaffId = 0;
            },

            openReceiptUpdateBox(receiptId) {
                this.updateStaffId = receiptId;
            },

            updated() {
                let _tmp = this.APIEndpoint;
                this.APIEndpoint = "";

                setTimeout(() => {
                    this.APIEndpoint = _tmp;
                }, 1000);
            },
        },
    };
</script>
