<template>
    <v-datatable-builder
        :is_filtering="false"
        :is_ordering="true"
        :is_download="true"
        :per_page="50"
        :filter_position="filter_position"
        :remote_url="APIDataset"
        v-bind:is_load_config="false"
    >
        <!-- <template slot="tools_extra_next_download">
            <a
                class="btn btn-flat btn-sm text-black pull-right"
                :href="APIDownloadAccountDisconnect"
            >
                <i class="fa fa-2x fa-download"></i>
                <br />
                Mất liên kết
            </a>
        </template> -->
    </v-datatable-builder>
</template>

<script>
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";

    export default {
        components: {
            vDatatableBuilder,
        },
        data() {
            return {
                APIDataset: ApiEndpoints.valueOf("zaloads") + "/dataset",
                // APIDownloadAccountDisconnect: ApiEndpoints.valueOf("zaloads") + "/resource/export_facebook_account",
                
                filter_position: 1,
            };
        },
    };
</script>
