<template>
    <div>
        <div class="box box-primary">
            <div class="box-body">
                <h4>Kỹ thuật thực hiện</h4>
                <table
                    border="1"
                    cellpadding="2"
                    cellspacing="1"
                    class="
                        table table-responsive table-bordered table-hover
                        datatable
                    "
                >
                    <thead>
                        <tr>
                            <th style="width: 5rem">STT</th>
                            <th>Kỹ thuật thực hiện</th>
                            <th
                                align="center"
                                class="datatable__cell--middle"
                                style="width: 10rem"
                            >
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody v-if="isEmpty(get(setting, 'kpi'))">
                        <tr>
                            <td colspan="3">Kỹ thuật chưa được cấu hình</td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr
                            v-for="(kpi, index) in get(setting, 'kpi')"
                            :key="`zaloads-kpi-${index}`"
                        >
                            <td align="center">{{ index + 1 }}</td>
                            <td align="left">
                                {{ get(kpi, "display_name") }} -
                                {{ get(kpi, "user_email") }}
                            </td>
                            <td
                                align="center"
                                class="datatable__cell--middle"
                                style="width: 10rem"
                            >
                                <button
                                    class="btn btn-sm btn-danger"
                                    @click="() => removeKpi(get(kpi, 'kpi_id'))"
                                >
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>Cấu hình kỹ thuật</h4>
                <div
                    style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    "
                >
                    <div style="width: 90%; padding-right: 1rem">
                        <Multiselect
                            :id="`input-staff-${uuid}`"
                            select-label="Gán nhân viên kỹ thuật"
                            label="display_name"
                            track-by="user_id"
                            placeholder="Nhân viên kỹ thuật"
                            :options="staffs"
                            :allowEmpty="false"
                            :show-labels="false"
                            :custom-label="
                                ({ display_name, user_email }) =>
                                    `${display_name} - ${user_email}`
                            "
                            :disabled="isLoading"
                            name="staff"
                            v-model="staff"
                            v-validate="`required`"
                            data-vv-as="Nhân viên kỹ thuật"
                        >
                        </Multiselect>
                    </div>
                    <div style="width: 10%; padding-left: 1rem">
                        <button
                            class="btn btn-block btn-success"
                            @click="addKpi"
                        >
                            Thêm
                        </button>
                    </div>
                </div>
            </div>

            <div v-if="isLoading" class="overlay">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import Multiselect from "vue-multiselect";
    import _get from "lodash/get";
    import _isEmpty from "lodash/isEmpty";

    import { contractZaloadsService } from "@/_services/contract.zaloads.service.js";

    export default {
        name: "v-zaloads-configuration-kpi-box",
        props: {
            term_id: {
                type: [String, Number],
                required: true,
            },
        },
        components: {
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            contract: {},
            setting: [],
            staffs: [],

            staff: null,
        }),
        methods: {
            get(item, ref) {
                return _get(item, ref);
            },
            isEmpty(item) {
                return _isEmpty(item);
            },
            async getContract() {
                let { data } = await contractZaloadsService.get(this.term_id);
                if (_.isEmpty(data)) {
                    this.contract = {};

                    return;
                }

                this.contract = data;
            },
            async getSetting() {
                let { data } = await contractZaloadsService.getSetting(
                    _.get(this.contract, "term_id")
                );
                if (_.isEmpty(data)) {
                    this.setting = [];

                    return;
                }

                this.setting = data;
            },
            async getKpiStaffs() {
                let { data } = await contractZaloadsService.getKpiStaffs();
                if (_.isEmpty(data)) {
                    this.staffs = [];

                    return;
                }

                this.staffs = data;
            },
            genRequestData() {
                let data = {
                    staffId: _.get(this.staff, "user_id"),
                };

                return data;
            },
            async addKpi() {
                let result = await this.$validator.validate();
                if (!result) return result;

                this.isLoading = true;

                let requestData = this.genRequestData();
                try {
                    let response = await contractZaloadsService.addKpi(
                        _.get(this.contract, "term_id"),
                        requestData
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getSetting();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async removeKpi(staffId) {
                this.isLoading = true;

                try {
                    let response = await contractZaloadsService.removeKpi(
                        _.get(this.contract, "term_id"),
                        staffId
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getSetting();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
        },
        async mounted() {
            this.isLoading = true;

            await this.getContract();
            await this.getSetting();
            await this.getKpiStaffs();

            this.isLoading = false;
        },
    };
</script>
