<script>
import get from 'lodash/get'
import CardContrainer from '../../CardContrainer.vue';
export default {
    components: { CardContrainer },
    props: {
        is_loading: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Array,
            default: () => []
        }
    },

    data() {
        return {
            options: {
                    chart: {
                        type: "variablepie",
                    },
                    title: {
                        text: "Thống kê ngân sách - chi tiêu",
                    },
                    tooltip: {
                        pointFormat: "{series.name}: <b>{point.y}</b>",
                    },
                    accessibility: {
                        point: {
                            valueSuffix: "%",
                        },
                    },
                    series: [
                        {
                            name: "Số tiền",
                            data: [
                                {
                                    name: 'Ngân sách còn lại',
                                    y: 94,
                                    z:100,
                                },
                                {
                                    name: 'Chạy lố',
                                    y: 1500,
                                    z:1000,

                                },
                            ],
                        },
                    ],
                }
        }
    },

    watch: {

        is_loading: {
            deep: true,
            handler(newValue) {
                if (newValue) {
                    this.render_chart(this.options).showLoading();
                }
                else {
                    this.render_chart(this.options).hideLoading();
                }
            },
        },
        data: {
            deep: true,
            handler(newValue) {
                this.options.series[0].data = newValue
                this.render_chart(this.options)
            }
        },

    },

    methods: {
        _get(obj, path, defaultValue = {}) {
            return get(obj, path, defaultValue);
        },

        render_chart(options) {
            // Create the chart
            Highcharts.setOptions({
                lang: {
                    noData: 'Không có dữ liệu',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('idServicePecent', options);
        }
    }
}
</script>

<template>
    <card-contrainer>
        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                    Tỷ trọng của từng dịch vụ
                </b>
            </h5>
        </template>
        <template #card-body>
            <div id="idServicePecent"></div>
        </template>
    </card-contrainer>
</template>

