<template>
    <div class="box box-widget" style="box-shadow: none">
        <div class="box-body" style="padding: 0">
            <table
                border="1"
                cellpadding="2"
                cellspacing="1"
                class="
                    table table-responsive table-bordered table-hover
                    datatable
                "
            >
                <thead>
                    <tr>
                        <th>Kỹ thuật thực hiện</th>
                        <th
                            align="center"
                            class="datatable__cell--middle"
                            style="width: 10rem"
                        >
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(staff, index) in setting"
                        :key="`staff-${index}-${uuid}`"
                    >
                        <td>
                            {{ staff.display_name }} -
                            {{ staff.user_email }}
                        </td>
                        <td align="center" class="datatable__cell--middle">
                            <a
                                :href="`javascript:void(${index})`"
                                class="btn btn-danger btn-flat btn-xs"
                                :disabled="isLoading || is_locked"
                                @click="() => removeKpi(staff.kpi_id)"
                            >
                                Xóa
                            </a>
                        </td>
                    </tr>
                    <tr v-if="!is_locked">
                        <td>
                            <div
                                :class="{
                                    'form-group': true,
                                    'has-error': errors.first('staff'),
                                }"
                                style="margin: 0"
                            >
                                <Multiselect
                                    :id="`input-staff-${uuid}`"
                                    select-label="Gán nhân viên kỹ thuật"
                                    label="display_name"
                                    track-by="user_id"
                                    placeholder="Nhân viên kỹ thuật"
                                    :options="staffs"
                                    :allowEmpty="false"
                                    :show-labels="false"
                                    :custom-label="
                                        ({ display_name, user_email }) =>
                                            `${display_name} - ${user_email}`
                                    "
                                    :disabled="isLoading"
                                    name="staff"
                                    v-model="staff"
                                    v-validate="`required`"
                                    data-vv-as="Nhân viên kỹ thuật"
                                >
                                </Multiselect>
                                <span class="text-danger">
                                    {{ errors.first("staff") }}
                                </span>
                            </div>
                        </td>
                        <td align="center" class="datatable__cell--middle">
                            <button
                                class="btn btn-success btn-flat btn-xs"
                                :disabled="isLoading"
                                @click="addKpi"
                            >
                                Thêm
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>

<script>
    import { v4 as uuidv4 } from "uuid";
    import Multiselect from "vue-multiselect";

    import { oneadService } from "@/_services/onead.service.js";

    export default {
        props: {
            id: {
                type: [String, Number],
                required: true,
            },
            is_locked: {
                type: [String, Boolean],
                required: true,
            },
        },
        components: {
            Multiselect,
        },
        data: () => ({
            uuid: uuidv4(),

            isLoading: false,

            contract: {},
            setting: [],
            staffs: [],

            staff: null,
        }),
        methods: {
            async getContract() {
                let { data } = await oneadService.getContract(this.id);
                if (_.isEmpty(data)) {
                    this.contract = {};

                    return;
                }

                this.contract = data;
            },
            async getSetting() {
                let { data } = await oneadService.getSetting(
                    _.get(this.contract, "term_id")
                );
                if (_.isEmpty(data)) {
                    this.setting = [];

                    return;
                }

                this.setting = data;
            },
            async getStaffs() {
                let { data } = await oneadService.getStaffs();
                if (_.isEmpty(data)) {
                    this.staffs = [];

                    return;
                }

                this.staffs = data;
            },
            genRequestData() {
                let data = {
                    staffId: _.get(this.staff, "user_id"),
                };

                return data;
            },
            async addKpi() {
                let result = await this.$validator.validate();
                if (!result) return result;

                this.isLoading = true;

                let requestData = this.genRequestData();
                try {
                    let response = await oneadService.addKpi(
                        _.get(this.contract, "term_id"),
                        requestData
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getSetting();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
            async removeKpi(kpiId) {
                if (this.is_locked) {
                    return;
                }

                this.isLoading = true;

                try {
                    let response = await oneadService.removeKpi(
                        _.get(this.contract, "term_id"),
                        kpiId
                    );

                    if (200 == _.get(response, "code")) {
                        $.notify(_.get(response, "message"), "success");

                        await this.getSetting();

                        return response;
                    }

                    const _messages = _.isString(_.get(response, "message"))
                        ? [_.get(response, "message")]
                        : _.values(_.get(response, "message"));
                    if (403 == _.get(response, "code"))
                        throw new Error(_.first(_messages));
                    throw new Error(_.first(_messages));
                } catch (error) {
                    $.notify(error, "error");
                } finally {
                    this.isLoading = false;
                }
            },
        },
        async mounted() {
            this.isLoading = true;

            await this.getContract();
            await this.getSetting();
            await this.getStaffs();

            this.isLoading = false;
        },
    };
</script>
