<script>
    export default {
        methods: {
            handleSubmit(event) {
                event.preventDefault();

                if ("" == this.input.ACCOUNT_ID
                    || "" == this.input.CONTAINER_ID
                    || "" == this.input.MAGA4) {
                    this.error = "Bắt buộc phải nhập trường này";

                    return;
                }

                if (this.input.MAGA4 != "") {
                    this.error = "";

                    // Clone default
                    this.json_data = '' + this.default_json_data;

                    this.json_data = this.json_data.replaceAll("<ACCOUNT_ID>", this.input.ACCOUNT_ID.trim());
                    this.json_data = this.json_data.replaceAll("<CONTAINER_ID>", this.input.CONTAINER_ID.trim());
                    this.json_data = this.json_data.replaceAll("<GA4>", this.input.MAGA4.trim());
                    this.json_data = this.json_data.replaceAll("<MACD>", this.input.MACD.trim());
                    this.json_data = this.json_data.replaceAll("<MAPHONE>", this.input.MAPHONE.trim());
                    this.json_data = this.json_data.replaceAll("<MAZALO>", this.input.MAZALO.trim());
                    this.json_data = this.json_data.replaceAll("<MAFORM>", this.input.MAFORM.trim());

                    this.success = "Chuyển đổi thành công";

                    this.parse_json =
                        "data:text/json;charset=utf-8, " +
                        encodeURIComponent(this.json_data);

                    this.state_download.state = true;
                    this.state_download.href = this.parse_json;
                    this.state_download.download = "tool_replace_noi_bo.json";
                }
            },

            reset()
            {
                this.input = {
                    ACCOUNT_ID: "",
                    CONTAINER_ID: "",
                    MAGA4: "",
                    MACD: "",
                    MAPHONE: "",
                    MAZALO: "",
                    MAFORM: "",
                };
                this.parse_json = "";
                this.json_data = "";
                this.success = "";
                this.error = "";
                this.state_download = {
                    state: false,
                    href: "",
                    download: "",
                };
            }
        },

        data() {
            return {
                input: {
                    ACCOUNT_ID: "",
                    CONTAINER_ID: "",
                    MAGA4: "",
                    MACD: "",
                    MAPHONE: "",
                    MAZALO: "",
                    MAFORM: "",
                },
                url_detect: null,
                parse_json: "",
                default_json_data:`{"exportFormatVersion": 2,"containerVersion": {"path": "accounts/<ACCOUNT_ID>/containers/<CONTAINER_ID>/versions/0","accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","containerVersionId": "0","container": {"path": "accounts/<ACCOUNT_ID>/containers/<CONTAINER_ID>","accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","usageContext": ["WEB"],"tagManagerUrl": "https://tagmanager.google.com/#/container/accounts/<ACCOUNT_ID>/containers/<CONTAINER_ID>/workspaces?apiLink=container","features": {"supportUserPermissions": true,"supportEnvironments": true,"supportWorkspaces": true,"supportGtagConfigs": false,"supportBuiltInVariables": true,"supportClients": false,"supportFolders": true,"supportTags": true,"supportTemplates": true,"supportTriggers": true,"supportVariables": true,"supportVersions": true,"supportZones": true}},"tag": [{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "3","name": "Google Analytics GA4 Configuration","type": "gaawc","parameter": [{"type": "BOOLEAN","key": "sendPageView","value": "true"},{"type": "BOOLEAN","key": "enableSendToServerContainer","value": "false"},{"type": "TEMPLATE","key": "measurementId","value": "<GA4>"}],"fingerprint": "1681705241126","firingTriggerId": ["2147479553"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "8","name": "Conversion Linker","type": "gclidw","parameter": [{"type": "BOOLEAN","key": "enableCrossDomain","value": "false"},{"type": "BOOLEAN","key": "enableUrlPassthrough","value": "false"},{"type": "BOOLEAN","key": "enableCookieOverrides","value": "false"}],"fingerprint": "1681705241129","firingTriggerId": ["2147479553"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "9","name": "Re Tag","type": "sp","parameter": [{"type": "BOOLEAN","key": "enableConversionLinker","value": "true"},{"type": "BOOLEAN","key": "enableDynamicRemarketing","value": "false"},{"type": "TEMPLATE","key": "conversionCookiePrefix","value": "_gcl"},{"type": "TEMPLATE","key": "conversionId","value": "<MACD>"},{"type": "TEMPLATE","key": "customParamsFormat","value": "NONE"},{ "type": "BOOLEAN", "key": "rdp", "value": "false" }],"fingerprint": "1681705241129","firingTriggerId": ["2147479553"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "10","name": "AdsPhone","type": "awct","parameter": [{"type": "BOOLEAN","key": "enableNewCustomerReporting","value": "false"},{"type": "BOOLEAN","key": "enableConversionLinker","value": "true"},{"type": "BOOLEAN","key": "enableProductReporting","value": "false"},{"type": "BOOLEAN","key": "enableEnhancedConversion","value": "false"},{"type": "TEMPLATE","key": "conversionCookiePrefix","value": "_gcl"},{"type": "BOOLEAN","key": "enableShippingData","value": "false"},{"type": "TEMPLATE","key": "conversionId","value": "<MACD>"},{"type": "TEMPLATE","key": "conversionLabel","value": "<MAPHONE>"},{ "type": "BOOLEAN", "key": "rdp", "value": "false" }],"fingerprint": "1681705241126","firingTriggerId": ["4"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "12","name": "GA4Phone","type": "gaawe","parameter": [{"type": "BOOLEAN","key": "sendEcommerceData","value": "false"},{"type": "TEMPLATE","key": "eventName","value": "Phone"},{"type": "TAG_REFERENCE","key": "measurementId","value": "Google Analytics GA4 Configuration"}],"fingerprint": "1681705241126","firingTriggerId": ["4"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "13","name": "AdsZalo","type": "awct","parameter": [{"type": "BOOLEAN","key": "enableNewCustomerReporting","value": "false"},{"type": "BOOLEAN","key": "enableConversionLinker","value": "true"},{"type": "BOOLEAN","key": "enableProductReporting","value": "false"},{"type": "BOOLEAN","key": "enableEnhancedConversion","value": "false"},{"type": "TEMPLATE","key": "conversionCookiePrefix","value": "_gcl"},{"type": "BOOLEAN","key": "enableShippingData","value": "false"},{"type": "TEMPLATE","key": "conversionId","value": "<MACD>"},{"type": "TEMPLATE","key": "conversionLabel","value": "<MAZALO>"},{ "type": "BOOLEAN", "key": "rdp", "value": "false" }],"fingerprint": "1681705241127","firingTriggerId": ["8"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "15","name": "GA4Zalo","type": "gaawe","parameter": [{"type": "BOOLEAN","key": "sendEcommerceData","value": "false"},{ "type": "TEMPLATE", "key": "eventName", "value": "Zalo" },{"type": "TAG_REFERENCE","key": "measurementId","value": "Google Analytics GA4 Configuration"}],"fingerprint": "1681705241129","firingTriggerId": ["8"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "18","name": "AdsForm","type": "awct","parameter": [{"type": "BOOLEAN","key": "enableNewCustomerReporting","value": "false"},{"type": "BOOLEAN","key": "enableConversionLinker","value": "true"},{"type": "BOOLEAN","key": "enableProductReporting","value": "false"},{"type": "BOOLEAN","key": "enableEnhancedConversion","value": "false"},{"type": "TEMPLATE","key": "conversionCookiePrefix","value": "_gcl"},{"type": "BOOLEAN","key": "enableShippingData","value": "false"},{"type": "TEMPLATE","key": "conversionId","value": "<MACD>"},{"type": "TEMPLATE","key": "conversionLabel","value": "<MAFORM>"},{ "type": "BOOLEAN", "key": "rdp", "value": "false" }],"fingerprint": "1681705241128","firingTriggerId": ["10"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","tagId": "20","name": "GA4Form","type": "gaawe","parameter": [{"type": "BOOLEAN","key": "sendEcommerceData","value": "false"},{ "type": "TEMPLATE", "key": "eventName", "value": "Form" },{"type": "TAG_REFERENCE","key": "measurementId","value": "Google Analytics GA4 Configuration"}],"fingerprint": "1681705241128","firingTriggerId": ["10"],"tagFiringOption": "ONCE_PER_EVENT","monitoringMetadata": { "type": "MAP" },"consentSettings": { "consentStatus": "NOT_SET" }}],"trigger": [{"accountId": "6083115008","containerId": "112879819","triggerId": "4","name": "Phone Trigger","type": "LINK_CLICK","filter": [{"type": "CONTAINS","parameter": [{"type": "TEMPLATE","key": "arg0","value": "{{Click URL}}"},{"type": "TEMPLATE","key": "arg1","value": "tel:"}]},{"type": "CONTAINS","parameter": [{"type": "TEMPLATE","key": "arg0","value": "{{MobileVariable}}"},{ "type": "TEMPLATE", "key": "arg1", "value": "M" }]}],"waitForTags": { "type": "BOOLEAN", "value": "false" },"checkValidation": { "type": "BOOLEAN", "value": "false" },"waitForTagsTimeout": { "type": "TEMPLATE", "value": "2000" },"uniqueTriggerId": { "type": "TEMPLATE" },"fingerprint": "1681705241125"},{"accountId": "6083115008","containerId": "112879819","triggerId": "8","name": "Zalo Trigger","type": "LINK_CLICK","filter": [{"type": "CONTAINS","parameter": [{"type": "TEMPLATE","key": "arg0","value": "{{Click URL}}"},{"type": "TEMPLATE","key": "arg1","value": "zalo.me"}]}],"waitForTags": { "type": "BOOLEAN", "value": "false" },"checkValidation": { "type": "BOOLEAN", "value": "false" },"waitForTagsTimeout": { "type": "TEMPLATE", "value": "2000" },"uniqueTriggerId": { "type": "TEMPLATE" },"fingerprint": "1681705241127"},{"accountId": "6083115008","containerId": "112879819","triggerId": "10","name": "Form Trigger","type": "FORM_SUBMISSION","waitForTags": { "type": "TEMPLATE" },"checkValidation": { "type": "TEMPLATE" },"waitForTagsTimeout": { "type": "TEMPLATE", "value": "2000" },"uniqueTriggerId": { "type": "TEMPLATE" },"fingerprint": "1681705241127"}],"variable": [{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","variableId": "3","name": "MobileVariable","type": "jsm","parameter": [{"type": "TEMPLATE","key": "javascript","value": "function checkMobile() {if (/Android|webOS|iPhone|iPad|iPod|Blackberry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {return \\\"M\\\";} else {return \\\"D\\\"}}"}],"formatValue": {}}],"builtInVariable": [{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "PAGE_URL","name": "Page URL"},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "PAGE_HOSTNAME","name": "Page Hostname"},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "PAGE_PATH","name": "Page Path"},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "REFERRER","name": "Referrer"},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "EVENT","name": "Event"},{"accountId": "<ACCOUNT_ID>","containerId": "<CONTAINER_ID>","type": "CLICK_URL","name": "Click URL"}],"tagManagerUrl": "https://tagmanager.google.com/#/versions/accounts/<ACCOUNT_ID>/containers/<CONTAINER_ID>/versions/0?apiLink=version"}}`,
                json_data: '',
                success: "",
                error: "",
                state_download: {
                    state: false,
                    href: "",
                    download: "",
                },
            };
        },

        watch: {
            url_detect(value){
                let regex = /^(https:\/\/)?tagmanager.google.com\/\#\/container\/accounts\/(\d+)\/containers\/(\d+)\/workspaces*/;
                let match = value.match(regex);
                
                if(!_.isEmpty(match[2]))
                {
                    this.input.ACCOUNT_ID = match[2];
                }

                if(!_.isEmpty(match[3]))
                {
                    this.input.CONTAINER_ID = match[3];
                }
            }
        }
    };
</script>

<template>
    <form @submit="handleSubmit" class="form-horizontal">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label for="url_detect" class="col-sm-2 control-label">
                        URL Tag manager
                    </label>
                    <div class="col-sm-10">
                        <input
                            v-model="url_detect"
                            type="text"
                            class="form-control"
                        />
                        <span class="help-block">Đường dẫn Tag manager để bóc tách tự động thông tin Account ID và Container ID</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ACCOUNT_ID" class="col-sm-2 control-label">
                        Account ID
                    </label>
                    <div class="col-sm-10">
                        <input
                            v-model="input.ACCOUNT_ID"
                            type="text"
                            class="form-control"
                        />
                        <label class="error" v-if="error">{{ error }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="CONTAINER_ID" class="col-sm-2 control-label">
                        Container ID
                    </label>
                    <div class="col-sm-10">
                        <input
                            v-model="input.CONTAINER_ID"
                            type="text"
                            class="form-control"
                        />
                        <label class="error" v-if="error">{{ error }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MAGA4" class="col-sm-2 control-label">
                        Mã GA4
                    </label>
                    <div class="col-sm-10">
                        <input
                            v-model="input.MAGA4"
                            type="text"
                            class="form-control"
                        />
                        <label class="error" v-if="error">{{ error }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MACD" class="col-sm-2 control-label"
                        >Mã chuyển đổi phone, zalo, tiếp thị lại</label
                    >
                    <div class="col-sm-10">
                        <input
                            v-model="input.MACD"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MAGA4" class="col-sm-2 control-label"
                        >Nhãn chuyển đổi phone</label
                    >
                    <div class="col-sm-10">
                        <input
                            v-model="input.MAPHONE"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MAGA4" class="col-sm-2 control-label"
                        >Nhãn chuyển đổi zalo</label
                    >
                    <div class="col-sm-10">
                        <input
                            v-model="input.MAZALO"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MAGA4" class="col-sm-2 control-label"
                        >Nhãn chuyển đổi form</label
                    >
                    <div class="col-sm-10">
                        <input
                            v-model="input.MAFORM"
                            type="text"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <label v-if="'' != success" class="col-sm-10 text-green left">
                        <i class="fa fa-check-circle" style="margin-right: 4px"></i><b>{{ success }}</b>
                    </label>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                    Thay thế chuỗi
                </button>
                <a
                    v-if="state_download.state"
                    class="btn btn-success"
                    :download="state_download.download"
                    :href="state_download.href"
                >
                    Tải file
                </a>
                <a class="btn btn-defalt" @click="reset">
                    Reset
                </a>
            </div>
        </div>
    </form>
</template>
