<script>
import get from 'lodash/get';
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
import { getGroupId } from '../../../_helpers/utils.helpers';

import ChartReportAggrate from '../CharReportAggregate/ChartReportAggrate.vue';
export default {
        components: { ChartReportAggrate },

    data() {
        return {
            isLoading: false,
            data: [],
        }
    },

    mounted() {
        this.getAggregate({
            group_id: this._getGroupId(),
            metrics: 'commission,revenue,newContracts,renewalContracts,kpi'
        })
    },

    methods: {
        _get(obj, path, defaultValue = {}) {
            return get(obj, path, defaultValue);
        },

        _getGroupId() {
            return getGroupId();
        },

        getAggregate(payload = {}) {
            this.isLoading = true
            return dashboardSaleManagerService.getAggegate(payload).then(response => {
                this.data = this._get(response, 'data', [])
                return response
            })
                .finally(() => {
                    this.isLoading = false
                })
        }
    }
}
</script>

<template>
    <div>
        <chart-report-aggrate :is_loading="isLoading" :data="data"/>
    </div>
</template>