<script>
import get from 'lodash/get'
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service'
import { getGroupId } from '../../../_helpers/utils.helpers'
import ChartKpiRevenue from '../ChartKpiRevenue/ChartKpiRevenue.vue'
export default {
    components: { ChartKpiRevenue },
    data() {
        return {
            is_loading: false,
            data: {

            }
        }
    },

    mounted() {
        this.getKpiRevenue({
            group_id: this._getGroupId()
        })
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _getGroupId() {
            return getGroupId()
        },
        getKpiRevenue(payload = {}) {
            this.is_loading = true
            // this.data = {
            //     "currentRevenue": 48000,
            //     "targetRevenue": 50000,  
            //     "estimatedCommission": 2400,
            //     "currentCommission": 2300
            // }
            return dashboardSaleManagerService.getKpiRevenue(payload).then(response => {
                this.data = this._get(response, 'data[0]', {})
                return response
            })
            .finally(() => {
                this.is_loading = false
            })
        }
    }
}
</script>

<template>
    <div>
        <chart-kpi-revenue :data="data" :is_loading="is_loading" view_type="text" title="Tiến độ Kpi theo doanh thu"/>
    </div>
</template>