<script>
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import ChartSaleServiceStack from '../ChartSaleServiceStack/ChartSaleServiceStack.vue';
export default {
    components: { ChartSaleServiceStack },
    data() {
        return {
            is_loading: false,
            data: {},
        }
    },

    mounted() {
        this.getData()
    },

    methods: {
        _get(object, path, defaultValue = {}) {
            return get(object, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },

        getItemLength(obj) {
            return Object.keys(obj).length
        },

        getItemMaxLength(array) {
            let maxLength = this.getItemLength(array[0]);
            let result = array[0];
            array.forEach(item => {
                if (this.getItemLength(item) > maxLength) {
                    maxLength = this.getItemLength(item);
                    result = item
                }
            });

            return result;
        },

        getData(payload = {}) {
            this.is_loading = true
            var example = [
                {
                    name: 'lebaonhi',
                    dv1: 434,
                    dv2: 443,
                    // dv3: 232,
                    dv4: 443,
                },
                {
                    name: 'thanhnhan',
                    dv1: 231,
                    dv2: 978,
                    dv3: 435,
                    dv4: 234,
                },
                {
                    name: 'longnguyen',
                    // dv1: 222,
                    dv2: 564,
                    // dv3: 284,
                    dv4: 184,
                },
                {
                    name: 'haianh',
                    dv1: 222,
                    dv2: 564,
                    // dv3: 284,
                    dv4: 184,
                },
                {
                    name: 'vantoan',
                    dv1: 222,
                    // dv2: 564,
                    // dv3: 284,
                    dv4: 184,
                },
            ]

            const outputData = {};

            // Duyệt qua mảng để xây dựng đối tượng đầu ra
            example.forEach(item => {
                for (const key in this.getItemMaxLength(example)) {
                    if (!outputData[key]) {
                        outputData[key] = [];
                    }
                    outputData[key].push(item[key] || 0);
                }
            });

            this.data = outputData

            return dashboardSaleManagerService.getDataSaleServiceStack(payload).then(response => {
                this.data = this._get(response, 'data', [])
                return response
            })
                .finally(() => {
                    this.is_loading = false
                })
        }
    },
}
</script>

<template>
    <div>
        <chart-sale-service-stack :is_loading="is_loading" :data="data" />
    </div>
</template>