<script>

import CardContrainer from '../../CardContrainer.vue'
import DataTable from 'datatables.net-dt';
import _get from 'lodash/get';
import "../personal/style.css"
import { dashboardSaleService } from '../../../_services/dashboard.sale.service';
import { getSaleId } from '../../../_helpers/utils.helpers';
import Placeholder from '../../Placeholder.vue';
import moment from 'moment'
import store from '@/store/store.js';

export default {
    components: {
        CardContrainer,
        Placeholder
    },
    store,
    data() {
        return {
            is_loading: false,
            is_first_load: true,
            data_tables: null,
           
            row_table: [],
            options_table: {
                processing: true,
                data: [],
                language: {
                    emptyTable: '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 150px;"><div style="color: red;">Không có dữ liệu</div></div>',
                    zeroRecords: "Không tìm thấy dữ liệu phù hợp",
                },
                info:false,
                // Config options...
                searching: false,
                paging: false,
                scrollX: true,
                fixedColumns: {
                    left: 1,
                },
                scrollY: 240,
                columns: [
                    { 
                        data: 'rank', 
                        title: 'RANK',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span class="text-primary" style="font-weight: 700">' + (data) + '</span>';
                        }
                    },
                    { data: 'name', title: 'Tên thành viên', },
                    {
                        data: 'kpiRevenue', 
                        title: 'Doanh thu',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="color: blue;font-weight: 700">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                
                    },
                    { 
                        data: 'kpiTarget', 
                        title: 'Mục tiêu',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="color: red;font-weight: 700">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                    },
                    { 
                        data: 'team', 
                        title: 'Nhóm',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="font-weight: 700">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                    },
                    { 
                        data: 'rankInTeam', 
                        title: 'RANK theo phòng ban',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="font-weight: 700; font-style: italic; font-weight: 700">#' + Number(data) + '</span>';
                        }
                    },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-left dt-head-left',
                    },
                    {
                        targets: 1,
                        className: 'dt-body-left dt-head-left ',
    
                    },
                    {
                        targets: 2,
                        className: 'dt-body-right dt-head-right ',
                    
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right dt-head-right ',
                    
                    },
                    {
                        targets: 4,
                        className: 'dt-body-left dt-head-left ',
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right dt-head-right ',
                    },
                ]
            }
        }
    },


    mounted(){
        this.get_data_table_contract()

    },

    methods: {
        get(object, path, defaultValue) {
            return _get(object, path, defaultValue);

        },

        _getSaleId() {
            return getSaleId()
        },
        render_table(options) {

            // Initialize DataTable with your configuration options
            return new DataTable('#customer_source_statistics_table', options);

        },

        get_data_table_contract() {
            this.is_loading = true

            if (!this.is_first_load) {
                this.data_tables.destroy();
            }

            // if(process.env.NODE_ENV !== 'production')
            // {
            //     this.options_table.data  = [  {
            //         "rank": "3933/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSSECRETVN",
            //         "name": '04/04/2015',
            //         "kpiRevenue": '8000000',
            //         "team": '8000000',
            //         "service_percent": '5',
            //         "kpiTarget": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 1,
            //         "status": 'Approved',
            //     },
            //     {
            //         "rank": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123USSECRETVN",
            //         "name": '04/04/2015',
            //         "kpiRevenue": '18000000',
            //         "team": '33000000',
            //         "service_percent": '5',
            //         "kpiTarget": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 0,
            //         "status": 'Approved',
            //     },]

            //     this.is_loading = false
            //     this.$nextTick(() => {
            //         this.render_table()
            //     })

            //     return
            // }

            this.row_table = []
            return dashboardSaleService.getDataTableNewContract({ sale_id: this._getSaleId(), month: this.choose_month, day: 0 }).then(response => {
                let data_response = this.get(response, 'data', [])
                for (let index = 0; index < data_response.length; index++) {
                    let data_temp = {
                        ...data_response[index],
                        'rank': this.get(data_response[index], 'code', '--'),
                        'name': this.get(data_response[index], 'service', '--'),
                        'kpiRevenue': this.get(data_response[index], 'budget', '--'),
                        'kpiTarget': this.get(data_response[index], 'budget', '--'),
                        'team': this.get(data_response[index], 'service_fee_percent', '--'),
                        'action': this.get(data_response[index], 'contract_id')
                    }
                    this.row_table[index] = data_temp
                }
                this.options_table.data = this.row_table
                return
            })
                .finally(() => {
                    this.is_loading = false
                    this.is_first_load = false
                    this.$nextTick(() => {
                        this.data_tables = this.render_table(this.options_table)
                    })
                })
        }
    },
    computed: {
        choose_month() {
            return this.$store.state.dimensionDashboard.dimension
        }
    },

    watch: {
        choose_month: {
            handler: function (newValue) {
                this.get_data_table_contract()
            },
            deep: true
        }
    }
}
</script>

<template>
    <CardContrainer :is_header="true" :body_style="{
        height: '320px',
    }">

        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                    XẾP HẠNG CỦA TỪNG THÀNH VIÊN THEO DOANH THU
                </b>
            </h5>
        </template>
        <template #card-body>
            <div >
                <div style="display: flex; justify-content: center; align-items: center; min-height: 300px" width="100%"
                    v-if="is_loading">
                    <span class="text-danger">
                        Đang lấy dữ liệu....

                    </span>
                </div>
                <!-- được css từ bảng -->
                <table id="customer_source_statistics_table" class="stripe row-border nowrap hover order-column  cell-border " width="100%" 
                    v-else></table>
            </div>
        </template>

    </CardContrainer>
</template>
