
<script>

import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { converNumber, getGroupId } from '../../../_helpers/utils.helpers'
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
import ListBoxReport from '../ListBoxReport/ListBoxReport.vue';
export default {
        components: { ListBoxReport },
    data() {
        return {
            is_loading_commissions:
                false,

            is_loading_new_renewal_counts:
                false,

            is_loading_rankings:
                false,

            commissions:
            {

            },

            new_renewal_counts:
            {

            },

            rankings:
            {

            }
        }
    },

    mounted() {
        this.getCommissions();
        this.getNewRenewalCounts();
        this.getRankings();
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },

        _converNumber(number) {
            return converNumber(number);
        },

        _getGroupId() {
            return getGroupId();
        },
        getCommissions() {
            this.is_loading_commissions = true;
            return dashboardSaleManagerService.getSaleCommissions({group_id: this._getGroupId()}).then( response => {
                this.commissions = this._get(response, 'data')
                if(this._isEmpty(this.commissions)) this.commissions = {}
                 
                return response
            })
            .finally(() => {
                this.is_loading_commissions = false
            })
        },

        getNewRenewalCounts() {
            this.is_loading_new_renewal_counts = true;
            return dashboardSaleManagerService.getSaleNewRenewalCounts({group_id: this._getGroupId()}).then( response => {
                this.new_renewal_counts = this._get(response, 'data')
                if(this._isEmpty(this.new_renewal_counts)) this.new_renewal_counts = {}
                 
                return response
            })
            .finally(() => {
                this.is_loading_new_renewal_counts = false
            })
        },

        getRankings() {
            this.is_loading_rankings = true;
            return dashboardSaleManagerService.getSaleRankings({group_id: this._getGroupId()}).then( response => {
                this.rankings = this._get(response, 'data')
                if(this._isEmpty(this.rankings)) this.rankings = {}
                 
                return response
            })
            .finally(() => {
                this.is_loading_rankings = false
            })
        }

    }

}
</script>

<template>
    <div>
        <list-box-report 
            :commissions="commissions" 
            :new_renewal_counts="new_renewal_counts" 
            :rankings="rankings"
            :is_loading_commissions="is_loading_commissions"
            :is_loading_new_renewal_counts="is_loading_new_renewal_counts"
            :is_loading_rankings="is_loading_rankings"
        />
    </div>
</template>
