<script>

import CardContrainer from '../../CardContrainer.vue'
import DataTable from 'datatables.net-dt';
import _get from 'lodash/get';
import "../personal/style.css"
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
import { getGroupId } from '../../../_helpers/utils.helpers';
import Placeholder from '../../Placeholder.vue';
    export default {
        components: {
            CardContrainer,
            Placeholder
        },  
       
        data() {
            return {
                is_loading: false,
                header_column_table: [
                    'Mã hợp đồng',
                    'Nhân viên kinh doanh',
                    'Ngày tạo',
                    'TG H/Đ bắt đầu',
                    'TG H/Đ kết thúc',
                    'Ngân sách đã thu',
                    'Tổng chi tiêu',
                    '% Phí dịch vụ',
                    'Giá trị hợp đồng',
                    'Dịch vụ',
                    'Ký mới',
                    'Trạng thái',
                    'Hành động'
                ],
                row_table: []
            }
        },

        mounted() {
            // Tạo một thẻ script và thêm nó vào body
            this.get_data_table_contract()
        },

        methods: {
            get(object, path, defaultValue) {
                return _get(object, path, defaultValue);

            },

            _getGroupId(){
                return getGroupId()
            },
            render_table() {
               
            // Initialize DataTable with your configuration options
                return new DataTable('#table_contract', {
                    processing: true,
                    language: {
                        emptyTable: '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 250px;"><div style="color: red; font-weight: bold;">Không có dữ liệu</div></div>',
                        zeroRecords: "Không tìm thấy dữ liệu phù hợp",
                        info: "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi"
                    },
                    // Config options...
                    searching: false,
                    paging: false,
                    scrollX: true,
                    scrollY: 400,
                    columnDefs: [
                        {
                            targets: 0  ,
                            className: 'dt-body-left dt-head-left',
                        },
                        {
                            targets: 1  ,
                            className: 'dt-body-right dt-head-right ',
                            type: 'datetime-moment',
                            render: function (data, type, row) {
                                // Định dạng ngày theo DD/MM/YYYY
                                if (type === 'sort' || type === 'type') {
                                    return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                                }
                                return data;
                            }
                      
                        },
                        {
                            targets: 2  ,
                            className: 'dt-body-left dt-head-left ',
                            type: 'datetime-moment',
                            render: function (data, type, row) {
                                // Định dạng ngày theo DD/MM/YYYY
                                if (type === 'sort' || type === 'type') {
                                    return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                                }
                                return data;
                            }
                        },
                        {
                            targets: 3  ,
                            className: 'dt-body-right dt-head-right ',
                            type: 'datetime-moment',
                            render: function (data, type, row) {
                                // Định dạng ngày theo DD/MM/YYYY
                                if (type === 'sort' || type === 'type') {
                                    return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                                }
                                return data;
                            }
                        },
                        {
                            targets: 4  ,
                            className: 'dt-body-right dt-head-right ',
                        },
                        {
                            targets: 5  ,
                            className: 'dt-body-right dt-head-right ',
                        },
                        {
                            targets: 6  ,
                            className: 'dt-body-right dt-head-right ',
                            
                        },
                        {
                            targets: 7  ,
                            className: 'dt-body-left dt-head-left ',
                            
                        },
                        {
                            targets: 8  ,
                            className: 'dt-body-center dt-head-center ',
                            
                        },
                        { targets: -1, orderable: false } 
                    ]
                });
                
            },

            get_data_table_contract(){

                this.is_loading = true


                if(process.env.NODE_ENV !== 'production')
                {
                    this.row_table = [  {
                        "code": "3933/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSSECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/11/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 1,
                        "status": 'Approved',
                    },
                    {
                        "code": "19113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSSECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/09/2014 ',
                        "budget": '10000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 1,
                        "status": 'Approved',
                    },
                    {
                        "code": "392113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123123USSECRETVN",
                        "created_at": '06/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUS12312SECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "19113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENU123SSádECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "49223113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSSádECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "21113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSssSECRETVssN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "33113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123USSEssCRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENU12312SSECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '8000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123USSECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '12/07/2014 ',
                        "budget": '18000000',
                        "spend": '33000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSS12312ECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '41000000',
                        "spend": '82000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENU12312SSECRETVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '33000000',
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },
                    {
                        "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUS123SECRE4TVN",
                        "created_at": '04/04/2015',
                        "contract_begin": '11/07/2014 ',
                        "budget": '11000000',//ngân sách đã thu
                        "spend": '8000000',
                        "service_percent": '5',
                        "contract_bugdet": '4000000',//giá trị hợp đồng
                        "service": 'Facebook Ads',
                        "is_new_sign": 0,
                        "status": 'Approved',
                    },]

                    this.is_loading = false
                    this.$nextTick(() => {
                        this.render_table()
                    })

                    return
                }

                return dashboardSaleManagerService.getDataTableNewContract({ sale_id: this._getGroupId()}).then( response => { 
                    this.data = this.get(response, 'data', [])
                    for (let index = 0; index < data.length; index++) {
                            this.row_table[index] = {
                                "code": _get(data[index] ,'code'),
                                "created_at": _get(data[index] ,'created_at'),
                                "business_staff_name": _get(data[index] ,'business_staff_name'),
                                "contract_begin": _get(data[index] ,'contract_begin'),
                                "contract_end": _get(data[index] ,'contract_end'),
                                "budget": _get(data[index] ,'budget'),
                                "spend": _get(data[index] ,'spend'),
                                "service_percent": _get(data[index] ,'service_percent'),
                                "contract_bugdet": _get(data[index] ,'contract_bugdet'),
                                "service": _get(data[index] ,'service'),
                                "is_new_sign": _get(data[index] ,'is_new_sign'),
                                "status": _get(data[index] ,'status'),
                            }
                    }
                    return response
                })
                .finally(() => {
                    this.is_loading = false
                    this.$nextTick(() => {
            
                        this.render_table()

                    })
                })
            }
        }
    }
</script>

<template>
            <CardContrainer :is_header="true">
        
                <template #card-header>
                    <h5 class="text-uppercase">
                        <b :style="{
                            display: 'flex',
                            alignItems: 'baseline',
                            gap: '8px',
                        }">
                            <i class="glyphicon glyphicon-stats"></i>
                            HỢP ĐỒNG ĐANG CÓ
                        </b>
                    </h5>
                </template>
                <template #card-body>   
                    <div >
                        <div  style="display: flex; justify-content: center; align-items: center; min-height: 400px"  width="100%" v-if="is_loading">
                            <span class="text-danger">
                                Đang lấy dữ liệu....

                            </span>
                        </div>
                        <!-- được css từ bảng -->
                        <table id="table_contract" class="stripe row-border nowrap hover order-column  cell-border " width="100%" v-else>
                          <thead >
                            <tr >
                                <th v-for="(item, key) in header_column_table" :key="key">
                                    {{ item }}
                                </th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr v-for="(item, key) in row_table" :key="key">
                                <td class="text-primary " style="font-weight: bold;">
                                    {{ get(item, 'code')}}
                                </td>
                                <td style="text-align: left; background-color: #f0f0f0; font-weight: bold">
                                    {{ get(item, 'business_staff_name', 'Đang cập nhật')}}
                                </td>
                                <td style=" text-align: right">
                                    {{ get(item, 'created_at', '--/--/----')}}
                                </td>
                                <td style=" text-align: right">
                                   {{ get(item, 'contract_begin', '--/--/----') }}
                                </td>
                                <td style=" text-align: right">
                                    {{ get(item, 'contract_end', '--/--/----') }}
                                 </td>
                                <td style="color: #605CA8; font-weight: bold ; text-align: right">
                                    <span v-if="item.budget">
                                        {{Number(get(item, 'budget' ,0)).toLocaleString('vn')}}
                                    </span>
                                    <span v-else>
                                        --
                                    </span>
                                </td>
                                <td style="color: #DC3545; font-weight: bold;  text-align: right">
                                    <span v-if="item.spend">
                                        {{Number(get(item, 'spend' ,0)).toLocaleString('vn')}}
                                    </span>
                                    <span v-else>
                                        --
                                    </span>
                                </td>
                                <td style="font-style: italic; font-weight: bold;  text-align: right">
                                    {{Number(get(item, 'service_percent' ,0))}}%
                                </td>
                                <td style="font-style: italic; font-weight: bold;  text-align: right">
                                    <span v-if="item.contract_bugdet">
                                        {{Number(get(item, 'contract_bugdet' ,0)).toLocaleString('vn')}}
                                    </span>
                                    <span v-else>
                                        --
                                    </span>
                                </td>
                                <td>
                                    {{(get(item, 'service' , '--'))}}
                                </td>
                                <td style="text-align: center">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true" v-if="get(item, 'is_new_sign')">
                                        <span style="display: none;" aria-hidden="true">
                                            {{ get(item, 'is_new_sign' , 1)  }}
                                        </span>
                                    </span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true" v-else>
                                        <span style="display: none;" aria-hidden="true">
                                            {{ get(item, 'is_new_sign', 0) }}
                                        </span>
                                    </span>
                                </td>
                                <td style="font-style: italic;">
                                    {{get(item, 'status' , '--')}}
                                </td>
                                <td style=" text-align: center">
                                    <a :href="'/contract/edit/'+  get(item, 'contract_id', 0)"  style="color: rgb(105, 105, 184); cursor:pointer; user-select: none" target="_blank">
                                        Xem chi tiết
                                    </a>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </template>
      
            </CardContrainer>

    
</template>
