<script>
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
import RevenueRank from '../RevenueRank/RevenueRank.vue';
import { getGroupId } from '../../../_helpers/utils.helpers';
    export default {
        components: { RevenueRank },
        data() {
            return {
                isLoading: false,
                revenue: {
                }
            }
        },

        mounted() {
            this.getRevenue({
                group_id: this._getGroupId()
            })
        },

        methods: {
            _get(obj, path, defaultValue = 'Đang cập nhật') {
                return get(obj, path, defaultValue);
            },
            _isEmpty(obj) {
                return isEmpty(obj);
            },

            _getGroupId(){
                return getGroupId()
            },
            getRevenue(payload = {}) {
                this.isLoading = true
                // this.revenue = {
                //     "value": 8000000,
                //     "kpi": 1000000,
                //     "status": "complete",
                //     "samePeriodComparison": {
                //         "value": 1000000,
                //         "kpi": 2000000,
                //         "status": "failure",
                //         "changeRatioPercent": 1
                //     }
                // }
                return dashboardSaleManagerService.getRevenue(payload).then( response => {
                    this.revenue = _.get(response, 'data')
                    if(this._isEmpty(this.revenue)) this.revenue = {}
                    return response
                })
                .finally(() => {
                    this.isLoading = false
                })
            }
        }
    }
</script>

<template>
    <div style="height: 100%">
        <revenue-rank :revenue="revenue" :isLoading="isLoading"/>
    </div>
</template>