
<script>
import SaleKpiProgress from '../SaleKpiProgress/SaleKpiProgress.vue'
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service'
import { getGroupId } from '../../../_helpers/utils.helpers'
import get from 'lodash/get'
    export default {
        components: { SaleKpiProgress },
        data() {
            return {
                is_loading: false,
                data: []
            }
        },

        mounted() {
            this.getData({
                group_id: this._getGroupId()
            })
        },

        methods: {
            _get(obj, path, defaultValue = 'Đang cập nhật') {
                return get(obj, path, defaultValue);
            },

            _getGroupId() {
                return getGroupId();
            },
            getData(payload={}) {
                this.is_loading = true
                this.data = [
                    {
                        "user_id" : 1, 
                        "name" : "Quân PM",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 8000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Duy Lang",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 40000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Le Bao Nhi",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 20000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Hoang Long",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 26000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Tuan Anh",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 48000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Hoang Long",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 26000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Tuan Anh",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 48000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Le Bao Nhi",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 20000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                    {
                        "user_id" : 1, 
                        "name" : "Hoang Long",
                        "email" : "quanpm@adsplus.vn",
                        "currentRevenue": 26000,
                        "targetRevenue": 50000,
                        "estimatedCommission": 2400,
                        "currentCommission": 2300
                    },
                ]
                return dashboardSaleManagerService.getMembersKpiRevenue(payload).then(response => {
                    this.data = this._get(response, 'data', [])
                    return response
                })
                .finally(() => {
                    this.is_loading = false
                })
            }
        }
    }
</script>

<template>
    <div>
        <sale-kpi-progress :data="data" :is_loading="is_loading" view_type="detail" :title="'tiến độ kpi của từng nhóm'" />
    </div>
</template>