
<script>
import SaleRevenuePecent from '../SaleRevenuePecent/SaleRevenuePecent.vue'
import get from 'lodash/get'

import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service'
import { getGroupId } from '../../../_helpers/utils.helpers'

export default {
    components: { SaleRevenuePecent },
    data() {
        return {
            is_loading: false,
            data: []
        }
    },

    mounted() {
        this.getData({
            group_id: this._getGroupId()
        })
    },
    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue)
        },

        _getGroupId() {
            return getGroupId()
        },

        getData(payload = {}) {
            this.is_loading = true
            // this.data = [
            //     {
            //         "user_id" : 1, 
            //         "name" : "Quân PM",
            //         "email" : "quanpm@adsplus.vn",
            //         "revenueShare": 31.1
            //     },
            //     {
            //         "user_id" : 1, 
            //         "name" : "Hoàng Long",
            //         "email" : "quanpm@adsplus.vn",
            //         "revenueShare": 31.1
            //     },
            //     {
            //         "user_id" : 1, 
            //         "name" : "Lê Bảo Nhi",
            //         "email" : "quanpm@adsplus.vn",
            //         "revenueShare": 31.1
            //     },
            //     {
            //         "user_id" : 1, 
            //         "name" : "Tuấn Anh",
            //         "email" : "quanpm@adsplus.vn",
            //         "revenueShare": 31.1
            //     },
            //     {
            //         "user_id" : 1, 
            //         "name" : "Duy Lãng",
            //         "email" : "quanpm@adsplus.vn",
            //         "revenueShare": 31.1
            //     },
            // ]
            return dashboardSaleManagerService.getMembersRevenueShare(payload).then(response => {
                this.data = this._get(response, 'data', [])
                return response
            })
            .finally(() => {
                this.is_loading = false
            })
        }
    }

}
</script>


<template>
    <div >
        <sale-revenue-pecent
            :is_loading="is_loading"
            :data="data"
            title="Tỷ trọng doanh thu của từng thành viên"
        />
    </div>
</template>