<script>

import { dashboardSaleGroupService } from '../../../_services/dashboard.sale.group.service';
import CardContrainer from '../../CardContrainer.vue'
import Placeholder from '../../Placeholder.vue';
import _get from 'lodash/get';
import { getGroupId } from '../../../_helpers/utils.helpers';
export default {
    components: {
        CardContrainer,
        Placeholder
    },

    data() {
        return {
            colors: ['#DC3545', '#00A65A', '#17A2B8', '#424549', '#F7B84B', '#605CA8'],
            query: {},
            options_chart: {
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    type: 'treemap',
                    layoutAlgorithm: 'stripes',
                    alternateStartingDirection: true,
                    borderColor: '#fff',
                    borderRadius: 6,
                    borderWidth: 2,
                    dataLabels: {
                        style: {
                            textOutline: 'none'
                        }
                    },

                    levels: [{
                        level: 1,
                        layoutAlgorithm: 'sliceAndDice',
                        dataLabels: {
                            enabled: true,
                            align: 'left',
                            verticalAlign: 'top',
                            style: {
                                fontSize: '1.2rem',
                                fontWeight: 'bold',
                                color: '#fff',
                                textOutline: '1px 1px black'
                            }
                        }
                    }],
                    data: [{}]
                }],
                title: {
                    text: '',
                    align: 'left'
                },

                tooltip: {
                    useHTML: true,
                    pointFormat:
                        'Doanh thu của <b>{point.name}</b> là <b>{point.value}</b>'
                }
            }

        }
    },

    mounted() {
        // Tạo một thẻ script và thêm nó vào body
        this.getSourceOfCustomersByRevenue()
    },

    methods: {
        get(obj, path, defaultValue = 'Đang cập nhật') {
            return _get(obj, path, defaultValue);
        },

        _getGroupId() {
            return getGroupId();
        },

        render_chart(options) {
            Highcharts.setOptions({
                lang: {
                    noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('ProportionofRevenueofEachMember', options);
        },

        getSourceOfCustomersByRevenue() {
            this.render_chart(this.options_chart).showLoading();

            if (process.env.NODE_ENV === 'development') {
                this.options_chart.series[0].data = [{
                    name: 'Troms og Finnmark',
                    value: 70923,
                    color: this.colors[0],
                }, {
                    name: 'Nordland',
                    value: 35759,
                    color: this.colors[1],

                }, {
                    name: 'Trøndelag',
                    value: 39494,
                    color: this.colors[2],

                }, {
                    name: 'Møre og Romsdal',
                    value: 13840,
                    color: this.colors[3],

                }, {
                    name: 'Vestland',
                    value: 31969,
                    color: this.colors[4],

                }, {
                    name: 'Rogaland',
                    value: 8576
                }, {
                    name: 'Viken',
                    value: 22768,
                    
                }, {
                    name: 'Innlandet',
                    value: 49391
                },
                {
                    name: 'Oslo',
                    value: 454
                },
                {
                    name: 'Vestfold og Telemark',
                    value: 15925
                },
                {
                    name: 'Agder',
                    value: 14981
                }]
                this.render_chart(this.options_chart).hideLoading();

                return
            }

            return dashboardSaleGroupService.getSourceOfCustomersByRevenue({ group_id: this._getGroupId() }).then(response => {
                let data = this.get(response, 'data', [])
                for (let index = 0; index < data.length; index++) {
                    this.options_chart.xAxis.categories[index] = this.get(data[index], 'source')
                    this.options_chart.series[0].data[index] = {
                        y: this.get(data[index], 'revenue'),
                        color: this.colors[index]
                    }
                }
                return response
            })
                .finally(() => {
                    this.render_chart(this.options_chart).hideLoading();
                })
        },
    }
}
</script>

<template>
    <div>

        <CardContrainer :is_header="true">

            <template #card-header>
                <h5 class="text-uppercase">
                    <b :style="{
                        display: 'flex',
                        alignItems: 'baseline',
                        gap: '8px',
                    }">
                        <i class="glyphicon glyphicon-stats"></i>
                        TỶ TRỌNG DOANH THU CỦA TỪNG THÀNH VIÊN
                    </b>
                </h5>
            </template>
            <template #card-body>
                <div id="ProportionofRevenueofEachMember" style="height: 300px;"></div>
            </template>

        </CardContrainer>
    </div>
</template>


