<script>

import CardContrainer from '../../CardContrainer.vue'
import DataTable from 'datatables.net-dt';
import _get from 'lodash/get';
import { converNumber } from '../../../_helpers/utils.helpers';
import "../personal/style.css"
import Placeholder from '../../Placeholder.vue';
import { dashboardSaleManagerService } from '../../../_services/dashboard.sale.manager.service';
    export default {
        components: {
            CardContrainer,
            Placeholder
        },  
       
        data() {
            return {
                is_loading: false,
                header_column_table: [
                    'STT',
                    'Tên thành viên',
                    'Doanh thu',
                    'Còn thiếu',
                    'Đã đạt',
                ],
                row_table: []
            }
        },

        mounted() {
            // Tạo một thẻ script và thêm nó vào body
            this.get_data_table_contract()
        },

        methods: {
            get(object, path, defaultValue) {
                return _get(object, path, defaultValue);

            },

            _converNumber(number) {
                return converNumber(number);
            },
            render_table() {
               
            // Initialize DataTable with your configuration options
                return new DataTable('#table_sale_progress', {
                    processing: true,
                    language: {
                        emptyTable: '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 150px;"><div style="color: red;">Không có dữ liệu</div></div>',
                        zeroRecords: "Không tìm thấy dữ liệu phù hợp",
                        info: "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi"
                    },
                    // Config options...
                    searching: false,
                    paging: false,
                    scrollX: true,
                    scrollY: 276,
                    columnDefs: [
                        {
                            targets: 2  ,
                            className: 'dt-body-right dt-head-right',
                        },
                        {
                            targets: 3 ,
                            className: 'dt-body-right dt-head-right',
                        },
                        {
                            targets: 4,
                            className: 'dt-body-right dt-head-right',
                        },
                    ]
                });
                
            },

            get_data_table_contract(payload={}){

                this.is_loading = true
                this.row_table = [
                    {
                        "name": "lebaonhi",
                        "current": 4344,
                        "target": 5000
                    
                    },
                    {
                        "name": "huongnguyen",
                        "current": 4543,
                        "target": 5000,
                    },
                    {
                        "name": "tuandat",
                        "current": 4565,
                        "target": 7000,
                    },
                    {
                        "name": "lebaonhi",
                        "current": 4344,
                        "target": 5000
                    
                    },
                    {
                        "name": "huongnguyen",
                        "current": 4543,
                        "target": 5000,
                    },
                    {
                        "name": "tuandat",
                        "current": 4565,
                        "target": 7000,
                    },
                    {
                        "name": "lebaonhi",
                        "current": 4344,
                        "target": 5000
                    
                    },
                    {
                        "name": "huongnguyen",
                        "current": 4543,
                        "target": 5000,
                    },
                    {
                        "name": "tuandat",
                        "current": 4565,
                        "target": 7000,
                    },
                ]
                return dashboardSaleManagerService.getDataSaleRevenueProgressDetail(payload).then( response => { 
                    this.data = this.get(response, 'data', [])
                    this.row_table = this.data
                    return response
                })
                .finally(() => {
                    this.is_loading = false
                    this.$nextTick(() => {
            
                        this.render_table()

                    })
                })
            },

            _getPercent(current, target) {
                if(isNaN(current) || isNaN(target)) return 0
                const percent = Math.ceil(Number(current)/Number(target)*100)
                if(isNaN(percent)) return 0
                return percent
            },

            _getRemain(current, target) {
                if(isNaN(current) || isNaN(target)) return 0
                const remain = Number(target) - Number(current)
                if(isNaN(remain)) return 0
                return remain
            }
        }
    }
</script>

<template>
            <CardContrainer :is_header="true">
        
                <template #card-header>
                    <h5 class="text-uppercase">
                        <b :style="{
                            display: 'flex',
                            alignItems: 'baseline',
                            gap: '8px',
                        }">
                            <i class="glyphicon glyphicon-stats"></i>
                            chi tiết tiến độ của từng thành viên
                        </b>
                    </h5>
                </template>
                <template #card-body>   
                    <div >
                        <div  style="display: flex; justify-content: center; align-items: center; min-height: 346px"  width="100%" v-if="is_loading">
                            <span class="text-danger">
                                Đang lấy dữ liệu....

                            </span>
                        </div>
                        <!-- được css từ bảng -->
                        <table id="table_sale_progress" class="stripe row-border nowrap hover order-column  cell-border " width="100%" v-else>
                          <thead >
                            <tr >
                                <th v-for="(item, key) in header_column_table" :key="key">
                                    {{ item }}
                                </th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr v-for="(item, key) in row_table" :key="key">
                                <td style="font-weight: bold;">
                                    #{{ key + 1 }}
                                </td>
                                <td style="font-weight: bold; text-align: left">
                                    {{ get(item, 'name', '--')}}
                                </td>
                                <td style=" text-align: right">
                                    {{ _converNumber(get(item, 'current', '--'))}}
                                </td>
                                <td style=" text-align: right">
                                    {{ _converNumber(_getRemain(get(item, 'current', 0), get(item, 'target', 0))) }}
                                 </td>
                                 <td style=" text-align: right">
                                    {{ _getPercent(get(item, 'current', 0), get(item, 'target', 0)) }}%
                                 </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </template>
      
            </CardContrainer>

    
</template>
