.dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffffff; /* Màu nền của cột đầu tiên */
}



#table_contract tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffffff; /* Màu nền của cột đầu tiên */

}

#table_contract tbody  {
    position: relative;
}




.dataTables_wrapper {
    overflow: hidden;
}

.dataTables_scrollBody {
    overflow: auto; /* Cho phép thanh scroll xuất hiện khi cần */
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 6px; /* Độ rộng của thanh scroll-bar ngang */
    height: 6px; /* Độ cao của thanh scroll-bar dọc */
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ddd; /* Màu của thanh scroll-bar */
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background-color: #ccc; /* Màu của thanh scroll-bar khi hover */
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    background: transparent; /* Màu nền của thanh scroll-bar */
}

.dataTables_scrollBody::-webkit-scrollbar-track:hover {
    background: #f0f0f0; /* Màu nền của thanh scroll-bar khi hover */
}