<script>
import get from 'lodash/get';
import { dashboardSaleService } from '../../../_services/dashboard.sale.service'
import { getSaleId } from '../../../_helpers/utils.helpers';

import ChartReportAggrate from '../CharReportAggregate/ChartReportAggrate.vue';
export default {
        components: { ChartReportAggrate },

    data() {
        return {
            isLoading: false,
            data: [],
        }
    },

    computed: {
        month() {
            return Number(this.$store.state.dimensionDashboard.dimension)
        }    
    },

    watch: {
        month() {
            this.getAggregate({
                sale_id: this._getSaleId(), 
                month: this.month,
                day: 0,
                metrics: 'commission,revenue,newContracts,renewalContracts,kpi',
            })
        }
    },

    methods: {
        _get(obj, path, defaultValue = {}) {
            return get(obj, path, defaultValue);
        },

        _getSaleId() {
            return getSaleId();
        },

        getAggregate(payload = {}) {
            this.isLoading = true
            return dashboardSaleService.getAggegate(payload).then(response => {
                this.data = this._get(response, 'data', []).reverse()
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        }
    }
}
</script>

<template>
    <div>
        <chart-report-aggrate :is_loading="isLoading" :data="data"/>
    </div>
</template>