<script>
import get from 'lodash/get'
import { dashboardSaleService } from '../../../_services/dashboard.sale.service'
import { getSaleId } from '../../../_helpers/utils.helpers'
import ChartKpiRevenue from '../ChartKpiRevenue/ChartKpiRevenue.vue'
export default {
    components: { ChartKpiRevenue },
    data() {
        return {
            is_loading: false,
            data: {}
        }
    },
    
    computed: {
        month() {
            return Number(this.$store.state.dimensionDashboard.dimension)
        }    
    },

    watch: {
        month() {
            this.getKpiRevenue({sale_id: this._getSaleId(), month: this.month, day: 0})
        }
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _getSaleId() {
            return getSaleId();
        },

        getKpiRevenue(payload = {}) {   
            this.is_loading = true
            return dashboardSaleService.getKpiRevenue(payload).then(response => {
                this.data = this._get(response, 'data', {})
                return response
            })
            .finally(() => {
                this.is_loading = false
            })
        }
    }
}
</script>

<template>
    <div>
        <chart-kpi-revenue :data="data" :is_loading="is_loading" title="Tiến độ kpi theo doanh thu" />
    </div>
</template>