<script>

import _get from 'lodash/get';
import { dashboardSaleService } from '../../../_services/dashboard.sale.service';
import { getSaleId } from '../../../_helpers/utils.helpers';
import CardContrainer from '../../CardContrainer.vue'
import Placeholder from '../../Placeholder.vue';
import store from '@/store/store.js';

    export default {
        components: {
            CardContrainer,
            Placeholder
        },
        store,
        data() {
            return {
                colors: ['#DC3545', '#00A65A', '#17A2B8', '#424549', '#F7B84B', '#605CA8'],
                query: {},
                is_loading: false,
                data: [],
                options_chart: {
                    accessibility: {
                        enabled: false
                    },
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
             
                    xAxis: {
                        categories: [],
                        title: {
                            text: null
                        },
                        fontSize: '1.2em',
                        labels: {
                            style: {
                                fontSize: '1em',
                                color: '#333538',
                                fontWeight: '500'
                            }
                        },
                        gridLineWidth: 0,
                        lineWidth: 1
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '',
                            align: 'high'
                            
                        },
                        fontSize: '1.3em',
                        labels: {
                            style: {
                                fontSize: '1em',
                                color: '#333538',
                                fontWeight: '500'
                            },
                            overflow: 'justify'
                        },
                        gridLineWidth: 1
                    },
                    tooltip: {
                        valueSuffix: ' %',
                        style:{
                            color: '#333333',
                            cursor: 'default',
                            fontSize: '1.2em',
                        },
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                format: '{y} %' ,
                                enabled: true,
                                align: 'center', // Căn giữa trên cột
                                verticalAlign: 'middle', // Đặt ở trên cùng của cột
                                inside: true,
                                style: {
                                    fontSize: '1.2em',
                                    color: '#333538',
                                }
                            }
                        },
                        bar: {
                            borderRadius: '0',
                                
                            groupPadding: 0.1
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 80,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                        shadow: true,
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    noData: {
                        style: {
                            fontSize: '1.2rem',
                            color: '#DE4B39',
                        },
                        useHTML: true,
                    },
                    series: [{
                            name: 'Đạt',
                            data: []
                        }]
                    }

            }
        },


        methods: {
             get(obj, path, defaultValue = 'Đang cập nhật') {
                return _get(obj, path, defaultValue);
            },

            _getSaleId() {
                return getSaleId();
            },

            render_chart(options) {
                Highcharts.setOptions({
                    lang: {
                        noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                        loading: 'Đang lấy dữ liệu...',
                    }
                })
                return Highcharts.chart('idCustomerRatioByRevenue', options);
            },


            getPercent(current, target) {
                if(isNaN(current) || isNaN(target)) return 0
                const percent = Math.ceil(Number(current)/Number(target)*100)
                if(isNaN(percent)) return 0
                return percent
            },

             getCustomerRatioByRevenue() {
                this.render_chart(this.options_chart).showLoading();
                // if (process.env.NODE_ENV === 'development') {
                //     this.options_chart.xAxis.categories = ['Doanh thu đạt được', 'Số lượng khóa học', 'Số lượng hợp đồng ký mới' ]
                //     this.options_chart.series[0]['data'] = [
                //             { y: 83, color: '#17A2B8' }, // Màu đỏ đậm
                //             { y: 44, color: '#00A65A' }, // Màu xanh nhạt
                //             { y: 102, color: '#DC3545' }, // Màu xanh lá cây nhạt
                //         ]
                //     this.render_chart(this.options_chart).hideLoading();
                    
                //     return
                // }
                return  dashboardSaleService.getKpiRevenue({ sale_id: this._getSaleId(), month: this.choose_month, day: 0}).then( response => { 
                    this.data = this.get(response, 'data', {})
                    this.options_chart.xAxis.categories[0] = "KPI về Doanh thu đạt được"
                    this.options_chart.series[0].data[0]   = { 
                        y: this.getPercent(_get(this.data, 'currentRevenue',0), _get(this.data, 'targetRevenue',0)), 
                        color: this.colors[1] }

                    // for (let index = 0; index < data.length; index++) {
                    //     this.options_chart.xAxis.categories[index] = this.get(this.data[index], 'source')
                    //     this.options_chart.series[0].data[index]   = { y: this.get(this.data[index], 'revenue'), color: this.colors[index] }
                    // }
                    return response
                })
                .finally(() => {
                    this.render_chart(this.options_chart).hideLoading();
                })
            },
        },
        computed: {
            choose_month() {
                return this.$store.state.dimensionDashboard.dimension
            }
        },
        
        watch: {
            choose_month:{
                handler: function(newValue) {
                    this.getCustomerRatioByRevenue()
                    
                },
                deep: true
            }
        }
     
    }
</script>

<template>
            <CardContrainer :is_header="true">
                <template #card-header>   
                    <h5 class="text-uppercase">
                        <b :style="{
                            display: 'flex',
                            alignItems: 'baseline',
                            gap: '8px',
                        }">
                            <i class="glyphicon glyphicon-stats"></i>
                            Tỷ lệ hoàn thành của từng KPI 
                        </b>
                    </h5>
                </template>
                <template #card-body>   
                    <div id="idCustomerRatioByRevenue" style="height: 350px"></div>
                </template>
      
            </CardContrainer>

    
</template>
