
<script>

import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';

import { converNumber, getSaleId } from '../../../_helpers/utils.helpers'
import { dashboardSaleService } from '../../../_services/dashboard.sale.service';
import ListBoxReport from '../ListBoxReport/ListBoxReport.vue';
export default {
        components: { ListBoxReport },
    data() {
        return {
            is_loading_commissions:
                false,

            is_loading_new_renewal_counts:
                false,

            is_loading_rankings:
                false,

            commissions:
            {
            },

            new_renewal_counts:
            {
            },

            rankings:
            {
            }
        }
    },

    computed: {
        month() {
            return Number(this.$store.state.dimensionDashboard.dimension)
        }    
    },

    watch: {
        month() {
            this.getCommissions();
            this.getNewRenewalCounts();
            this.getRankings();
        }
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },
        _isEmpty(obj){
            return isEmpty(obj)
        },
        _converNumber(number) {
            return converNumber(number);
        },

        _getSaleId(){
            return getSaleId();
        },

        getCommissions() {
            this.is_loading_commissions = true;
            return dashboardSaleService.getSaleCommissions({ sale_id: this._getSaleId(), month: this.month, day: 0}).then( response => {
                this.commissions = _.get(response, 'data')
                if(this._isEmpty(this.commissions)) this.commissions = {}
                return response
            })
            .finally(() => {
                this.is_loading_commissions = false
            })
        },

        getNewRenewalCounts() {
            this.is_loading_new_renewal_counts = true;
            return dashboardSaleService.getSaleNewRenewalCounts({sale_id: this._getSaleId(), month: this.month, day: 0}).then( response => {
                this.new_renewal_counts = _.get(response, 'data')
                if(this._isEmpty(this.new_renewal_counts)) this.new_renewal_counts = {}
                return response
            })
            .finally(() => {
                this.is_loading_new_renewal_counts = false
            })
        },

        getRankings() {
            this.is_loading_rankings = true;
            return dashboardSaleService.getSaleRankings({sale_id: this._getSaleId(),  month: this.month, day: 0}).then( response => {
                this.rankings = _.get(response, 'data')
                if(this._isEmpty(this.rankings)) this.rankings = {}
                return response
            })
            .finally(() => {
                this.is_loading_rankings = false
            })
        }

    }

}
</script>

<template>
    <div>
        <list-box-report 
            :commissions="commissions" 
            :new_renewal_counts="new_renewal_counts" 
            :rankings="rankings"
            :is_loading_commissions="is_loading_commissions"
            :is_loading_new_renewal_counts="is_loading_new_renewal_counts"
            :is_loading_rankings="is_loading_rankings"
        />
    </div>
</template>
