<script>

import CardContrainer from '../../CardContrainer.vue'
import DataTable from 'datatables.net-dt';
import _get from 'lodash/get';
import "../personal/style.css"
import { dashboardSaleService } from '../../../_services/dashboard.sale.service';
import { getSaleId } from '../../../_helpers/utils.helpers';
import Placeholder from '../../Placeholder.vue';
import moment from 'moment'
import store from '@/store/store.js';

export default {
    components: {
        CardContrainer,
        Placeholder
    },
    store,
    data() {
        return {
            is_loading: false,
            is_first_load: true,
            data_tables: null,
           
            row_table: [],
            options_table: {
                processing: true,
                data: [],
                language: {
                    emptyTable: '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 150px;"><div style="color: red;">Không có dữ liệu</div></div>',
                    zeroRecords: "Không tìm thấy dữ liệu phù hợp",
                    info: "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi"
                },
                // Config options...
                searching: false,
                paging: false,
                scrollX: true,
                scrollY: 400,
                columns: [
                    { 
                        data: 'code', 
                        title: 'Mã hợp đồng',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span class="text-primary" style="font-weight: 700">' + (data) + '</span>';
                        }
                    },
                    { data: 'created_at', title: 'Ngày tạo' },
                    { data: 'contract_begin', title: 'TG bắt đầu H/Đ' },
                    { data: 'contract_end', title: 'TG kết thúc H/Đ' },
                    { 
                        data: 'budget', 
                        title: 'Ngân sách đã thu',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="color: #605CA8;font-weight: 700">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                    },
                    { 
                        data: 'spend', 
                        title: 'Tổng chi tiêu',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="color: red;font-weight: 700">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                    },
                    { 
                        data: 'service_fee_percent', 
                        title: '% Phí DV',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="font-weight: 700; font-style: italic">' + Number(data).toLocaleString('vn') + '%</span>';
                        }
                    },
                    { 
                        data: 'contract_value', 
                        title: 'Giá trị hợp đồng',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<span style="font-weight: 700; font-style: italic">' + Number(data).toLocaleString('vn') + '</span>';
                        }
                    },
                    { data: 'service', title: 'Dịch vụ' },
                    { 
                        data: 'is_new_sign', 
                        title: 'Ký mới',
                        render: function (data, type, row) {
                            if(data)
                            {
                                return '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>'
                            }
                            return ' <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>'
                        }
                    },
                    { data: 'status', title: 'Trạng thái' },
                    {
                        data: 'action', title: 'Hành động',
                        render: function (data, type, row) {
                            // Sử dụng nút Xem chi tiết và đặt thuộc tính data-id để lưu trữ ID hoặc thông tin khác
                            return '<a class="text-primary" data-id="' + JSON.stringify(data )  + '" target="_blank" href="/contract/edit/' + JSON.stringify(data) + '">Xem chi tiết</a>';
                        }
                    },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-body-left dt-head-left',
                    },
                    {
                        targets: 1,
                        className: 'dt-body-right dt-head-right ',
                        type: 'datetime-moment',
                        render: function (data, type, row) {
                            // Định dạng ngày theo DD/MM/YYYY
                            if (type === 'sort' || type === 'type') {
                                return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                            }
                            return data;
                        }

                    },
                    {
                        targets: 2,
                        className: 'dt-body-right dt-head-right ',
                        type: 'datetime-moment',
                        render: function (data, type, row) {
                            // Định dạng ngày theo DD/MM/YYYY
                            if (type === 'sort' || type === 'type') {
                                return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                            }
                            return data;
                        }
                    },
                    {
                        targets: 3,
                        className: 'dt-body-right dt-head-right ',
                        type: 'datetime-moment',
                        render: function (data, type, row) {
                            // Định dạng ngày theo DD/MM/YYYY
                            if (type === 'sort' || type === 'type') {
                                return moment(data, 'DD/MM/YYYY').format('YYYY-MM-DD');
                            }
                            return data;
                        }
                    },
                    {
                        targets: 4,
                        className: 'dt-body-right dt-head-right ',
                    },
                    {
                        targets: 5,
                        className: 'dt-body-right dt-head-right ',
                    },
                    {
                        targets: 6,
                        className: 'dt-body-right dt-head-right ',

                    },
                    {
                        targets: 7,
                        className: 'dt-body-right dt-head-right ',

                    },
                    {
                        targets: 8,
                        className: 'dt-body-left dt-head-left ',

                    },
                    {
                        targets: 9,
                        className: 'dt-body-center dt-head-center ',

                    },
                    { targets: -1, orderable: false },
                ]
            }
        }
    },


    methods: {
        get(object, path, defaultValue) {
            return _get(object, path, defaultValue);

        },

        _getSaleId() {
            return getSaleId()
        },
        render_table(options) {

            // Initialize DataTable with your configuration options
            return new DataTable('#table_contract', options);

        },

        get_data_table_contract() {
            this.is_loading = true

            if (!this.is_first_load) {
                this.data_tables.destroy();
            }

            // if(process.env.NODE_ENV !== 'production')
            // {
            //     this.row_table = [  {
            //         "code": "3933/0421/FACEBOOK-ADS/FACEBOOK.COM/VENUSSECRETVN",
            //         "created_at": '04/04/2015',
            //         "contract_begin": '11/11/2014 ',
            //         "budget": '8000000',
            //         "spend": '8000000',
            //         "service_percent": '5',
            //         "contract_bugdet": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 1,
            //         "status": 'Approved',
            //     },
            //     {
            //         "code": "33113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123USSEssCRETVN",
            //         "created_at": '04/04/2015',
            //         "contract_begin": '11/07/2014 ',
            //         "budget": '8000000',
            //         "spend": '8000000',
            //         "service_percent": '5',
            //         "contract_bugdet": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 0,
            //         "status": 'Approved',
            //     },
            //     {
            //         "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VENU12312SSECRETVN",
            //         "created_at": '04/04/2015',
            //         "contract_begin": '11/07/2014 ',
            //         "budget": '8000000',
            //         "spend": '8000000',
            //         "service_percent": '5',
            //         "contract_bugdet": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 0,
            //         "status": 'Approved',
            //     },
            //     {
            //         "code": "39113/0421/FACEBOOK-ADS/FACEBOOK.COM/VEN123USSECRETVN",
            //         "created_at": '04/04/2015',
            //         "contract_begin": '12/07/2014 ',
            //         "budget": '18000000',
            //         "spend": '33000000',
            //         "service_percent": '5',
            //         "contract_bugdet": '4000000',
            //         "service": 'Facebook Ads',
            //         "is_new_sign": 0,
            //         "status": 'Approved',
            //     },]

            //     this.is_loading = false
            //     this.$nextTick(() => {
            //         this.render_table()
            //     })

            //     return
            // }

            this.row_table = []
            return dashboardSaleService.getDataTableNewContract({ sale_id: this._getSaleId(), month: this.choose_month, day: 0 }).then(response => {
                let data_response = this.get(response, 'data', [])
                for (let index = 0; index < data_response.length; index++) {
                    let data_temp = {
                        ...data_response[index],
                        'action': this.get(data_response[index], 'contract_id')
                    }
                    this.row_table[index] = data_temp
                }
                this.options_table.data = this.row_table
                return
            })
                .finally(() => {
                    this.is_loading = false
                    this.is_first_load = false
                    this.$nextTick(() => {
                        this.data_tables = this.render_table(this.options_table)

                    })
                })
        }
    },
    computed: {
        choose_month() {
            return this.$store.state.dimensionDashboard.dimension
        }
    },

    watch: {
        choose_month: {
            handler: function (newValue) {
                this.get_data_table_contract()
            },
            deep: true
        }
    }
}
</script>

<template>
    <CardContrainer :is_header="true">

        <template #card-header>
            <h5 class="text-uppercase">
                <b :style="{
                    display: 'flex',
                    alignItems: 'baseline',
                    gap: '8px',
                }">
                    <i class="glyphicon glyphicon-stats"></i>
                    HỢP ĐỒNG ĐANG CÓ
                </b>
            </h5>
        </template>
        <template #card-body>
            <div>
                <div style="display: flex; justify-content: center; align-items: center; min-height: 400px" width="100%"
                    v-if="is_loading">
                    <span class="text-danger">
                        Đang lấy dữ liệu....

                    </span>
                </div>
                <!-- được css từ bảng -->
                <table id="table_contract" class="stripe row-border nowrap hover order-column  cell-border " width="100%"
                    v-else></table>
            </div>
        </template>

    </CardContrainer>
</template>
