<script>
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { dashboardSaleService } from '../../../_services/dashboard.sale.service';
import { getSaleId } from '../../../_helpers/utils.helpers';
import RevenueRank from '../RevenueRank/RevenueRank.vue';
export default {
    components: { RevenueRank },
    data() {
        return {
            isLoading: false,
            revenue: {
            }
        }
    },

    computed: {
        month() {
            return Number(this.$store.state.dimensionDashboard.dimension)
        }
    },

    watch: {
        month() {
            this.getRevenue({
                sale_id: this._getSaleId(),
                month: this.month,
                day: 0,
            })
        }
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },
        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _getSaleId() {
            return getSaleId();
        },
        getRevenue(payload = {}) {
            this.isLoading = true
            return dashboardSaleService.getRevenue(payload).then(response => {
                this.revenue = _.get(response, 'data')
                if (this._isEmpty(this.revenue)) this.revenue = {}
                return response
            })
                .finally(() => {
                    this.isLoading = false
                })
        }
    }
}
</script>

<template>
    <div style="height: 100%">
        <revenue-rank :revenue="revenue" :isLoading="isLoading" />
    </div>
</template>