
<script>
import SaleKpiProgress from '../SaleKpiProgress/SaleKpiProgress.vue'
import get from 'lodash/get'
    export default {
        components: { SaleKpiProgress },
        data() {
            return {
                is_loading: false,
                data: []
            }
        },

        mounted() {
            this.getData()
        },

        methods: {
            _get(obj, path, defaultValue = 'Đang cập nhật') {
                return get(obj, path, defaultValue);
            },

            getData() {
                this.is_loading = true
                this.data = [
                    {
                        name: 'Tên nhân viên',
                        percent: 80,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 20,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 40,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 100,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 56,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên tên nhân viên',
                        percent: 76,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 55,
                        current: 34543534,
                        target: 345433453,
                    },
                    {
                        name: 'Tên nhân viên',
                        percent: 80,
                        current: 34543534,
                        target: 345433453,
                    },
                ]
                // this.data = []
                this.is_loading = false
            }
        }
    }
</script>

<template>
    <sale-kpi-progress :data="data" :is_loading="is_loading" />
    
</template>