<script>
import vProportionOfEachService from '../dashboardSale/manager/vProportionOfEachService.vue'
import vNewSignedContract from '../dashboardSale/manager/vNewSignedContract.vue'
import vCustomerRatioByRevenue from '../dashboardSale/manager/vCustomerRatioByRevenue.vue'
import vSourceOfCustomersByRevenue from '../dashboardSale/manager/vSourceOfCustomersByRevenue.vue'
import VRankingByRevenue from '../dashboardSale/manager/vRankingByRevenue.vue'
import VChartSaleServiceStack from '../dashboardSale/manager/vChartSaleServiceStack.vue'
import VListBoxReport from '../dashboardSale/manager/vListBoxReport.vue'
import VChartReportAggrate from '../dashboardSale/manager/vChartReportAggrate.vue'
import VRevenueRank from '../dashboardSale/manager/vRevenueRank.vue'
import vCharKpiRevenue from '../dashboardSale/manager/vCharKpiRevenue.vue'
import vSaleSaleKpiProgressGroup from '../dashboardSale/manager/vSaleSaleKpiProgressGroup.vue'
import vSaleRevenuePercentGroup from '../dashboardSale/manager/vSaleRevenuePercentGroup.vue'
import vSaleRevenuePercentMembers from '../dashboardSale/manager/vSaleRevenuePercentMembers.vue'
import vCustomerSourceStatisticsTable from '../dashboardSale/manager/vCustomerSourceStatisticsTable.vue'
import vTableDetailRevenueProgress from '../dashboardSale/manager/vTableDetailRevenueProgress.vue'

    export default {
        components:{
            vCharKpiRevenue,
            vCustomerSourceStatisticsTable,
            vSaleSaleKpiProgressGroup,
            vSaleRevenuePercentMembers,
            vSaleRevenuePercentGroup,
            VListBoxReport,
            VRevenueRank,
            vProportionOfEachService,
            vNewSignedContract,
            vCustomerRatioByRevenue,
            vSourceOfCustomersByRevenue,
            VRankingByRevenue,
            VChartSaleServiceStack,
            VChartReportAggrate,
            VChartReportAggrate,
            vTableDetailRevenueProgress
        },

        data() {
            return {
                tab_view: 'members'
            }
         
        }
    }
</script>

<template>
    <div>
        <div
            :style="{
                display: 'flex',
                flexWrap: 'wrap',
                alignItems: 'stretch',
                margin: '0 -15px 30px -15px',
            }"
        >
        <div class="col-lg-9"> 
            <div style="marginBottom: 30px;">  
                <v-list-box-report/>
            </div>
                <v-chart-report-aggrate/>
            </div>
        <div class="col-lg-3">
                <v-revenue-rank/>
        </div>
        </div>
        <div class="row"  style="margin-bottom: 30px;">
            <div class="col-lg-12">
                <vNewSignedContract/>
            </div>
        </div>    
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-6">
                <vSourceOfCustomersByRevenue/>
            </div>
            <div class="col-lg-6">
                <VRankingByRevenue/>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-3">
                <vCharKpiRevenue/>
            </div>
            <div class="col-lg-6">
                <vCustomerRatioByRevenue/>
            </div>
            <div class="col-lg-3">
                <vProportionOfEachService/>
            </div>
        </div>
        <div  style="box-shadow: 0 0 1px ;gap: 10px ;background-color: #fff; display: flex; align-items: center; height: 45px; border-top: 2px solid #ddd ; border-bottom: 2px solid #ddd; margin-bottom: 15px;">
            <div  style="padding: 10px; cursor: pointer;"
                :class="{
                    'btn btn-primary': tab_view === 'groups',
                }"
                @click="tab_view = 'groups'"
            >Xem theo nhóm</div>
            <div class="" style="padding: 10px; cursor: pointer;" 
                :class="{
                    'btn btn-primary': tab_view === 'members',
                }"
                @click="tab_view = 'members'"
            >Xem theo thành viên</div>

        </div>

        <section>
            <div v-if="tab_view === 'members'">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-lg-4">
                        <vSaleRevenuePercentMembers/>
                    </div>
                    <div class="col-lg-8">
                        <vCustomerSourceStatisticsTable/>
                    </div>
                </div>
          
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-lg-12">
                        <v-chart-sale-service-stack/>
                    </div>
                </div>  
                <div class="row" >
                    <div class="col-lg-6">
                        <vTableDetailRevenueProgress/>
                    </div>
                    <div class="col-lg-6">
                        <vSaleSaleKpiProgressGroup/>
                    </div>
                </div>

            </div>
    
            <div v-else>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-lg-3">
                        <vSaleRevenuePercentGroup/>
                    </div>
                    <div class="col-lg-9">
                        <vCustomerSourceStatisticsTable/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <vSaleSaleKpiProgressGroup/>
                    </div>
                  
                </div>
            </div>
            
        </section>
        
    </div>
</template>
