<script>
import ListBoxReport from '../dashboardSale/ListBoxReport/ListBoxReport.vue'
import vCustomerRatioByRevenue from '../dashboardSale/personal/vCustomerRatioByRevenue.vue'
import vProportionOfEachService from '../dashboardSale/personal/vProportionOfEachService.vue'
import vSourceOfCustomersByRevenue from '../dashboardSale/personal/vSourceOfCustomersByRevenue.vue'
import vNewSignedContract from '../dashboardSale/personal/vNewSignedContract.vue'
import VCharKpiRevenue from '../dashboardSale/personal/vCharKpiRevenue.vue'
import VRevenueRank from '../dashboardSale/personal/vRevenueRank.vue'
import VListBoxReport from '../dashboardSale/personal/vListBoxReport.vue'
import VChartReportAggrate from '../dashboardSale/personal/vChartReportAggrate.vue'
import store from '@/store/store.js';

    export default {
        store,
        components: {
            ListBoxReport,
            vCustomerRatioByRevenue,
            vProportionOfEachService,
            vSourceOfCustomersByRevenue,
            vNewSignedContract,
            VCharKpiRevenue,
            VRevenueRank,
            VListBoxReport,
            VChartReportAggrate,
        },
        data(){
            return {
                choose_month: moment().month() + 1,
            }
        },
        mounted() {
            this.$store.dispatch('dimensionDashboard/setDimension', this.choose_month)
        },
        unmounted() {
            this.$store.dispatch('dimensionDashboard/setDimension', null)
        },
        watch: {
            choose_month(){
                this.$store.dispatch('dimensionDashboard/setDimension', this.choose_month)
            }
        }
    }
    
 
</script>

<template>
    <div>
        <div style="display: flex;  margin-bottom: 20px; margin-top: -40px">
            <select v-model="choose_month" class="form-control" style="width: fit-content; margin-left: auto;">
                <option v-for="(index, item) in 12" :key="index" :value="index">
                    Tháng {{ item + 1 }}
                </option>
            </select>
        </div>
        <div
            :style="{
                display: 'flex',
                flexWrap: 'wrap',
                alignItems: 'stretch',
                margin: '0 -15px 30px -15px',
            }"
        >
           <div class="col-lg-9"> 
              <div style="marginBottom: 30px;">  
                <v-list-box-report/>
            </div>
                <v-chart-report-aggrate/>
            </div>
           <div class="col-lg-3">
                <v-revenue-rank/>
           </div>
        </div>
        <div
            :style="{
                display: 'flex',
                flexWrap: 'wrap',
                alignItems: 'stretch',
                margin: '0 -15px 30px -15px',
            }"
        >
            <div class="col-lg-6">
                <v-char-kpi-revenue/>
            </div>
            <div class="col-lg-6" style="height: 100%;">
                <vCustomerRatioByRevenue />
            </div>    
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12">
                <vNewSignedContract/> 
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-6">
                <vSourceOfCustomersByRevenue/>
            </div>
            <div class=" col-lg-6">
                <vProportionOfEachService/>

            </div>    
        </div>

    </div>
</template>