<script>
import ListBoxReport from '../dashboardSale/ListBoxReport/ListBoxReport.vue'
import vCustomerRatioByRevenue from '../dashboardSale/group/vCustomerRatioByRevenue.vue'
import vProportionOfEachService from '../dashboardSale/group/vProportionOfEachService.vue'
import vSourceOfCustomersByRevenue from '../dashboardSale/group/vSourceOfCustomersByRevenue.vue'
import vNewSignedContract from '../dashboardSale/group/vNewSignedContract.vue'
import ChartReportAggrate from '../dashboardSale/CharReportAggregate/ChartReportAggrate.vue'
import vCharKpiRevenue from '../dashboardSale/group/vCharKpiRevenue.vue'
import VRevenueRank from '../dashboardSale/group/vRevenueRank.vue'
import VListBoxReport from '../dashboardSale/group/vListBoxReport.vue'
import VChartReportAggrate from '../dashboardSale/group/vChartReportAggrate.vue'
import vSaleKpiProgress from '../dashboardSale/group/vSaleKpiProgress.vue'
import VRankingByRevenue from '../dashboardSale/group/vRankingByRevenue.vue'
import VSaleRevenuePecent from '../dashboardSale/group/vSaleRevenuePecent.vue'
    export default {
        components: {
            ListBoxReport,
            vCustomerRatioByRevenue,
            vProportionOfEachService,
            vSourceOfCustomersByRevenue,
            vNewSignedContract,
            ChartReportAggrate,
            vCharKpiRevenue,
            VRevenueRank,
            VListBoxReport,
            VChartReportAggrate,
            vSaleKpiProgress,
            VRankingByRevenue,
            VSaleRevenuePecent,
        },
        data(){
            return {
            }
        },
        mounted() {
         
        },
    }
    
 
</script>

<template>
    <div>
        <div
            :style="{
                display: 'flex',
                flexWrap: 'wrap',
                alignItems: 'stretch',
                margin: '0 -15px 30px -15px',
            }"
        >
           <div class="col-lg-9"> 
              <div style="marginBottom: 30px;">
                <v-list-box-report/>
            </div>
                <v-chart-report-aggrate/>
            </div>
           <div class="col-lg-3">
                <v-revenue-rank/>
           </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class='col-lg-3'>
                <vCharKpiRevenue/>
            </div>
            <div class=" col-lg-6">
                <vRankingByRevenue/>
            </div>
            <div class="col-lg-3" >
                <v-sale-revenue-pecent/>
            </div>
        </div>
        <div
            :style="{
                display: 'flex',
                flexWrap: 'wrap',
                alignItems: 'stretch',
                margin: '0 -15px 30px -15px',
            }"
        >
            <div class="col-lg-6">
                <vCustomerRatioByRevenue/>
            </div>
            <div class="col-lg-6" style="height: 100%;">
                <v-sale-kpi-progress/>
            </div>    
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12">
                <vNewSignedContract/> 
            </div>
        </div>
        <div class="row" >
            <div class=" col-lg-6">
                <vSourceOfCustomersByRevenue/>
            </div>
            <div class=" col-lg-6">
                <vProportionOfEachService/>
            </div>    
        </div>
    </div>                      
</template>