<script>
import get from 'lodash/get';

import { converNumber } from '../../../_helpers/utils.helpers'

import CardContrainer from '../../CardContrainer.vue';
import Placeholder from '../../Placeholder.vue';
import Tooltip from '../../Tooltip.vue';
export default {
    components: {
        CardContrainer,
        Placeholder,
        Tooltip,
    },


    props: {
        is_loading_commissions: {
            type: Boolean,
            default: false,
        },
        is_loading_new_renewal_counts: {
            type: Boolean,
            default: false,
        },
        is_loading_rankings: {
            type: Boolean,
            default: false,
        },
        commissions: {
            type: Object,
            default: () => ({
                "value": 1000000,
                "samePeriodComparison": {
                    "value": 500000,
                    "changeRatioPercent": 2
                }
            })
        },
        new_renewal_counts: {
            type: Object,
            default: () => ({
                "new": 5,
                "renewal": 30,
                "samePeriodComparison": {
                    "new": {
                        "value": 1,
                        "changeRatioPercent": 5
                    },
                    "renewal": {
                        "value": 10,
                        "changeRatioPercent": 3
                    }

                }
            })
        },
        rankings: {
            type: Object,
            default: () => ({
                "value": 10,
                "samePeriodComparison": {
                    "value": 8,
                    "changeRank": -2
                }
            })
        }
    },

    data() {
        return {
            t_rank: false,
        }
    },

    methods: {
        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },
        _converNumber(number) {
            return converNumber(number);
        },

        _getIncreaseOrDecrease(number) {
            if (isNaN(number)) return 'Giảm'
            return Number(number) > 0 ? 'Tăng' : 'Giảm'
        },

    }
}
</script>

<template>
    <div :style="{
        display: 'flex',
        flexDirection: 'row',
        justifyContent: 'center',
        alignItems: 'stretch',
        margin: '0 -15px 0 -15px',
    }">
        <div class="col-xs-4"
        >
            <div class="bg-green" style="height: 100%"
            :style="{
                boxShadow: '0 2px 4px 0 rgba(0, 0, 0, 0.2)'
            }"
            >
                <span class="info-box-icon">
                    <i class="fa fa-fw fa-dollar"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Hoa hồng theo doanh thu
                    </span>
                    <Placeholder :is_loading="is_loading_commissions">
                        <span class="info-box-number">
                            {{ _converNumber(_get(commissions, 'value', 0)) }}
                        </span>
                    </Placeholder>
                    <div :style="{
                        margin: '5px 0',
                        borderTop: '1px solid #fff',
                    }">

                    </div>
                    <Placeholder :is_loading="is_loading_commissions">
                        <span data-toggle="tooltip" data-html="true" class="progress-description" :title="`<div style='display: flex; flex-direction: column; gap: 2px; align-items: start'>
                                <div>${_getIncreaseOrDecrease(_get(commissions,
                            'samePeriodComparison.changeRatioPercent', 0))} ${Math.abs(_get(commissions,
                                'samePeriodComparison.changeRatioPercent', 0)) * 100}%</div>
                                                        <div>Kỳ này: ${_converNumber(_get(commissions, 'value', 0))}</div>
                                                        <div>Kỳ trước: ${_converNumber(_get(commissions, 'samePeriodComparison.value', 0))}</div>
                            </div>`">
                            {{ _getIncreaseOrDecrease(_get(commissions, 'samePeriodComparison.changeRatioPercent', 0)) }} {{
                                Math.abs(_get(commissions, 'samePeriodComparison.changeRatioPercent', 0)) * 100 }}% so với kỳ
                            trước
                        </span>
                        <div>

                        </div>
                    </Placeholder>
                </div>
                <!-- <div v-if="start_service_time == 0" class="overlay">
                    <i class="fa fa-lock"></i>
                </div> -->
            </div>
        </div>
        <div class="col-xs-4">
            <div class="bg-purple" style="height: 100%"
                :style="{
                    boxShadow: '0 2px 4px 0 rgba(0, 0, 0, 0.2)'
                }"
            >
                <span class="info-box-icon">
                    <i class="fa fa-fw fa-credit-card"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Ký mới/ Tái ký</span>
                    <Placeholder :is_loading="is_loading_new_renewal_counts">
                        <span class="info-box-number">
                            {{ _converNumber(_get(new_renewal_counts, 'new', 0)) }} / {{
                                _converNumber(_get(new_renewal_counts, 'renewal',
                                    0)) }}
                        </span>
                    </Placeholder>
                    <div :style="{
                        margin: '5px 0',
                        borderTop: '1px solid #fff',
                    }">

                    </div>
                    <Placeholder :is_loading="is_loading_new_renewal_counts">
                        <div :style="{
                            display: 'flex',
                            alignItems: 'center',
                            gap: '4px',

                        }">
                            <span data-toggle="tooltip" data-html="true" class="progress-description" :title="`<div style='display: flex; flex-direction: column; gap: 2px; align-items: start'>
                                    <div>${_getIncreaseOrDecrease(_get(new_renewal_counts,
                                'samePeriodComparison.new.changeRatioPercent', 0))} ${Math.abs(_get(new_renewal_counts,
                                    'samePeriodComparison.new.changeRatioPercent', 0)) * 100}%</div>
                                                                <div>Kỳ này: ${_converNumber(_get(new_renewal_counts, 'new', 0))}</div>
                                                                <div>Kỳ trước: ${_converNumber(_get(new_renewal_counts, 'samePeriodComparison.new.value', 0))}</div>
                                </div>`">
                                Ký mới {{ _getIncreaseOrDecrease(_get(new_renewal_counts,
                                    'samePeriodComparison.new.changeRatioPercent', 0)) }} {{ Math.abs(_get(new_renewal_counts,
        'samePeriodComparison.new.changeRatioPercent', 0)) * 100 }}%
                            </span>/
                            <span data-toggle="tooltip" data-html="true" class="progress-description" :title="`<div style='display: flex; flex-direction: column; gap: 2px; align-items: start'>
                                    <div>${_getIncreaseOrDecrease(_get(new_renewal_counts,
                                'samePeriodComparison.renewal.changeRatioPercent', 0))} ${Math.abs(_get(new_renewal_counts,
                                    'samePeriodComparison.renewal.changeRatioPercent', 0)) * 100}%</div>
                                                                <div>Kỳ này: ${_converNumber(_get(new_renewal_counts, 'renewal', 0))}</div>
                                                                <div>Kỳ trước: ${_converNumber(_get(new_renewal_counts, 'samePeriodComparison.renewal.value', 0))}</div>
                                </div>`">
                                Tái ký {{ _getIncreaseOrDecrease(_get(new_renewal_counts,
                                    'samePeriodComparison.renewal.changeRatioPercent', 0)) }} {{
        Math.abs(_get(new_renewal_counts, 'samePeriodComparison.renewal.changeRatioPercent', 0)) *
        100 }}%
                            </span>
                        </div>
                    </Placeholder>
                </div>
                <!-- <div v-if="start_service_time == 0" class="overlay">
                    <i class="fa fa-lock"></i>
                </div> -->
            </div>
        </div>
        <div class="col-xs-4" style="box-shadow: '0 2px 4px 0 rgba(0, 0, 0, 0.2)'">
            <div class="bg-aqua" style="height: 100%"
                :style="{
                    boxShadow: '0 2px 4px 0 rgba(0, 0, 0, 0.2)'
                }"
            >
                <span class="info-box-icon">
                    <i class="fa fa-fw fa-star"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Xếp hạng theo DTTT
                    </span>
                    <Placeholder :is_loading="is_loading_rankings">
                        <span class="info-box-number">
                            {{ _converNumber(_get(rankings, 'value', 0)) }}
                        </span>
                    </Placeholder>
                    <div :style="{
                        margin: '5px 0',
                        borderTop: '1px solid #fff',
                    }">

                    </div>
                    <Placeholder :is_loading="is_loading_rankings">
                        <!-- <span data-toggle="tooltip" data-html="true" class="progress-description"
                            :title="`<div style='display: flex; flex-direction: column; gap: 2px; align-items: start'>
                                <div>${_getIncreaseOrDecrease(_get(rankings,
                                    'samePeriodComparison.changeRatioPercent', 0))} ${Math.abs(_get(rankings, 'samePeriodComparison.changeRank', 0))}</div>
                                <div>Kỳ này: ${_converNumber(_get(rankings, 'value', 0))}</div>
                                <div>Kỳ trước: ${_converNumber(_get(rankings, 'samePeriodComparison.value', 0))}</div>
                            </div>`">
                            {{ _getIncreaseOrDecrease(_get(rankings, 'samePeriodComparison.changeRank', 0)) }} {{
                                Math.abs(_get(rankings, 'samePeriodComparison.changeRank', 0)) }} hạng so với kỳ trước
                        </span> -->
                        <tooltip>
                            <template #content>
                            <div>
                                    {{ _getIncreaseOrDecrease(_get(rankings, 'samePeriodComparison.changeRank', 0)) }} {{
                                        Math.abs(_get(rankings, 'samePeriodComparison.changeRank', 0)) }} hạng so với kỳ trước
                            </div>
                            </template>
                            <template #tooltip>
                                <div style='display: flex; flex-direction: column; gap: 2px; align-items: start'>
                                    <div>{{ _getIncreaseOrDecrease(_get(rankings,
                                        'samePeriodComparison.changeRatioPercent', 0)) }} {{ Math.abs(_get(rankings,
        'samePeriodComparison.changeRank', 0)) }}</div>
                                    <div>Kỳ này: {{ _converNumber(_get(rankings, 'value', 0)) }}</div>
                                    <div>Kỳ trước: {{ _converNumber(_get(rankings, 'samePeriodComparison.value', 0)) }}</div>
                                </div>
                            </template>
                        </tooltip>
                    </Placeholder>
                </div>
                <!-- <div v-if="start_service_time == 0" class="overlay">
                    <i class="fa fa-lock"></i>
                </div> -->
            </div>
        </div>
    </div>
</template>