<script>
import { contractTiktokadsService } from '@/_services/contract.tiktokads.service.js'
import { contractConfig } from '@/_config/contract.config.js'

import Multiselect from 'vue-multiselect'
import vuejsDatepicker from 'vuejs-datepicker'
import vInputEditInline from '@/components/input/vInputEditInline.vue'

export default {

    props: {
        term_id : {
            type : [ Number, String ]
        },

        admin_id : {
            type : [ Number, String ]
        },

        isHidden: {
            type : Boolean,
            default: false
        },

        has_manage_ads_segment: {
            type : [ Boolean, String, Number ]
        }
    },

    name: 'v-tiktokads-configuration-re-join-box',
    data (){

        return {
            base_url: base_url,
            admin_url: admin_url,
            guid: _.uniqueId(),
            contract : null,
            config : {},

            formValidate : null,
            isLoading : true,
            readOnly : false,

            isModActivation: false,
            notification_message: null,
            notification_type: 'error',
            confirmValue: false, 

            contractsRelated : [],
            contractTarget: null, 

            budget_balance: 0,

            start_time : moment().toDate(),

            adaccount_id: null,
            
            activatedContracts : [],
            isValidStartDate: true,
            conflictContracts: [],
            isValid: false,

            segmentIdValidating: null,

            isShowAllContract: false,
            contractsRelatedSearchText: null,
            contractsRelatedSearch: [],

            isRejoinLoading : false,
        }
    },

    created () {
        this.build_custom_validator();
        this.loadContract();
    },

    mounted () {
        this.isModActivation = true
    },

    watch :{

        "contract.segments": {
            deep: true,
            handler () {
                let segments = _.sumBy(this.contract.segments, o => { return o.cost });
                let balance_spend = _.sumBy(this.contract.balance_spend, o => { return o.spend });

                _.set(this.contract, '_actual_result', segments + balance_spend)
            }
        },

        "contractTarget.segments": {
            deep: true,
            handler () {
                let segments = _.sumBy(this.contractTarget.segments, o => { return o.cost });
                let balance_spend = _.sumBy(this.contractTarget.balance_spend, o => { return o.spend });
                let balance_budget_received = this.contractTarget.balanceBudgetReceived;

                _.set(this.contractTarget, '_actual_result', segments + balance_spend + balance_budget_received)
            }
        },

        isModActivation () {
            if( ! this.isModActivation) return false
            this.getRelatedContracts()
        },

        _budgetBalance () {
            this.budget_balance = this._budgetBalance
        }
    },

    computed : {
        _has_manage_ads_segment(){
            return Boolean(this.has_manage_ads_segment)
        },

        percent_technician_rate(){
            let array = [];
            for (let i = 100; i >= 1; i--) {
                array.push(i);
            }
            return array
        },

        conclusions () {
            let paragraphs = []

            if(_.isEmpty(this.contractTarget)) return paragraphs

            paragraphs.push(`Tiến trình nối từ hợp đồng <label><i>${this.contractTarget.contract_code}</i></label> <span class="fa fa-chevron-circle-right"></span>  <label>hợp đồng này</label>`)

            let _balanceCost = `<label class="${this.budget_balance > 0 ? 'text-green' : 'text-danger'}">${this.budget_balance < 0 ? '+' : ''}${(-this.budget_balance).toLocaleString('de-DE')} vnđ</label>`
            paragraphs.push(`${_balanceCost} vào chi tiêu hợp đồng <i>${this.contract.contract_code}</i>`)

            if(_.includes([ 'ending', 'liquidation' ], this.contractTarget.term_status))
            {
                paragraphs.push(`Hợp đồng <label><i>${this.contractTarget.contract_code}</i></label> sẽ <label class="text-red">bị điều chỉnh số liệu lại theo thống số bên trên</label> theo điều chỉnh bên trên.`)
            }
            else
            {
                paragraphs.push(`Hợp đồng <label><i>${this.contractTarget.contract_code}</i></label> sẽ <label class="text-red">cập nhật và kết thúc hợp đồng</label> theo điều chỉnh bên trên.`)
            }

            return paragraphs
        },

        _budgetBalance () {
            if(_.isEmpty(this.contractTarget)) return 0
            return _.get(this.contractTarget, 'actual_budget') - _.get(this.contractTarget, '_actual_result')
        }
    },

    methods: {

        clearContractTarget () {
            this.contractTarget = null
            $("#headingOne > h4 > a > small").trigger('click')
        },

        setContractTarget (contractId) {
            
            this.isLoading = true

            contractTiktokadsService
            .get(contractId)
            .then( response => {

                let _contract = _.get(response, 'data')
                _contract._actual_result = 0

                if( ! _.isEmpty(_contract.segments))
                {
                    // Calc _contract.segments insight
                    _.each(_contract.segments, (o,i) => {
                        /* Property hỗ trợ UI/UX loading khi xử lý thông tin */
                        o.isLoading = true
                        o.cost = 0

                        contractTiktokadsService.getAdAccountCost(o.adaccount_id, {
                            'start_time' : o.start_date,
                            'end_time' : o.end_date,
                        })
                        .then(response => {
                            o.cost = _.parseInt(_.get(response, 'data'))
                        })
                        .then(() => {
                            let _start_date = _.lte(o.start_date, 0) ? null : o.start_date
                            let _end_date = _.lte(o.end_date, 0) ? parseInt(moment().format('X')) : o.end_date

                            let overlap_segment = _.find(_contract.segments, (_segment) => {
                                if(_.get(_segment, 'adaccount_id') != _.get(o, 'adaccount_id'))
                                {
                                    return false;
                                }

                                return _segment.assigned_technician_id != o.assigned_technician_id;
                            })

                            if(_.isEmpty(overlap_segment))
                            {
                                return
                            }
                            
                            let __start_date = _.get(overlap_segment, 'start_date');
                            let start_date = _.max([_start_date, __start_date]);

                            let __end_date = _.get(overlap_segment, 'end_date');
                            if(_.lte(__end_date, 0))
                            {
                                __end_date = parseInt(moment().format('X'))
                            }
                            let end_date = _.min([_end_date, __end_date]);

                            return contractTiktokadsService.getAdAccountCost(o.adaccount_id, {
                                'start_time' : start_date,
                                'end_time' : end_date,
                            }).then(response => {
                                let overlap_spend = _.parseInt(_.get(response, 'data'))
                                let actual_spend = overlap_spend * _.get(o, 'assigned_technician_rate') / 100;
                                o.cost = _.round(actual_spend);
                            }).finally(()=>{
                                this.isLoading = true
                                this.isLoading = false

                                setTimeout(() => {
                                    o.isLoading = false
                                }, 2000);
                            })
                        })
                        .then(() => {
                            o.start_date = _.lte(o.start_date, 0) ? null : moment.unix(o.start_date).toDate()
                            o.end_date = _.lte(o.end_date, 0) ? (new Date()) : moment.unix(o.end_date).toDate()
                            this.isLoading = true
                        })
                        .finally(()=>{
                            this.isLoading = true
                            this.isLoading = false

                            setTimeout(() => {
                                o.isLoading = false
                            }, 2000);
                        })
                    })
                }

                if( ! _.isEmpty(_contract.balance_spend))
                {
                    _contract.balance_spend = _.map(_contract.balance_spend, (o,i) => {

                        o.start_date = _.lte(o.start_date, 0) ? null : moment.unix(o.start_date).toDate()
                        o.end_date = _.lte(o.end_date, 0) ? (new Date()) : moment.unix(o.end_date).toDate()

                        this.isLoading = true

                        return o
                    })
                }

                // if(_.gt(_.get(_contract, 'balanceBudgetReceived'), 0)) _contract.actual_budget = _contract.actual_budget + _contract.balanceBudgetReceived 

                this.contractTarget = _contract
                return response
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        updateSegmentAdaccountCost( type, segmentId){

            let contract = _.eq(type, 'target') ? this.contractTarget : this.contract
            let _index = _.findIndex(contract.segments, [ 'post_id', segmentId ])
            if(_.lt(_index, 0)) return false

            let x = _.isNull(contract.segments[_index].start_date) ? new Date() : contract.segments[_index].start_date
            let y = _.isNull(contract.segments[_index].end_date) ? new Date() : contract.segments[_index].end_date

            const _payload = {
                'start_time': _.isNumber(x) ? x :  Math.round(x.getTime() / 1000),
                'end_time': _.isNumber(y) ? y : Math.round(y.getTime() / 1000),
            }

            this.isLoading = true
            contract.segments[_index].isLoading = true

            return contractTiktokadsService
            .getAdAccountCost(contract.segments[_index].adaccount_id, _payload)
            .then(response => {
                let _spend = _.parseInt(_.get(response, 'data'));
                let actual_spend = _spend * _.get(contract, `segments[${_index}].assigned_technician_rate`) / 100;
                contract.segments[_index].cost = _.round(actual_spend);

                return response
            })
            .finally(()=>{
                setTimeout(() => {
                    contract.segments[_index].isLoading = false
                    this.isLoading = false
                }, 1000);
            })
        },

        loadContract () {

            this.isLoading = true
            contractTiktokadsService.get(this.term_id).then( response => {

                let _contract = _.get(response, 'data')
                _contract._actual_result = 0

                if( ! _.isEmpty(_contract.segments))
                {
                    // Calc _contract.segments insight
                    _.each(_contract.segments, (o,i) => {
                        /* Property hỗ trợ UI/UX loading khi xử lý thông tin */
                        o.isLoading = true
                        o.cost = 0

                        contractTiktokadsService.getAdAccountCost(o.adaccount_id, {
                            'start_time' : o.start_date,
                            'end_time' : o.end_date,
                        })
                        .then(response => {
                            o.cost = _.parseInt(_.get(response, 'data'))
                        })
                        .then(() => {
                            let _start_date = _.lte(o.start_date, 0) ? null : o.start_date
                            let _end_date = _.lte(o.end_date, 0) ? parseInt(moment().format('X')) : o.end_date

                            let overlap_segment = _.find(_contract.segments, (_segment) => {
                                if(_.get(_segment, 'adaccount_id') != _.get(o, 'adaccount_id'))
                                {
                                    return false;
                                }

                                return _segment.assigned_technician_id != o.assigned_technician_id;
                            })

                            if(_.isEmpty(overlap_segment))
                            {
                                return
                            }
                            
                            let __start_date = _.get(overlap_segment, 'start_date');
                            let start_date = _.max([_start_date, __start_date]);

                            let __end_date = _.get(overlap_segment, 'end_date');
                            if(_.lte(__end_date, 0))
                            {
                                __end_date = parseInt(moment().format('X'))
                            }
                            let end_date = _.min([_end_date, __end_date]);

                            return contractTiktokadsService.getAdAccountCost(o.adaccount_id, {
                                'start_time' : start_date,
                                'end_time' : end_date,
                            }).then(response => {
                                let overlap_spend = _.parseInt(_.get(response, 'data'))
                                let actual_spend = overlap_spend * _.get(o, 'assigned_technician_rate') / 100;
                                o.cost = _.round(actual_spend);
                            }).finally(()=>{
                                this.isLoading = true
                                this.isLoading = false

                                setTimeout(() => {
                                    o.isLoading = false
                                }, 2000);
                            })
                        })
                        .then(() => {
                            o.start_date = _.lte(o.start_date, 0) ? null : moment.unix(o.start_date).toDate()
                            o.end_date = _.lte(o.end_date, 0) ? (new Date()) : moment.unix(o.end_date).toDate()
                            this.isLoading = true
                        })
                        .finally(()=>{
                            this.isLoading = true
                            this.isLoading = false

                            setTimeout(() => {
                                o.isLoading = false
                            }, 2000);
                        })
                    })
                }

                if( ! _.isEmpty(_contract.balance_spend))
                {
                    _contract.balance_spend = _.map(_contract.balance_spend, (o,i) => {

                        o.start_date = _.lte(o.start_date, 0) ? null : moment.unix(o.start_date).toDate()
                        o.end_date = _.lte(o.end_date, 0) ? (new Date()) : moment.unix(o.end_date).toDate()

                        this.isLoading = true

                        return o
                    })
                }

                this.contract = _contract
            })
            .finally(() => {
                this.isLoading = false
            })
        },

        statusOfValue (value) {
            return contractConfig.valueOf(value);
        },

        moment (unix, format) {
            
            if( ! _.gt(unix, 0)) return '';
            if(_.isEmpty(format)) format = 'DD/MM/YYYY'
            return moment.unix(unix).format(format);
        },

        getRelatedContracts() {
            this.isLoading = true
            return contractTiktokadsService.getRelatedContracts(this.term_id)
            .then(response => {
                this.contractsRelated = _.get(response, 'data')
                this.contractsRelatedSearch = _.get(response, 'data')
            })
            .finally( () => { this.isLoading = false })
        },

        proc_service_submit () {

            this.$validator.validate().then((result) => {

                if( ! result) return result

                // Kiểm tra mode activation đã được kích hoạt chưa
                if( ! this.isModActivation || _.isEmpty(this.contract))
                {
                    this.pushAlert( 'Mode chưa được kích hoạt.');
                    return false
                }

                // Kiểm tra Adaccounts đã được cấu hình chưa
                if( _.isEmpty(this.contract, 'adaccounts'))
                {
                    this.pushAlert( 'Hợp đồng chưa được cấu hình tài khoản.');
                    return false
                }

                // Kiểm tra Segments đã được cấu hình chưa
                if( _.isEmpty(this.contract, 'segments'))
                {
                    this.pushAlert( 'Mode chưa được kích hoạt.');
                    return false
                }

                // Kiểm tra confirmValue đã được cấu hình chưa
                if( ! this.confirmValue)
                {
                    this.pushAlert( 'Bạn cần xác nhận các thông số đã thể hiện đúng để tiếp tục.');
                    return false
                }
                    
                // Ngược lại, tiến hành nối
                if( _.isEmpty(this.contractTarget)) 
                {
                    this.pushAlert( 'Bạn cần chọn hợp đồng nguồn để làm cơ sở nối hợp đồng trước, quay lại bước #1.');
                    return false
                }

                this.isRejoinLoading = true

                const _payload = {
                    'destination': {
                        'contractId' : this.contract.term_id,
                        'segments' : _.map(_.cloneDeep(_.get(this.contract, 'segments')), o => {
                            return {
                                'post_id': o.post_id,
                                'adaccount_id': o.adaccount_id,
                                'contract_id': o.contract_id,
                                'cost': _.round(o.cost),
                                'start_date': _.isNull(o.start_date) ? null : _.parseInt(moment(o.start_date).format("X")),
                                'end_date': _.isNull(o.end_date) ? null : moment(o.end_date).format("X")
                            }
                        }),
                        'actual_result' : _.get(this.contract, '_actual_result'),
                        'budget_balance' : this.budget_balance
                    },

                    'origination': {
                        'contractId' : this.contractTarget.term_id,
                        'segments' : _.map(_.cloneDeep(_.get(this.contractTarget, 'segments')), o => {
                            return {
                                'post_id': o.post_id,
                                'adaccount_id': o.adaccount_id,
                                'contract_id': o.contract_id,
                                'cost': _.round(o.cost),
                                'start_date': _.isNull(o.start_date) ? null : _.parseInt(moment(o.start_date).format("X")),
                                'end_date': _.isNull(o.end_date) ? null : moment(o.end_date).format("X")
                            }
                        }),
                        'actual_result' : _.get(this.contractTarget, '_actual_result'),
                        'budget_balance' : this.budget_balance
                    }
                }

                contractTiktokadsService.rejoin(_payload)
                .then(response => {

                    if(200 == response.code )
                    {
                        $.notify(_.get(response, 'message', 'OK') , 'success')
                        
                        $('#modal-'+ this.guid).modal('hide')

                        return response
                    }

                    throw Error(_.get(response, 'error'))
                })
                .catch(error => {
                    $.notify(_.toString(error) , 'error')
                })
                .finally( () => {
                    this.isRejoinLoading = false
                })
            })
        },

        isEmpty(value) {
            return _.isEmpty(value)
        },

        pushAlert(message, type)
        {
            const _type = _.isEmpty(type) ? 'error' : type
            this.notification_type = _.isEmpty(type) ? 'error' : type
            this.notification_message = message
        },

        setActivation (value)
        {
            this.isModActivation = value
        },

        forceAllValidation (e) {

            this.$nextTick(() => this.$validator.validate())
        },

        searchRelatedContract(){
            if(_.isEmpty(this.contractsRelatedSearchText)){
                this.contractsRelatedSearch = JSON.parse(JSON.stringify(this.contractsRelated));
                return;
            }
            
            let _contractsRelatedSearch = _.filter(this.contractsRelated, (item) => {
                let contract_code = _.get(item, "contract_code");
                
                return _.includes(contract_code, this.contractsRelatedSearchText);
            });

            
            this.contractsRelatedSearch = JSON.parse(JSON.stringify(_contractsRelatedSearch));
        },

        build_custom_validator(){
            // Validate segment
            this.$validator.extend('segment_valid', {
                getMessage: field => 'Cấu hình không hợp lệ',
                validate: async (value, args) => {
                    const type = _.first(args)
                    const segmentId = _.parseInt(_.last(args))

                    let _contract = _.eq('target', type) ? this.contractTarget : this.contract
                    let _contractTarget = _.eq('target', type) ? this.contract : this.contractTarget
                    let _segment = _.find(_.get(_contract, 'segments') || [], o => { return o.post_id == segmentId })
                    if(_.isEmpty(_segment)) return true

                    let _targetSegments = _.filter(_.get(_contractTarget, 'segments') || [], o => { return o.adaccount_id == _segment.adaccount_id })
                    if(_.isEmpty(_targetSegments)) return true

                    let invalidSegments = _.filter(_targetSegments, o => {

                        let x_1 = _.isNull(o.start_date) ? new Date() : o.start_date
                        let y_1 = _.isNull(o.end_date) ? new Date() : o.end_date

                        let x_2 = _.isNull(_segment.start_date) ? new Date() : _segment.start_date
                        let y_2 = _.isNull(_segment.end_date) ? new Date() : _segment.end_date

                        return _.lte(x_1, y_2) && _.gte(y_1, x_2)
                    })

                    if(_.gt(_.size(invalidSegments), 0)) return false

                    // Nếu thời gian là hợp lệ 
                    // Và Id phân đoạn trước đó khác Id phân đoạn hiện tại
                    // Thì sẽ tiến hành thực hiện thêm 1 action đó chính là load lên dữ liệu của tài khoản.
                    if(segmentId != this.segmentIdValidating)
                    {
                        this.segmentIdValidating = segmentId;
                        
                        await this.updateSegmentAdaccountCost(type, _segment.post_id);
                    }

                    return true;
                }
            })
        },

        has_edit_segment(segment){
            if(this._has_manage_ads_segment)
            {
                return true;
            }

            if(['', 0, null, undefined].includes(segment.post_id))
            {
                return true;
            }

            return segment.assigned_technician_id == this.admin_id
        }
    },

    components: {
        vuejsDatepicker,
        vInputEditInline
    }
}
</script>
<template>
    <div :id="'container-' + guid" class="col-md-2">

        <template>
            <button v-if="isEmpty(contract) || ! contract.segments.length > 0" disabled="true" class="btn btn-warning">
                <i class="fa fa-fw fa-play"></i> Chưa cấu hình phân đoạn
            </button>
            <button v-else :id="'btn-' + guid" type="button" class="btn btn-primary" @click="setActivation(true)" data-toggle="modal" :data-target="'#modal-' + guid">
                <template v-if="!isLoading"><i class="fa fa-fw fa-unlink"></i> [Fix] Nối hợp đồng</template>
                <template v-else><i class="fa fa-spinner fa-pulse fa-check"></i>Đang xử lý ...</template>
            </button>
        </template>

        <div :id="'modal-' + guid" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div v-if="isLoading" class="progress" style="height: 7px">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:100%;"></div>
                    </div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-circle"></i> Xác nhận thực hiện dịch vụ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box no-border">
                            <div class="box-body">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                      <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <small class="label pull-right bg-primary">1</small> # Danh sách hợp đồng có thể nối
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">
                                        <div v-if="contractsRelated" class="input-group mb-2" style="margin-bottom: 8px">
                                            <input v-model="contractsRelatedSearchText" type="text" class="form-control" placeholder="Mã hợp đồng" @keyup="searchRelatedContract">
                                            <span class="input-group-btn"><a :href="`javascript:void('search_contract')`" name="search" class="btn btn-flat btn-primary" @click="searchRelatedContract"><i class="fa fa-search"></i></a></span>
                                        </div>
                                        <table class="table table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mã HĐ</th>
                                                    <th scope="col">Ngày bắt đầu</th>
                                                    <th scope="col">Ngày kết thúc</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template v-if="contractsRelatedSearch">
                                                    <template v-for="(item, index) in contractsRelatedSearch">
                                                        <tr v-if="index < 3 || isShowAllContract" v-bind:key="`contractsRelated-${item.term_id}`">
                                                            <td>
                                                                <a target="_blank" :href="`${base_url}/admin/tiktokads/overview/${item.term_id}`">
                                                                    <label v-text="item.contract_code.length > 20 ? item.contract_code.substring(0, 20) + '..' : item.contract_code"></label>
                                                                </a>
                                                            </td>
                                                            <td align="center" v-text="moment(item.advertise_start_time) || '--'"></td>
                                                            <td align="center" v-text="moment(item.advertise_end_time) || 'Hiện tại'"></td>
                                                            <td align="center" v-text="statusOfValue(item.term_status)"></td>
                                                            <td>
                                                                <a  v-on:click="setContractTarget(item.term_id)"
                                                                    class="btn btn-flat btn-social-icon"
                                                                    role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent="#accordion"
                                                                    href="#collapseTwo"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapseTwo">
                                                                    <i class="fa fa-lg fa-chain"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                    <template v-if="contractsRelatedSearch.length > 3">
                                                        <tr>
                                                            <td v-if="!isShowAllContract" colspan="5" class="text-center" @click="isShowAllContract = !isShowAllContract"><a :href="`javascript:void('show')`" class="btn btn-flat">Hiển thị thêm ({{contractsRelatedSearch.length - 3}}) hợp đồng</a></td>
                                                            <td v-if="isShowAllContract" colspan="5" class="text-center" @click="isShowAllContract = !isShowAllContract"><a :href="`javascript:void('hide')`" class="btn btn-flat">Thu gọn</a></td>
                                                        </tr>
                                                    </template>
                                                </template>
                                            </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default disabled">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                      <h4 class="panel-title">
                                        <a  class="collapsed disabled" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          <small class="label pull-right bg-green">2</small> # Điều chỉnh số liệu (Nối hợp đồng)
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <!-- Contract target -->
                                            <div v-if="contractTarget != null && contractTarget.is_manipulation_locked" class="alert alert-warning alert-dismissible">
                                                <h4><i class="icon fa fa-exclamation-triangle"></i> Thông báo !</h4>
                                                <span>
                                                    Hợp đồng <b>{{ contractTarget.contract_code }}</b> đã <b>khoá thao tác</b> đến ngày <b>{{moment(contractTarget.manipulation_locked_at)}}</b>. 
                                                    Các thao tác ảnh hưởng đến số liệu trước ngày {{moment(contractTarget.manipulation_locked_at)}} sẽ <b>không thực hiện được</b>.
                                                    <br>
                                                    Vui lòng liên hệ bộ phận Kế toán để được hỗ trợ
                                                </span>
                                            </div>

                                            <table v-if="contractTarget != null" class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mã HĐ/ CID (HĐ cần kết thúc)</th>
                                                        <th align="center" scope="col">Ngày bắt đầu</th>
                                                        <th align="center" scope="col">Ngày kết thúc</th>
                                                        <th align="right" scope="col">NS</th>
                                                        <th align="right" scope="col">Chi tiêu</th>
                                                        <th align="right" scope="col">Còn lại</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a target="_blank" :href="`${base_url}/admin/tiktokads/overview/${contractTarget.term_id}`">
                                                                <label v-text="contractTarget.contract_code.length > 20 ? contractTarget.contract_code.substring(0, 20) + '..' : contractTarget.contract_code"></label>
                                                            </a>
                                                            <a href="#" v-on:click="clearContractTarget()" style="font-weight: bolder" class="text-danger pull-right"><i>( <i class="fa fa-unlink"></i> Bỏ chọn)</i></a>
                                                            <br/>
                                                            (<i v-text="statusOfValue(contractTarget.term_status)"></i>)
                                                        </td>
                                                        <td align="left" v-text="moment(contractTarget.advertise_start_time) || '--'"></td>
                                                        <td align="left" v-text="moment(contractTarget.advertise_end_time) || 'Hiện tại'"></td>
                                                        <td align="right" style="font-weight: bolder;" v-text="(parseInt(contractTarget.actual_budget)).toLocaleString('de-DE')"></td>
                                                        <td align="right" style="font-weight: bolder;" v-text="(parseInt(contractTarget._actual_result)).toLocaleString('de-DE')"></td>
                                                        <td align="right" style="font-weight: bolder;">
                                                            <v-input-edit-inline v-model.number="budget_balance" />
                                                            <span v-if="budget_balance != _budgetBalance">
                                                                <label class="text-danger"><i>(Số tùy chỉnh)</i></label>
                                                            </span>
                                                        </td>
                                                    </tr>

                                                    <template v-if="contractTarget.balanceBudgetReceived">
                                                        <tr>
                                                            <td>
                                                                Chi tiêu nối
                                                            </td>
                                                            <td align="left">--</td>
                                                            <td align="left">--</td>
                                                            <td align="right">--</td>
                                                            <td align="right" v-text="(parseInt(contractTarget.balanceBudgetReceived)).toLocaleString('de-DE')"></td>
                                                            <td align="right">--</td>
                                                        </tr>
                                                    </template>

                                                    <template v-if="contractTarget.segments">
                                                        <template v-for="(segment, i) in contractTarget.segments">
                                                            <tr v-bind:key="'contract-target-segment-' + segment.post_id">
                                                                <td>
                                                                    {{ segment.adaccount.account_name }} 
                                                                    | {{ segment.adaccount.customer_id }} 
                                                                    | {{ segment.adaccount.currency_code }}
                                                                    <h6 class="text-helper">{{ segment.technician.display_name }} ({{ segment.technician.user_email }}) {{ segment.assigned_technician_rate }}%</h6>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            data-vv-as="Ngày chạy"
                                                                            :name="`contractTarget[segments][${i}][start_date]`"
                                                                            v-validate="`required|segment_valid:target,${contractTarget.segments[i].post_id}`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :disabled="isLoading
                                                                                || !has_edit_segment(contractTarget.segments[i])"
                                                                            v-model="contractTarget.segments[i].start_date"
                                                                            @selected="forceAllValidation"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                    <span class="text-danger">{{ errors.first(`contractTarget[segments][${i}][start_date]`) }}</span>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            data-vv-as="Ngày Kết thúc"
                                                                            :name="`contractTarget[segments][${i}][end_date]`"
                                                                            v-validate="`required|segment_valid:target,${contractTarget.segments[i].post_id}`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :disabled="isLoading
                                                                                || !has_edit_segment(contractTarget.segments[i])"
                                                                            v-model="contractTarget.segments[i].end_date"
                                                                            @selected="forceAllValidation"
                                                                        ></vuejsDatepicker>
                                                                        <span class="input-group-addon">
                                                                            <button 
                                                                                :disabled="isLoading
                                                                                    || !has_edit_segment(contractTarget.segments[i])"
                                                                                type="button"
                                                                                @click="contractTarget.segments[i].end_date = null"
                                                                                class="btn btn-sm btn-xs btn-danger">
                                                                                <i class="fa fa-close"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <span class="text-danger">{{ errors.first(`contractTarget[segments][${i}][end_date]`) }}</span>
                                                                </td>
                                                                <td align="right">--</td>
                                                                <td align="right" v-text="(contractTarget.segments[i]['cost'] || 0).toLocaleString('de-DE')"></td>
                                                                <td align="right">--</td>
                                                            </tr>
                                                            <tr v-bind:key="'contract-target-segment-loading-status-' + segment.post_id" v-if="contractTarget.segments[i].isLoading">
                                                                <td colspan="6" style="padding: 0">
                                                                    <div style="height: 5px">
                                                                        <div
                                                                            class="progress-bar progress-bar-success progress-bar-striped active"
                                                                            role="progressbar"
                                                                            style="width:100%;">    
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </template>

                                                    <template v-if="contractTarget.balance_spend">
                                                        <template v-for="(item, i) in contractTarget.balance_spend">
                                                            <tr v-bind:key="'contract-target-balance-spend-' + item.post_id">
                                                                <td>
                                                                    Chi phí cân bằng thủ công
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            :name="`balance_spend_${i}[start_date]`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :value="item.start_date"
                                                                            :disabled="true"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            :name="`balance_spend_${i}[end_date]`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :value="item.end_date"
                                                                            :disabled="true"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                </td>
                                                                <td align="right">--</td>
                                                                <td align="right" v-text="(item.spend || 0).toLocaleString('de-DE')"></td>
                                                                <td align="right">--</td>
                                                            </tr>
                                                        </template>
                                                    </template>
                                                </tbody>
                                            </table>
                                            <!-- ./Contract target -->

                                            <p style="text-align: center">
                                                <span class="text-purple fa fa-3x fa-caret-down"></span>
                                            </p>

                                            <!-- Contract -->
                                            <div v-if="contract != null && contract.is_manipulation_locked" class="alert alert-warning alert-dismissible">
                                                <h4><i class="icon fa fa-exclamation-triangle"></i> Thông báo !</h4>
                                                <span>
                                                    Hợp đồng <b>{{ contract.contract_code }}</b> đã <b>khoá thao tác</b> đến ngày <b>{{moment(contract.manipulation_locked_at)}}</b>. 
                                                    Các thao tác ảnh hưởng đến số liệu trước ngày {{moment(contract.manipulation_locked_at)}} sẽ <b>không thực hiện được</b>.
                                                    <br>
                                                    Vui lòng liên hệ bộ phận Kế toán để được hỗ trợ
                                                </span>
                                            </div>

                                            <table v-if="contract != null" class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mã HĐ/ CID (HĐ hiện tại)</th>
                                                        <th scope="col">Ngày bắt đầu</th>
                                                        <th scope="col">Ngày kết thúc</th>
                                                        <th scope="col">NS</th>
                                                        <th scope="col">Chi tiêu</th>
                                                        <th scope="col">Còn lại</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a target="_blank" :href="`${base_url}/admin/tiktokads/overview/${contract.term_id}`">
                                                                <label v-text="contract.contract_code.length > 20 ? contract.contract_code.substring(0, 20) + '..' : contract.contract_code"></label>
                                                            </a>
                                                            <br/>
                                                            (<i v-text="statusOfValue(contract.term_status)"></i>)
                                                        </td>

                                                        <td align="left" v-text="moment(contract.advertise_start_time) || '--'"></td>
                                                        <td align="left" v-text="moment(contract.advertise_end_time) || 'Hiện tại'"></td>
                                                        <td align="right" style="font-weight: bolder;" v-text="(parseInt(contract.actual_budget)).toLocaleString('de-DE')"></td>
                                                        <td align="right" style="font-weight: bolder;" v-text="(parseInt(contract._actual_result - budget_balance)).toLocaleString('de-DE')"></td>
                                                        <td align="right" 
                                                            style="font-weight:bolder; font-style: italic;" 
                                                            :class="budget_balance > 0 ? 'text-green' : 'text-danger'" 
                                                            v-text="(parseInt(contract.actual_budget - contract._actual_result + budget_balance)).toLocaleString('de-DE')"
                                                        >
                                                        </td>
                                                    </tr>

                                                    <template v-if="budget_balance">
                                                        <tr>
                                                            <td>
                                                                Chi tiêu nối
                                                            </td>
                                                            <td align="left">--</td>
                                                            <td align="left">--</td>
                                                            <td align="right">--</td>
                                                            <td align="right" v-text="(parseInt(-budget_balance)).toLocaleString('de-DE')"></td>
                                                            <td align="right">--</td>
                                                        </tr>
                                                    </template>

                                                    <template v-if="contract.segments">
                                                        <template v-for="(segment, i) in contract.segments">
                                                            <tr v-bind:key="'contract-segment-id-' + segment.post_id">
                                                                <td>
                                                                    {{ segment.adaccount.account_name }} | {{ segment.adaccount.customer_id }} | {{ segment.adaccount.currency_code }}
                                                                    <h6 class="text-helper">{{ segment.technician.display_name }} ({{ segment.technician.user_email }})</h6>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            data-vv-as="Ngày chạy"
                                                                            :name="`original[segments][${i}][start_date]`"
                                                                            v-validate="`required|segment_valid:original,${contract.segments[i].post_id}`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :disabled="isLoading
                                                                                || !has_edit_segment(contract.segments[i])"
                                                                            v-model="contract.segments[i].start_date"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                    <span class="text-danger">{{ errors.first(`original[segments][${i}][start_date]`) }}</span>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            data-vv-as="Ngày Kết thúc"
                                                                            :name="`original[segments][${i}][end_date]`"
                                                                            v-validate="`segment_valid:original,${contract.segments[i].post_id}`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :disabled="isLoading
                                                                                || !has_edit_segment(contract.segments[i])"
                                                                            v-model="contract.segments[i].end_date"
                                                                            @selected="forceAllValidation"
                                                                        ></vuejsDatepicker>

                                                                        <span class="input-group-addon">
                                                                            <button 
                                                                                :disabled="isLoading
                                                                                    || !has_edit_segment(contract.segments[i])"
                                                                                type="button"
                                                                                @click="contract.segments[i].end_date = null"
                                                                                class="btn btn-xs btn-danger">
                                                                                <i class="fa fa-close"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                    <span class="text-danger">{{ errors.first(`original[segments][${i}][end_date]`) }}</span>
                                                                </td>
                                                                <td align="right">--</td>
                                                                <td align="right" v-text="(contract.segments[i]['cost'] || 0).toLocaleString('de-DE')"></td>
                                                                <td align="right">--</td>
                                                            </tr>
                                                            <tr v-bind:key="'contract-segment-id-status-loading-' + segment.post_id" v-if="contract.segments[i].isLoading">
                                                                <td colspan="6" style="padding: 0">
                                                                    <div style="height: 5px">
                                                                        <div
                                                                            class="progress-bar progress-bar-success progress-bar-striped active"
                                                                            role="progressbar"
                                                                            style="width:100%;">    
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </template>

                                                    <template v-if="contract.balance_spend">
                                                        <template v-for="(item, i) in contract.balance_spend">
                                                            <tr v-bind:key="'contract-balance-spend-' + item.post_id">
                                                                <td>
                                                                    Chi phí cân bằng thủ công
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            :name="`balance_spend_${i}[start_date]`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :value="item.start_date"
                                                                            :disabled="true"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group form-group">
                                                                        <vuejsDatepicker
                                                                            :name="`balance_spend_${i}[end_date]`"
                                                                            wrapper-class="input-group col-sm-12"
                                                                            input-class="form-control valid"
                                                                            :format="'dd/MM/yyyy'"
                                                                            :value="item.end_date"
                                                                            :disabled="true"
                                                                        ></vuejsDatepicker>
                                                                    </div>
                                                                </td>
                                                                <td align="right">--</td>
                                                                <td align="right" v-text="(item.spend || 0).toLocaleString('de-DE')"></td>
                                                                <td align="right">--</td>
                                                            </tr>
                                                        </template>
                                                    </template>
                                                </tbody>
                                            </table>
                                            <!-- ./Contract -->
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                <div v-if="conclusions" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneX">
                                      <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            <small class="label pull-right bg-yellow"><i class="fa fa-info"></i></small> # Kết quả mong muốn
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                      <div class="panel-body">
                                        <ul>
                                            <li v-for="(item, i) in conclusions" v-bind:key="`conclusion-${i}`" v-html="item"></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="alert alert-danger alert-dismissible" v-if="!isEmpty(notification_message)">
                                    <h4><i class="icon fa fa-check"></i> Thông báo !</h4>
                                    {{ notification_message }}
                                </div>
                            </div>
                            <div class="box-footer text-align:right">
                                <button
                                    v-on:click="proc_service_submit"
                                    type="button"
                                    :id="'btn-' + guid"
                                    :disabled="!confirmValue || isRejoinLoading"
                                    class="btn btn-primary pull-right"
                                >
                                    <span v-if="isRejoinLoading">
                                        <i class="fa fa-spinner fa-pulse fa-check"></i> Đang xử lý...
                                    </span>
                                    <span v-else>
                                        <i class="fa fa-check"></i> Xác nhận
                                    </span>
                                </button>

                                <div class="pull-right checkbox icheck-belizehole">
                                    <input v-model="confirmValue" type="checkbox" id="confirmValueChk" />
                                    <label for="confirmValueChk"> Thông tin đúng rồi đó, chọn để tiếp tục thôi. &nbsp;&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>