<template>
    <v-datatable-builder
        v-if="!isEmpty(APIDataset)"
        :is_filtering="false"
        :is_ordering="true"
        :is_download="true"
        :custom_datatable_rows="true"
        :custom_datatable_header="true"
        :per_page="50"
        :filter_position="filter_position"
        :remote_url="APIDataset"
        :default_query_params="APIDefaultParams"
        :is_load_config="false"
        class="datatable"
    >
        <template slot="tools_extra_right">
            <div class="pull-right">
                <date-range-picker
                    @update="datesSelected()"
                    v-model="dateRange"
                    :ranges="dateRanges"
                    opens="left"
                >
                </date-range-picker>
            </div>
        </template>
        <template slot="table_body_header" slot-scope="{ items }">
            <tr>
                <th
                    v-for="(heading, key, i) in items"
                    v-bind:key="`datatable-headings-${i}`"
                    nowrap="nowrap"
                    style="vertical-align: top"
                    :class="{
                        'datatable__header--min-width-15':                    
                            key == 'customer_code' ||
                            key == 'contract_begin' ||
                            key == 'contract_end' ||
                            key == 'actual_budget',
                        'datatable__header--min-width-20':
                            key == 'staff_business',
                        'datatable__header--min-width-25':
                            key == 'staff_advertise',
                    }"
                    v-html="heading"
                ></th>
            </tr>
        </template>
        <template slot="table_body_rows" slot-scope="{ items }">
                <tr
                    v-for="(row, i) in items"
                    v-bind:key="`datatable-filter-row-${i}`"
                >
                    <td 
                        nowrap 
                        align="left" 
                        class="datatable__cell--middle"
                        style="
                            max-width: 25rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        "
                    >
                        <a :href="`${admin_url}/tiktokads/overview/${row.contractId}`" target="_blank"><b>{{ row.contract_code }}</b></a>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <a :href="`${admin_url}/customer/edit/${row.customer_id}`" target="_blank">{{ row.customer_code }}</a>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle" v-text="row.customer_name"></td>
                    <td nowrap align="left" class="datatable__cell--middle" v-text="row.type_of_service"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="parseInt(row.contract_value).toLocaleString('de-DE')"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.start_service_time"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.end_service_time"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.result_updated_on"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="row.remain_pending_days"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="parseInt(row.actual_budget).toLocaleString('de-DE')"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="parseInt(row.spend).toLocaleString('de-DE')"></td>
                    <td nowrap align="right" class="datatable__cell--middle" v-text="parseInt(row.remain_budget).toLocaleString('de-DE')"></td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <span v-if="isEmpty(row.staff_business)">--</span>
                        <a v-else class="d-flex" :href="`javascript:void(${get(row,'staff_business.user_id')})`">
                            <img
                                class="img__avatar--sm img__avatar--circle"
                                style="margin-right: 8px"
                                :src="`${get(row,'staff_business.user_avatar')}`"
                            />
                            <span class="typo__text"><b> {{ get(row,'staff_business.display_name') }} </b></span>
                        </a>
                    </td>
                    <td nowrap align="left" class="datatable__cell--middle">
                        <vUserList :users="row.staff_advertise"></vUserList>
                    </td>
                </tr>
            </template>
    </v-datatable-builder>
</template>

<script>
    import _isEmpty from "lodash/isEmpty";
    import _get from "lodash/get";
    import DateRangePicker from 'vue2-daterange-picker';
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vUserList from "@/components/Utils/vUserList.vue";

    export default {
        components: {
            DateRangePicker,
            vDatatableBuilder,
            vUserList
        },
        data() {
            let dateRanges = {};
            let today = new Date()
            today.setHours(0, 0, 0, 0)
            dateRanges['Hôm nay'] = [today, today]

            let yesterday = new Date()
            yesterday.setDate(today.getDate() - 1)
            yesterday.setHours(0, 0, 0, 0);
            dateRanges['Hôm qua'] = [yesterday, yesterday]

            let y = today.getFullYear()
            let m = today.getMonth()

            let thisMonthStart 	= new Date(y, m, 1)
            let thisMonthEnd 	= new Date(y, m + 1, 0)
            dateRanges['Tháng này'] = [thisMonthStart, thisMonthEnd]

            let i = 1
            while( i < 4)
            {
                let _start 	= new Date(y, (m-i), 1)
                let _end 	= new Date(y, (m-i) + 1, 0)
                dateRanges[`Tháng ${_start.getMonth()+1}`] = [_start, _end]
                i++
            }

            return {
                admin_url: admin_url,
                base_url: base_url,
                filter_position: 1,

                APIDataset: ApiEndpoints.valueOf("tiktokads") + "/datasetAdsPending",
                APIDefaultParams: [
                    {
                        start_updated_date: parseInt(thisMonthStart.getTime()/1000),
                        end_updated_date: parseInt(thisMonthEnd.getTime()/1000),
                    }
                ],

                dateRange: {
                    startDate: thisMonthStart,
                    endDate: thisMonthEnd,
                },

                dateRanges : dateRanges
            };
        },

        methods: {
            isEmpty(item){
                return _isEmpty(item)
            },

            get(item, ref){
                return _get(item, ref);
            },

            switchAPIDataset(){
                let tmp = this.APIDataset;

                this.APIDataset = null
                this.APIDefaultParams = []

                let _start = parseInt(this.dateRange.startDate.getTime()/1000)
                let _end = parseInt(this.dateRange.endDate.getTime()/1000)

                this.APIDefaultParams = [
                    {
                        start_updated_date: _start,
                        end_updated_date: _end,
                    }
                ];

                setTimeout(() => {
                    this.APIDataset = tmp;
                }, 500)
            },

            datesSelected () {
                this.switchAPIDataset();
            },
        }
    };
</script>
