<template>
    <div>
        <b><i>Trong trường hợp tài khoản Tiktok của bạn có liên kết với tài khoản bên ngoài này, 
        <a :href="authorizationUri">Click vào đây</a>
        để tiến hành liên kết tài khoản<br/></i></b>
        <i><b>(Khuyến cáo chọn lựa chọn này để giảm thời gian nhập thủ công dữ liệu hằng ngày)</b></i>
    </div>
</template>

<script>
import { contractTiktokadsService } from '@/_services/contract.tiktokads.service.js'

export default {
  props: [
    'isHidden',
    'term_id',
    'begin_date'
  ],
	name: 'v-tiktokads-accounts-reload-button',
  data (){
      return {
          guid: _.uniqueId(),
          logs : [], 
          enabled: false,

          authorizationUri: null
      }
  },

  mounted(){
      this.getAuthorizationUri();
  },

  methods: {

    getAuthorizationUri () {
        contractTiktokadsService.authorization(this.term_id).then((response) => {
            this.authorizationUri = _.get(response, 'data');
        })
    },
  }
}
</script>

