<template>
    <div class="box box-widget">
        <div v-if="is_alert_contract" class="alert alert-warning">
            <h4><i class="icon fa fa-warning"></i> Cảnh báo tiến trình!</h4>
            Hợp đồng <b>không còn hoạt động</b>. Cần kiểm tra <b>cẩn thận</b> số liệu đã nhập trước khi lưu.
        </div>

        <div v-if="receipt" class="box-body form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Mã hợp đồng</label>
                <div class="col-sm-9">
                    <textarea v-if="contractSelected" class="form-control" disabled :value="contractSelected.contract_code"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Trạng thái hợp đồng</label>
                <div class="col-sm-9">
                    <input v-if="contractSelected" class="form-control" disabled :value="contract_status" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Kinh doanh phụ trách</label>
                <div class="col-sm-9">
                    <Multiselect
                        id="input-payment-update-staff-business"
                        name="input.staff_business"
                        data-vv-as="Kinh doanh phục trách"
                        v-validate="`required`"
                        v-model="staffBusinessSelected"
                        selectLabel=""
                        deselect-label=""
                        placeholder="Nhập và tìm kiếm nhân viên kinh doanh"
                        track-by="user_id"
                        :custom-label="({display_name, user_email}) => `${display_name} - ${user_email}`"
                        :loading="isLoading"
                        :options="staffBusiness"
                        :searchable="true"
                        :allow-empty="false"
                    >
                    </Multiselect>
                    <span class="text-danger">{{ errors.first('input.staff_business') }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-post-type" class="col-sm-3 control-label">Loại thanh toán</label>
                <div class="col-sm-9">
                    <div class="radio">
                        <label id="input-payment-update-post-type" v-for="item in postTypeOptions" v-bind:key="`postTypeOptions-${item.value}`">
                            <input type="radio" name="postTypeRadio" :value="item.value" v-model="input.post_type">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-is-order-printed" class="col-sm-3 control-label">Xuất hóa đơn</label>
                <div class="col-sm-9">

                    <div id="input-payment-update-is-order-printed" class="radio">
                        <label v-for="item in isOrderPrintedOptions" v-bind:key="`isOrderPrintedOptions-${item.value}`">
                            <input type="radio" name="isOrderPrintedRadio" :value="item.value" v-model="input.is_order_printed" :disabled="input.is_promotion">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-post-status" class="col-sm-3 control-label">Trạng thái</label>
                <div class="col-sm-9">
                    <div id="input-payment-update-post-status" class="radio">
                        <label v-for="item in postStatusOptions" v-bind:key="`postStatusOptions-${item.value}`">
                            <input type="radio" name="postStatusRadio" :value="item.value" v-model="input.post_status" :disabled="input.is_promotion">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-transfer-type" class="col-sm-3 control-label">Hình thức</label>
                <div class="col-sm-9">
                    <div id="input-payment-update-transfer-type" class="radio">
                        <label v-for="item in transferTypeOptions" v-bind:key="`transferTypeOptions-${item.value}`">
                            <input ref="transferType" type="radio" name="transferTypeRadio" :value="item.value" v-model="input.transfer_type" :disabled="input.is_promotion">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div :class="['form-group', errors.first('input.transfer_account') ? 'has-error' : '']">
                <label for="input-payment-update-transfer-account" class="col-sm-3 control-label">Tài khoản nhận</label>
                <div class="col-sm-9">
                    <select
                        id="input-payment-update-transfer-account"
                        v-validate="`required_if:transferType,account`"
                        data-vv-as="Tài khoản nhận"
                        name="input.transfer_account"
                        class="form-control select2"
                        v-model="input.transfer_account"
                        :disabled="input.is_promotion"    
                    >
                        <option
                            v-for="item in transferAccountOptions"
                            v-bind:key="`transferAccountOptions-${item.value}`"
                            :value="item.value"
                        >
                            {{ item.text }}
                        </option>
                    </select>
                    <span class="text-danger">{{ errors.first('input.transfer_account') }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-end-date" class="col-sm-3 control-label">Ngày thanh toán/ Hạn bảo lãnh</label>
                <div class="col-sm-9">
                    <vuejsDatepicker
                        id="input-payment-update-end-date"
                        data-vv-as="Ngày thanh toán"
                        name="input.end_date"
                        v-validate="`required`"
                        wrapper-class="input-payment-update-group col-sm-12"
                        input-class="form-control valid"
                        :format="'dd/MM/yyyy'"
                        v-model="input.end_date"
                        :disabled="input.is_promotion"
                    ></vuejsDatepicker>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-post-title" class="col-sm-3 control-label">Ghi chú</label>
                <div class="col-sm-9">
                    <textarea id="input-payment-update-post-title" class="form-control" placeholder="Nhập ghi chú / ID Phiếu Nhập / ,..." v-model="input.post_title"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="input-payment-update-input-payment-update-method" class="col-sm-3 control-label">Hình thức nhập</label>
                <div class="col-sm-9">

                    <div if="input-payment-update-input-payment-update-method" class="radio">
                        <label v-for="item in inputMethodOptions" v-bind:key="`inputMethodOptions-${item.value}`">
                            <input ref="input_method" type="radio" name="inputMethodRadio" :value="item.value" v-model="input.input_method" :disabled="'gws' == get(contractSelected, 'term_type') || input.is_promotion">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>
            
            <div :class="['form-group', errors.first('formulaInputRadio') ? 'has-error' : '']" v-if="isManualModeAllowed">
                <label for="input-payment-update-formula-input" class="col-sm-3 control-label">Hình thức về phí</label>
                <div class="col-sm-9">

                    <div id="input-payment-update-formula-input" class="radio">
                        <label v-for="item in formulaInputOptions" v-bind:key="`formulaInputOptions-${item.value}`">
                            <input
                                type="radio"
                                name="formulaInputRadio"
                                v-validate.persist="`required_if:input_method,manual`"
                                data-vv-as="Hình thức về phí"
                                
                                :value="item.value"
                                v-model="input.formula_input"
                                :disabled="input.is_promotion"
                            >
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>

                    <span class="text-danger">{{ errors.first('formulaInputRadio') }}</span>
                </div>
            </div>

            <div :class="['form-group', errors.first('input.amount') ? 'has-error' : '']">
                <label v-if="input.is_promotion" for="input-payment-update-amount" class="col-sm-3 control-label">Số tiền nhận</label>
                <label v-else for="input-payment-update-amount" class="col-sm-3 control-label">Tổng số tiền nhận</label>
                <div class="col-sm-9">
                    <input
                        id="input-payment-update-amount"
                        type="number"
                        class="form-control"
                        v-validate="`required|integer|notEqualZero`"
                        data-vv-as="Tổng số tiền thanh toán"
                        name="input.amount"
                        v-model="input.amount" />

                        <span class="text-danger">{{ errors.first('input.amount') }}</span>
                </div>
            </div>            

            <div v-if="isRangeContract && !input.is_promotion && !isManualModeAllowed" :class="['form-group', errors.first('input.service_fee_rate') ? 'has-error' : '']">
                <label for="input-payment-update-service-fee-rate" class="col-sm-3 control-label">% Phí dịch vụ</label>
                <div class="col-sm-9">
                    <input
                        id="input-payment-update-service-fee-rate"
                        type="number"
                        class="form-control"
                        v-validate.persist="{
                            required: isRangeContract && !input.is_promotion && !isManualModeAllowed,
                            integer: true,
                            min: 0,
                        }"
                        data-vv-as="% Phí dịch vụ"
                        name="input.service_fee_rate"
                        v-model="input.service_fee_rate" 
                    />
                        <span class="text-danger">{{ errors.first('input.service_fee_rate') }}</span>
                </div>
            </div>

            <div v-if="isAllowSelectVat && !input.is_promotion" :class="['form-group', errors.first('input.vat') ? 'has-error' : '']">
                <label for="input-payment-update-vat" class="col-sm-3 control-label">Thuế VAT</label>
                <div class="col-sm-9">
                    <div id="input-payment-update-vat" class="radio">
                        <label v-for="item in vatOptions" v-bind:key="`vatOptions-${item.value}`">
                            <input ref="transferType" type="radio" name="vatRadio" :value="item.value" v-model="input.vat">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div v-if="isAllowSelectFct && !input.is_promotion" :class="['form-group', errors.first('input.fct') ? 'has-error' : '']">
                <label for="input-payment-create-fct" class="col-sm-3 control-label">Thuế nhà thầu</label>
                <div class="col-sm-9">
                    <div id="input-payment-create-fct" class="radio">
                        <label v-for="item in fctOptions" v-bind:key="`fctOptions-${item.value}`">
                            <input ref="transferType" type="radio" name="fctRadio" :value="item.value" v-model="input.fct">
                            {{ item.text }} 
                            &nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div v-if="isAllowSelectServiceProviderTax && !input.is_promotion" :class="['form-group', errors.first('input.fct') ? 'has-error' : '']">
                <label for="input-payment-create-service-provider-tax-rate" class="col-sm-3 control-label">Thuế Google thu</label>
                <div class="col-sm-9">
                    <div id="input-payment-create-service-provider-tax-rate" class="radio">
                        <input ref="serviceProviderTaxRate" type="hidden" name="serviceProviderTaxRateRadio" v-model="input.service_provider_tax_rate" />
                        5.00 %
                    </div>
                    <p class="help-block">
                        <i>
                            Hợp đồng đang có giá trị là <span v-text="contractSelected.service_provider_tax_rate*100"></span> %
                            <br/>
                            Mặc định sẽ áp dụng 5 % từ ngày 01.11.2022</i>
                    </p>
                </div>
            </div>

            <div v-if="isRangeContract && !isManualModeAllowed && !input.is_promotion" class="form-group">
                <label for="inputEmail3" class="control-label col-sm-3">Số liệu phí dịch vụ</label>
                <div class="col-sm-9">
                    <table border="1" name='sticky' cellpadding="2" cellspacing="1" class="table-main-dataset table table-responsive table-bordered table-condensed table-hover sticky">
                        <thead>
                            <tr>
                                <th class="text-right">% VAT</th>
                                <th class="text-right">VAT</th>
                                <th class="text-right">% Phí DV</th>
                                <th class="text-right">Phí DV</th>
                                <th class="text-right">Ngân sách</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="right" v-text="input.vat + '%'"></td>
                                <td align="right" v-text="Math.round(vat).toLocaleString('de-DE')"></td>
                                <td align="right" v-text="input.service_fee_rate + '%'"></td>
                                <td align="right" v-text="Math.round(service_fee).toLocaleString('de-DE')"></td>
                                <td align="right" v-text="Math.round(budget).toLocaleString('de-DE')"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <template v-if="isManualModeAllowed">
                <div v-if="'service_fee' == input.formula_input" :class="['form-group', errors.first('input.service_fee') ? 'has-error' : '']">
                    <label for="input-payment-update-service-fee" class="col-sm-3 control-label">Phí dịch vụ</label>
                    <div class="col-sm-9">
                        
                        <input
                            id="input-payment-update-service-fee"
                            v-validate.persist="`required_if:input_method,manual|integer|checkMaxValue:${input.amount}`"
                            data-vv-as="Phí dịch vụ"
                            name="input.service_fee"
                            type="number"
                            class="form-control"
                            v-model="input.service_fee" />
                        <span class="text-danger">{{ errors.first('input.service_fee') }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">
                        Bảng tính
                    </label>
                    <div class="col-sm-9">
                        <table border="1" name='sticky' cellpadding="2" cellspacing="1" class="table-main-dataset table table-responsive table-bordered table-condensed table-hover sticky">
                            <thead>
                                <tr>
                                    <th valign="top">VAT</th>
                                    <th valign="top">Doanh thu</th>
                                    <th valign="top">Ngân sách</th>
                                    <th valign="top">% Phí DV</th>
                                    <th valign="top">Phí dịch vụ</th>
                                    <th v-if="'ACTIVE' == serviceProviderTaxPolicyStatus" valign="top">Thuế Google Thu (5%)</th>
                                    <th valign="top">Thuế nhà thầu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="right" v-text="input.vat + '%'"></td>
                                    <td align="right" v-text="Math.round(computeAmountNotVAT).toLocaleString('de-DE')"></td>
                                    <td align="right" v-text="Math.round(computedBudget).toLocaleString('de-DE')"></td>
                                    <td align="right" v-text="contractSelected ? (contractSelected.service_fee_rate_actual*100).toFixed(2) + '%' : '--'"></td>
                                    <td align="right" v-text="Math.round(computedServiceFee).toLocaleString('de-DE')"></td>
                                    <td
                                        align="right"
                                        v-if="'ACTIVE' == serviceProviderTaxPolicyStatus"
                                        v-text="Math.round(computedServiceProviderTax || 0).toLocaleString('de-DE')">
                                    </td> 
                                    <td
                                        align="right"
                                        v-text="Math.round(computedFct).toLocaleString('de-DE')">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </template>

            <div class="form-group">
                <label for="input-payment-create-is-promotion" class="col-sm-3 control-label">
                    Tỉ giá chuyển đổi <br>
                    <i>({{moment(input.end_date).format('DD/MM/YYYY')}})</i>
                </label>
                <div class="col-sm-9">
                    <ExchangeRate :date="input.end_date" ></ExchangeRate>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button v-on:click="submit()" type="button" class="btn btn-success pull-right">CẬP NHẬT</button>
            <button v-if="isManualModeAllowed && input.amount < 0 && !includes(['ending', 'liquidation'], get(contractSelected, 'term_status'))" v-on:click="submit('update_n_liquidation')" type="button" class="btn btn-danger pull-right" style="margin-right:10px">Lưu và thanh lý</button>
            <button type="button" v-on:click="reset()" class="btn btn-link pull-right text-primary" style="margin-right:10px">RESET</button>
            <button type="button" v-on:click="close()" class="btn btn-link pull-right text-red" style="margin-right:10px">Hủy bỏ</button>
            <button style="display:none" type="button" :id="`modal-close-${uuid}`" class="btn btn-link pull-right text-primary" data-dismiss="modal">close modal</button>
        </div>
        <div v-if="isLoading" class="overlay">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</template>

<script>

import { v4 as uuidv4 } from 'uuid'
import { contractService } from '@/_services/contract.service.js'
import { contractConfig } from '@/_config/contract.config.js'
import vuejsDatepicker from 'vuejs-datepicker'
import vAlert from '@/components/Utils/vAlert.vue';
import ExchangeRate from '@/components/Utils/ExchangeRate.vue';
import Multiselect from 'vue-multiselect'

export default {
	name: 'vPaymentUpdate',

    props: {
        id : { type : Number}
    },

    components: {
        vuejsDatepicker,
        vAlert,
        ExchangeRate,
        Multiselect
    },

    computed: {

        serviceProviderTaxPolicyStatus () {
            
            if(_.isEmpty(this.contractSelected)) return 'UNKNOWN'
            if( ! _.eq(this.contractSelected.term_type, 'google-ads')) return 'NONE'
            if(this.contractSelected.service_provider_tax_rate > 0) return 'ACTIVE'
            return 'NONE';
        },

        contractSelected () {
            let contract = _.get(this.receipt, 'contract')

            let service_fee_payment_type = _.get(contract, 'service_fee_payment_type');
            if('range' == service_fee_payment_type) this.calcRangeAmount();

            return contract;
        },

        contract_status (){
            return contractConfig.valueOf(_.get(this.receipt, 'contract.term_status'));
        },

        is_alert_contract () {
            let contract_status = _.get(this.receipt, 'contract.term_status');
            return _.includes(['ending', 'liquidation'], contract_status);
        },

        computeAmountNotVAT () {
            if( !_.gt(this.input.vat, 0)) return this.input.amount
            return _.divide(this.input.amount, _.add(1, _.divide(this.input.vat, 100)))
        },

        computedServiceProviderTax () {
            return this.computedBudget * this.input.service_provider_tax_rate
        },

        computedBudget () {
            let fct = _.divide(this.input.fct, 100);
            let fct_rate = fct > 0 ? _.divide(fct, _.subtract(1, fct)) : 0;

            if( _.eq('service_fee', this.input.formula_input)) 
            {
                return _.divide(_.subtract(this.computeAmountNotVAT, this.input.service_fee), 1 + this.input.service_provider_tax_rate + fct_rate)
            }

            return _.divide(this.computeAmountNotVAT, 1 + this.contractSelected.service_fee_rate_actual + this.input.service_provider_tax_rate + fct_rate)
        },
        
        computedServiceFee () {
            if( _.eq('service_fee', this.input.formula_input)) return this.input.service_fee
            return _.multiply(this.computedBudget, this.contractSelected.service_fee_rate_actual)
        },

        computedFct(){
            if( !_.gt(this.input.fct, 0)) return 0;

            return this.computeAmountNotVAT - this.computedBudget - this.computedServiceFee
        },

        isManualModeAllowed () {

            if( ! _.eq('manual', this.input.input_method)) return false
            if(_.isEmpty(this.contractSelected)) return false
            if( ! _.gte(['google-ads', 'facebook-ads', 'tiktok-ads', 'zalo-ads'].indexOf(this.contractSelected.term_type), 0)) return false
            if( ! _.eq('normal', this.contractSelected.contract_budget_payment_type)) return false;

            return true;
        },

        isAllowSelectVat(){
            let contract_ads_type = ['google-ads', 'facebook-ads', 'tiktok-ads', 'zalo-ads', 'onead', 'courseads'];
            return _.includes(contract_ads_type, _.get(this.contractSelected, 'term_type'))
        },

        isAllowSelectFct(){
            let contract_ads_type = ['google-ads', 'facebook-ads', 'tiktok-ads', 'zalo-ads',];
            if( ! _.includes(contract_ads_type, _.get(this.contractSelected, 'term_type'))) return false

            if(this.input.service_provider_tax_rate > 0) return false
            return true
        },

        isAllowSelectServiceProviderTax() { 
            
            let contract_ads_type = ['google-ads'];
            if( ! _.includes(contract_ads_type, _.get(this.contractSelected, 'term_type'))) return false

            if('ACTIVE' != this.serviceProviderTaxPolicyStatus) return false

            return true
        },

        isRangeContract(){
            if(_.isEmpty(this.contractSelected)) return false
            if( ! _.gte(['google-ads', 'facebook-ads', , 'tiktok-ads', 'zalo-ads'].indexOf(this.contractSelected.term_type), 0)) return false
            if('range' != _.get(this.contractSelected, 'service_fee_payment_type')) return false;

            return true;
        },

        staffBusiness() {
            return _.get(this.receipt, 'department_staffs', []);
        }
    },

    watch: {
        'input.post_type' (newVal, oldVal) {
            this.input.is_promotion = false;

            if( ! _.eq('receipt_payment', newVal)) 
            {
                this.input.input_method = 'default'
                this.input.service_fee = 0
            }

            if( _.eq('promotion', newVal)) 
            {
                this.input.is_promotion = true
            }
        },

        input: {
            handler(value){
                if(this.isRangeContract) this.calcRangeAmount();
            },
            deep: true
        }
    },

    data (){

        return {

            uuid: uuidv4(),
            admin_url: admin_url,
            base_url: base_url,
            isLoading: true,
            input: {
                post_id: null,
                contractId: null,
                post_type: null,
                post_status: null,
                transfer_type: null,
                transfer_account: null,
                amount: null,
                service_fee: null,
                end_date: null,
                post_title: null,
                is_order_printed: null,
                input_method: null,
                formula_input: null,
                row_id: null,
                vat: null,
                fct: null,
                service_provider_tax_rate: null,
                is_promotion: null,
                is_range_contract: null,
                service_fee_rate: null,
            },

            receipt: null,
            staffBusinessSelected: null,

            postTypeOptions: [
                { value: "receipt_payment", text: "Thanh toán" },
                { value: "receipt_payment_on_behaft", text: "Thanh toán hộ" },
                { value: "receipt_caution", text: "Bảo lãnh" },
                { value: "promotion", text: "NSKM" }
            ],

            postStatusOptions: [
                { value: "paid", text: "Đã thanh toán" },
                { value: "draft", text: "Bản Nháp" }
            ],
            
            transferTypeOptions: [
                { value: "account", text: "Chuyển khoản" },
                { value: "cash", text: "Tiền mặt" }
            ],

            transferAccountOptions: [
                { value: null, text: "Chọn một trong các lựa chọn" },
                { value: "mb-bank", text: "MBBANK-NGUYEN THI THANH HUYEN" },
                { value: "acb", text: "ACB-NGUYEN DAC TRI" },
                { value: "bidv-mainn", text: "BIDV-NGUYEN NHU MAI" },
                { value: "vcb-tuanna", text: "VCB-NGUYEN ANH TUAN" },
                { value: "vcb1", text: "Vietcombank-Thuy" },
                { value: "vib-2", text: "VIB-Suong" },
                { value: "tech-1", text: "Techombank-Thuy" },
                { value: "tech-2", text: "Techcombank-Cty" },
                { value: "tpb-1", text: "TPBank-Cty" }
            ],

            isOrderPrintedOptions: [
                { value: false, text: "Chưa xuất" },
                { value: true, text: "Đã xuất" }
            ],

            inputMethodOptions: [
                { value: "default", text: "Bóc tách tự động" },
                { value: "manual", text: "Nhập thủ công" }
            ],

            formulaInputOptions: [
                { value: "service_fee", text: "Phí theo từng đợt" },
                { value: "budget", text: "Phí theo ngân sách" }
            ],

            vatOptions: [
                { value: 0, text: "0.00 %" },
                { value: 8, text: "8.00 %" },
                { value: 10, text: "10.00 %" }
            ],

            fctOptions: [
                { value: 0, text: "0.00 %" },
                { value: 5, text: "5.00 %" },
            ],

            serviceProviderTaxRateOptions: [
                { value: 0, text: "0.00 %" },
                { value: 0.05, text: "5.00 %" },
            ],

            contracts: [],

            budget: 0,
            vat: 0,
            service_fee: 0,
        }
    },

    
    created () {

        this.extendValidator()
        this.isLoading = false
        contractService.getReceipt(this.id).then(response => {
            
            if( 200 == _.get(response, 'code'))
            {
                $.notify("Kiểm tra dữ liệu thành công", 'info')

                this.receipt = _.get(response, 'data')
                this.staffBusinessSelected = _.get(response, 'data.staff_business')
                this.getDefaultInput()
                return response
            }

            if( 403 == _.get(response, 'code')) throw new Error(_.get(response, 'message'))
            throw new Error(_.get(response, 'message'))
        })
        .catch( error => {
            $.notify(_.get(response, 'message'), 'error')
            return error
        })
        .finally(() => {
            this.isLoading = false
        })
    },

    methods: {
        moment(init = new Date())
        {
            return moment(init);
        },

        get(item, ref, _default = null){
            return _.get(item, ref, _default);
        },

        includes(arr, value){
            return _.includes(arr, value);
        },

        extendValidator () {

            this.$validator.extend('notEqualZero', {

                getMessage: field => 'Giá trị nhập vào = 0 không hợp lệ.',

                validate: (value) => {
                    return value > 0 || value < 0
                }
            })

            this.$validator.extend('checkMaxValue', {

                getMessage: field => 'Giá trị phí dịch vụ vượt ngoài tổng tiền nhập.',

                validate: (value) => {

                    value = parseInt(value)
                    this.input.amount = parseInt(this.input.amount)

                    if(value == 0) return true
                    if(this.input.amount > 0) return value < this.input.amount
                    return value > this.input.amount
                }
            })
        },

        reset(){
            this.getDefaultInput()
        },

        close(){
            document.getElementById(`modal-close-${this.uuid}`).click()
            this.$emit('closed')
        },
        
        submit(command = 'update') {

            this.$validator.validate().then((result) => {
                if( ! result) return result

                this.isLoading = true

                let _payload = _.cloneDeep(this.input)
                if(_payload.post_type == "promotion"){
                    _payload.is_promotion = true;
                    _payload.post_type = "receipt_payment";
                    _payload.post_status = "paid";
                    _payload.transfer_type = "none";
                    _payload.transfer_account = "none";
                    _payload.actual_budget = _payload.amount;
                    _payload.amount = 0;
                    _payload.service_fee = 0;
                    _payload.is_order_printed = false;
                    _payload.input_method = "none";
                    _payload.formula_input = "none";
                    _payload.vat = 0;
                    _payload.fct = 0;
                }

                _payload.contractId = this.contractSelected.term_id
                _payload.staff_business_id = this.staffBusinessSelected.user_id
                _payload.end_date = moment(_payload.end_date).format("X")
                _payload.is_range_contract = this.isRangeContract

                if(this.isRangeContract && !this.isManualModeAllowed){
                    _payload.service_fee = _payload.amount;
                }

                contractService.updateReceipt(this.id, _payload).then(response => {
                    if( 200 == _.get(response, 'code'))
                    {
                        $.notify(_.get(response, 'message'), 'success');
                        return response;
                    }

                    throw response
                })
                .then(() => {
                    if(_.eq('update_n_liquidation', command))
                    {
                        contractService.stop_service(this.contractSelected.term_id)
                        .then(response => {
                            if( 200 == _.get(response, 'code'))
                            {
                                $.notify(_.get(response, 'message'), 'success');

                                this.$emit("reloadData");
                                this.close();

                                return response;
                            }

                            throw response;
                        })
                        .catch((error) => {
                            $.notify(_.get(error, 'message'), 'error');

                            throw error;
                        });
                    }
                    else 
                    {
                        this.$emit("reloadData");
                        this.close();
                    }
                })
                .catch( error => {
                    let messages = _.get(error, 'message', {});
                    if(_.isObject(messages) || _.isArray(messages)){
                        _.each(messages, (message) => {
                            $.notify(message, 'error');
                        });

                        return error;
                    }
                    
                    $.notify(messages, 'error');
                })
                .finally(() => {
                    this.isLoading = false
                })
            })
        },

        getDefaultInput () {

            const _receipt = _.cloneDeep(this.receipt)

            let is_promotion = _.get(_receipt, 'is_promotion');

            this.input = {
                post_id: _.get(_receipt, 'post_id'),
                contractId: _.get(_receipt, 'contract.term_id'),
                post_type: is_promotion ? 'promotion' : _.get(_receipt, 'post_type'),
                post_status: _.get(_receipt, 'post_status'),
                transfer_type: _.get(_receipt, 'transfer_type'),
                transfer_account: _.get(_receipt, 'transfer_account'),
                amount: _.get(_receipt, 'amount'),
                service_fee: _.get(_receipt, 'service_fee'),
                end_date: moment.unix(_.get(_receipt, 'end_date')).toDate(),
                post_title: _.get(_receipt, 'post_title'),
                is_order_printed: _.get(_receipt, 'is_order_printed'),
                input_method: _.get(_receipt, 'input_method'),
                formula_input: _.get(_receipt, 'formula_input'),
                row_id: _.get(_receipt, 'row_id'),
                vat: _.get(_receipt, 'vat') || 8,
                fct: _.get(_receipt, 'fct') || 0,
                service_provider_tax_rate: _.get(_receipt, 'service_provider_tax_rate') || 0,
                is_promotion: is_promotion,
                is_range_contract: 'range' == _.get(_receipt, 'contract.service_fee_payment_type'),
                service_fee_rate: _.get(_receipt, 'service_fee_rate'),
            }
        },

        calcRangeAmount(){
            let vat_rate = _.divide(this.input.vat, 100);
            this.vat = _.multiply(_.divide(this.input.amount, 1 + vat_rate), vat_rate);

            this.service_fee = _.divide(this.input.amount, 1 + vat_rate);
            
            let service_fee_rate = _.divide(this.input.service_fee_rate, 100);
            this.budget = _.divide(this.service_fee, service_fee_rate);
        }
    }
}
</script>