<script>
    import { ApiEndpoints } from "@/_config/api.endpoints.js";
    import vDatatableBuilder from "@/components/vDatatableBuilder.vue";
    import vUserList from "@/components/Utils/vUserList.vue";
    import vGwsDetail from "@/components/gws/vGwsDetail.vue";

    export default {
        components: {
            vDatatableBuilder,
            vUserList,
            vGwsDetail,
        },

        data() {
            return {
                admin_url: admin_url,
                APIDataset: ApiEndpoints.valueOf("gws") + "/dataset",
                APIDatasetConfig: ApiEndpoints.valueOf("gws") + "/dataset/config",
                APIDownloadAccountDisconnect: ApiEndpoints.valueOf("gws") + "/resource/export_gws",
                filter_position: 1,
                guid: _.uniqueId(),
                logs: [],
                enabled: false,
            };
        },

        computed: {
            is_expand() {
                return this.$store.state.layout.is_expand_dialog;
            },

            contract_selected() {
                return this.$store.state.gws.contract_selected;
            },
        },

        methods: {
            get(object, path, _default = '')
            {
                return _.get(object, path) || _default;
            },
            has(object, key)
            {
                return _.has(object, key);
            },
            isEmpty(item){
                return _.isEmpty(item);
            },
            
            openGwsDetailModal(contract_id) {
                this.$store.dispatch('gws/find_contract', contract_id);

                setTimeout(() => {
                    $('#modal-gws-detail').modal('toggle');
                }, 100);
            },
        },
    };
</script>


<template>
    <div :id="guid">
        <v-datatable-builder
            :is_filtering="false"
            :is_ordering="true"
            :is_download="true"
            :is_use_store="true"
            :is_striped="true"
            :is_load_config="true"
            :custom_datatable_rows="true"
            :remote_url="APIDataset"
            :general_config_api_url="APIDatasetConfig"
            :store_module="'gws'"
            :per_page="50"
            :filter_position="filter_position"
            class="datatable"
        >
            <template slot="table_body_rows" slot-scope="{ items, columns, config }">
                <tr v-for="(row, i) in items" :key="`datatable-filter-row-${i}`" style="height: 40px">
                    <template v-for="(column, index) in columns">
                        <td :key="`cell-data-${index}`" nowrap align="left" class="datatable__cell--middle" :style="{whiteSpace: 'nowrap', textAlign: get(config, `columns.${column}.align`)}">
                            <template v-if="'contract_code' == column">
                                <div style="width: 40rem; display: flex; justify-content: space-between; align-items: center">
                                    <a :href="`javascript:void(${get(row, 'term_id', 0)})`" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" @click="() => openGwsDetailModal(get(row, 'term_id'), get(row, 'contract_code'))">
                                        {{ get(row, column, '--') }}
                                    </a>
                                    <button type="button" class="btn btn-primary btn-sm btn-preview" @click="() => openGwsDetailModal(get(row, 'term_id'))">Chi tiết</button>
                                </div>
                            </template>
                            <template v-else-if="'staff_business' == column">
                                <span v-if="isEmpty(get(row, column))">--</span>
                                <vUserList v-else :users="[get(row, column)]"></vUserList>
                            </template>
                            <template v-else>
                                <span v-if="'number' == get(config, `columns.${column}.type`)">{{ parseInt(get(row, column, 0)).toLocaleString('de-DE') }}</span>
                                <span v-else>{{ get(row, column, '--') }}</span>
                            </template>
                        </td>
                    </template>
                </tr>
            </template>
        </v-datatable-builder>

        <!-- Begin modal Gws detail -->
        <div v-if="!isEmpty(contract_selected)" class="modal right fade" id="modal-gws-detail" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-title">
                            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <b><a :href="`${admin_url}/contract/edit/${get(contract_selected, 'term_id')}`" target="_blank">{{ get(contract_selected, 'contract_code') }}</a></b>
                            </h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <vGwsDetail :contract_id="get(contract_selected, 'term_id')"></vGwsDetail>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal Gws detail -->
    </div>
</template>