<script>

import { dashboardSaleGroupService } from '../../../_services/dashboard.sale.group.service';
import CardContrainer from '../../CardContrainer.vue'
import Placeholder from '../../Placeholder.vue';
import _get from 'lodash/get';
import { getGroupId } from '../../../_helpers/utils.helpers';
    export default {
        components: {
            CardContrainer,
            Placeholder
        },
        data() {
            return {
                data: [],
                colors: ['#DC3545', '#00A65A', '#17A2B8', '#424549', '#F7B84B', '#605CA8'],
                query: {},
                options_chart: {
                    accessibility: {
                        enabled: false
                    },
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        valueSuffix: '%',
                        style:{
                            color: '#333333',
                            cursor: 'default',
                            fontSize: '1.2em',
                        },
                    },
                    
                    plotOptions: {
                        series: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        showInLegend: true,
                        dataLabels: [{
                            enabled: false,
                            distance: 20
                        }, {
                            enabled: true,
                            distance: -40,
                            format: '{point.percentage:.1f}%',
                            style: {
                            fontSize: '1.2em',
                            textOutline: 'none',
                            opacity: 0.7
                            },
                            filter: {
                            operator: '>',
                            property: 'percentage',
                            value: 0
                            }
                        }]
                        }
                    },
                    legend: {
                        lineHeight: 30,
                        layout: 'horizontal', // Chú thích theo chiều dọc
                        align: 'right', // Căn chú thích về phía bên phải
                        title:{
                            style:{"fontSize": "1.4em", "fontWeight": "bold"},
                            text: 'Loại dịch vụ',
                            margin: '0px 10px',
                        },
                        itemMarginBottom: 8, 
                        itemStyle: {
                            fontSize: "1.3em",
                            fontWeight: 'semibold',
                            margin: '0px 10px',
                            color: '#333333',
                        },
                        verticalAlign: 'middle' // Căn chú thích theo giữa chiều dọc
                    },
                    credits: {
                     
                        enabled: false
                    },
                    series: [
                        {
                        name: 'Đạt',
                        colorByPoint: true,
                        data: []
                        }
                    ],

                    noData: {
                        useHTML: true
                    }
                }
            }
        },
  
        mounted() {
            // Tạo một thẻ script và thêm nó vào body
            this.getProportionOfEachService()
        },

        methods: {
            get(obj, path, defaultValue = 'Đang cập nhật') {
                return _get(obj, path, defaultValue);
            },

            _getGroupId(){
                return getGroupId()
            },
            render_chart(options) {
                Highcharts.setOptions({
                    lang: {
                        noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                        loading: 'Đang lấy dữ liệu...',
                    }
                })
                return Highcharts.chart('idProportionOfEachService', options);
            },

            getProportionOfEachService() {
                this.render_chart(this.options_chart).showLoading();

                // if (process.env.NODE_ENV === 'development') {
                //     this.options_chart.series[0].data = [{
                //                 name: 'Google Ads',
                //                 y: 55.02
                //             },
                //             {
                //                 name: 'Facebook Ads',
                //                 // sliced: true,
                //                 // selected: true,
                //                 y: 26.71
                //             },
                //             {
                //                 name: 'Zalo Ads',
                //                 y: 1.09
                //             },
                //             {
                //                 name: 'Tiktok Ads',
                //                 y: 15.5
                //             },
                //             {
                //                 name: 'Khóa học Guru',
                //                 y: 1.68
                //             }]
                //     this.render_chart(this.options_chart).hideLoading();
                    
                //     return
                // }
                this.options_chart.series[0].data = []
                return dashboardSaleGroupService.getProportionOfEachService({ group_id: this._getGroupId()}).then( response => { 
                    this.data = this.get(response, 'data', [])
                    for (let index = 0; index < this.data.length; index++) 
                    {
                        let data_temp   = { name: this.get(this.data[index], 'service'),
                            y: _get(this.data[index], 'revenueShare') || _get(this.data[index], 'revenue'), 
                            color: this.colors[index] 
                        }

                        this.options_chart.series[0].data[index] = data_temp
                    }

                    return response
                })
                .finally(() => {

                    this.render_chart(this.options_chart).hideLoading();
                })

            },
        }
    }
</script>

<template>
    <div>
        
        <CardContrainer :is_header="true">
            <template #card-header>   
                <h5 class="text-uppercase">
                    <b :style="{
                        display: 'flex',
                        alignItems: 'baseline',
                        gap: '8px',
                    }">
                        <i class="glyphicon glyphicon-stats"></i>
                        TỶ TRỌNG CỦA TỪNG DỊCH VỤ 
                    </b>
                </h5>
            </template>
            <template #card-body>   
                <div id="idProportionOfEachService" style="height: 300px;"></div>
            </template>
  
        </CardContrainer>
    </div>

    
</template>


