<script>

import CardContrainer from '../../CardContrainer.vue'
import DataTable from 'datatables.net-dt';
import _get from 'lodash/get';
import "../personal/style.css"
import { dashboardSaleGroupService } from '../../../_services/dashboard.sale.group.service';
import Placeholder from '../../Placeholder.vue';
import { getGroupId } from '../../../_helpers/utils.helpers';
    export default {
        components: {
            CardContrainer,
            Placeholder
        },  
       
        data() {
            return {
                is_loading: false,
                header_column_table: [
                    'RANK',
                    'Tên thành viên',
                    'Doanh thu',
                    'Mục tiêu',
                   
                ],
                row_table:  []    
            }
        },

        mounted() {
            // Tạo một thẻ script và thêm nó vào body
            this.get_data_table_contract()
        },

        methods: {
            get(object, path, defaultValue) {
                return _get(object, path, defaultValue);

            },


            render_table() {
               
            // Initialize DataTable with your configuration options
                new DataTable('#table_rank_by_revenue_group', {
                    processing: true,
                    language: {
                        emptyTable: '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 130px;"><div style="color: red; font-weight: bold;">Không có dữ liệu</div></div>',
                        zeroRecords: "Không tìm thấy dữ liệu phù hợp",
                    },
                    // Config options...
                    info: false,
                    searching: false,
                    paging: false,
              
                    columnDefs: [
                        {
                            targets: 0  ,
                            className: 'dt-body-left dt-head-left',
                        },
                        {
                            targets: 1  ,
                            className: 'dt-body-left dt-head-left ',
                        },
                        {
                            targets: 2  ,
                            className: 'dt-body-right dt-head-right ',
                        },
                        { 
                            targets: 3, 
                            className: 'dt-body-right dt-head-right ',
                        } 
                    ]
                });
                
            },

            get_data_table_contract(){
                this.is_loading = true
                
                // if (process.env.NODE_ENV !== 'production') {
                //     this.is_loading = true

                //     this.row_table = [  
                //         {
                //             "user_id" : 1, 
                //             "name" : "Quân PM",
                //             "email" : "quanpm@adsplus.vn",
                //             "rank": 1,
                //             "kpiRevenue": 1000000,
                //             "kpiTarget": 1000000,
                //             "kpiStatus" : "complete",
                //             "samePeriodComparison": {
                //                 "rank": 3,
                //                 "changeRank" : -2,
                //                 "kpiTarget": 2000000,
                //                 "kpiRevenue": 1000000,
                //                 "kpiStatus" : "failure",
                //                 "kpiChangeRatioPercent" : 1
                //             },  
                //         },  
                //         {
                //             "rank": "1",
                //             "name": 'Lê Bảo Báo',
                //             "kpiRevenue": '3900000',
                //             "kpiTarget": '8000000',
                //         },
                //         {
                //             "rank": "2",
                //             "name": 'Lê Bảo Báo',
                //             "kpiRevenue": '10000000',
                //             "kpiTarget": '10000000',
                //         },
                //         {
                //             "rank": "3",
                //             "name": 'Lê Bảo Báo',
                //             "kpiRevenue": '7000000',
                //             "kpiTarget": '8000000',
                //         },
                //         {
                //             "rank": "4",
                //             "name": 'Lê Bảo Báo',
                //             "kpiRevenue": '4000000',
                //             "kpiTarget": '8000000',
                //         },]    
                //     this.$nextTick(() => {
                //         this.render_table();
                //     });
                //     this.is_loading = false

                //     return
                // }


                dashboardSaleGroupService.getDataTableRankingByRevenue({ group_id: getGroupId()}).then( response => { 
                    this.data = this.get(response, 'data', [])
                    for (let index = 0; index < data.length; index++) {
                            this.row_table[index] = {
                                "rank": _get(data[index] ,'rank'),
                                "name": _get(data[index] ,'name'),
                                "kpiRevenue": _get(data[index] ,'kpiRevenue'),
                                "kpiTarget": _get(data[index] ,'kpiTarget'),
                               
                            }
                    }
                    
                    return response
                })
                .finally(() => {
                    this.is_loading = false
                    this.$nextTick(() => {
                        this.render_table();
                    });
                })

            },

            computed_percent_scale(num1, num2){
                if (num2 == 0) {
                    return 0
                }
                return (num1 / num2) * 100
            }
        },
    }
</script>

<template>
            <CardContrainer :is_header="true" :body_style="{
                height: '296px'
            }">
        
                <template #card-header>
                    <h5 class="text-uppercase">
                        <b :style="{
                            display: 'flex',
                            alignItems: 'baseline',
                            gap: '8px',
                        }">
                            <i class="glyphicon glyphicon-stats"></i>
                            XẾP HẠNG CỦA TỪNG THÀNH VIÊN
                        </b>
                    </h5>
                </template>
                <template #card-body>   
                    <div class="table-responsive" style="overflow-x: auto">
                        <!-- được css từ bảng -->
                        <div  style="display: flex; justify-content: center; align-items: center; height: 200px"  width="100%" v-if="is_loading">
                            <div class="text-danger">
                                Đang lấy dữ liệu....

                            </div>
                        </div>
                        <table id="table_rank_by_revenue_group" class="stripe row-border nowrap hover order-column  cell-border " width="100%" v-else>
                          <thead >
                            <tr >
                                <th v-for="(item, key) in header_column_table" :key="key">
                                    {{ item }}
                                </th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr v-for="(item, key) in row_table" :key="key">
                                <td class="" style="font-weight: bold;"
                                    :style="{
                                        backgroundColor: get(item, 'rank')==1 ? '#F7E64B' : get(item, 'rank')==2 ? '#E9E9E9' : get(item, 'rank')==3 ? '#B87333' : ''
                                    }"
                                >
                                    #{{ get(item, 'rank')}}
                                </td>
                                <td style=" text-align: left">
                                    {{ get(item, 'name', '--')}}
                                </td>
                                <td style=" font-weight: bold ; text-align: right">
                                    <div v-if="item.kpiRevenue" style="display: flex; align-items: center; justify-content: space-between">
                                        <div class="glyphicon glyphicon-check" aria-hidden="true" 
                                            :style="{
                                                'color': computed_percent_scale(get(item, 'kpiRevenue' ,0), get(item, 'kpiTarget' ,0)) < 50 ? 'red' :
                                                computed_percent_scale(get(item, 'kpiRevenue' ,0), get(item, 'kpiTarget' ,0)) < 80 ? 'orange' : 
                                                computed_percent_scale(get(item, 'kpiRevenue' ,0), get(item, 'kpiTarget' ,0)) < 90 ? 'blue' : 'green'
                                            }"
                                        ></div>
                                        <div>
                                            {{Number(get(item, 'kpiRevenue' ,0)).toLocaleString('vn')}}
                                        </div>
                                    </div>
                                    <span v-else>
                                        --
                                    </span>
                                </td>
                                <td style="color: #DC3545; font-weight: bold;  text-align: right">
                                    <span v-if="item.kpiTarget">
                                        {{Number(get(item, 'kpiTarget' ,0)).toLocaleString('vn')}}
                                    </span>
                                    <span v-else>
                                        --
                                    </span>
                                </td>
                             
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </template>
            </CardContrainer>
</template>
