<script>

import { dashboardSaleGroupService } from '../../../_services/dashboard.sale.group.service';
import CardContrainer from '../../CardContrainer.vue'
import Placeholder from '../../Placeholder.vue';
import _get from 'lodash/get';
import { getGroupId } from '../../../_helpers/utils.helpers';
    export default {
        components: {
            CardContrainer,
            Placeholder
        },
            
        data() {
            return {
                colors: ['#DC3545', '#00A65A', '#17A2B8', '#424549', '#F7B84B', '#605CA8'],
                query: {},
                options_chart:{
                    accessibility: {
                        enabled: false
                    },
                    chart: {
                        type: 'column'
                    },
                    legend: {
                        enabled: false
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
                    credits: {
                        text: "",
                        style: {
                            fontSize: "0.8em",
                            color: "#ccc",
                            opacity: "0.4",
                            fontWeight: "semibold",
                        },
                        enabled: false
                    },
                    xAxis: {
                        categories: [],
                        crosshair: true,
                        accessibility: {
                        description: 'Countries'
                        },
                        labels: {
                            style: {
                                fontSize: '1.2em',
                                color: '#333538',
                                fontWeight: '500'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                        text: 'Doanh thu (vnđ)'
                        },
                        gridLineWidth: 1

                    },
                    tooltip: {
                        valueSuffix: ' (vnđ)',
                        style:{
                            color: '#333333',
                            cursor: 'default',
                            fontSize: '1.2em',
                        },
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 1,
                            pointWidth: 120, // Độ dày của mỗi cột
                            dataLabels: {
                                enabled: true,
                                style: {
                                    fontSize: '1.2em',
                                    color: '#333538',
                                    fontWeight: '600'
                                }
                            }
                        }
                    },
                    series: [
                        {
                        name: 'Doanh thu',
                        data: []
                        }
                    ],
                    noData: {
                        useHTML: true
                    }
                }
            
            }
        },

        mounted() {
            // Tạo một thẻ script và thêm nó vào body
            this.getSourceOfCustomersByRevenue()
        },

        methods: {
            get(obj, path, defaultValue = 'Đang cập nhật') {
                return _get(obj, path, defaultValue);
            },

            _getGroupId() {
                return getGroupId();
            },

            render_chart(options) {
                Highcharts.setOptions({
                    lang: {
                        noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                        loading: 'Đang lấy dữ liệu...',
                    }
                })
                return Highcharts.chart('idSourceOfCustomersByRevenue', options);
            },

            getSourceOfCustomersByRevenue() {
                this.render_chart(this.options_chart).showLoading();

                // if (process.env.NODE_ENV === 'development') {
                //     this.options_chart.xAxis.categories = ['Doanh thu đạt được', 'Số lỗi khóa học', 'Số lỗi hợp đồng ký tự', "Số lỗi hợp đồng kỳ" ]
                //     this.options_chart.series[0].data = [  { y: 406292, color: '#17A2B8' }, // Màu đỏ đậm
                //             { y: 260000, color: '#00A65A' }, // Màu xanh nhạt
                //             { y: 107000, color: '#DC3545' }, // Màu xanh lá cây nhạt
                //             { y: 68300, color: '#424549' }   // Màu vàng
                //         ]
                //     this.render_chart(this.options_chart).hideLoading();
                    
                //     return
                // }
                this.options_chart.series[0].data = []
                return dashboardSaleGroupService.getSourceOfCustomersByRevenue({ group_id: this._getGroupId()}).then( response => { 
                    let data = this.get(response, 'data', [])
                    for (let index = 0; index < data.length; index++) {
                        this.options_chart.xAxis.categories[index] = this.get(data[index], 'source')
                        this.options_chart.series[0].data[index]   = { 
                            y: this.get(data[index], 'revenue'), 
                            color: this.colors[index] }
                    }
                    return response
                })
                .finally(() => {
                    this.render_chart(this.options_chart).hideLoading();
                })
            },
        }
    }
</script>

<template>
    <div>
        
        <CardContrainer :is_header="true">
            
            <template #card-header>   
                <h5 class="text-uppercase">
                    <b :style="{
                        display: 'flex',
                        alignItems: 'baseline',
                        gap: '8px',
                    }">
                        <i class="glyphicon glyphicon-stats"></i>
                        NGUỒN KHÁCH HÀNG THEO DOANH THU
                    </b>
                </h5>
            </template>
            <template #card-body>   
                <div id="idSourceOfCustomersByRevenue" style="height: 300px;"></div>
            </template>
  
        </CardContrainer>
    </div>

    
</template>


