<script>
import _isEmpty from 'lodash/isEmpty'
import { UtilsService } from '@/_services/utils.service.js'

export default {
    props: {
        date_type: {
            type: String,
            default: "date",
            validator(value) {
                return ['date', 'string', 'number'].includes(value)
            }
        },
        date_format: {
            type: String,
            default: "DD/MM/YYYY",
        },
        date: {
            type: [String, Number, Date],
            default: null,
        }
    },

    data: () => ({
        is_loading: false,
        is_show_all: false,
        num_of_collapse: 2,

        exchange_rates: []
    }),

    computed: {
        date_string(){
            if(_isEmpty(this.date.toString()))
            {
                return moment().format('YYYY-MM-DD');
            }

            switch(this.date_type)
            {
                case 'string':
                    return moment(this.date_format, this.date).format('YYYY-MM-DD');
                case 'number':
                    return moment().unix(this.date).format('YYYY-MM-DD');
                case 'date':
                    return moment(this.date).format('YYYY-MM-DD');
                default:
                    return moment().format('YYYY-MM-DD');
            }
        }
    },

    mounted(){
        this.getExchangeRate();
    },

    watch: {
        date(){
            this.getExchangeRate();
        }
    },

    methods: {
        isEmpty(value){
            return _.isEmpty(value)
        },

        getExchangeRate()
        {
            this.is_loading = true;

            return UtilsService.getExchangeRateByDate(this.date_string)
            .then((response) => {
                const code = _.get(response, 'code')
                if( 200 != code && 204 != code)
                {
                    this.exchange_rates = [];
                    return response
                }

                this.exchange_rates = _.get(response, 'data') || []
                return response
            })
            .finally(() => {
                this.is_loading = false;
            })
        }
    }
}
</script>

<template>
    <table class="table-main-dataset table table-responsive table-bordered table-condensed table-hover sticky">
        <thead>
            <tr>
                <th>Mã tiền tệ</th>
                <th>Tên tiền tệ</th>
                <th>Giá mua</th>
                <th>Giá bán</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="isEmpty(exchange_rates)">
                <td colspan="4" style="text-align: center">
                    <b>Không tìm thấy dữ liệu. </b>
                </td>
            </tr>
            <template v-else>
                <template v-for="(exchange_rate, index) in exchange_rates" >
                    <tr 
                        v-if="(index < num_of_collapse) || is_show_all"
                        :key="`exchange_rate-${index}`"
                    >
                        <td>{{exchange_rate.currency_from}}</td>
                        <td>{{exchange_rate.description}}</td>
                        <td>{{parseInt(exchange_rate.buy).toLocaleString('de-de')}}</td>
                        <td>{{parseInt(exchange_rate.sell).toLocaleString('de-de')}}</td>
                    </tr>
                </template>
                <tr v-if="exchange_rates.length > num_of_collapse">
                    <td colspan="4" style="text-align: center" @click="is_show_all = !is_show_all">
                        <a href="javascript:void(0)">
                            <span v-if="is_show_all">Rút gọn</span>
                            <span v-else>Xem tất cả</span>
                        </a>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</template>