<script>
    import _set from "lodash/set";
    import vTimelineItem from "@/components/Utils/components/TimelineItem.vue";

    export default {
        components: {
            vTimelineItem,
        },
        props: {
            listItem: {
                type: Array,
                require: true,
            },
            contentType: {
                type: String,
                default: 'string'
            },
        },
        data: () => ({
            indexSelected: {},
            isActive: false,
        }),
        computed: {
            isHtml(){
                return 'html' == this.contentType;
            },
            isObjectContent(){
                return 'object' == this.contentType;
            },
            isArrayContent(){
                return 'array' == this.contentType;
            }
        },
        methods: {
            toggleActive(){
                this.isActive = !this.isActive;
            }
        },
    };
</script>

<template>
    <div class="custom-timeline">
        <div class="custom-timeline-content">
            <vTimelineItem
                v-for="(item, index) in listItem"
                :key="`timeline-list-item-${index}`"
                :item="item"
                :isHtml="isHtml"
                :isObjectContent="isObjectContent"
                :isArrayContent="isArrayContent"
                :isActive="isActive"
                @toggleActive="toggleActive"
            >
            </vTimelineItem>
        </div>
    </div>
</template>
