<script>
    import _isEmpty from "lodash/isEmpty";

    export default {
        name: "vAlert",
        props: {
            type: {
                type: String,
                default: "error",
                validator(value) {
                  return ['success', 'warning', 'error', 'info'].includes(value)
                }
            },
            title: {
                type: String,
            },
            message: {
                type: String,
            },
            size: {
                type: String,
                default: "md",
                validator(value) {
                  return ['sm', 'md', 'error', 'lg'].includes(value)
                }
            },
            is_html: {
                type: Boolean,
                default: false,
            },
            is_hide_title: {
                type: Boolean,
                default: false,
            },
        },

        data: () => ({}),

        computed: {
            renterTitle() {
                if (!_isEmpty(this.title)) return this.title;

                switch (this.type) {
                    case "success":
                        return "Xử lý thành công";
                    case "warning":
                        return "Cảnh báo tiến trình";
                    default:
                        return "Có lỗi xảy ra";
                }
            },
        },

        methods: {
            includes(item, arr){
                return _.includes(item, arr)
            }
        }
    };
</script>

<template>
    <div :class="`custom-alert custom-alert--${size} custom-alert--outline custom-alert--${type}`">
        <div :class="`custom-alert__icon custom-alert__icon custom-alert__icon--${type}`">
            <i v-if="'error' == type" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i v-if="'warning' == type" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <i v-if="'success' == type" class="fa fa-check-circle-o" aria-hidden="true"></i>
            <i v-if="'info' == type" class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div :class="{'custom-alert__content': true, 'custom-alert__content--center': is_hide_title}">
            <div v-if="!is_hide_title" :class="`custom-alert__title custom-alert__title--${type}`">
                <slot name="title">
                    <p v-if="is_html" v-html="renterTitle"></p>
                    <p v-else>{{ renterTitle }}</p>
                </slot>
            </div>

            <div class="custom-alert__message">
                <slot name="message">
                    <span v-if="is_html" v-html="message"></span>
                    <span v-else>{{ message }}</span>
                </slot>
            </div>

            <div class="custom-alert__actions">
                <slot name="actions"></slot>
            </div>
        </div>
    </div>
</template>