<script>
import _get from "lodash/get";
import _isEmpty from "lodash/isEmpty";

export default {
    props: {
        users: {
            required: true,
            type: Array,
        }
    },
    methods: {
        isEmpty(item){
            return _isEmpty(item);
        },

        get(item, ref){
            return _get(item, ref);
        }
    }
}
</script>

<template>
    <span v-if="isEmpty(users)">--</span>
    <span v-else-if="1 == users.length">
        <a :href="`javascript:void(${get(users[0], 'user_id')})`">
            <div class="d-flex">
                <img
                    class="img__avatar--sm img__avatar--circle"
                    style="margin-right: 8px"
                    :src="`${get(users[0], 'user_avatar')}`"
                />
                <div>
                    <span><b> {{ get(users[0], 'display_name') }} </b></span>
                    <br />
                    <span v-if="!isEmpty(get(users[0], 'role_name'))" class="typo__text">{{ get(users[0], 'role_name') }}</span>
                </div>
            </div>
        </a>
    </span>
    <span v-else-if="users.length < 4" class="popover__wrapper avatar__list">
        <a v-for="(user, index) in users" :key="`user-${index}`" class="avatar__list--item">
            <img
                class="avatar__list--content img__avatar--sm img__avatar--circle"
                :src="`${get(user, 'user_avatar')}`"
            />
        </a>
        <div class="popover__content">
            <div v-for="(user, index) in users" :key="`user-${index}`">
                <a :href="`javascript:void(${get(user, 'user_id')})`">
                    <div class="d-flex">
                        <img
                            class="img__avatar--sm img__avatar--circle"
                            style="margin-right: 8px"
                            :src="`${get(user, 'user_avatar')}`"
                        />
                        <div>
                            <span><b> {{ get(user, 'display_name') }} </b></span>
                            <br />
                            <span v-if="!isEmpty(get(user, 'role_name'))" class="typo__text">{{ get(user, 'role_name') }}</span>
                        </div>
                    </div>
                </a>
                <hr v-if="index < users.length - 1" style="margin: 8px 0; border-top: 1px solid #9a9898;">
            </div>
        </div>
    </span>
    <span v-else class="popover__wrapper avatar__list">
        <a class="avatar__list--item">
            <img
                class="avatar__list--content img__avatar--sm img__avatar--circle"
                :src="`${get(users[0], 'user_avatar')}`"
            />
        </a>
        <a class="avatar__list--item">
            <img
                class="avatar__list--content img__avatar--sm img__avatar--circle"
                :src="`${get(users[1], 'user_avatar')}`"
            />
        </a>
        <a class="avatar__list--item">
            <img
                class="avatar__list--content img__avatar--sm img__avatar--circle"
                :src="`${get(users[2], 'user_avatar')}`"
            />
        </a>
        <a class="avatar__list--item">
            <span class="avatar__list--content"><b>+{{users.length - 3}}</b></span>
        </a>
        <div class="popover__content">
            <div v-for="(user, index) in users" :key="`user-${index}`">
                <a :href="`javascript:void(${get(user, 'user_id')})`">
                    <div class="d-flex">
                        <img
                            class="img__avatar--sm img__avatar--circle"
                            style="margin-right: 8px"
                            :src="`${get(user, 'user_avatar')}`"
                        />
                        <div>
                            <span><b> {{ get(user, 'display_name') }} </b></span>
                            <br />
                            <span v-if="!isEmpty(get(user, 'role_name'))" class="typo__text">{{ get(user, 'role_name') }}</span>
                        </div>
                    </div>
                </a>
                <hr v-if="index < users.length - 1" style="margin: 8px 0; border-top: 1px solid #9a9898;">
            </div>
        </div>
    </span>
</template>