<script>
import get from 'lodash/get';
import isEmpty from 'lodash/isEmpty';
import { converNumber } from '../../../_helpers/utils.helpers';

import CardContrainer from '../../CardContrainer.vue';
import Placeholder from '../../Placeholder.vue';
import DataTable from 'datatables.net-dt';

export default {
    components: {
        CardContrainer,
        Placeholder
    },

    props: {
        title: {
            type: String,
            default: '',
        },
        is_loading: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Object,
            default: () => ({})
        },

        view_type: {
            type: String,
            default: 'table', // table | text
        }
    },

    data() {
        return {
            options: {
                accessibility: {
                  enabled: false,  
                },
                chart: {
                    type: 'gauge',
                    alignTicks: false,
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false,
                    height: '234px',
                },

                title: {
                    text: null
                },

                pane: {
                    startAngle: -150,
                    endAngle: 150
                },

                yAxis: [{
                    min: 0,
                    max: 100,
                    lineColor: '#3C8CBB',
                    tickColor: '#3C8CBB',
                    minorTickColor: '#3C8CBB',
                    offset: -25,
                    lineWidth: 4,
                    labels: {
                        distance: -20,
                        rotation: 'auto'
                    },
                    tickLength: 2,
                    minorTickLength: 8,
                    endOnTick: false
                }],

                series: [{
                    name: 'Phần trăm KPI đạt được',
                    data: [0],
                    dataLabels: {
                        format: '{y}%',
                        backgroundColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, '#DDD'],
                                [1, '#FFF']
                            ]
                        },
                        enabled: false,
                    },
                }],
                tooltip: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                noData: {
                    style: {
                        fontSize: '1.2rem',
                        color: '#DE4B39',
                    },
                    useHTML: true,
                }
            }
        }
    },

    mounted() {
        this.redner_table()
    },

    watch: {
        data: {
            deep: true,
            handler(newValue) {
                const percent = this._getPercent(this._get(newValue, 'currentRevenue',0), this._get(newValue, 'targetRevenue',0))
                if(percent > 100) {
                    this.options['yAxis'][0]['max'] = percent
                }
                this.options['series'][0]['data'][0] = percent
                this.render_chart(this.options)
            }
        },

        is_loading: {
            deep: true,
            handler(newValue) {
                if(newValue) {
                    this.render_chart(this.options).showLoading();
                }
                else {
                    this.render_chart(this.options).hideLoading();
                }
            }
        }
    },

    methods: {
        render_chart(options) {
            Highcharts.setOptions({
                lang: {
                    noData: '<div style="width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; flex-direction: column"><img src="/src/assets/image/databuilder-nodata.jpeg" alt="" style="object-fit: cover; width: 100%;"><div style="color: red;">Không có dữ liệu</div></div>',
                    loading: 'Đang lấy dữ liệu...',
                }
            })
            return Highcharts.chart('idChartKpiRevenue', options)
        },

        redner_table() {

            // Initialize DataTable with your configuration options
            new DataTable('#kpiRevenueTable', {
                // Config options...
                paging: false,
                searching: false,
                sort: false,
                info: false,

            });
        },

        _get(obj, path, defaultValue = 'Đang cập nhật') {
            return get(obj, path, defaultValue);
        },

        _isEmpty(obj) {
            return isEmpty(obj);
        },
        _converNumber(number) {
            return converNumber(number);
        },

        _getIncreaseOrDecrease(number) {
            if (isNaN(number)) return 'Giảm'
            return Number(number) > 0 ? 'Tăng' : 'Giảm'
        },

        _getPercent(current, target) {
            if(isNaN(current) || isNaN(target)) return 0
            const percent = Math.ceil(Number(current)/Number(target)*100)
            if(isNaN(percent)) return 0
            return percent
        }
    }
}
</script>

<template>
    <div>

        <CardContrainer>
            <template #card-header>
                <div :style="{
                    display: 'flex',
                    alignItems: 'center',
                    justifyContent: 'space-between',
                }">
                    <h5 class="text-uppercase">
                        <b :style="{
                            display: 'flex',
                            alignItems: 'baseline',
                            gap: '8px',
                        }">
                            <i class="glyphicon glyphicon-stats"></i>
                           {{ title }}
                        </b>
                    </h5>
                </div>
            </template>
            <template #card-body>
                <div>
                   <div :style="{ position: 'relative'}"> 
                        <div id="idChartKpiRevenue"></div>
                        <b :style="{
                            position: 'absolute',
                            top: '68%',
                            left: '50%',
                            transform: 'translateX(-50%)',
                            color: '#3C8CBB'
                        }">
                            <placeholder :is_loading="is_loading">{{ _getPercent(_get(data, 'currentRevenue',0), _get(data, 'targetRevenue',0)) }}%</placeholder>
                        </b>
                    </div>
                    <table id="kpiRevenueTable" class="cell-border"
                        v-if="view_type == 'table'"
                    >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Số liệu của tôi</th>
                                <th>Số liệu cần đạt</th>
                                <!-- Add more columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Doanh thu dự kiến</td>
                                <td :style="{ textAlign: 'right' }">
                                   <placeholder :is_loading="is_loading"> {{ _converNumber(_get(data, 'currentRevenue', 0)) }}</placeholder>
                                </td>
                                <td :style="{ textAlign: 'right' }">
                                   <placeholder :is_loading="is_loading"> {{ _converNumber(_get(data, 'targetRevenue', 0)) }}</placeholder>
                                </td>
    
                                <!-- Add more rows as needed -->
                            </tr>
                            <tr>
                                <td>Hoa hồng dự kiến</td>
                                <td class="text-red" :style="{ textAlign: 'right' }"><b>
                                   <placeholder :is_loading="is_loading"> {{ _converNumber(_get(data, 'currentCommission', 0)) }}</placeholder>
                                </b></td>
                                <td :style="{ textAlign: 'right' }"></td>
    
                                <!-- Add more rows as needed -->
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="view_type=='text'" style="text-align: center;">
                        <div>
                            Doanh thu: <b>{{ _converNumber(_get(data, 'currentRevenue', 0)) }}</b> - đạt <b> {{ _getPercent(_get(data, 'currentRevenue',0), _get(data, 'targetRevenue',0)) }}%</b>
                        </div>
                        <div>
                            Cần: <b>{{ _converNumber(Number(_get(data, 'targetRevenue', 0)) - Number(_get(data, 'currentRevenue', 0))) }}</b> để đạt KPI: <b>{{ _converNumber( _get(data, 'targetRevenue',0)) }}</b>
                        </div>
                    </div>
                </div>
            </template>
        </CardContrainer>
    </div>
</template>


